Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

test/timer: Simplify code
  test/timer.cc
Labels: none

test/timer: Disable compiler warning when building with clang
  test/timer.cc
Labels: none

acpi: add support for reading long battery strings
  common/acpi.c
  include/ec_commands.h
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/acpi_strings_fifo/CMakeLists.txt
  zephyr/test/drivers/acpi_strings_fifo/prj.conf
  zephyr/test/drivers/acpi_strings_fifo/src/acpi_strings_fifo.c
  zephyr/test/drivers/testcase.yaml
Labels: common

adlrvpp_mchp1521: re-disable clang build
  util/build_with_clang.py
Labels: none

brya: disable hash console command to save space
  zephyr/program/brya/prj.conf
Labels: none

yavista: disable hash console command to save space
  zephyr/program/nissa/program.conf
Labels: none

zephyr: fpmcu: add restricted_console test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/console/CMakeLists.txt
  zephyr/test/console/Kconfig
  zephyr/test/console/boards/native_sim.overlay
  zephyr/test/console/prj.conf
  zephyr/test/console/src/console_restricted.c
  zephyr/test/console/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
Labels: none

mt818x: chipset_reset do full S0->S5->S0
  power/mt8186.c
Labels: none

powerseq: add MT8196 SoC config
  zephyr/Kconfig.powerseq
  zephyr/app/ec/soc/Kconfig
  zephyr/program/rauru/program.conf
Labels: none

navi: Modify gpio and remove unused device
  zephyr/program/rauru/CMakeLists.txt
  zephyr/program/rauru/Kconfig
  zephyr/program/rauru/navi/CMakeLists.txt
  zephyr/program/rauru/navi/project.conf
  zephyr/program/rauru/navi/project.overlay
  zephyr/program/rauru/navi/src/dp_alt_mode.c
Labels: none

navi: Enable keyboard matrix v3.0
  zephyr/program/rauru/navi/keyboard.dtsi
  zephyr/program/rauru/navi/project.conf
  zephyr/program/rauru/navi/project.overlay
Labels: none

zephyr: enable touchpad_elan in kconfig
  zephyr/Kconfig.touchpad
  zephyr/program/roach/axii/project.conf
  zephyr/program/roach/program.conf
  zephyr/program/roach/spikyrock/project.conf
Labels: none

pdc: ti: Add flag for entering driver suspend state
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: ti: Fix 4CC command string loading
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

zephyr/ec: Fix gitlab breakage for bloonchipper
  zephyr/program/fpmcu/BUILD.py
  zephyr/zmake/zmake/modules.py
Labels: none

kyogre: Fix to enter recovery mode
  zephyr/program/corsola/kyogre/project.conf
Labels: none

pdc: ti: Add initial TI PDC FW binary
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_19.8.0.bin
  zephyr/program/brox/BUILD.py
  zephyr/program/brox/brox-sku4/binman.dtsi
  zephyr/program/brox/brox-sku4/project.overlay
Labels: none

zephyr/ec: Remove bloonchipper exclusion in gitlab-runner CI
  .gitlab-ci.yml
Labels: repo

zephyr: add elan touchpad unittest
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_touchpad_elan.c
  zephyr/include/emul/emul_touchpad_elan.h
  zephyr/test/drivers/boards/native_posix.overlay
  zephyr/test/drivers/default/CMakeLists.txt
  zephyr/test/drivers/default/boards/touchpad.dtsi
  zephyr/test/drivers/default/src/touchpad_elan.c
  zephyr/test/drivers/testcase.yaml
Labels: none

wugtrio: generate locked image
  zephyr/program/corsola/wugtrio/project.conf
Labels: none

zephyr: Add condition for thermistor_get_temp function
  zephyr/shim/src/temp_sensors.c
Labels: none

dts: rename the main native_posix dts file to native_sim
  zephyr/dts/board-overlays/native_posix.dts
  zephyr/dts/board-overlays/native_sim.dts
Labels: none

tests: drivers: convert to native_sim
  zephyr/test/drivers/README.md
  zephyr/test/drivers/bc12_upstream/boards/native_sim.overlay
  zephyr/test/drivers/boards/native_sim.overlay
  zephyr/test/drivers/common/src/stubs.c
  zephyr/test/drivers/cros_flash/boards/native_sim.overlay
  zephyr/test/drivers/default/boards/native_sim.overlay
  zephyr/test/drivers/default/src/console.c
  zephyr/test/drivers/gpio_init/gpio_init.dts
  zephyr/test/drivers/one_wire_uart/one_wire_uart.overlay
  zephyr/test/drivers/tabletmode_interrupt/boards/native_sim.overlay
  zephyr/test/drivers/testcase.yaml
  zephyr/test/drivers/usb_port_power_dumb/usba.dts
  zephyr/test/drivers/usbc_svdm_dfp_only/boards/native_sim.overlay
Labels: none

veluza: Remove not used thermistor.
  zephyr/program/corsola/veluza/project.overlay
Labels: none

zephyr: fpmcu: add rollback test
  test/run_device_tests.py
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/rollback.c
Labels: none

pdc_rts54xx: Raw UCSI mapping for GET_PD_MESSAGE
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

ec: Modify Makefile and build files of the ec repo
  Makefile
  Makefile.rules
  baseboard/bloonchipper/build.mk
  baseboard/helipilot/build.mk
  board/nocturne_fp/build.mk
  test/build.mk
  test/run_device_tests.py
  util/getversion.sh
  zephyr/Makefile.cq
Labels: repo, baseboard

nova: Update thermal configuration and fan table
  board/nova/board.h
  board/nova/fans.c
  board/nova/sensors.c
Labels: none

zephyr: fpmcu: add rollback_entropy test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/rollback_entropy.c
Labels: none

pdc: ti: Add live/cached PD chip info support
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

common.h: clang now supports __attribute__((error("")))
  include/common.h
Labels: none

ec: build feature-x object files in the RW and RO folders
  Makefile
Labels: repo

cmake: Depend on libclang_rt.builtins-armv7m.lib by full path
  cmake/toolchain-armv7m.cmake
Labels: none

pdc: ti: Add EC-based FW update mechanism
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/drivers/usbc/tps6699x_cmd.h
  zephyr/drivers/usbc/tps6699x_fwup.c
  zephyr/subsys/pd_controller/pdc_console.c
Labels: none

Remove check_clang_format.py
  firmware_builder.py
  util/check_clang_format.py
  zephyr/firmware_builder.py
Labels: repo

zephyr: Add new batteries
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/cosmx,l24x3pg1.yaml
  zephyr/dts/bindings/battery/sunwoda,l24d3pg1.yaml
Labels: none

lotso: Add supported batteries
  zephyr/program/brox/lotso/project.overlay
Labels: none

Skitty: Update LED behavior
  zephyr/program/corsola/skitty/project.overlay
Labels: none

keyboard: Fix "Esc+Refresh+Power" function under AC only
  common/keyboard_scan.c
Labels: common

lotso: implement keyboard matrix
  zephyr/program/brox/CMakeLists.txt
  zephyr/program/brox/lotso/include/keyboard_customization.h
  zephyr/program/brox/lotso/keyboard.dtsi
  zephyr/program/brox/lotso/project.conf
  zephyr/program/brox/lotso/project.overlay
  zephyr/program/brox/lotso/src/keyboard_customization.c
  zephyr/test/brox/CMakeLists.txt
  zephyr/test/brox/Kconfig
  zephyr/test/brox/testcase.yaml
  zephyr/test/brox/tests/lotso/CMakeLists.txt
  zephyr/test/brox/tests/lotso/src/keyboard.c
Labels: none
