Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: pd: return 0 voltage when no active charge port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Initialize data of i2c APIs
  zephyr/program/framework/azalea/src/project_diagnostics.c
  zephyr/program/framework/marigold/src/project_diagnostics.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

spi_flash_reg: update protection range for W25Q80
  common/spi_flash_reg.c
Labels: common

pujjocento: Update vif config
  zephyr/program/trulo/pujjocento/pujjocento_vif.xml
Labels: none

dts: cbi: Reorganize the OEM UFSC schema templates
  zephyr/include/cros/cbi_ufsc_oem_schema.dtsi
Labels: none

cbi: Change the size of UFSC from 5 DWORDs to 4 DWORDs
  include/ec_commands.h
  util/cbi-util.cc
  zephyr/shim/src/cbi/cros_cbi_ufsc.c
  zephyr/test/drivers/boards/native_sim.overlay
  zephyr/test/drivers/common_cbi/src/test_common_cbi.c
Labels: none

stm32/usb_hid_keyboard; Modify HID of top micmute key
  chip/stm32/usb_hid_keyboard.c
Labels: none

port80: Fix displaying last set of port80 values
  common/port80.c
Labels: common

fwk: isl9241: when back to NVDC mode set default acok reference
  driver/charger/isl9241.c
Labels: none

fwk: isl9241: save bypass mode status
  driver/charger/isl9241.c
  include/driver/charger/isl9241_public.h
Labels: none

fwk: lotus: ensure charge mode change to avoid system damage
  zephyr/program/framework/include/board_charger.h
  zephyr/program/framework/lotus/src/charger.c
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: lotus: bump to v4.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

tarkin: Optimize the touchpanel power-up sequence during boot
  zephyr/program/skywalker/tarkin/src/board_touchpanel.c
Labels: none

skywalker: support pmic_resetb forwarding
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/Kconfig
  zephyr/program/skywalker/src/pmic_resetb_irq.c
Labels: none

veluza: Disable assertion to reduce flash usage
  zephyr/program/corsola/veluza/project.conf
Labels: none

veluza: Enable CONFIG_SOC_IT8XXX2_KERNEL_IN_RAM and disable LTO
  zephyr/program/corsola/veluza/project.conf
Labels: none

veluza: Disable CONFIG_KERNEL_SHELL to fit RAM constraint
  zephyr/program/corsola/veluza/project.conf
Labels: none

cros_flash: Implementation of basic functions of elan em32f967 EC cros_flash driver.
  zephyr/drivers/cros_flash/CMakeLists.txt
  zephyr/drivers/cros_flash/Kconfig
  zephyr/drivers/cros_flash/cros_flash_em32f967.c
  zephyr/dts/bindings/cros_flash/elan,em32f967-cros-flash.yaml
Labels: none

Revert "power/mt8186: clear wdt timer when shutdown"
  power/mt8186.c
  zephyr/test/mtk_power/src/main.c
Labels: none

Revert "pdc: fix build error "outside array bounds""
  zephyr/drivers/usbc/pdc_rts54xx_fwup.c
Labels: none

pdc_rts54xx_fwup: Correct GET_IC_STATUS response buffer size
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_rts54xx.h
  zephyr/drivers/usbc/pdc_rts54xx_fwup.c
Labels: none

run_device_tests: Disable zephyr_cpp_newlib test temporarily
  test/run_device_tests.py
Labels: none

util/flash_fp_mcu: Rename config utility
  util/flash_fp_mcu
Labels: none

moonstone: Decouple usb_typec.dtsi from kinmen
  zephyr/program/fatcat/moonstone/project.overlay
  zephyr/program/fatcat/moonstone/usb_typec.dtsi
Labels: none

kinmen: Runtime ports configuration
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/kinmen/project.conf
  zephyr/program/fatcat/kinmen/src/usbc_runtime.c
  zephyr/program/fatcat/kinmen/usb_typec.dtsi
Labels: none

padme: Remove the RT9490 workaround
  zephyr/program/skywalker/padme/src/rt9490_workaround.c
Labels: none

Revert "power/mt8189: handle double wdt signal"
  power/mt8186.c
  zephyr/Kconfig.powerseq
  zephyr/test/mtk_power/src/main.c
  zephyr/test/mtk_power/testcase.yaml
Labels: none

Grogu: Implement LED behavior
  zephyr/program/skywalker/grogu/led_pins.dtsi
  zephyr/program/skywalker/grogu/led_policy.dtsi
  zephyr/program/skywalker/grogu/project.overlay
Labels: none

Add Focaltech Touchpad IIC driver
  driver/touchpad_focal.c
  include/update_fw.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.touchpad
  zephyr/dts/bindings/touchpad/focaltech,fts.yaml
Labels: none

Padme: Add a new battery AS3GXXE3KA,CM32054
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/cosmx,cm32054.yaml
  zephyr/program/skywalker/padme/project.overlay
Labels: none

ruby: Enable zephyr config for debug
  zephyr/program/fatcat/ruby/project.conf
Labels: none

docs: Update the CBI UFSC documentation for the size change
  docs/zephyr/zephyr_cbi.md
  docs/zephyr/zephyr_ufsc.md
Labels: none

fpmcu: enable POSIX interfaces
  zephyr/program/fpmcu/prj.conf
Labels: none

fwk: sakura: enable PD chip0
  zephyr/program/framework/sakura/src/usbc.c
Labels: none

fwk: sakura: delay 150ms to wait for the PD chip in stable
  zephyr/program/framework/sakura/project.conf
Labels: none

fwk: cypd: increase the cypd stack size to 1280
  zephyr/Kconfig.stacks
Labels: none

zephyr/battery: Update battery config of atl,gb-s30-636076-010h
  zephyr/dts/bindings/battery/atl,gb-s30-636076-010h.yaml
Labels: none

fwk: cypd: increase the cypd stack size to 1280
  zephyr/Kconfig.stacks
Labels: none

padme: Add rt9490 ADC control
  zephyr/program/skywalker/padme/src/board.c
Labels: none

fwk: sakura: bump to v0.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow
