Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

zephyr: tests: limit usage of get_time()
  zephyr/test/drivers/cec_bitbang/src/cec_bitbang.c
  zephyr/test/drivers/default/src/console_cmd/waitms.c
  zephyr/test/hwtest/src/unaligned_access_benchmark.cc
  zephyr/test/lib/src/stdlib.c
  zephyr/test/pdc/src/util_pcap.c
  zephyr/test/utils/src/utils.c
Labels: none

coral: assert RSMRST to PCH while force shutdown
  board/coral/board.c
Labels: none

fatcat_npcx9m7f: Enable eSPI to AP
  zephyr/program/fatcat/fatcat_npcx9m7f/gpios.dtsi
  zephyr/program/fatcat/fatcat_npcx9m7f/project.conf
  zephyr/program/fatcat/fatcat_npcx9m7f/project.overlay
Labels: none

host_cmd: Add chip/driver name field to EC_CMD_PD_CHIP_INFO response
  include/ec_cmd_api.h
  include/ec_commands.h
  util/ectool.cc
Labels: none

emul_ap_pwrseq: deprecate APPLICATION init level
  zephyr/subsys/emul/ap_pwrseq/emul_ap_pwrseq.c
Labels: none

zephyr console: Don't filter legacy output
  zephyr/shim/src/console.c
Labels: none

test: console: verify legacy output
  zephyr/test/console/src/console_output.c
Labels: none

pdc: ti: Fix GET_PDOS command
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

zephyr/test: add wugtrio thermal test
  zephyr/test/krabby/CMakeLists.txt
  zephyr/test/krabby/krabby.wugtrio.overlay
  zephyr/test/krabby/src/temp_wugtrio.c
  zephyr/test/krabby/testcase.yaml
Labels: none

deku: Set fanduty to 97% to meet thermal request
  zephyr/program/ovis/deku/src/thermal.c
Labels: none

pdc_power_mgmt: Test set active charge port
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

common/host_commands: add CONFIG_ZTEST dependency for host_get_memmap
  common/host_command.c
Labels: common

ptlrvp_mchp/board_power: Add AP_PWRSEQ_DRIVER dependency for board power
  zephyr/program/intelrvp/ptlrvp/src/board_power.c
Labels: none

x86_non_dsx_common_pwrseq_sm_handler: Typecast s5_inactivity_timeout
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_sm_handler.c
Labels: none

UCSI/PPM: Skip checking pdc_dev->api
  zephyr/subsys/ucsi/ucsi_host_cmd.c
Labels: none

pdc: Report chip/driver name in EC_CMD_PD_CHIP_INFO and `pdc info`
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/include/drivers/pdc.h
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_host_cmd.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_host_cmd.c
Labels: none

Add missing inherited_from entries
  zephyr/program/corsola/BUILD.py
  zephyr/program/intelrvp/BUILD.py
Labels: none

lotso: Detect battery present via GPIO
  zephyr/program/brox/lotso/gpio.dtsi
  zephyr/program/brox/lotso/project.conf
Labels: none

xol: fix EC key combos
  include/config.h
  include/keyboard_config.h
Labels: none

lid_angle: Handle tabletmode scenario in common function
  baseboard/brya/baseboard.c
  baseboard/goroh/baseboard.c
  baseboard/kukui/baseboard.c
  board/beetley/board.c
  board/blipper/board.c
  board/boten/board.c
  board/bugzzy/board.c
  board/corori2/board.c
  board/cret/board.c
  board/drawcia/board.c
  board/galtic/board.c
  board/gooey/board.c
  board/haboki/board.c
  board/kracko/board.c
  board/lalala/board.c
  board/lantis/board.c
  board/madoo/board.c
  board/magolor/board.c
  board/metaknight/board.c
  board/pirika/board.c
  board/storo/board.c
  board/waddledee/board.c
  board/waddledoo/board.c
  board/waddledoo2/board.c
  board/wheelie/board.c
  common/lid_angle.c
Labels: common, baseboard

pdc_power_mgmt: Check vsafe5V fixed PDO for DR_SWAP capability
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

skitty: modify touch panel power sequence
  zephyr/program/corsola/skitty/CMakeLists.txt
  zephyr/program/corsola/skitty/project.conf
  zephyr/program/corsola/skitty/project.overlay
  zephyr/program/corsola/skitty/src/board_chipset.c
Labels: none

veluza: modify touch panel power sequence
  zephyr/program/corsola/veluza/CMakeLists.txt
  zephyr/program/corsola/veluza/project.conf
  zephyr/program/corsola/veluza/project.overlay
  zephyr/program/corsola/veluza/src/board_chipset.c
Labels: none

squirtle: add SMBUS PEC support and set NACK retry
  zephyr/program/corsola/squirtle/project.conf
Labels: none

teliks: Change the bring up features macro
  zephyr/program/nissa/teliks/project.conf
Labels: none

zephyr: fpmcu: skip global_initialization test
  test/run_device_tests.py
  util/broken_tests.yaml
  util/twister_launcher.py
Labels: none

UCSI/PPM: Add ucsi_host_cmd tests
  include/ec_cmd_api.h
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_ppm_driver.c
  zephyr/subsys/ucsi/ucsi_host_cmd.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/boards/native_sim.overlay
  zephyr/test/pdc/src/generic/ucsi_host_cmd.c
  zephyr/test/pdc/testcase.yaml
Labels: none

pdc: Add mechanism to control which PDC ports get FW updates
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/dts/bindings/usbc/pdc/pdc-device.yaml
  zephyr/dts/bindings/usbc/pdc/realtek,rts54-pdc.yaml
  zephyr/dts/bindings/usbc/pdc/ti,tps6699-pdc.yaml
  zephyr/include/drivers/pdc.h
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_host_cmd.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_host_cmd.c
Labels: none

pdc: Apply `no-fw-update` DT property to program device trees
  zephyr/program/brox/brox-sku4/project.overlay
  zephyr/program/brox/greenbayupoc/usb_typec.dtsi
  zephyr/program/brox/usb_typec.dtsi
  zephyr/program/intelrvp/ptlrvp/pd.dtsi
Labels: none

tcpm/nct38xx.h: Include what you use
  driver/tcpm/nct38xx.h
Labels: none

UCSI/PPM: Add eppm_init tests
  zephyr/emul/emul_ppm_driver.c
  zephyr/test/pdc/src/generic/ucsi_host_cmd.c
Labels: none

servov4: servov4p1: Fix argv out-of-bounds bug in `cc` console command
  board/servo_v4/usb_pd_policy.c
  board/servo_v4p1/usb_pd_policy.c
Labels: none

common/keyboard_8042: Add lpc_aux_put_char stub
  common/keyboard_8042.c
Labels: common

zephyr/test/rex: Improve rex USB-C coverage
  zephyr/test/rex/boards/rex/prj.conf
  zephyr/test/rex/boards/rex/rex.dtsi
  zephyr/test/rex/boards/rex/usb_db.dtsi
  zephyr/test/rex/tests/rex/CMakeLists.txt
  zephyr/test/rex/tests/rex/src/usb_mux_config.c
Labels: none

test/libcxx: Add test for aligned dynamic allocation
  test/libcxx.cc
  zephyr/test/hwtest/src/libcxx.cc
Labels: none

rauru: add rauru_vif.xml
  zephyr/program/rauru/rauru/rauru_vif.xml
Labels: none

pdc: Implement external external power role swap policy
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

rauru: Change ap_xhci_init_done to 1.8V
  zephyr/program/rauru/overlay.dtsi
Labels: none

pdc_power_mgmt: split GET_PDOS task to align UCSI spec
  zephyr/include/drivers/pdc.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

rauru: update vif
  zephyr/program/rauru/rauru/rauru_vif.xml
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
