Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

helipilot: add helipilot target to Zephyr
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/CMakeLists.txt
  zephyr/program/fpmcu/Kconfig
  zephyr/program/fpmcu/helipilot/CMakeLists.txt
  zephyr/program/fpmcu/helipilot/dev_key.pem
  zephyr/program/fpmcu/helipilot/ec_quirks.conf
  zephyr/program/fpmcu/helipilot/gpio.dtsi
  zephyr/program/fpmcu/helipilot/helipilot.dts
  zephyr/program/fpmcu/helipilot/prj.conf
  zephyr/program/fpmcu/helipilot/rwsig.dtsi
  zephyr/program/fpmcu/helipilot/soc.dtsi
  zephyr/program/fpmcu/helipilot/src/ec_quirks.c
  zephyr/program/fpmcu/helipilot/src/fp_transport.c
  zephyr/program/fpmcu/helipilot/src/power.c
Labels: none

fp: Skip flaky unit test "stdlib" on bloonchipper
  test/run_device_tests.py
Labels: none

fatcat_npcx9m7f: Enable EFS2
  zephyr/program/fatcat/fatcat_npcx9m7f/project.conf
Labels: none

Pujjo1e: Add Pujjo1e VIF
  zephyr/program/nissa/pujjo/pujjo1e_vif.xml
Labels: none

fatcat_npcx9m7f: Correct CSE early recovery switch configuration
  zephyr/program/fatcat/fatcat_npcx9m7f/generated.dtsi
Labels: none

fatcat_npcx9m7f: Enable KEYBOARD_PROTOCOL_8042
  zephyr/program/fatcat/fatcat_npcx9m7f/project.conf
Labels: none

helipilot: update core/APB clock to 96 MHz (from 15 MHz default)
  zephyr/program/fpmcu/helipilot/prj.conf
  zephyr/program/fpmcu/helipilot/soc.dtsi
Labels: none

zmake: Allow using LLVM RISC-V toolchain
  zephyr/zmake/zmake/zmake.py
Labels: none

helipilot: re-enable console commands in unit test images, fix prj.conf ordering
  zephyr/program/fpmcu/helipilot/prj.conf
  zephyr/program/fpmcu/prj_hw_tests.conf
Labels: none

cme: skip on non-EC or early experimental projects
  zephyr/CMakeLists.txt
  zephyr/scripts/cme.py
  zephyr/zmake/zmake/output_packers.py
Labels: none

pdc: Send READ_POWER_LEVEL after new RDO
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/boards/tps6699x.overlay
Labels: none

emul: Organize TCPC Kconfigs
  zephyr/emul/tcpc/CMakeLists.txt
  zephyr/emul/tcpc/Kconfig
Labels: none

ec_commands: Introduce image_frame_params struct
  include/ec_commands.h
Labels: none

ocelot_ite: Update GPIO settings
  zephyr/program/ocelot/ocelot_ite/generated.dtsi
Labels: none

common: zephyr/picolibc downstream redefinition fix
  include/common.h
Labels: none

Rull/Roric/Ruke: Canadian French bilingual keyboard layout change
  zephyr/program/nissa/rull/cbi.dtsi
  zephyr/program/nissa/rull/src/keyboard_customization.c
Labels: none

trulo: Initial zephyr config for pujjolo
  zephyr/program/trulo/BUILD.py
  zephyr/program/trulo/CMakeLists.txt
  zephyr/program/trulo/Kconfig
  zephyr/program/trulo/pujjolo/CMakeLists.txt
  zephyr/program/trulo/pujjolo/battery.dtsi
  zephyr/program/trulo/pujjolo/cbi.dtsi
  zephyr/program/trulo/pujjolo/fan.dtsi
  zephyr/program/trulo/pujjolo/gpio.dtsi
  zephyr/program/trulo/pujjolo/i2c.dtsi
  zephyr/program/trulo/pujjolo/keyboard.dtsi
  zephyr/program/trulo/pujjolo/led_pins.dtsi
  zephyr/program/trulo/pujjolo/led_policy.dtsi
  zephyr/program/trulo/pujjolo/power_signals.dtsi
  zephyr/program/trulo/pujjolo/project.conf
  zephyr/program/trulo/pujjolo/project.overlay
  zephyr/program/trulo/pujjolo/pujjolo_vif.xml
  zephyr/program/trulo/pujjolo/src/touch_panel.c
  zephyr/program/trulo/pujjolo/temp_sensors.dtsi
  zephyr/program/trulo/pujjolo/usb_typec.dtsi
  zephyr/program/trulo/pujjolo/usba.dtsi
Labels: none

skywalker: Add second source for lid accel
  zephyr/program/skywalker/interrupts.dtsi
  zephyr/program/skywalker/skywalker/CMakeLists.txt
  zephyr/program/skywalker/skywalker/motionsense.dtsi
  zephyr/program/skywalker/skywalker/project.conf
  zephyr/program/skywalker/skywalker/src/sensor.c
Labels: none

uldrenite: Add dynamic typec port count
  zephyr/program/trulo/uldrenite/CMakeLists.txt
  zephyr/program/trulo/uldrenite/cbi.dtsi
  zephyr/program/trulo/uldrenite/project.conf
  zephyr/program/trulo/uldrenite/src/usbc_runtime.c
  zephyr/program/trulo/uldrenite/usb_typec.dtsi
Labels: none

driver/fingerprint: modify names of capture type conversion functions
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
Labels: none

run_device_tests: set expected power values for zephyr helipilot
  test/run_device_tests.py
Labels: none

pujjoniru: Remove sub board
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/include/pujjoniru_sub_board.h
  zephyr/program/nissa/pujjoniru/src/sub_board.c
Labels: none

zephyr: fingerprint: rename mode as capture_type
  zephyr/drivers/fingerprint/fingerprint_fpc1025.c
  zephyr/drivers/fingerprint/fingerprint_fpc1145.c
  zephyr/include/drivers/fingerprint.h
  zephyr/shim/src/fpsensor.c
  zephyr/test/fingerprint/drivers/fpc1025/src/fpc1025.c
  zephyr/test/fingerprint/drivers/fpc1145/src/fpc1145.c
Labels: none

curve25519: fix METADATA url type
  third_party/unacl-curve25519/METADATA
Labels: none

Makefile: Add missing CPPFLAGS
  Makefile
Labels: repo

zephyr: fingerprint: modify names of capture type conversion functions
  zephyr/drivers/fingerprint/fingerprint_fpc1025.c
  zephyr/drivers/fingerprint/fingerprint_fpc1145.c
  zephyr/test/fingerprint/drivers/fpc1025/src/fpc1025.c
  zephyr/test/fingerprint/drivers/fpc1145/src/fpc1145.c
Labels: none

ocelot: add initial microchip EC support
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/CMakeLists.txt
  zephyr/program/ocelot/Kconfig
  zephyr/program/ocelot/ocelot_microchip/CMakeLists.txt
  zephyr/program/ocelot/ocelot_microchip/gpio.dtsi
  zephyr/program/ocelot/ocelot_microchip/project.conf
  zephyr/program/ocelot/ocelot_microchip/project.overlay
Labels: none

coreboot_sdk: Print error and debug messages to stderr
  util/coreboot_sdk.py
Labels: none

util: add missing #include to comm-host.h
  util/comm-host.h
Labels: none

rauru: Attempt PR swap after XHCI init done
  zephyr/program/rauru/src/hooks.c
Labels: none

zmake: add trulo-ish to ISH targets for compare-builds
  zephyr/zmake/zmake/compare_builds.py
Labels: none

tcpmv2: Attempt PR swap after DRP toggle enabled
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
Labels: common

zephyr: fingerprint: change API of fp_acquire_image_with_mode from int to enum
  zephyr/drivers/fingerprint/fingerprint_fpc1025.c
  zephyr/drivers/fingerprint/fingerprint_fpc1145.c
  zephyr/drivers/fingerprint/fingerprint_sensor_sim.c
  zephyr/include/drivers/fingerprint.h
  zephyr/shim/src/fpsensor.c
Labels: none

dirks: Enable POWER_BUTTON_INIT_IDLE config option
  zephyr/program/nissa/dirks/project.conf
Labels: none

brya: enable prochot_in monitoring
  baseboard/brya/baseboard.c
Labels: baseboard

zephyr: Move test/drivers/charger tests to test/charger
  driver/charger/isl923x.c
  zephyr/test/charger/CMakeLists.txt
  zephyr/test/charger/Kconfig
  zephyr/test/charger/boards/native_sim.overlay
  zephyr/test/charger/charge/CMakeLists.txt
  zephyr/test/charger/charge/src/charge_manager.c
  zephyr/test/charger/charge/src/charge_ramp.c
  zephyr/test/charger/charge/src/charge_state_prevent_power_on.c
  zephyr/test/charger/prj.conf
  zephyr/test/charger/src/main.c
  zephyr/test/charger/src/mocks.c
  zephyr/test/charger/testcase.yaml
  zephyr/test/drivers/default/CMakeLists.txt
Labels: none

dirks: Increase CONFIG_TASK_CEC_STACK_SIZE
  zephyr/program/nissa/dirks/project.conf
Labels: none

anraggar: improve usbc performance
  zephyr/program/nissa/anraggar/src/usbc.c
Labels: none

deku: Optimize src/thermal.c based on comments in CL:6191631
  zephyr/program/ovis/deku/src/thermal.c
Labels: none

hylia: remove debug options and features for FW QUAL
  zephyr/program/rauru/hylia/project.conf
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
