Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

zephyr: Add shell control over Zephyr log messages
  common/system_safe_mode.c
  include/console_channel.inc
  zephyr/shim/src/console.c
  zephyr/test/hostcmd_console/src/hostcmd_console.c
Labels: common

cprint: Cleanup uses of CC_COMMAND
  common/cbi.c
  common/mkbp_event.c
  zephyr/program/intelrvp/adlrvp/src/adlrvp.c
  zephyr/program/intelrvp/mtlrvp/src/tcpc.c
Labels: common

Fix broken pm tests by switching linkers
  util/broken_tests.yaml
  zephyr/cmake/toolchain/llvm/generic.cmake
  zephyr/cmake/toolchain/llvm/target.cmake
Labels: none

PPM: Reduce log level to LOG_DBG
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

PPM: LPM errors should require ACK
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

PPM: Don't clear CCI for connection indicator
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

nx20p3483: change VBUS discharge enable/disable mechanism
  driver/ppc/nx20p348x.c
Labels: none

kyogre: support 2cell and 3cell battery
  zephyr/dts/bindings/battery/SIMPLO,CP856931.yaml
  zephyr/dts/bindings/battery/SIMPLO,CP856932.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/program/corsola/kyogre/project.overlay
Labels: none

pujjoga: Change led control to pwm
  zephyr/program/nissa/pujjoga/project.conf
  zephyr/program/nissa/pujjoga/project.overlay
  zephyr/program/nissa/pujjoga/pwm_leds.dtsi
  zephyr/program/nissa/pujjoga/src/led.c
  zephyr/test/nissa/boards/pujjoga.dts
  zephyr/test/nissa/src/pujjoga.c
Labels: none

sundance: modify led function in DC S0
  zephyr/program/nissa/sundance/src/led.c
Labels: none

tests: remove unnecessary header part
  test/aes.cc
Labels: none

extra: usb_updater2: add error handling for console read init request
  extra/usb_updater/usb_updater2.c
Labels: none

magolor: support BMA422 lid accel motion sensor
  board/magolor/board.c
  board/magolor/board.h
  board/magolor/cbi_ssfc.h
Labels: none

kyogre: delete tcpc/bc12/ppc for port1
  zephyr/program/corsola/kyogre/project.overlay
Labels: none

kyogre: Adjust AC_OK debounce time
  zephyr/program/corsola/kyogre/project.conf
Labels: none

cme: add muxes to the manifest
  zephyr/scripts/cme.py
Labels: none

Add #line to charge_manager.c
  common/charge_manager.c
Labels: common

util/renode_ec_launch: Add configuration for write protect GPIO
  util/renode_ec_launch.py
Labels: none

util/renode_ec_launch: Add missing type annotations
  util/renode_ec_launch.py
Labels: none

marigold: disable deep sleep when the system run at S0 state
  zephyr/program/framework/marigold/src/power_sequence.c
Labels: none

marigold: disable deep sleep when the system run at S0 state
  zephyr/program/framework/marigold/src/power_sequence.c
Labels: none

navi: Add charge led control
  zephyr/program/rauru/navi/CMakeLists.txt
  zephyr/program/rauru/navi/project.conf
  zephyr/program/rauru/navi/src/led.c
Labels: none

voltorb: add SMBUS PEC support and set NACK retry
  zephyr/program/corsola/voltorb/project.conf
Labels: none

xol: enable PPC RCP interrupt masking
  board/xol/board.h
Labels: none

zephyr: fpmcu: add stdlib test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/lib/CMakeLists.txt
  zephyr/test/lib/Kconfig
  zephyr/test/lib/boards/native_sim.overlay
  zephyr/test/lib/prj.conf
  zephyr/test/lib/src/stdlib.c
  zephyr/test/lib/testcase.yaml
Labels: none

usb_dc: usb_google_update: correct pool sizes and disable ZLP
  zephyr/subsys/usb_dc/usb_google_update.c
Labels: none

awasuki: Add battery config
  board/awasuki/battery.c
Labels: none

lotso: enable PROCHOT detection
  zephyr/program/brox/lotso/gpio.dtsi
  zephyr/program/brox/lotso/project.overlay
Labels: none

xol: remove bringup features
  board/xol/board.h
Labels: none

Add #line to ps8743.c
  driver/usb_mux/ps8743.c
Labels: none

brya boards: enable PPC RCP interrupt masking
  board/felwinter/board.h
  board/mithrax/board.h
  board/omnigul/board.h
Labels: none

drivers: update the input callback api usage
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/drivers/keyboard_input/keyboard_input.c
  zephyr/drivers/runtime_keys/runtime_keys.c
  zephyr/shim/src/buttons/buttons.c
  zephyr/test/input_keyboard/src/main.c
Labels: none

zephyr: shim: Add usb console read
  util/config_allowed.txt
  zephyr/Kconfig.usb_update
  zephyr/shim/include/config_chip.h
Labels: none

spikyrock: enable CONFIG_PLATFORM_EC_USB_CONSOLE_READ option
  zephyr/program/roach/spikyrock/project.conf
Labels: none

bujia: Update the FAN pwm parameters
  board/bujia/pwm.c
Labels: none

ppc: add catch-all case, add error printing
  common/usbc_ppc.c
  driver/ppc/nx20p348x.c
  util/build_with_clang.py
Labels: common

zephyr: Enable automatic download of coreboot-sdk using bazel
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
  zephyr/zmake/tests/test_build_config.py
  zephyr/zmake/tests/test_toolchains.py
  zephyr/zmake/tests/test_zmake.py
  zephyr/zmake/zmake/jobserver.py
  zephyr/zmake/zmake/toolchains.py
Labels: none

util/flash_ec: --board flag overrides BOARD environment
  util/flash_ec
Labels: none

git: Add linker reformat to git blame ignore
  .git-blame-ignore-revs
Labels: repo

jubilant: config led behavior
  zephyr/program/brox/jubilant/led_pins.dtsi
  zephyr/program/brox/jubilant/led_policy.dtsi
  zephyr/program/brox/jubilant/project.overlay
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
