Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

servo_v4p1: change OWNERS file
  board/servo_v4p1/OWNERS
Labels: none

pdc: tps6699x: Remove maximum of 2 ports restriction
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

kinmen: Introduce 3rd pdc port
  zephyr/program/fatcat/kinmen/gpios.dtsi
  zephyr/program/fatcat/kinmen/usb_typec.dtsi
Labels: none

ponyta360: add thermal policy
  zephyr/program/corsola/ponyta/CMakeLists.txt
  zephyr/program/corsola/ponyta/project.conf
  zephyr/program/corsola/ponyta/src/thermal.c
Labels: none

kaladin: enable I2C_TARGET_ALLOW_POWER_SAVING
  zephyr/program/trulo/kaladin/project.conf
Labels: none

hwtest: Add prj_hw_tests.conf to otp_key test
  zephyr/program/fpmcu/testcase.yaml
Labels: none

hwtest: Fix Kconfig format
  zephyr/test/hwtest/Kconfig
Labels: none

[charge_state] Update check for min mW in charge_prevent_power_on
  common/charge_state.c
  zephyr/test/charger/charge/src/charge_state_prevent_power_on.c
Labels: common

Update Microchip WP code to properly protect the flash
  zephyr/drivers/cros_flash/CMakeLists.txt
  zephyr/drivers/cros_flash/Kconfig
  zephyr/drivers/cros_flash/cros_flash_mchp_wp.c
  zephyr/drivers/cros_flash/cros_flash_xec.c
  zephyr/dts/bindings/cros_flash/microchip,write-protect.yaml
  zephyr/include/drivers/microchip_wp.h
  zephyr/shim/include/zephyr_write_protect.h
Labels: none

[ptlrvp_mchp] Update microchip wp functionality
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

Zephyr: Allow overriding CONFIG_PLATFORM_EC_SHA256_HW_ZEPHYR
  zephyr/Kconfig
Labels: none

fpmcu: Explicitly configure SHA for sha256_unrolled test
  zephyr/program/fpmcu/testcase.yaml
Labels: none

kinmen: Change SYS_PWROK to push-pull
  zephyr/program/fatcat/kinmen/power_signals.dtsi
Labels: none

kinmen: Remove GPIO_VOLTAGE_1P8 flag on V3318 GPIO pins
  zephyr/program/fatcat/kinmen/power_signals.dtsi
Labels: none

matsu: Update pd config
  zephyr/program/ocelot/matsu/usb_typec.dtsi
Labels: none

fatcat: Initial zephyr config for ruby
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/Kconfig
  zephyr/program/fatcat/ruby/CMakeLists.txt
  zephyr/program/fatcat/ruby/adc.dtsi
  zephyr/program/fatcat/ruby/battery.dtsi
  zephyr/program/fatcat/ruby/cbi.dtsi
  zephyr/program/fatcat/ruby/gpios.dtsi
  zephyr/program/fatcat/ruby/i2c.dtsi
  zephyr/program/fatcat/ruby/include/keyboard_customization.h
  zephyr/program/fatcat/ruby/keyboard.dtsi
  zephyr/program/fatcat/ruby/led_pins.dtsi
  zephyr/program/fatcat/ruby/led_policy.dtsi
  zephyr/program/fatcat/ruby/overlay.dtsi
  zephyr/program/fatcat/ruby/power_signals.dtsi
  zephyr/program/fatcat/ruby/project.conf
  zephyr/program/fatcat/ruby/project.overlay
  zephyr/program/fatcat/ruby/src/board_power.c
  zephyr/program/fatcat/ruby/src/keyboard_customization.c
  zephyr/program/fatcat/ruby/src/touch_panel.c
  zephyr/program/fatcat/ruby/thermal.dtsi
  zephyr/program/fatcat/ruby/usba.dtsi
  zephyr/program/fatcat/ruby/usbc.dtsi
Labels: none

navi: disable FRS
  zephyr/program/rauru/navi/project.conf
Labels: none

fwk: sunflower: bump to v3.06
  .github/workflows/zephyr-build.yml
Labels: workflow

anakin: add G-sensor interrupt control
  zephyr/program/skywalker/anakin/src/sensor.c
Labels: none

fwk: sunflower: modify the diagnostics fan start duty
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

common: Rename battery_v2 to battery_info
  baseboard/brya/baseboard.h
  baseboard/cherry/baseboard.h
  baseboard/dedede/baseboard.h
  baseboard/guybrush/baseboard.h
  baseboard/hatch/baseboard.h
  baseboard/intelrvp/adlrvp.h
  baseboard/octopus/baseboard.h
  baseboard/trogdor/baseboard.h
  baseboard/volteer/baseboard.h
  baseboard/zork/baseboard.h
  board/awasuki/board.h
  board/beadrix/board.h
  board/blipper/board.h
  board/boten/board.h
  board/burnet/board.h
  board/cappy2/board.h
  board/cret/board.h
  board/dojo/board.h
  board/driblee/board.h
  board/gooey/board.h
  board/kappa/board.h
  board/magolor/board.h
  board/pirika/board.h
  common/acpi.c
  common/battery_fuel_gauge.c
  common/battery_info.c
  common/build.mk
  common/virtual_battery.c
  include/battery.h
  include/config.h
  test/test_config.h
  util/config_allowed.txt
  zephyr/CMakeLists.txt
  zephyr/Kconfig.battery
  zephyr/program/intelrvp/adlrvp/prj.conf
  zephyr/program/intelrvp/mtlrvp/prj.conf
  zephyr/shim/include/config_chip.h
  zephyr/test/drivers/host_cmd/CMakeLists.txt
  zephyr/test/drivers/host_cmd/src/battery_info.c
  zephyr/test/intelrvp/boards/mtlrvp/mtlrvp.conf
Labels: common, baseboard

matsu: Update gpio configurations
  zephyr/program/ocelot/matsu/gpios.dtsi
  zephyr/program/ocelot/matsu/power_signals.dtsi
Labels: none

[ptlrvp_mchgp] Enable vivaldi keys for keyboard DTS tests
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/keyboard.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

include/ec_cmd_api.h: Define new API for EC_CMD_FP_INFO command v2
  include/ec_cmd_api.h
Labels: none

zephyr: zmake: add focaltech private module
  zephyr/zmake/zmake/modules.py
Labels: none

skywalker: Do not configure unsupported `gpiob 7`
  zephyr/program/skywalker/anakin/project.overlay
  zephyr/program/skywalker/baze/project.overlay
  zephyr/program/skywalker/ite_overlay.dtsi
  zephyr/program/skywalker/padme/project.overlay
  zephyr/program/skywalker/tarkin/project.overlay
Labels: none

roach: Do not configure unsupported pin
  zephyr/program/roach/axii/project.overlay
  zephyr/program/roach/eirtae/project.overlay
  zephyr/program/roach/kelpie/project.overlay
Labels: none

gpio: Assert unsupported unused pin at compile-time
  zephyr/shim/chip/it8xxx2/gpio.c
  zephyr/shim/chip/mchp/gpio.c
  zephyr/shim/chip/npcx/gpio.c
  zephyr/shim/include/gpio/gpio.h
Labels: none

guybrush: set HOSTCMD_DEBUG to off
  baseboard/guybrush/baseboard.h
Labels: baseboard

test: Delete duplicate gpio_emul functions
  zephyr/test/nissa/src/glassway.c
  zephyr/test/nissa/src/guren.c
  zephyr/test/nissa/src/pujjoga.c
  zephyr/test/nissa/src/pujjogatwin.c
  zephyr/test/skyrim/tests/baseboard/src/power_signals.c
  zephyr/test/skyrim/tests/baseboard/src/usbc_config.c
Labels: none

cbi: Add Unified Firmware and Second-source Config (UFSC)
  common/cbi_common.c
  include/cros_board_info.h
  include/ec_commands.h
  util/cbi-util.cc
  util/ectool.cc
  zephyr/test/drivers/common_cbi/src/test_common_cbi.c
Labels: common

cbi-util: Support UFSC field
  util/cbi-util.cc
Labels: none

veluza: Add read temperature condition
  zephyr/program/corsola/veluza/src/temp.c
Labels: none

pujjolo-ish: Increase CONFIG_PLATFORM_EC_DSP_CLIENT_TX_RETRY_MAX
  zephyr/program/trulo/pujjolo-ish/project.conf
Labels: none

pujjolo: Enable PLATFORM_EC_TABLET_MODE_SKIP_LID_CLOSE
  zephyr/program/trulo/pujjolo/project.conf
Labels: none

pdc: Remove pdc_get_current_flash_bank() API function
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/include/drivers/pdc.h
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_null_api.c
Labels: none

cbi: Optimize code size for fw_config and ssfc parsers
  zephyr/Kconfig.cbi
  zephyr/shim/src/cbi/CMakeLists.txt
  zephyr/shim/src/cbi/cros_cbi.c
Labels: none

ocelotrvp: enable PPM console
  zephyr/program/ocelot/rvp_program.conf
Labels: none

zephyr: fix POSIX duplicate definition
  common/printf.c
Labels: common

cbi: Add driver for UFSC from device tree
  zephyr/Kconfig.cbi
  zephyr/dts/bindings/cbi/cros-ec,cbi-ufsc-value.yaml
  zephyr/dts/bindings/cbi/cros-ec,cbi-ufsc.yaml
  zephyr/shim/include/cros_cbi.h
  zephyr/shim/src/cbi/CMakeLists.txt
  zephyr/shim/src/cbi/cros_cbi.c
  zephyr/shim/src/cbi/cros_cbi_ufsc.c
  zephyr/test/drivers/boards/native_sim.overlay
  zephyr/test/drivers/common_cbi/src/test_common_cbi.c
Labels: none
