Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

TCPMv2: Return after sending "Reject" message
  common/usbc/usb_pe_drp_sm.c
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/testcase.yaml
  zephyr/test/drivers/usbc_power_contract/CMakeLists.txt
  zephyr/test/drivers/usbc_power_contract/include/mock_usbc_power_contract.h
  zephyr/test/drivers/usbc_power_contract/src/mock_usbc_power_contract.c
  zephyr/test/drivers/usbc_power_contract/src/usbc_power_contract.c
Labels: common

fpsensor: Create a struct for fp_enc_buffer
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_auth_commands.cc
  common/fpsensor/fpsensor_state.cc
  include/fpsensor/fpsensor_state.h
Labels: common

CBI: HC: Add read and write host commands for CBI
  common/cbi.c
  include/cros_board_info.h
  include/ec_commands.h
  util/ectool.cc
  zephyr/shim/include/cbi_flash.h
  zephyr/test/drivers/cbi_flash/src/cbi_flash.c
  zephyr/test/drivers/common_cbi/src/test_common_cbi.c
Labels: common

rauru: fix override sdvm_exit_dp_mode
  zephyr/program/rauru/src/dp_alt_mode.c
Labels: none

fpsensor: Replace C-style array with std::array that is cleansed
  common/fpsensor/fpsensor.cc
Labels: common

fpsensor: Add FpEncryptionKey type alias for readability
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_auth_commands.cc
  common/fpsensor/fpsensor_auth_crypto_stateful.cc
  common/fpsensor/fpsensor_crypto.cc
  include/fpsensor/fpsensor_crypto.h
  test/fpsensor_crypto.cc
  test/fpsensor_crypto_with_mock.cc
Labels: common

fpsensor: Use range-based for loop for readability
  test/fpsensor_auth_commands.cc
  test/fpsensor_state.cc
Labels: none

pdc_power_mgmt: Force sink regardless of PD comms
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

sundance: add USB VIF file
  zephyr/program/nissa/sundance/sundance_vif.xml
Labels: none

PPM: Refactor callback for asynchronous events
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/include/drivers/pdc.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

TCPMv2: PE check message is discarded
  common/usbc/usb_pe_drp_sm.c
Labels: common

one_wire_uart: further increase retry count
  zephyr/drivers/one_wire_uart/one_wire_uart.c
  zephyr/test/drivers/one_wire_uart/src/main.c
Labels: none

roach: lock pstate
  zephyr/program/roach/program.conf
Labels: none

PDC_Driver: Remove unused PDC command
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

charge_manager: Add empty test suite
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/charge_manager/CMakeLists.txt
  zephyr/test/drivers/charge_manager/src/charge_manager.c
  zephyr/test/drivers/testcase.yaml
Labels: none

pdc_power_mgmt: Fix up return type
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

charge_manager: Support PDC VBUS measurement
  common/charge_manager.c
  include/config.h
  zephyr/Kconfig.pd_meas_vbus
  zephyr/shim/include/config_chip.h
  zephyr/test/drivers/charge_manager/src/charge_manager.c
  zephyr/test/drivers/testcase.yaml
Labels: common

brox: Enable VBUS measurement
  zephyr/program/brox/program.conf
Labels: none

renode: helipilot: Add Write Protect jumper to repl
  util/renode/helipilot.repl
Labels: none

pdc: test: Add check for SNK/SRC_ATTACHED steady state
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

rauru: update FW_CONFIG
  zephyr/program/rauru/overlay.dtsi
Labels: none

rauru: add FW_CONFIG for sub-board detection
  zephyr/program/rauru/CMakeLists.txt
  zephyr/program/rauru/include/rauru_sub_board.h
  zephyr/program/rauru/overlay.dtsi
  zephyr/program/rauru/src/hooks.c
  zephyr/program/rauru/src/sub_board.c
Labels: none

chip/stm32: Allow less than 64 bytes for USB EP0
  chip/stm32/usb-stream.c
  chip/stm32/usb.c
  chip/stm32/usb_hw.h
  include/config.h
  zephyr/Kconfig.usbc
  zephyr/shim/include/config_chip.h
Labels: none

board/hyperdebug: Improve USB serial forwarding
  board/hyperdebug/board.c
  board/hyperdebug/board.h
Labels: none

PDC_Driver: Update RTS54xx Driver UCSI command names
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

rauru: fix turning PP5000_Z1 off prior to enable ULP
  zephyr/program/rauru/src/hibernate.c
Labels: none

Add #line to z/d/cros_kb_raw/cros_kb_raw_npcx.c
  zephyr/drivers/cros_kb_raw/cros_kb_raw_npcx.c
Labels: none

Add #line to timer.h, emul_common_i2c.h
  include/timer.h
  zephyr/include/emul/emul_common_i2c.h
Labels: none

PDC_Driver: Add UCSI commands and string names for driver use
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/ucsi_v3.c
  zephyr/include/drivers/ucsi_v3.h
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/ucsi/ucsi.c
  zephyr/test/pdc/testcase.yaml
Labels: none

framework: Customize PD USB PID (#1034)
  zephyr/program/framework/Kconfig
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

Octopus: assert RSMRST to PCH while force shutdown
  baseboard/octopus/baseboard.c
Labels: baseboard

framework: Port led control device breathing to lotus and azalea
  zephyr/program/framework/azalea/led_pins.dtsi
  zephyr/program/framework/azalea/led_policy.dtsi
  zephyr/program/framework/lotus/led_pins.dtsi
  zephyr/program/framework/lotus/led_policy.dtsi
Labels: none

pdc: Track dualrole status and report via console command
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/shim/src/pdc_shim.c
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

test/kb_8042: Add test cases for new recent keys
  test/kb_8042.c
Labels: none

add backup sensor
  zephyr/program/framework/marigold/src/thermal.c
Labels: none

fix syntax error
  zephyr/program/framework/marigold/src/thermal.c
Labels: none

marigold: workaround: increase the PD init delay time to 415ms
  zephyr/program/framework/marigold/project.conf
Labels: none

framework: Customize PD USB PID (#1034)
  zephyr/program/framework/Kconfig
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

marigold:control PDO current for multi-port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

marigold: upstream led control
  zephyr/program/framework/include/led.h
  zephyr/program/framework/marigold/led_pins.dtsi
  zephyr/program/framework/marigold/led_policy.dtsi
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/diagnostics.c
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/led_pwm.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
