Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: ccg6: do not need to setup the RP value during initail the PD chip
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: cypd: create a Kconfig to select 3A typec port output current
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

framework: Extract battery presence detection
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/src/battery_present_adc.c
Labels: none

.github: Add PR template for fwk-main
  .github/pull_request_template.md
Labels: workflow

fwk: main: avoid extender overwritten charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk/azalea: Send battery status and capacity to CCG8
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk/lotus: Send battery status and capacity to CCG8
  zephyr/program/framework/lotus/project.conf
Labels: none

fwk: Allow customizing CCG8 battery messages
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk/tulip: Send battery status and capacity to CCG8
  zephyr/program/framework/tulip/project.conf
Labels: none

fwk: implement Battery Charge Limiting battery status
  common/battery_v2.c
  common/charge_state.c
  include/charge_state.h
  include/ec_commands.h
Labels: common

fwk: sunflower: Print current override only if changing temp
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: sunflower: dynamic change the charging current
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk:sunflower: Update fan table V00_250506b
  zephyr/program/framework/sunflower/overlay.dtsi
Labels: none

fwk: sunflower: add the isl9241 temperature devicetree
  zephyr/program/framework/sunflower/i2c.dtsi
  zephyr/program/framework/sunflower/overlay.dtsi
Labels: none

fwk: sunflower: Print log when override charge current
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: isl9241: add the function to read the charger temperature
  driver/charger/isl9241.c
  driver/charger/isl9241.h
  zephyr/dts/bindings/temp/cros-ec,temp-sensor-isl9241.yaml
  zephyr/shim/include/temp_sensor/temp_sensor.h
  zephyr/shim/src/temp_sensors.c
Labels: none

fwk: cypd: ensure the type-c port status is updated while the device is connected
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: ensure the type-c port status is updated while the device is connected
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: tulip: bump to v1.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower: bump to v3.01
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dogwood: create power 5VSB enter/exit function
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: modern standby ATX power off support during standby
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/interrupts.dtsi
  zephyr/program/framework/dogwood/src/power_monitor.c
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/include/dogwood/power_monitor.h
Labels: none

fwk: dogwood: refactor the power_enable_psu() to bool
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: improve the 5VSB enter/exit flow
  zephyr/program/framework/dogwood/src/power_monitor.c
Labels: none

HACK: fwk: led: Don't override the pwm pulse_ns if not support
  zephyr/program/framework/src/led.c
Labels: none

fwk: dogwood: bump to v2.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: avoid reset timer trigger clear charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: Move enum gpu_pcie_cfg and gpu_vendor to board_host_command.c
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/lotus/gpu_configuration.h
Labels: none

fwk: Fix comment about EC_CMD_PWM_GET_FAN_ACTUAL_RPM
  zephyr/program/framework/include/board_host_command.h
Labels: none

fwk: lotus: fix ASSERTION FAIL cause ec crash
  zephyr/program/framework/lotus/gpio.dtsi
Labels: none

fwk: tulip: enable config_assert
  zephyr/program/framework/tulip/project.conf
Labels: none

fwk/lotus: Override gpio flags, not just add bits
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: Remove unimplemented FN+S
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: Remove unimplemented FN+S
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk/sunflower: Remove unimplemented FN+S
  zephyr/program/framework/sunflower/src/keyboard_customization.c
Labels: none

fwk: Remove unimplemented FN+S
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: tulip: adjust 3-level-buck parameter
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: tulip: bump to v1.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk:sunflower:Disable the power button LED when power state S5G3
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: Update EC_CMD_READ_PD_VERSION to v1
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_host_command.c
Labels: none
