Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: Update github branches
  .github/workflows/zephyr-build.yml
Labels: workflow

Revert "zephyr: Enable automatic download of coreboot-sdk using bazel"
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
  zephyr/zmake/tests/test_build_config.py
  zephyr/zmake/tests/test_toolchains.py
  zephyr/zmake/tests/test_zmake.py
  zephyr/zmake/zmake/jobserver.py
  zephyr/zmake/zmake/toolchains.py
Labels: none

util/flash_ec: Fix syntax error due to dump_fmap
  util/flash_ec
Labels: none

Shutdown gitlab integration
  .gitlab-ci.yml
  common/version.c
  docs/chromeos-ec-firmware-test-requirements.md
  docs/gitlab.md
  third_party/boringssl/CMakeLists.txt
  util/twister_launcher.py
  zephyr/README.md
Labels: repo, common

core/cortex-m: Remove Cr50 TPM2 linker defines
  core/cortex-m/ec.lds.S
  include/link_defs.h
Labels: none

pdc: ti: Update TI PDC FW binary
  zephyr/drivers/usbc/tps6699x.bin
  zephyr/drivers/usbc/tps6699x.json
Labels: none

pdc: ti: Handle data swap interrupt
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: ti: avoid re-configure autonegotiate_sink
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: ti: Add SET_PDOS support in TPS6699x
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/drivers/usbc/tps6699x_cmd.h
Labels: none

pdc: ti: Send SRDY or SRYR when desired state is not met
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_reg.h
Labels: none

pdc: ti: Fix incorrect vid:pid output
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
Labels: none

riven: Use FW_CONFIG bit11-12 for keyboard type
  zephyr/program/nissa/riven/cbi.dtsi
  zephyr/program/nissa/riven/src/keyboard.c
  zephyr/test/nissa/include/riven.h
  zephyr/test/nissa/src/riven.c
Labels: none

zephyr: fpmcu: fix static_if test
  zephyr/program/fpmcu/testcase.yaml
Labels: none

zephyr: fpmcu: add fpsensor_auth_crypto_stateless test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/fpsensor_auth_crypto_stateless.cc
Labels: none

zephyr: fpmcu: add fpsensor_crypto test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/fpsensor_crypto.cc
Labels: none

zephyr: fpmcu: add fpsensor_hw test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/fpsensor_hw.cc
Labels: none

Increase timeout for pdc.generic test
  zephyr/test/pdc/testcase.yaml
Labels: none

pdc: ti: Implement the get_bus_info API function
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

navi: Modify key mask for navi keyboard matrix
  zephyr/program/rauru/navi/keyboard.dtsi
Labels: none

ztest: add printk override option
  zephyr/include/test/tc_util_user_override.h
  zephyr/test/test_utils/CMakeLists.txt
  zephyr/test/test_utils/ztest_printk.c
Labels: none

test: add console output tests
  zephyr/test/console/CMakeLists.txt
  zephyr/test/console/Kconfig
  zephyr/test/console/README.md
  zephyr/test/console/console_output.conf
  zephyr/test/console/console_output.dts
  zephyr/test/console/src/console_output.c
  zephyr/test/console/testcase.yaml
Labels: none

test: verify console command output always works
  zephyr/test/console/src/console_output.c
Labels: none

test: verify Zephyr shell output always works
  zephyr/test/console/src/console_output.c
Labels: none

test: verify console output works in polling mode
  zephyr/test/console/testcase.yaml
Labels: none

lotso: Update Fan parameters
  zephyr/program/brox/lotso/project.overlay
Labels: none

navi: Set refresh key position to row3
  zephyr/program/rauru/program.conf
  zephyr/program/rauru/rauru/project.conf
Labels: none

util/ectool: Add PDC tracing support
  docs/zephyr/zephyr_pdc_tracing.md
  util/build.mk
  util/ectool.cc
  util/ectool.h
  util/ectool_pdc.h
  util/ectool_pdc_trace.cc
Labels: none

Remove myst
  zephyr/program/myst/BUILD.py
  zephyr/program/myst/CMakeLists.txt
  zephyr/program/myst/Kconfig
  zephyr/program/myst/adc.dtsi
  zephyr/program/myst/fan.dtsi
  zephyr/program/myst/generated.dtsi
  zephyr/program/myst/gpio.dtsi
  zephyr/program/myst/i2c.dtsi
  zephyr/program/myst/include/usbc_config.h
  zephyr/program/myst/interrupts.dtsi
  zephyr/program/myst/keyboard.dtsi
  zephyr/program/myst/myst.csv
  zephyr/program/myst/myst/CMakeLists.txt
  zephyr/program/myst/myst/led_pins.dtsi
  zephyr/program/myst/myst/led_policy.dtsi
  zephyr/program/myst/myst/motionsense.dtsi
  zephyr/program/myst/myst/project.conf
  zephyr/program/myst/myst/project.overlay
  zephyr/program/myst/myst/src/usb_mux_config.c
  zephyr/program/myst/program.conf
  zephyr/program/myst/src/common.c
  zephyr/program/myst/src/power_signals.c
  zephyr/program/myst/src/stt.c
  zephyr/program/myst/src/usb_pd_policy.c
  zephyr/program/myst/src/usbc_config.c
  zephyr/program/myst/usbc.dtsi
Labels: none

zephyr: tests: fix zassert formatting
  zephyr/test/hwtest/src/aes.cc
  zephyr/test/hwtest/src/benchmark.cc
  zephyr/test/hwtest/src/boringssl_crypto.cc
  zephyr/test/hwtest/src/fpsensor_auth_crypto_stateful.cc
  zephyr/test/hwtest/src/fpsensor_auth_crypto_stateless.cc
  zephyr/test/hwtest/src/fpsensor_crypto.cc
  zephyr/test/hwtest/src/fpsensor_hw.cc
  zephyr/test/hwtest/src/malloc.c
  zephyr/test/hwtest/src/printf.c
  zephyr/test/hwtest/src/queue.c
  zephyr/test/lib/src/stdlib.c
Labels: none

rauru: add active_low to wp gpio
  zephyr/program/rauru/overlay.dtsi
Labels: none

pdc: ti: Make the EC FW update code optional
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/Kconfig
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/program/brox/brox-sku4/project.conf
  zephyr/subsys/pd_controller/pdc_console.c
Labels: none

usb4_gen4 : Support for higher speed cable
  common/usb_pd_discovery.c
  common/usbc/dp_alt_mode.c
  common/usbc/tbt_alt_mode.c
  common/usbc/usb_mode.c
  include/usb_pd.h
  include/usb_pd_vdo.h
Labels: common

util/renode_ec_launch.py: Only config pts if console known
  util/renode_ec_launch.py
Labels: none

util/renode_ec_launch.py: Add buccaneer to console map
  util/renode_ec_launch.py
Labels: none

board/buccaneer: Increase data RAM size
  board/buccaneer/board.h
Labels: none

zephyr: zmake: Set CC when calling binman
  zephyr/zmake/zmake/output_packers.py
Labels: none

Reland "zephyr: Enable automatic download of coreboot-sdk using bazel"
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
  zephyr/zmake/tests/test_build_config.py
  zephyr/zmake/tests/test_toolchains.py
  zephyr/zmake/tests/test_zmake.py
  zephyr/zmake/zmake/jobserver.py
  zephyr/zmake/zmake/toolchains.py
Labels: none

driver/fingerprint/elan: Fixup FP sensor info host command
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/elan/elan_sensor_pal.c
  driver/fingerprint/elan/elan_sensor_pal.h
  driver/fingerprint/elan/elan_setting.h
Labels: none

test: nissa: Add specific test for Anraggar board.c
  driver/accelgyro_lsm6dsm.c
  zephyr/program/nissa/anraggar/src/board.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/boards/anraggar.dts
  zephyr/test/nissa/include/anraggar.h
  zephyr/test/nissa/src/anraggar.c
  zephyr/test/nissa/testcase.yaml
Labels: none

sundance: the output source limiting to 1.5A
  zephyr/program/nissa/sundance/project.conf
  zephyr/program/nissa/sundance/src/usbc.c
  zephyr/test/nissa/src/sundance.c
Labels: none
