Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

ojal: Add GPIO configuration
  zephyr/program/ocelot/ojal/gpio.dtsi
Labels: none

Grogu: Remove motionsense function.
  zephyr/program/skywalker/grogu/CMakeLists.txt
  zephyr/program/skywalker/grogu/motionsense.dtsi
  zephyr/program/skywalker/grogu/project.conf
  zephyr/program/skywalker/grogu/project.overlay
  zephyr/program/skywalker/grogu/src/sensor.c
Labels: none

pdc: Add CONFIG_PDC_POWER_MGMT_POWER_STATE_DEBOUNCE_PERIOD_MS
  zephyr/subsys/pd_controller/Kconfig
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

Skywalker: set PDC_POWER_MGMT_POWER_STATE_DEBOUNCE_PERIOD_MS to 0
  zephyr/program/skywalker/program.conf
Labels: none

ojal: Add power sequencing
  zephyr/program/ocelot/CMakeLists.txt
  zephyr/program/ocelot/ojal/gpio.dtsi
  zephyr/program/ocelot/ojal/power_signals.dtsi
  zephyr/program/ocelot/ojal/project.conf
  zephyr/program/ocelot/ojal/project.overlay
  zephyr/program/ocelot/ojal/src/board_power.c
Labels: none

ojal: Add I2C configuration
  zephyr/program/ocelot/ojal/i2c.dtsi
  zephyr/program/ocelot/ojal/project.conf
  zephyr/program/ocelot/ojal/project.overlay
Labels: none

ojal: Add ADC configuration
  zephyr/program/ocelot/ojal/adc.dtsi
  zephyr/program/ocelot/ojal/project.conf
  zephyr/program/ocelot/ojal/project.overlay
Labels: none

battery: add new battery aec598855
  zephyr/dts/bindings/battery/aec,598855.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
Labels: none

ojal: Add battery and charging configuration
  zephyr/program/ocelot/ojal/battery.dtsi
  zephyr/program/ocelot/ojal/i2c.dtsi
  zephyr/program/ocelot/ojal/project.conf
  zephyr/program/ocelot/ojal/project.overlay
Labels: none

ojal: Add usbc and ppm function support
  zephyr/program/ocelot/ojal/i2c.dtsi
  zephyr/program/ocelot/ojal/project.conf
  zephyr/program/ocelot/ojal/project.overlay
  zephyr/program/ocelot/ojal/usbc.dtsi
Labels: none

ojal: Add LEDs configuration
  zephyr/program/ocelot/ojal/led_pins.dtsi
  zephyr/program/ocelot/ojal/led_policy.dtsi
  zephyr/program/ocelot/ojal/project.overlay
Labels: none

quartz: Configure ADC and temp sensors
  zephyr/program/bluey/quartz/project.overlay
  zephyr/program/bluey/quartz/temp_sensors.dtsi
Labels: none

ruby: Modify power config
  zephyr/program/fatcat/ruby/project.conf
Labels: none

zephyr: dsp_comms: add empty error i2c callback
  zephyr/drivers/dsp_comms/service/dsp_service.cc
  zephyr/drivers/dsp_comms/service/i2c_target_pio_funcs.cc
  zephyr/drivers/dsp_comms/service/include/cros/dsp/service/driver.hh
Labels: none

kaladin: custom charger setting modify
  zephyr/program/trulo/kaladin/src/charger.c
Labels: none

kaladin: Set ISH interrupt low on system hard-off
  zephyr/program/trulo/kaladin/src/board.c
Labels: none

common/rollback: Fix alignment issue in crec_flash_physical_write
  common/rollback.c
Labels: common

bluey: Add temperature sensors device tree configuration
  zephyr/program/bluey/bluey/project.overlay
  zephyr/program/bluey/bluey/temp_sensors.dtsi
Labels: none

fpsensor: add USB transport type
  include/fpsensor/fpsensor_types.h
Labels: none

ruby: Change i2c frequency for ruby
  zephyr/program/fatcat/ruby/overlay.dtsi
Labels: none

accelgyro_bmi260: add enable_interrupt
  driver/accelgyro_bmi260.c
Labels: none

temp_sensor: Add support for APL6012 temperature sensor
  driver/temp_sensor/apl6012.c
  include/driver/temp_sensor/apl6012.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.temperature
  zephyr/dts/bindings/temp/cros-ec,temp-sensor-apl6012.yaml
  zephyr/shim/include/temp_sensor/temp_sensor.h
  zephyr/shim/src/temp_sensors.c
Labels: none

fwk: pd: fix profile restore when port role is swapped to source
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: WA provide the 3A power to device when PSU force on
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: move force_enable_psu cmd to common function
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/src/board_function.c
Labels: none

fwk: dogwood: store force psu status to flashrom
  zephyr/program/framework/include/flash_storage.h
  zephyr/program/framework/src/board_function.c
Labels: none

fwk: dogwood: fix provide 3A logic
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

ojal: Add keyboard and mkbp event support
  zephyr/program/ocelot/ojal/CMakeLists.txt
  zephyr/program/ocelot/ojal/gpio.dtsi
  zephyr/program/ocelot/ojal/keyboard.dtsi
  zephyr/program/ocelot/ojal/project.conf
  zephyr/program/ocelot/ojal/project.overlay
  zephyr/program/ocelot/ojal/src/keyboard_customization.c
Labels: none

cros_system_it8xxx2: correct the elpm firmware control mode disabling flow
  zephyr/drivers/cros_system/cros_system_it8xxx2.c
Labels: none

npcx_monitor: drop MIN/MAX definitions
  zephyr/chip/npcx_monitor/registers.h
Labels: none

benchmark.h: use c++ version of min and max
  include/benchmark.h
Labels: none

fwk: cypd: EC should wait for tBootWait time after resetting the PD
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: bump to v0.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

quenbi: Defer HDMI enable and PP5000 disable
  zephyr/program/bluey/quenbi/src/chipset.c
Labels: none

driver: cros_system_it8xxx2: add xlpin latch control
  zephyr/drivers/cros_system/cros_system_it8xxx2.c
Labels: none

lapis: Add APL6012 thermal sensor and fan config
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/fan.dtsi
  zephyr/program/fatcat/lapis/project.overlay
  zephyr/program/fatcat/lapis/temp_sensors.dtsi
  zephyr/program/fatcat/lapis/thermistor.dtsi
Labels: none

zephyr: fpmcu: handle USB transport type
  zephyr/program/fpmcu/src/fp_transport.c
Labels: none

anakin: Set PDC source PDO overcurrent capability
  zephyr/program/skywalker/anakin/project.conf
Labels: none

Revert "Quenbi: Enable CONFIG_PLATFORM_EC_BRINGUP"
  zephyr/program/bluey/quenbi/project.conf
Labels: none

ruby: Modify gpio pin for ruby
  zephyr/program/fatcat/ruby/gpios.dtsi
Labels: none
