Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

zephyr: et171: update flash size
  zephyr/program/fpmcu/et171/common.dtsi
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

test: run_device_tests: Error gracefully when image is missing
  test/run_device_tests.py
Labels: none

fwk: CCG6: Ensure EC updates each PD chip's power state
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: CCG8: Prevent redundant updates to the power state of PD
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

keyboard_8042_sharedlib: define SCANCODE_CONTEXTUAL_INSERT
  include/keyboard_8042_sharedlib.h
Labels: none

fatcat: map KEY_CONTEXTUAL_INSERT on moonstone, lapis and ruby
  zephyr/program/fatcat/lapis/keyboard.dtsi
  zephyr/program/fatcat/moonstone/keyboard.dtsi
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

sapphire: update ALS calibration data
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

fwk: sakura: Bump to v2.0.2 BRANCH=fwk-main BUG=Prepare for v2.0.2 DVT2 release TEST=Check version in ec console and bios settings
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: update PECI power limit after system warm boot
  zephyr/program/framework/src/cpu_power/intel_cpu_power_interface.c
Labels: none

fwk: change "update_chipset_ready" signature to use bool
  zephyr/program/framework/include/common_cpu_power.h
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
  zephyr/program/framework/src/cpu_power/intel_cpu_power_interface.c
Labels: none

fwk: align API naming with Intel platform
  driver/amd_stt.c
  zephyr/program/framework/azalea/src/cpu_power.c
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
Labels: none

fwk: Do not assert PROCHOT if the system is not ready to communicate
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/include/common_cpu_power.h
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
  zephyr/program/framework/src/cpu_power/intel_cpu_power_interface.c
Labels: none

fwk: sunflower: Adjust the peripheral enable pin sequence
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: cypd: fix error recovery to cover all PD chips
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

r2d2: update gpio configurations
  zephyr/program/skywalker/r2d2/project.overlay
Labels: none

pujjocento: Update vif config for RTS5452G-CG
  zephyr/program/trulo/pujjocento/pujjocento_vif_2.xml
Labels: none

pchg: Remove an unnecessary log to reduce noise
  common/peripheral_charger.c
Labels: common

pchg: add a board config when charge ended
  common/peripheral_charger.c
  include/peripheral_charger.h
Labels: common

sapphire: modify charge full strategy
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: none

pdc: Log EC_CMD_PD_CHIP_INFO responses
  zephyr/subsys/pd_controller/pdc_host_cmd.c
Labels: none

skyrim: save some flash
  zephyr/program/skyrim/program.conf
Labels: none

zmake: add a --cmake-graph option
  zephyr/zmake/README.md
  zephyr/zmake/zmake/__main__.py
  zephyr/zmake/zmake/build_config.py
  zephyr/zmake/zmake/zmake.py
Labels: none

fpmcu: Fix rollback version for bloonchipper and helipilot
  zephyr/program/fpmcu/CMakeLists.txt
  zephyr/program/fpmcu/bloonchipper/prj.conf
  zephyr/program/fpmcu/em32f967/prj.conf
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/program/fpmcu/helipilot/prj.conf
  zephyr/program/fpmcu/prj.conf
Labels: none

zephyr: flash: npcx: Save flash write protection status before sysjump
  zephyr/drivers/cros_flash/cros_flash_npcx.c
  zephyr/test/hwtest/src/flash_protection_rw.c
Labels: none

yoda: Add type-C 3A ports switch
  zephyr/program/skywalker/yoda/project.conf
  zephyr/program/skywalker/yoda/src/charger.c
Labels: none

boards: add keyboard defaults for mec, npcx7 and rtk
  zephyr/boards/google/mec172x/mec172x.dtsi
  zephyr/boards/google/npcx7/npcx7.dts
  zephyr/boards/google/realtek/realtek.dtsi
Labels: none

mica: configure the UART peripheral
  zephyr/program/bluey/mica/project.conf
  zephyr/program/bluey/mica/project.overlay
Labels: none

zephyr: fingerprint: add ft98xx anti-spoof function
  zephyr/drivers/fingerprint/fingerprint_ft98xx_private.h
  zephyr/subsys/fingerprint/alg/ft98xx_bio_alg.c
Labels: none

nissa: move some flash saving options up to the program
  zephyr/program/nissa/craask/project.conf
  zephyr/program/nissa/domika/project.conf
  zephyr/program/nissa/glassway/project.conf
  zephyr/program/nissa/guren/project.conf
  zephyr/program/nissa/nivviks/project.conf
  zephyr/program/nissa/nokris/project.conf
  zephyr/program/nissa/program.conf
  zephyr/program/nissa/pujjo/project.conf
  zephyr/program/nissa/quandiso/project.conf
  zephyr/program/nissa/quandiso2/project.conf
  zephyr/program/nissa/riven/project.conf
  zephyr/program/nissa/xivu/project.conf
  zephyr/program/nissa/yaviks/project.conf
  zephyr/program/nissa/yavilla/project.conf
  zephyr/program/nissa/yavista/project.conf
Labels: none

zephyr: npcx: Add flash control register lock check
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

test: npcx: Add flash control register locking test
  zephyr/drivers/cros_flash/cros_flash_npcx.c
  zephyr/test/hwtest/src/flash_physical.c
Labels: none

test: npcx: Add disable control register locked test
  zephyr/drivers/cros_flash/cros_flash_npcx.c
  zephyr/test/hwtest/src/flash_physical.c
Labels: none

zephyr: flash: npcx: use absolute uptime for flash timeouts
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

RTS5915: Disable SWJ interface to prevent unexpected GPIO reconfiguration
  zephyr/boards/google/realtek/realtek_rts5912_defconfig
Labels: none

zephyr: hwtest: Fix typo
  zephyr/test/hwtest/Kconfig
Labels: none

lapis: Use CSE early recovery GPIO driver
  zephyr/program/fatcat/lapis/gpios.dtsi
  zephyr/program/fatcat/lapis/project.overlay
Labels: none

zmake: switch toolchain naming to host/gnu and host/llvm
  zephyr/program/fpmcu/BUILD.py
  zephyr/zmake/tests/test_project.py
  zephyr/zmake/tests/test_toolchains.py
  zephyr/zmake/tests/test_zmake.py
  zephyr/zmake/zmake/configlib.py
  zephyr/zmake/zmake/toolchains.py
Labels: none

toolchain: migrate llvm files over host/llvm
  zephyr/cmake/toolchain/coreboot-sdk/generic.cmake
  zephyr/cmake/toolchain/host/generic.cmake
  zephyr/cmake/toolchain/host/llvm/Kconfig
  zephyr/cmake/toolchain/host/llvm/Kconfig.defconfig
  zephyr/cmake/toolchain/host/llvm/generic.cmake
  zephyr/cmake/toolchain/host/llvm/target.cmake
  zephyr/cmake/toolchain/host/target.cmake
  zephyr/cmake/toolchain/llvm/Kconfig
  zephyr/cmake/toolchain/llvm/Kconfig.defconfig
Labels: none

zephyr: console_buffer: add console log event
  common/ec_features.c
  common/host_event_commands.c
  include/ec_commands.h
  zephyr/Kconfig.console
  zephyr/shim/src/console_buffer.c
  zephyr/test/drivers/default/src/console.c
  zephyr/test/drivers/testcase.yaml
Labels: common

power_button: add BTN_IGN handling in EC
  common/power_button.c
  zephyr/Kconfig
  zephyr/Kconfig.btn_ign
  zephyr/test/btn_ign_in/CMakeLists.txt
  zephyr/test/btn_ign_in/boards/native_sim.overlay
  zephyr/test/btn_ign_in/prj.conf
  zephyr/test/btn_ign_in/src/test_btn_ign_in.c
  zephyr/test/btn_ign_in/testcase.yaml
Labels: common
