Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

marigold: Bump to 2.03
  .github/workflows/zephyr-build.yml
Labels: workflow

marigold: ERS update power table setting
  zephyr/program/framework/marigold/src/cpu_power.c
Labels: none

marigold: Go back to 2.02 (rerelease)
  .github/workflows/zephyr-build.yml
Labels: workflow

Add #line to common/usbc/usb_pd_timer.c
  common/usbc/usb_pd_timer.c
Labels: common

brox: Increase AC/DC PROCHOT thresholds
  zephyr/program/brox/program.conf
Labels: none

pdc: Describe PDC config in separate overlay
  zephyr/test/pdc/boards/native_sim.overlay
  zephyr/test/pdc/boards/rts5453p.overlay
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_pmc_debug_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
  zephyr/test/pdc/testcase.yaml
Labels: none

pdc: ti: Use absolute path for FW image provided by CMake
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/tps6699x_fwup.c
Labels: none

zephyr/kbd: Add vivaldi capability for assistant
  zephyr/include/dt-bindings/vivaldi_kbd.h
Labels: none

lotso: Add assistant key capability
  zephyr/program/brox/lotso/keyboard.dtsi
Labels: none

ovis/deku: Set RT_RST_ODL to init ODL
  zephyr/program/ovis/deku/project.overlay
  zephyr/program/ovis/generated.dtsi
Labels: none

ec: Add #line to usb_charge.h
  include/usb_charge.h
Labels: none

anraggar: Add prochot control when battery overdischarge
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/anraggar/overlay.dtsi
  zephyr/program/nissa/anraggar/src/prochot.c
Labels: none

test: run_device_tests: skip rtc test for Zephyr
  test/run_device_tests.py
Labels: none

libc: move sbrk to a separate file
  libc/build.mk
  libc/sbrk.c
  libc/syscalls.c
Labels: none

voltorb: Add battery COSMX AP23ABL
  zephyr/program/corsola/voltorb/project.overlay
Labels: none

greenbayupoc, lotso: group vivaldi nodes together
  zephyr/program/brox/greenbayupoc/keyboard.dtsi
  zephyr/program/brox/lotso/keyboard.dtsi
Labels: none

ucsi-ppm: change compatible name
  zephyr/dts/bindings/usbc/ucsi-ppm.yaml
  zephyr/program/brox/greenbayupoc/usb_typec.dtsi
  zephyr/program/brox/usb_typec.dtsi
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

it8xxx2, npcx9: suppress duplicate address warning
  zephyr/boards/google/it8xxx2/pre_dt_board.cmake
  zephyr/boards/google/npcx9/pre_dt_board.cmake
Labels: none

Increase shards to stay under 2h time limit
  .gitlab-ci.yml
Labels: repo

ec: Add #line to keyboard_raw.c
  zephyr/shim/chip/npcx/keyboard_raw.c
Labels: none

guybrush: Decrease max sensor frequency to 125Hz
  baseboard/guybrush/baseboard.h
Labels: baseboard

PPM: Enable driver by default
  include/ec_commands.h
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

ec_commands: Add PDC tracing host commands
  include/ec_cmd_api.h
  include/ec_commands.h
Labels: none

subsys/pd_controller: PDC message trace implementation
  docs/zephyr/zephyr_pdc_tracing.md
  zephyr/drivers/usbc/Kconfig
  zephyr/drivers/usbc/Kconfig.pdc_trace
  zephyr/include/usbc/pdc_trace_msg.h
  zephyr/subsys/pd_controller/CMakeLists.txt
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_trace_msg.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/pdc_trace_msg.c
  zephyr/test/pdc/src/pdc_trace_msg.c
  zephyr/test/pdc/testcase.yaml
Labels: none

zephyr: test: remove duplicated overlay file
  zephyr/test/rex/testcase.yaml
Labels: none

marigold: control CSIN SINK Discharge (#1057)
  zephyr/program/framework/include/marigold/charger.h
  zephyr/program/framework/marigold/src/charger.c
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

zephyr: fpmcu: add sha256 tests
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/crypto/CMakeLists.txt
  zephyr/test/crypto/Kconfig
  zephyr/test/crypto/boards/native_sim.overlay
  zephyr/test/crypto/prj.conf
  zephyr/test/crypto/src/sha256.c
  zephyr/test/crypto/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
Labels: none

zephyr: fpmcu: add static_if test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/utils/CMakeLists.txt
  zephyr/test/utils/Kconfig
  zephyr/test/utils/boards/native_sim.overlay
  zephyr/test/utils/prj.conf
  zephyr/test/utils/src/static_if.c
  zephyr/test/utils/testcase.yaml
Labels: none

compiler: add Zephyr header
  include/compiler.h
Labels: none

wugtrio: Increase maximum sensor frequency to 110Hz
  zephyr/program/corsola/wugtrio/project.conf
Labels: none

brox: switch to the upstream keyboard driver
  zephyr/program/brox/greenbayupoc/include/keyboard_customization.h
  zephyr/program/brox/greenbayupoc/keyboard.dtsi
  zephyr/program/brox/keyboard.dtsi
  zephyr/program/brox/lotso/include/keyboard_customization.h
  zephyr/program/brox/lotso/keyboard.dtsi
  zephyr/program/brox/program.conf
Labels: none

squirtle: Add battery detection mechanism
  zephyr/program/corsola/squirtle/project.conf
  zephyr/program/corsola/squirtle/src/board.c
Labels: none

Revert "PPM: Enable driver by default"
  include/ec_commands.h
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

pdc emul: Wait for idle via emul API
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/include/emul/emul_pdc.h
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

flash_fp_mcu: Add rauru config
  util/flash_fp_mcu
Labels: none

pdc: ti: Increase timeout on PDC FWUP code, allow TFUs retries
  zephyr/drivers/usbc/tps6699x_fwup.c
Labels: none

test/fpsensor_auth_commands_otp: Add OTP test variant
  test/build.mk
  test/fpsensor_auth_commands.cc
  test/fpsensor_auth_commands_otp.cc
  test/fpsensor_auth_commands_otp.mocklist
  test/fpsensor_auth_commands_otp.tasklist
  test/test_config.h
Labels: none

test/fpsensor_auth_commands: Fix filename in comment
  test/fpsensor_auth_commands.cc
Labels: none

zephyr mchp: Add support for MEC172x VCI logic
  zephyr/drivers/cros_system/cros_system_xec.c
Labels: none

docs/fingerprint: Add NPCX99FP Flash and RAM details
  docs/fingerprint/fingerprint-ram-and-flash.md
Labels: none
