Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

Revert "ec: Remove PBDIR and PDIR instances from Makefile"
  Makefile
Labels: repo

ec: Makefile: Add comment about rules for private board directory
  Makefile
Labels: repo

iteflash : add support for it513xx
  util/iteflash.cc
Labels: none

marigold:control PDO current for multi-port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

shim: cbi: return an error when trying to read before init
  zephyr/shim/src/cbi/cros_cbi_fw_config.c
Labels: none

test: drivers: cbi: add a test for invalid cbi field
  zephyr/test/drivers/default/src/cros_cbi.c
Labels: none

tests: vivaldi: add a check for cbi init sequence
  zephyr/test/vivaldi_kbd/Kconfig
  zephyr/test/vivaldi_kbd/src/main.c
  zephyr/test/vivaldi_kbd/testcase.yaml
  zephyr/test/vivaldi_kbd/two-configs.overlay
Labels: none

Add #line to z/shim/src/cbi/cros_cbi_*
  zephyr/shim/src/cbi/cros_cbi_fw_config.c
  zephyr/shim/src/cbi/cros_cbi_ssfc.c
Labels: none

zephyr/test/pdc: Split-out test_get_task_state_name
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

fpsensor: Remove support for template version < 4
  common/fpsensor/fpsensor.cc
Labels: common

fpsensor: Remove code for migration to "positive match secret"
  common/fpsensor/fpsensor.cc
  test/fpsensor_auth_commands.cc
Labels: common

pdc: test: Add `pdc src_voltage` console command test
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

pdc: test: Add `pdc dualrole` console command test
  zephyr/test/pdc/src/generic/pdc_console.c
Labels: none

pdc: test: Add `pdc drs` console command test
  zephyr/test/pdc/src/generic/pdc_console.c
Labels: none

pdc: test: Add `pdc prs` console command test
  zephyr/test/pdc/src/generic/pdc_console.c
Labels: none

pdc: test: Add `pdc info` console command test
  zephyr/include/drivers/pdc.h
  zephyr/test/pdc/src/generic/pdc_console.c
Labels: none

pdc: test: Add `pdc connector_status` console command test
  zephyr/test/pdc/src/generic/pdc_console.c
Labels: none

Remove some black settings from pylintrc
  extra/usb_power/powerlog.py
  pylintrc
  util/build_with_clang.py
  util/find_non_exec_lines.py
  util/kconfig_check.py
  zephyr/.pylintrc
  zephyr/program/.pylintrc
  zephyr/test/.pylintrc
  zephyr/zmake/.pylintrc
Labels: repo

intelrvp: Fix board charger initialization order
  zephyr/program/intelrvp/src/dc_jack.c
Labels: none

riven: remove fan and thermal function
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/riven/cbi.dtsi
  zephyr/program/nissa/riven/fan.dtsi
  zephyr/program/nissa/riven/overlay.dtsi
  zephyr/program/nissa/riven/project.conf
  zephyr/program/nissa/riven/project.overlay
  zephyr/program/nissa/riven/src/fan.c
  zephyr/program/nissa/riven/src/thermal.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/boards/riven.dts
  zephyr/test/nissa/src/riven.c
Labels: none

Glassway: Add new battery PG01JH3353
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/getac,pg01jh3353.yaml
  zephyr/program/nissa/glassway/overlay.dtsi
  zephyr/program/nissa/glassway/src/charger.c
  zephyr/test/nissa/boards/glassway.dts
  zephyr/test/nissa/src/glassway.c
  zephyr/test/nissa/testcase.yaml
Labels: none

riven: remove form_factor_init
  zephyr/program/nissa/riven/cbi.dtsi
  zephyr/program/nissa/riven/motionsense.dtsi
  zephyr/program/nissa/riven/src/form_factor.c
  zephyr/test/nissa/include/riven.h
  zephyr/test/nissa/src/riven.c
Labels: none

riven: remove FW_CONFIG field for keyboard
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/riven/cbi.dtsi
  zephyr/program/nissa/riven/generated.dtsi
  zephyr/program/nissa/riven/keyboard.dtsi
  zephyr/program/nissa/riven/overlay.dtsi
  zephyr/program/nissa/riven/src/kb_backlight.c
  zephyr/program/nissa/riven/src/keyboard.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/boards/riven.dts
  zephyr/test/nissa/include/riven.h
  zephyr/test/nissa/src/riven.c
Labels: none

riven: move EC_TOUCH_EN from GPIO83 to GPIO73
  zephyr/program/nissa/riven/cbi.dtsi
  zephyr/program/nissa/riven/generated.dtsi
  zephyr/program/nissa/riven/overlay.dtsi
Labels: none

Skitty: Delete BC1.2
  zephyr/program/corsola/skitty/project.conf
  zephyr/program/corsola/skitty/project.overlay
Labels: none

geralt: Add base_detect_enable function to HOOK_INIT
  zephyr/program/geralt/src/base_detect.c
Labels: none

boot_keys: add a new input based boot_keys driver
  include/keyboard_scan.h
  zephyr/drivers/CMakeLists.txt
  zephyr/drivers/Kconfig
  zephyr/drivers/boot_keys/CMakeLists.txt
  zephyr/drivers/boot_keys/Kconfig
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/dts/bindings/input/cros-ec,boot-keys.yaml
  zephyr/include/dt-bindings/kbd.h
Labels: none

brox, rex: setup devicetree based boot keys
  zephyr/program/brox/keyboard.dtsi
  zephyr/program/rex/keyboard.dtsi
Labels: none

test: add test for boot_keys
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/test/boot_keys/CMakeLists.txt
  zephyr/test/boot_keys/Kconfig
  zephyr/test/boot_keys/boards/native_sim.overlay
  zephyr/test/boot_keys/include/hooks.h
  zephyr/test/boot_keys/include/host_command.h
  zephyr/test/boot_keys/include/keyboard_scan.h
  zephyr/test/boot_keys/include/power_button.h
  zephyr/test/boot_keys/include/system.h
  zephyr/test/boot_keys/include/tablet_mode.h
  zephyr/test/boot_keys/prj.conf
  zephyr/test/boot_keys/src/main.c
  zephyr/test/boot_keys/testcase.yaml
Labels: none

roach: update keyboard pid/vid
  zephyr/program/roach/axii/project.conf
  zephyr/program/roach/kelpie/project.conf
  zephyr/program/roach/roach/project.conf
Labels: none

zephyr: watchdog: npcx: change the way to set wdt warning time
  zephyr/Kconfig.watchdog
  zephyr/app/ec/chip/arm/nuvoton_npcx/Kconfig.npcx
  zephyr/shim/include/config_chip.h
Labels: none

zephyr/fingerprint/test: Change initializer to work around g++ bug
  zephyr/test/fingerprint/task/src/fpsensor_init.c
Labels: none

zephyr/fingerprint/test: Convert Zephyr fingerprint tests to C++
  zephyr/include/drivers/fingerprint_sim.h
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/src/fpsensor_capture.cc
  zephyr/test/fingerprint/task/src/fpsensor_enroll.cc
  zephyr/test/fingerprint/task/src/fpsensor_finger_presence.cc
  zephyr/test/fingerprint/task/src/fpsensor_init.cc
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
  zephyr/test/fingerprint/task/src/fpsensor_shim.cc
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
Labels: none

test/boringssl: Switch board from 'native_posix' to 'native_sim'
  zephyr/test/boringssl/boards/native_sim.overlay
  zephyr/test/boringssl/prj.conf
  zephyr/test/boringssl/testcase.yaml
Labels: none

usbpd: Move pd_extract_pdo_power()
  common/build.mk
  common/usb_pd_dual_role.c
  common/usbc_utils.c
  zephyr/CMakeLists.txt
Labels: common

pdc: Add console command for displaying source caps
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

chip/stm32: Configure DBGMCU for STM32L5
  chip/stm32/registers-stm32l5.h
  chip/stm32/system.c
Labels: none

PPM: Reset PPM data on PPM_RESET
  extra/um_ppm/ppm_common.c
Labels: none

flash_ec: increase delay before sending ITE waveform
  util/flash_ec
Labels: none

pdc_power_mgmt: Make unattached wait reset logic a function
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
