Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

dts/bindings: add platform reset signal
  zephyr/dts/bindings/power/intel,ap-pwr-signal-base.yaml
  zephyr/dts/bindings/power/intel,ap-pwrseq-vw.yaml
Labels: none

ap_pwrseq: handle AP warm reset in S0ix via PLTRST
  zephyr/subsys/ap_pwrseq/include/signal_vw.h
  zephyr/subsys/ap_pwrseq/x86_non_dsx_mtl_pwrseq_sm.c
Labels: none

ocelot: enable S0ix AP reset handling via PLTRST VW
  zephyr/program/ocelot/kodkod/power_signals.dtsi
  zephyr/program/ocelot/matsu/power_signals.dtsi
  zephyr/program/ocelot/ocicat/power_signals.dtsi
  zephyr/program/ocelot/ojal/power_signals.dtsi
  zephyr/program/ocelot/power_signals.dtsi
Labels: none

fpsensor: add FP led support
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_led.cc
  include/fpsensor/fpsensor_led.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.fingerprint
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/fp_led.dtsi
  zephyr/test/fingerprint/task/src/fpsensor_led.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: common

mica: fix the cros_ec_spi being constantly called
  zephyr/program/bluey/mica/gpios.dtsi
Labels: none

mensa: Fix en_pac_odl configuration to prevent leakage
  zephyr/program/calypso/mensa/gpios.dtsi
Labels: none

mensa: gpio: Configure BATT_LS_EN as open-drain
  zephyr/program/calypso/mensa/gpios.dtsi
Labels: none

fwk: Reject invalid PD index
  zephyr/program/framework/src/board_host_command.c
Labels: none

quartz: enable FP led
  zephyr/program/fpmcu/em32f967/fp_led.dtsi
  zephyr/program/fpmcu/em32f967/niedzica.dts
  zephyr/program/fpmcu/em32f967/prj.conf
Labels: none

fwk: cypd: Update port status when any PD chip is ready
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: Not to proactively communicate with the PD when initial
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dahlia: modify thermal table 0526
  zephyr/program/framework/dahlia/project.overlay
Labels: none

Remove an unnecessary space and *{*
  util/ectool.c
Labels: none

@Benjamin-Loison has signed the CLA from Pull Request #83
  vendor/framework/signatures/version1/clamembers.json
Labels: none

fwk: laptop12: Override cypd_evaluate_port_profile() for single 3A port policy
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/laptop12/src/usbc.c
Labels: none

fwk: cypd: Make cypd_evaluate_port_profile() overridable
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

Add public README
  README.md
Labels: repo

fwk: cypd: enable PD MUX_EN pin after EC resumes from hibernation
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura/marigold: Add comments to EC pinout
  zephyr/program/framework/marigold/gpio.dtsi
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: cypd: create a function to update the SINK RDO
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/usbc_4port_config.c
  zephyr/program/framework/src/usbc_5port_config.c
Labels: none

fwk: dahlia: drop source RDO to 5V/3A in S5 to meet ErP Lot 6 limits
  zephyr/program/framework/dahlia/src/usbc.c
Labels: none

fwk: cypd: removed unused cypd events
  zephyr/program/framework/include/cypress_pd_common.h
Labels: none

fwk: sakura: Allow EC control PROCHOT pin in S3 or S0ix
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

fwk: sakura: Allow EC control PROCHOT pin in S3 or S0ix
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

fwk: Mark sakura as 0.0.0 on fwk-main
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sakura: Bump to 3.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

Revert "TEMPORARY: Don't build ectool"
  .github/workflows/zephyr-build.yml
Labels: workflow

Revert "ec/util: Generate 8-bit or 16-bit PGM ASCII output"
  util/ectool.cc
Labels: none

fwk: dahlia: Allow EC control PROCHOT pin in S3 or S0ix
  zephyr/program/framework/dahlia/src/power_sequence.c
Labels: none

fwk: allow building sunflower with nix
  flake.nix
Labels: repo

fwk: Reject invalid PD index
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: sunflower: switch to new input deck abstraction
  zephyr/dts/bindings/input/framework,input-deck.yaml
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/laptop12/input_deck_sunflower.dtsi
  zephyr/program/framework/laptop12/src/board_tablet_mode.c
  zephyr/program/framework/laptop12/src/input_deck.c
  zephyr/program/framework/laptop12/src/input_deck_sunflower.c
  zephyr/program/framework/laptop12/src/touchpad.c
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: input_deck: add function for detecting presence of a deck
  zephyr/program/framework/include/board_adc.h
  zephyr/program/framework/include/input_deck.h
  zephyr/program/framework/laptop12/src/input_deck.c
Labels: none

fwk: dahlia: switch over to new input deck architecture
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/dahlia/gpio.dtsi
  zephyr/program/framework/dahlia/i2c.dtsi
  zephyr/program/framework/dahlia/interrupts.dtsi
  zephyr/program/framework/dahlia/project.conf
  zephyr/program/framework/dahlia/project.overlay
  zephyr/program/framework/dahlia/src/power_sequence.c
  zephyr/program/framework/dahlia/src/project_diagnostics.c
Labels: none

fwk: use just one copy of board_battery.h
  zephyr/program/framework/include/board_battery.h
  zephyr/program/framework/include/lotus/board_battery.h
Labels: none

fwk: sunflower, dahlia: reorder includes in project.overlay
  zephyr/program/framework/dahlia/project.overlay
  zephyr/program/framework/sunflower/project.overlay
Labels: none

fwk: laptop12: introduce input deck abstraction
  zephyr/program/framework/include/input_deck.h
  zephyr/program/framework/laptop12/src/input_deck.c
Labels: none

fwk: dahlia: add defines for HID consumer page usage ids
  zephyr/program/framework/laptop12/src/input_deck_dahlia.c
Labels: none

fwk: add commands and helpers for flashing an stm32 kbc mcu
  zephyr/Kconfig.keyboard
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/stm32_bl.h
  zephyr/program/framework/src/stm32_bl.c
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: add support for dahlia (gen2) input deck
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/laptop12/input_deck_dahlia.dtsi
  zephyr/program/framework/laptop12/src/input_deck_dahlia.c
  zephyr/program/framework/sunflower/i2c.dtsi
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/project.overlay
Labels: none
