Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: Check if inputmodules are presente for diag
  zephyr/program/framework/lotus/src/project_diagnostics.c
Labels: none

fwk: tulip: DVT2 unit should turn off the 5valwc in G3 state
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: tulip: bump to v1.0.9
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: tulip: bump to v2.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Add d-notify number display into cmd cpupower
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
Labels: none

fwk: laptop16: Update thermal sensor protection points
  zephyr/program/framework/lotus/overlay.dtsi
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/tulip/project.overlay
Labels: none

fwk: implement Battery Charge Limiting battery status
  common/battery_v2.c
  common/charge_state.c
  include/charge_state.h
  include/ec_commands.h
Labels: common

fwk: disable the hibernation timer if pressing the power button
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

Revert "fwk: Fix ignoring powerbutton if lid closed from G3"
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Fix ignoring power button when lid is closed from G3
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: dogwood: Set the S0ix enter/exit flags correctly
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: calls the function to clear the S0ix flag
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: bump to v3.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: tulip: fix build error
  driver/charger/bq25710.c
Labels: none

fwk: Move to builder with new chroot
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Remove unversioned build step
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Run ectool packaging only if ectool was built
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: gpu: override the GPIO flag if the chipset state is above the power domain
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: shift EPR bits to avoid overlap with gpu port
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: tulip: expand ACOK reference mapping for USB PD voltage profiles
  zephyr/program/framework/include/raa489300.h
  zephyr/program/framework/src/raa489300.c
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: diagnostic: should reset the diagnostic when power on the system
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: diagnostic: should reset the diagnostic when power on the system
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: diagnostic: should reset the diagnostic when power on the system
  zephyr/program/framework/marigold/src/power_button_x86.c
Labels: none

fwk: diagnostic: should reset the diagnostic when power on the system
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: azalea: should reset the diagnostic when power on the system
  zephyr/program/framework/azalea/src/power_button_x86.c
Labels: none

fwk: lotus: should reset the diagnostic when power on the system
  zephyr/program/framework/lotus/src/power_button_x86.c
Labels: none

fwk: 16-inch: Monitor the fans until the diagnostic is completed
  zephyr/program/framework/lotus/src/project_diagnostics.c
Labels: none

fwk: diagnostic: add the macro to define the diagnostic timer
  zephyr/program/framework/include/diagnostics.h
  zephyr/program/framework/src/diagnostics_laptop.c
  zephyr/program/framework/src/diagnostics_minipc.c
Labels: none

fwk: raa489300: transfer to sleep state if removing the power source
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/include/raa489300.h
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/raa489300.c
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: tulip: enable CONFIG_CHARGER_HAS_VOLTAGE_REGULATOR
  zephyr/program/framework/tulip/project.conf
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: add CONFIG_CHARGER_HAS_VOLTAGE_REGULATOR
  common/charge_manager.c
  include/config.h
  zephyr/Kconfig.charger
  zephyr/shim/include/config_chip.h
Labels: common

fwk: implement Battery Charge Limiting battery status
  common/battery_v2.c
  common/charge_state.c
  include/charge_state.h
  include/ec_commands.h
Labels: common

fwk: tulip: remove the BQ25770_CURRENT_SCALING
  zephyr/program/framework/tulip/project.conf
Labels: none

fwk: bq25770: get the correct min input current limit
  driver/charger/bq25710.c
Labels: none

fwk: BQ25770: correct IIN_HOST current-to-reg conversion for sense resistor value
  driver/charger/bq25710.c
  driver/charger/bq257x0_regs.h
  zephyr/Kconfig.charger
  zephyr/shim/include/config_chip.h
Labels: none

fwk: pd: use charge_get_percent instead of get_system_percentage to avoid 0% SoC
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: pd: avoid modify charger settings from non-active EPR port
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk-main: 16-inch: Implement new d-notify function with safety level
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: remove CONFIG_CHARGER_ALLOW_LARGE_CURRENT
  include/config.h
  zephyr/Kconfig.charger
  zephyr/shim/include/config_chip.h
Labels: none

fwk: tulip: remove CONFIG_CHARGER_ALLOW_LARGE_CURRENT
  zephyr/program/framework/tulip/project.conf
Labels: none
