Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: sunflower: Print current override only if changing temp
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk/sunflower: Disable touchpad via GPIO in tablet mode
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
Labels: none

fwk: sunflower: modify it8801 keyboard
  driver/ioexpander/it8801.c
  zephyr/program/framework/include/sunflower/keyboard_customization.h
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/keyboard.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: sunflower: Enable tablet mode
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

framework/sunflower: Allow powering on from dead battery
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/battery_present.c
Labels: none

quartz: Change HAPTIC_EN_EC to Open-Drain
  zephyr/program/bluey/quartz/gpios.dtsi
Labels: none

power/mt8186: allow setting min battery percent to 0
  power/mt8186.c
Labels: none

jaina: Implement power and dual battery LED control logic
  zephyr/program/skywalker/jaina/CMakeLists.txt
  zephyr/program/skywalker/jaina/led_pins.dtsi
  zephyr/program/skywalker/jaina/project.conf
  zephyr/program/skywalker/jaina/project.overlay
  zephyr/program/skywalker/jaina/src/led.c
Labels: none

zephyr: Rename mensa program name to calypso
  zephyr/program/calypso/BUILD.py
  zephyr/program/calypso/CMakeLists.txt
  zephyr/program/calypso/Kconfig
  zephyr/program/calypso/adc.dtsi
  zephyr/program/calypso/common.dtsi
  zephyr/program/calypso/mensa/CMakeLists.txt
  zephyr/program/calypso/mensa/gpios.dtsi
  zephyr/program/calypso/mensa/i2c.dtsi
  zephyr/program/calypso/mensa/interrupts.dtsi
  zephyr/program/calypso/mensa/project.conf
  zephyr/program/calypso/mensa/project.overlay
  zephyr/program/calypso/mensa_stub.dtsi
  zephyr/program/calypso/program.conf
  zephyr/program/calypso/psl.dtsi
  zephyr/program/calypso/src/passthru_signal.c
  zephyr/program/calypso/src/switchcap.c
Labels: none

mica: fix the keyboard key not working on Proto board
  zephyr/program/bluey/mica/keyboard.dtsi
  zephyr/program/bluey/mica/project.conf
Labels: none

zephyr: fingerprint: add ft98xx emulated driver
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_ft98xx.c
  zephyr/include/emul/emul_ft98xx.h
Labels: none

zephyr: add more missing dependencies
  zephyr/CMakeLists.txt
Labels: none

zephyr: dsp_comms: Break build dependency cycle
  zephyr/drivers/dsp_comms/CMakeLists.txt
Labels: none

cros_shi_npcx: Restore interrupt mask instead of clearing it
  zephyr/drivers/cros_shi/cros_shi_npcx.c
Labels: none

ruby: Fix GPIO misconfiguration
  zephyr/program/fatcat/ruby/gpios.dtsi
  zephyr/program/fatcat/ruby/overlay.dtsi
Labels: none

zephyr: add even more missing dependencies
  third_party/boringssl/CMakeLists.txt
  zephyr/CMakeLists.txt
Labels: none

fwk: battery_13 is also used by Laptop 12
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/battery_12_13.c
Labels: none

fwk: sakura: enable CONFIG_ESPI_NPCX_VWIRE_ENABLE_SEND_CHECK
  zephyr/program/framework/sakura/project.conf
Labels: none

Revert "fwk: sci: add Kconfig for SCI trigger timer in suspend"
  zephyr/Kconfig.espi
  zephyr/program/framework/sakura/project.conf
  zephyr/shim/src/espi.c
Labels: none

fwk: sakura: Bump to v2.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

mica: modify the gpios/chipset config
  zephyr/program/bluey/mica/gpios.dtsi
  zephyr/program/bluey/mica/src/chipset.c
Labels: none

1_35W
  board/hx20/cpu_power.c
Labels: hx20

fwk: sunflower: Fix power button LED breathing period
  zephyr/program/framework/sunflower/led_policy.dtsi
Labels: none

fwk: sunflower: Force tp_en pin update after power state transitions
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

zephyr: fingerprint: add ft98xx fingerprint algorithm
  zephyr/subsys/fingerprint/alg/CMakeLists.txt
  zephyr/subsys/fingerprint/alg/Kconfig
  zephyr/subsys/fingerprint/alg/ft98xx_bio_alg.c
  zephyr/subsys/fingerprint/alg/ft98xx_bio_alg.h
Labels: none

2_35W and simpler rpm to pwm function
  baseboard/fwk/fan.c
  board/hx30/board.h
Labels: hx30, baseboard

3_cpupower accessible to ectool
  board/hx20/cpu_power.c
  include/ec_commands.h
  util/ectool.c
Labels: hx20

sapphire: reduce pdc log
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

4_extended_time_window
  board/hx20/peci_customization.h
Labels: hx20

zephyr: fingerprint: add ft98xx driver test
  zephyr/test/fingerprint/drivers/ft98xx/CMakeLists.txt
  zephyr/test/fingerprint/drivers/ft98xx/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/ft98xx/prj.conf
  zephyr/test/fingerprint/drivers/ft98xx/src/ft98xx.c
  zephyr/test/fingerprint/drivers/ft98xx/src/ft98xx_pal_test_helpers.c
  zephyr/test/fingerprint/drivers/ft98xx/src/ft98xx_pal_test_helpers.h
  zephyr/test/fingerprint/drivers/ft98xx/testcase.yaml
Labels: none

5_50W_power_loud
  board/hx20/board.c
  board/hx20/cpu_power.c
  include/ec_commands.h
  util/ectool.c
Labels: hx20

zephyr: disable ARCH_HAS_STACKWALK on ARM
  zephyr/Kconfig.defaults-arm
Labels: none

mchp: add missing gpios definition
  zephyr/program/intelrvp/adlrvp/adlrvp_mchp/adlrvp_mchp.dts
  zephyr/program/intelrvp/adlrvp/adlrvp_mchp/gpio.dts
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_mchp/mtlrvp_mchp.dts
  zephyr/program/intelrvp/ptlrvp/ptlgcs/i2c.dts
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/i2c.dts
  zephyr/program/ocelot/ocelotrvp-mchp/i2c.dtsi
Labels: none

boringssl: add zephyr_generated_headers as dep for fipsmodule
  third_party/boringssl/CMakeLists.txt
Labels: none

cbi: Introduce UFSC policy for keyboard backlight
  zephyr/Kconfig.cbi
  zephyr/dts/bindings/cbi/cros-ec,cbi-ufsc-policies.yaml
  zephyr/shim/src/cbi/CMakeLists.txt
  zephyr/shim/src/cbi/ufsc/CMakeLists.txt
  zephyr/shim/src/cbi/ufsc/keyboard_backlight.c
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/testcase.yaml
  zephyr/test/drivers/ufsc_policies/CMakeLists.txt
  zephyr/test/drivers/ufsc_policies/binman.dts
  zephyr/test/drivers/ufsc_policies/boards/native_sim.overlay
  zephyr/test/drivers/ufsc_policies/prj.conf
  zephyr/test/drivers/ufsc_policies/src/ufsc_kb_backlight.c
Labels: none

cbi: Introduce UFSC selector for PDC driver
  zephyr/Kconfig.cbi
  zephyr/dts/bindings/cbi/cros-ec,cbi-ufsc-pdc-selector.yaml
  zephyr/shim/src/cbi/ufsc/CMakeLists.txt
  zephyr/shim/src/cbi/ufsc/pdc_selector.c
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/testcase.yaml
  zephyr/test/drivers/ufsc_pdc/CMakeLists.txt
  zephyr/test/drivers/ufsc_pdc/binman.dts
  zephyr/test/drivers/ufsc_pdc/boards/native_sim.overlay
  zephyr/test/drivers/ufsc_pdc/prj.conf
  zephyr/test/drivers/ufsc_pdc/src/ufsc_pdc_selector.c
Labels: none

flash_fp_mcu: Increase waiting time to boot to RW
  util/flash_fp_mcu
Labels: none

corsola: wugtrio: Slightly improved performance
  zephyr/program/corsola/wugtrio/project.conf
Labels: none

fwk: sunflower: Use deferred function for charger PSYS control
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

Syv682x: Disable smart discharge in the SYV682x PPC driver.
  driver/ppc/syv682x.c
  include/config.h
Labels: none
