Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

rauru: add DPAM section to VIF
  zephyr/program/rauru/rauru/rauru_vif.xml
Labels: none

TCPMv2: implement Get_Sink_Cap_Ext
  common/usbc/usb_pe_drp_sm.c
  include/usb_pd.h
  zephyr/emul/tcpc/emul_tcpci_partner_common.c
  zephyr/include/emul/tcpc/emul_tcpci_partner_common.h
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
Labels: common

pdc: cleanup connector status handling
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Move get sink caps to source policies
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Trigger get sink caps on power level change
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

Revert "CHROMIUM: Add #line to cros_shi_it8xxx2.c"
  zephyr/drivers/cros_shi/cros_shi_it8xxx2.c
Labels: none

trulo: Add power enable GPIO for left side USBA port
  zephyr/program/trulo/trulo-ti/project.overlay
  zephyr/program/trulo/trulo/gpio.dtsi
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/trulo/usba.dtsi
Labels: none

trulo: Add hibernate-wake-pins to device tree
  zephyr/program/trulo/trulo.dtsi
Labels: none

trulo: Enable 3A USBC current limit
  zephyr/program/trulo/program.conf
Labels: none

boringssl: disable boringssl.selftest
  util/broken_tests.yaml
Labels: none

Run isort in parallel
  firmware_builder.py
Labels: repo

Adjust ec-private paths
  zephyr/Makefile.cq
Labels: none

Remove volteer_ish
  board/volteer_ish/board.c
  board/volteer_ish/board.h
  board/volteer_ish/build.mk
  board/volteer_ish/ec.tasklist
  board/volteer_ish/gpio.inc
  util/build_with_clang.py
Labels: none

util/renode_ec_launch: Add Zephyr support
  util/renode_ec_launch.py
Labels: none

dsp_comms: Add skeleton code for the comms.
  .clang-format-cc
  zephyr/drivers/CMakeLists.txt
  zephyr/drivers/Kconfig
  zephyr/drivers/dsp_comms/.clang-format
  zephyr/drivers/dsp_comms/CMakeLists.txt
  zephyr/drivers/dsp_comms/Kconfig
  zephyr/drivers/dsp_comms/Kconfig.client
  zephyr/drivers/dsp_comms/Kconfig.service
  zephyr/drivers/dsp_comms/proto/ec_dsp.options
  zephyr/drivers/dsp_comms/proto/ec_dsp.proto
  zephyr/dts/bindings/dsp_comms/cros,dsp_client.yaml
  zephyr/dts/bindings/dsp_comms/cros,dsp_service.yaml
  zephyr/dts/bindings/dsp_comms/dsp_comms_common.yaml
Labels: repo

ite ec: is_interrupt_enabled fix
  core/nds32/task.c
Labels: none

pdc: ti: Update PDC app config
  zephyr/drivers/usbc/tps6699x.bin
  zephyr/drivers/usbc/tps6699x.json
Labels: none

Rull/Roric/Ruke: Initial zephyr config for Rull/Roric/Ruke
  bazel/all_targets.generated.bzl
  zephyr/program/nissa/BUILD.py
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/Kconfig
  zephyr/program/nissa/include/rull_sub_board.h
  zephyr/program/nissa/rull/cbi.dtsi
  zephyr/program/nissa/rull/generated.dtsi
  zephyr/program/nissa/rull/gpio_leds.dtsi
  zephyr/program/nissa/rull/include/keyboard_customization.h
  zephyr/program/nissa/rull/keyboard.dtsi
  zephyr/program/nissa/rull/motionsense.dtsi
  zephyr/program/nissa/rull/overlay.dtsi
  zephyr/program/nissa/rull/power_signals.dtsi
  zephyr/program/nissa/rull/project.conf
  zephyr/program/nissa/rull/project.overlay
  zephyr/program/nissa/rull/pwm.dtsi
  zephyr/program/nissa/rull/src/board.c
  zephyr/program/nissa/rull/src/charger.c
  zephyr/program/nissa/rull/src/keyboard_customization.c
  zephyr/program/nissa/rull/src/sub_board.c
  zephyr/program/nissa/rull/src/usbc.c
Labels: none

riven: define CONFIG_PLATFORM_EC_KEYBOARD_COLS=18
  zephyr/program/nissa/riven/project.conf
Labels: none

fwk: create AMD Phoenix FP7r2 power signal list yaml file
  zephyr/dts/bindings/cros_pwr_signal/amd,fwk-phoenix-fp7r2-power-signal-list.yaml
Labels: none

fwk: don't use the common amd power signal if enable CONFIG_CROS_EC_POWER_SIGNAL_LIST
  include/power/amd_x86.h
Labels: none

fwk: create Intel MTL power signal list yaml file
  zephyr/dts/bindings/cros_pwr_signal/intel,fwk-mtl-power-signal-list.yaml
Labels: none

fwk: all projects change to define the power signal with devicetree
  zephyr/program/framework/azalea/power_signal.dtsi
  zephyr/program/framework/azalea/project.overlay
  zephyr/program/framework/azalea/src/power_sequence.c
  zephyr/program/framework/include/power_sequence.h
  zephyr/program/framework/lotus/power_signal.dtsi
  zephyr/program/framework/lotus/project.overlay
  zephyr/program/framework/lotus/src/power_sequence.c
  zephyr/program/framework/marigold/power_signal.dtsi
  zephyr/program/framework/marigold/project.overlay
  zephyr/program/framework/marigold/src/power_sequence.c
Labels: none

test: teliks: Modify sensor interrupt count initialization method
  zephyr/test/nissa/src/teliks.c
  zephyr/test/nissa/testcase.yaml
Labels: none

fwk: sunflower: Ignore lid switch for power button press
  zephyr/program/framework/sunflower/project.conf
Labels: none

Revert "fwk: sunflower: disable ps2mouse function"
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: update thermal table to v1029
  zephyr/program/framework/sunflower/fan.dtsi
  zephyr/program/framework/sunflower/overlay.dtsi
Labels: none

fwk: sunflower: disable virtual thermal sensor
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: Instant power button LED feeback
  zephyr/program/framework/sunflower/led_policy.dtsi
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: sunflower: workaround: Notify SCI event using GPIO
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: bump to v1.00
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: add the Kconfig PLATFORM_PRIVACY_SWITCH
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: all projects change to define the power signal with devicetree
  zephyr/program/framework/azalea/power_signal.dtsi
  zephyr/program/framework/azalea/project.overlay
  zephyr/program/framework/azalea/src/power_sequence.c
  zephyr/program/framework/include/power_sequence.h
  zephyr/program/framework/lotus/power_signal.dtsi
  zephyr/program/framework/lotus/project.overlay
  zephyr/program/framework/lotus/src/power_sequence.c
  zephyr/program/framework/marigold/power_signal.dtsi
  zephyr/program/framework/marigold/project.overlay
  zephyr/program/framework/marigold/src/power_sequence.c
Labels: none

fwk: create the chassis open switch driver
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/chassis.c
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: create AMD Phoenix FP7r2 power signal list yaml file
  zephyr/dts/bindings/cros_pwr_signal/amd,fwk-phoenix-fp7r2-power-signal-list.yaml
Labels: none

fwk: don't use the common amd power signal if enable CONFIG_CROS_EC_POWER_SIGNAL_LIST
  include/power/amd_x86.h
Labels: none

fwk: create Intel MTL power signal list yaml file
  zephyr/dts/bindings/cros_pwr_signal/intel,fwk-mtl-power-signal-list.yaml
Labels: none

lotus: update the correct PMF setting with the 240W adapter
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: sunflower: add host event EC_HOST_EVENT_MODE_CHANGE
  zephyr/program/framework/include/board_host_command.h
Labels: none

fwk: allow fan in S0ix
  common/fan.c
Labels: common
