Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

twister: update pwm test to wait longer between queries
  zephyr/test/drivers/led_pwm_fade/src/led_pwm_fade.c
Labels: none

ectool: Add new fingerprint capture test modes
  util/ectool.cc
Labels: none

accel_bma4xx: Rework interrupt control via map register
  driver/accel_bma4xx.c
Labels: none

rtk EC: add required property to UARTs
  zephyr/boards/google/realtek/realtek.dtsi
Labels: none

zephyr/battery: Add two new batteries
  zephyr/dts/bindings/battery/atl,ap25aap.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/smp,ap25a7p.yaml
Labels: none

moonstone: Update battery configuration
  zephyr/program/fatcat/moonstone/project.overlay
Labels: none

kinmen: Set battery type read retry count
  zephyr/program/fatcat/kinmen/project.conf
Labels: none

moonstone: Set battery type read retry count
  zephyr/program/fatcat/moonstone/project.conf
Labels: none

fwk: 16-inch: set power slide mode default as balance mode
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

zephyr: cmake: compiler: clang: Fix rt lib override for RISC-V
  zephyr/cmake/compiler/clang/target.cmake
Labels: none

Constitution: Enable EC-based watchdog
  board/constitution/board.h
Labels: none

zephyr: fingerprint: add egis630 emulated driver
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_egis630.c
  zephyr/include/emul/emul_egis630.h
Labels: none

zephyr: fingerprint: add egis630 driver test
  zephyr/drivers/fingerprint/fingerprint_egis630.c
  zephyr/drivers/fingerprint/fingerprint_egis630_pal.c
  zephyr/test/fingerprint/drivers/egis630/CMakeLists.txt
  zephyr/test/fingerprint/drivers/egis630/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/egis630/prj.conf
  zephyr/test/fingerprint/drivers/egis630/src/egis630.c
  zephyr/test/fingerprint/drivers/egis630/src/egis630_pal_test_helpers.c
  zephyr/test/fingerprint/drivers/egis630/src/egis630_pal_test_helpers.h
  zephyr/test/fingerprint/drivers/egis630/testcase.yaml
Labels: none

flash_ec: Preserve temporary files on failure
  util/flash_ec
Labels: none

fwk: tulip: charger option_0 ooa control
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: add BQ257X0 charger OOA control api
  driver/charger/bq25710.c
  driver/charger/bq25710.h
  driver/charger/bq257x0_regs.h
Labels: none

fwk: tulip: bump to v3.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

common: queue: use "min" instead of Z_MIN
  common/queue.c
Labels: common

pdc: Show DTS (debug accessory) status in `typec` command
  zephyr/subsys/pd_controller/pdc_pmc_debug.c
Labels: none

platform/ec/common: Removes redundant task_wake call
  common/usbc/usb_prl_sm.c
Labels: common

power/qcom_exp: Update switchcap power good timeout
  power/qcom_exp.c
Labels: none

skywalker: Update VIF settings for Skywalker.
  zephyr/program/skywalker/skywalker/skywalker_vif.xml
Labels: none

charge_manager: Use mutexes for PDC based devices only
  common/charge_manager.c
Labels: common

ap_pwrseq: Recognize the pwrseq_task thread
  zephyr/include/ap_power/ap_power_interface.h
  zephyr/shim/include/shimmed_task_id.h
  zephyr/shim/src/tasks.c
  zephyr/subsys/ap_pwrseq/ap_pwrseq.c
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_sm_handler.c
  zephyr/test/ap_power/CMakeLists.txt
  zephyr/test/ap_power/src/ap_pwrseq.c
Labels: none

rtkupdate: fix update fail caused by UART transfer timeout
  util/rtkupdate.c
Labels: none

ocelot: update the minimum platform power
  zephyr/program/ocelot/program.conf
Labels: none

fwk: add BQ257X0 charger OOA control api
  driver/charger/bq25710.c
  driver/charger/bq25710.h
  driver/charger/bq257x0_regs.h
Labels: none

fwk: tulip: charger option_0 ooa control
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: azalea: modified the LED period-ms value for the standalone mode
  zephyr/program/framework/azalea/led_policy.dtsi
Labels: none

bluey: Add initial devicetree configs for keyboard
  zephyr/program/bluey/keyboard.dtsi
  zephyr/program/bluey/program.conf
  zephyr/program/bluey/quenbi/project.overlay
Labels: none

Grogu: Initial zephyr config for grogu project
  zephyr/program/skywalker/BUILD.py
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/Kconfig
  zephyr/program/skywalker/grogu/CMakeLists.txt
  zephyr/program/skywalker/grogu/include/keyboard_customization.h
  zephyr/program/skywalker/grogu/led_pins.dtsi
  zephyr/program/skywalker/grogu/led_policy.dtsi
  zephyr/program/skywalker/grogu/motionsense.dtsi
  zephyr/program/skywalker/grogu/project.conf
  zephyr/program/skywalker/grogu/project.overlay
  zephyr/program/skywalker/grogu/src/sensor.c
Labels: none

[owners] Remove jettrink@chromium.org from board/c2d2/OWNERS
  board/c2d2/OWNERS
Labels: none

docs: Update CBI documentation for flash storage
  docs/zephyr/zephyr_cbi.md
  docs/zephyr/zephyr_cbi_flash.md
Labels: none

zephyr: it8xxx2: add elpm hibernate mechanism
  docs/zephyr/zephyr_hibernate.md
  zephyr/Kconfig.system
  zephyr/drivers/cros_system/cros_system_it8xxx2.c
Labels: none

subsys/pdc: fix build error "may be used uninitialized"
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/subsys/ucsi/ppm_common.c
Labels: none

skywalker: disable CONFIG_LTO
  zephyr/program/skywalker/ite_program.conf
Labels: none

Grogu: Modify PDC configuration
  zephyr/program/skywalker/grogu/project.overlay
  zephyr/program/skywalker/grogu/usbc.dtsi
Labels: none

obiwan: Add DP fields to VIF
  zephyr/program/skywalker/obiwan/obiwan_vif.xml
Labels: none

Default PLATFORM_EC_HOSTCMD_DEBUG_MODE to HCDEBUG_OFF
  docs/zephyr/zephyr_ap_ec_comm.md
  include/config.h
  zephyr/Kconfig
  zephyr/boards/google/it8xxx2/Kconfig.defconfig
Labels: none

skywalker: Update PD Specification Revision and Version Minor numbers.
  zephyr/program/skywalker/skywalker/skywalker_vif.xml
Labels: none
