Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

Run tests for subsys/pm by default
  util/broken_tests.yaml
  util/twister_launcher.py
Labels: none

ptlrvp_mchp: Add initial project files
  bazel/all_targets.generated.bzl
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/intelrvp/CMakeLists.txt
  zephyr/program/intelrvp/Kconfig
  zephyr/program/intelrvp/ptlrvp/CMakeLists.txt
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
  zephyr/program/intelrvp/ptlrvp/stub.dtsi
Labels: none

ptlrvp_mchp: Add GPIO configuration
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

test/fpsensor_crypto_with_mock: Add constant for IKM size
  test/fpsensor_crypto_with_mock.cc
Labels: none

test/fpsensor_crypto_with_mock: Update instructions for generating expected values
  test/fpsensor_crypto_with_mock.cc
Labels: none

Revert "pdc: Fix SET_UOR/SET_PDR command usage in snk/src states"
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

ec: Enable FPMCU unit tests on helipilot on CQ
  firmware_builder.py
Labels: repo

docs: update native_posix doc references to native_sim
  docs/chromeos-ec-firmware-test-requirements.md
  docs/code_coverage.md
  docs/unit_tests.md
  docs/zephyr/zephyr_troubleshooting.md
  docs/zephyr/ztest.md
Labels: none

dev, minimal: migrate to native_sim
  zephyr/README.md
  zephyr/program/dev/BUILD.py
  zephyr/program/dev/README.md
  zephyr/program/dev/dev.dtsi
  zephyr/program/minimal/BUILD.py
  zephyr/program/minimal/README.md
Labels: none

zmake: default host projects to native_sim
  zephyr/zmake/tests/test_project.py
  zephyr/zmake/zmake/configlib.py
Labels: none

test: drop the native_posix overlay
  zephyr/dts/board-overlays/native_posix.dts
  zephyr/test/console/boards/native_sim.overlay
Labels: none

ptlrvp_mchp: Add support for AP Power Sequence
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/intelrvp/ptlrvp/CMakeLists.txt
  zephyr/program/intelrvp/ptlrvp/interrupts.dtsi
  zephyr/program/intelrvp/ptlrvp/power_signals.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/include/board.h
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
  zephyr/program/intelrvp/ptlrvp/src/board_power.c
Labels: none

buccaneer: Change fpinfo to represent 14 bit per pixel
  driver/fingerprint/elan/elan_sensor.h
Labels: none

navi: Change support usb mux for c0/c1
  zephyr/program/rauru/navi/project.overlay
Labels: none

twister: drop native_posix from the default flags
  util/twister_launcher.py
Labels: none

ptlrvp_mchp: Add I2C configuration
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/i2c.dts
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/include/board.h
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

ptlrvp_mchp: Add IO expander and keyboard configuration
  zephyr/program/intelrvp/ptlrvp/CMakeLists.txt
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
  zephyr/program/intelrvp/ptlrvp/interrupts.dtsi
  zephyr/program/intelrvp/ptlrvp/ioex.dtsi
  zephyr/program/intelrvp/ptlrvp/ioex_gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/keyboard.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
  zephyr/program/intelrvp/ptlrvp/src/board_kbd.c
  zephyr/program/intelrvp/ptlrvp/stub.dtsi
Labels: none

lotso: Fine tune the charger register
  zephyr/program/brox/lotso/CMakeLists.txt
  zephyr/program/brox/lotso/src/charger.c
Labels: none

ptlrvp_mchp: Add board ID support
  zephyr/program/intelrvp/ptlrvp/CMakeLists.txt
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/src/board_id.c
Labels: none

magolor: add BMI323 base sensoor ssfc value
  board/magolor/cbi_ssfc.h
Labels: none

Zephyr: Add new battery yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/smp,l21m4pg5.yaml
  zephyr/dts/bindings/battery/sunwoda,l21d4pg4.yaml
  zephyr/program/rauru/navi/project.overlay
Labels: none

ptlrvp_mchp: Extend IO expander configuration
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
  zephyr/program/intelrvp/ptlrvp/ioex_gpio.dtsi
Labels: none

ptlrvp_mchp: Add seven segment led display
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
Labels: none

ptlrvp_mchp: Enable Volume Up/Down functionality
  zephyr/program/intelrvp/ptlrvp/interrupts.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
Labels: none

ptlrvp_mchp: Add ADC configuration
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/adc.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

ptlrvp_mchp: Add temperature sensors configuration
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/adc.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
  zephyr/program/intelrvp/ptlrvp/temp_sensor.dts
Labels: none

ptlrvp_mchp: Add fan configuration
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/fan.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

ptlrvp_mchp: Add USB type-C ports 0 and 1 configuration
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/intelrvp/Kconfig
  zephyr/program/intelrvp/ptlrvp/battery.dtsi
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
  zephyr/program/intelrvp/ptlrvp/pd.conf
  zephyr/program/intelrvp/ptlrvp/pd.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/include/board.h
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
  zephyr/program/intelrvp/ptlrvp/usbc.dtsi
Labels: none

ptlrvp_mchp: Add DC jack support
  zephyr/program/intelrvp/CMakeLists.txt
  zephyr/program/intelrvp/ptlrvp/interrupts.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
Labels: none

ptlrvp_mchp: Add CBI configuration
  zephyr/program/intelrvp/ptlrvp/i2c.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
Labels: none

test/fpsensor_auth_commands: Fix deadline
  test/fpsensor_auth_commands.cc
Labels: none

test/fpsensor_auth_commands: Limit mocks
  test/fpsensor_auth_commands.mocklist
Labels: none

test/otp_key: Test OTP key on hardware
  test/otp_key.mocklist
Labels: none

pdc: ti: Implement get_pch_data_status
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/drivers/usbc/tps6699x_cmd.h
Labels: none

baseboard/helipilot: Make the code and data RAM configurable
  baseboard/helipilot/base_board.h
Labels: baseboard

fpsensor: Move stateless tests to stateless test file
  test/fpsensor_auth_crypto_stateful.cc
  test/fpsensor_auth_crypto_stateless.cc
Labels: none

test/fpsensor_crypto_with_mock: Use std::array
  test/fpsensor_crypto_with_mock.cc
Labels: none

test/fpsensor_crypto_with_mock: Convert C-style arrays to std::array
  test/fpsensor_crypto_with_mock.cc
Labels: none

fpsensor: test IKM with concatenated OTP Key
  baseboard/helipilot/build.mk
  common/mock/otpi_mock.c
  include/mock/otpi_mock.h
  test/build.mk
  test/fp_transport.mocklist
  test/fpsensor_auth_crypto_stateful.cc
  test/fpsensor_auth_crypto_stateful.mocklist
  test/fpsensor_auth_crypto_stateful_otp.cc
  test/fpsensor_auth_crypto_stateful_otp.mocklist
  test/fpsensor_auth_crypto_stateful_otp.tasklist
  test/fpsensor_crypto_with_mock.cc
  test/fpsensor_crypto_with_mock_otp.cc
  test/fpsensor_crypto_with_mock_otp.mocklist
  test/fpsensor_crypto_with_mock_otp.tasklist
  test/run_device_tests.py
  test/test_config.h
Labels: common, baseboard

marigold: update the system power state correctly
  zephyr/program/framework/marigold/src/power_sequence.c
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none
