Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: sunflower: modify to the correct temp sensor configuration
  zephyr/program/framework/sunflower/src/temperature.c
Labels: none

driver/fingerprint: Add egis_finger_match / egis_finger_enroll
  driver/fingerprint/egis/egis_api.h
  driver/fingerprint/egis/egis_private.c
Labels: none

francka: Initial Zephyr EC image
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/Kconfig
  zephyr/program/fatcat/francka/CMakeLists.txt
  zephyr/program/fatcat/francka/adc.dtsi
  zephyr/program/fatcat/francka/gpios.dtsi
  zephyr/program/fatcat/francka/i2c.dtsi
  zephyr/program/fatcat/francka/project.conf
  zephyr/program/fatcat/francka/project.overlay
Labels: none

riven: set battery type read retry limit
  zephyr/program/nissa/riven/project.conf
Labels: none

Riven: Increase keyscan min_post_scan_delay_us to 2ms
  zephyr/program/nissa/riven/src/keyboard.c
Labels: none

rauru: update 2 unused VIF fields
  zephyr/program/rauru/rauru/rauru_vif.xml
Labels: none

francka: modify EC chip to NPCX993
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/francka/project.overlay
Labels: none

ps8xxx: Support synchronized VCONN delay.
  driver/tcpm/ps8xxx.c
  include/driver/tcpm/tcpm.h
  include/usb_pd_tcpm.h
  zephyr/include/dt-bindings/usb_pd_tcpm.h
Labels: none

marasov: Enable synchronized VCONN delay.
  board/marasov/usbc_config.c
Labels: none

event_log: Fix the comments of the event_log_entry struct
  include/event_log.h
Labels: none

uldren: Add VIF
  zephyr/program/nissa/uldren/uldren_vif.xml
Labels: none

it83xx: Make wdt_warning_fired atomic
  chip/it83xx/watchdog.c
Labels: none

pdc: add "pdc drp <port>" command
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/ucsi_v3.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/include/drivers/pdc.h
  zephyr/include/drivers/ucsi_v3.h
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_null_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

test: pdc: ti: Extend PDC_TEST_TIMEOUT operation timeout
  zephyr/test/pdc/boards/tps6699x.overlay
Labels: none

ec: Preload environment for legacy targets
  Makefile
  Makefile.rules
Labels: repo

pdc: Add `pdc vconn` console command for debugging
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

brox: Default to 65W (20V @ 3.25A) USB-PD charging
  zephyr/program/brox/program.conf
Labels: none

lotso: Remove redundant USB-PD power configuration
  zephyr/program/brox/lotso/project.conf
Labels: none

jubilant: Remove redundant USB-PD power configuration
  zephyr/program/brox/jubilant/project.conf
Labels: none

brox: Consolidate USB VIF file
  zephyr/program/brox/brox_vif.xml
  zephyr/program/brox/lotso/lotso_vif.xml
Labels: none

brox: Disable FRS in Brox VIF
  zephyr/program/brox/brox_vif.xml
Labels: none

pdc_power_mgmt: set drp mode in unattached policies
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_power_mgmt_api: Split up get_partner_unconstr_power test
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

util: Helper script to run a command N times
  util/run_until.sh
Labels: none

ec: Update to gcc 14.2
  bazel/deps.bzl
Labels: none

ec: Add min-pagesize to avoid warning
  Makefile.toolchain
Labels: repo

ec: Add control and status register access ext
  core/riscv-rv32i/build.mk
Labels: none

Add zifencei extension to -march flag
  chip/mt_scp/rv32i_common/build.mk
  core/riscv-rv32i/build.mk
Labels: none

Suppress RWX segment warning
  zephyr/cmake/linker/ld/linker_flags.cmake
Labels: none

ish: Increase rom size
  chip/ish/config_flash_layout.h
Labels: none

ec: Ignore infinite recursion on tests
  cts/task/dut.c
  cts/task/th.c
Labels: none

Add --no-relax-gp to linker flags for riscv
  zephyr/cmake/linker/ld/linker_flags.cmake
Labels: none

pdc: Configure Sink PDOs during pdc_power_mgmt init
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

CHROMIUM: Add #line to cros_shi_it8xxx2.c
  zephyr/drivers/cros_shi/cros_shi_it8xxx2.c
Labels: none

brox: Allow PR_Swap to source in VIF
  zephyr/program/brox/brox_vif.xml
Labels: none

fwk/sunflower: Rotate base accelerometer
  zephyr/program/framework/sunflower/motionsense.dtsi
Labels: none

framework/sunflower: Allow powering on from dead battery
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/battery_present.c
Labels: none

framework: Extract battery presence detection
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/src/battery_present_adc.c
Labels: none

Hylia: Initial zephyr config for hylia
  bazel/all_targets.generated.bzl
  zephyr/program/rauru/BUILD.py
  zephyr/program/rauru/CMakeLists.txt
  zephyr/program/rauru/Kconfig
  zephyr/program/rauru/hylia/CMakeLists.txt
  zephyr/program/rauru/hylia/project.conf
  zephyr/program/rauru/hylia/project.overlay
Labels: none

sunflower: Bump to v0.06
  .github/workflows/zephyr-build.yml
Labels: workflow

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
