Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: KB auto brightness just one low level
  zephyr/program/framework/src/led.c
Labels: none

fwk: KB auto brightness just one low level
  zephyr/program/framework/src/led.c
Labels: none

fwk: main: Fix GRL TEST Item PD.PS.SRC.3#18
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: main: fix auto als powerbtn led behavior
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/include/hid_device.h
  zephyr/program/framework/src/hid_device.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: main: fix auto als powerbtn led behavior
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/include/hid_device.h
  zephyr/program/framework/src/hid_device.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: azalea: modified the period-ms value to meet the target time
  zephyr/program/framework/azalea/led_policy.dtsi
Labels: none

fwk: led: runtime to update the led duration
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: Refactor PD power button to add logs
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

Update flake URL format
  flake.lock
  flake.nix
Labels: repo

fwk: Immediately adjust KB backlight if switching to auto
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/keyboard_customization_13.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: pwr button can always be updated
  zephyr/program/framework/src/led.c
Labels: none

fwk: Build test- branches gh-actions
  .github/workflows/zephyr-build.yml
Labels: workflow

Update flake-utils lock
  flake.lock
Labels: repo

flake.nix: Import from lotus-azalea-nix-2025-05-16
  flake.lock
  flake.nix
Labels: repo

flake.nix: Add marigold, update dependencies
  flake.lock
  flake.nix
Labels: repo

fwk: sunflower: bump to v3.02
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Immediately adjust KB backlight if switching to auto
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/keyboard_customization_13.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: pwr button can always be updated
  zephyr/program/framework/src/led.c
Labels: none

Revert "fwk: Fix ignoring powerbutton if lid closed from G3"
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Fix ignoring power button when lid is closed from G3
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Fix ignoring power button when lid is closed from G3
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Update EC_CMD_READ_PD_VERSION to v1
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_host_command.c
Labels: none

Revert "fwk: workaround: gpu_power_enable() always return true with NV GPU"
  zephyr/program/framework/lotus/src/gpu.c
Labels: none

fwk: avoid reset timer trigger clear charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk:laptop16: Add NV GPU thermal PMF setting
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk:laptop16: Update PMF table 0428a
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk:laptop16: Update power table 0520_a
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk:laptop16: replace power limit FUNCTION_SLIDER with FUNCTION_THERMAL_PMF
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk:laptop16: modify fan table
  zephyr/program/framework/lotus/overlay.dtsi
Labels: none

fwk:laptop16: Add NV GPU D-notify function
  zephyr/program/framework/include/customized_shared_memory.h
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: add more bq25770 charger dump information
  driver/charger/bq25710.c
Labels: none

fwk: pd: get active pd chip count
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: ucsi check active pd chip count
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/lotus/src/gpu_configuration.c
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: main: set PD Vbus fet control again when a new power request
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

CrOS: temp_sensor: allow second SB-TSI sensor
  zephyr/shim/src/temp_sensors.c
Labels: none

fwk: tulip: bump to v1.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: set PD Vbus fet control again when a new power request
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

util/ectool: Add privswitches command
  util/ectool.cc
Labels: none

util/ectool: Add intrusion command
  util/ectool.cc
Labels: none

util/ectool: Add chassisopen command
  util/ectool.cc
Labels: none
