Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk: support ac boot feature for mini-pc
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: ccg6: move the EC_CMD_BB_RETIMER_CONTROL into cypd_ccg6.c file
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: WS2812 bitbanging (CONFIG_PLATFORM_EC_LED_WS2812_NPCX_BITBANG)
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/ws2812_npcx_bitbang.c
Labels: none

fwk: dogwood: Enable ARGB
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/project.conf
Labels: none

fwk: refactor framework/led functions
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/laptop_led.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: tulip: bump to v0.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: lotus: add back cutoff status cmd
  zephyr/program/framework/lotus/src/battery.c
Labels: none

fwk: lotus: avoid looping attempts to enter epr mode
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: lotus: adjust power limit based on the GPU power state
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/gpu.c
Labels: none

fwk/sunflower: Disable keyboard in tablet mode
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
  zephyr/program/framework/sunflower/src/motionsense.c
Labels: none

fwk: dogwood: implement the LAN suspend/resume sequence
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: implement power monitor feature
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/interrupts.dtsi
  zephyr/program/framework/dogwood/src/power_monitor.c
Labels: none

fwk: dogwood: bump to v1.0.6
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/sunflower: Disable power button delay
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: bump to v2.03
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Upload util to github actions
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Package dynamic libs with util binaries
  .github/workflows/zephyr-build.yml
Labels: workflow

gh-actions: Build ectool
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/main: Allow getting pwrbtn brightness with v1 HC
  util/ectool.cc
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

util/ectool: Add ultra-low brightness to fpled command
  util/ectool.cc
Labels: none

util/ectool: Add fpled command
  util/ectool.cc
Labels: none

fwk/main: EC_CMD_FP_LED_LEVEL_CONTROL v1 set percentage
  zephyr/program/framework/src/led.c
Labels: none

util/ectool: Let fpled command change to custom brightness
  util/ectool.cc
Labels: none

util/ectool: Include framework host command header
  util/ectool.cc
Labels: none

util/ectool: Let fpled command change to custom brightness
  util/ectool.cc
Labels: none

fwk/main: Allow getting pwrbtn brightness with v1 HC
  util/ectool.cc
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

util/ectool: Include framework host command header
  util/ectool.cc
Labels: none

util/ectool: Add ultra-low brightness to fpled command
  util/ectool.cc
Labels: none

util/ectool: Add fpled command
  util/ectool.cc
Labels: none

fwk/main: EC_CMD_FP_LED_LEVEL_CONTROL v1 set percentage
  zephyr/program/framework/src/led.c
Labels: none

util/ectool: Include framework host command header
  util/ectool.cc
Labels: none

util/ectool: Let fpled command change to custom brightness
  util/ectool.cc
Labels: none

util/ectool: Add ultra-low brightness to fpled command
  util/ectool.cc
Labels: none

fwk/main: EC_CMD_FP_LED_LEVEL_CONTROL v1 set percentage
  zephyr/program/framework/src/led.c
Labels: none

fwk/main: Allow getting pwrbtn brightness with v1 HC
  util/ectool.cc
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

util/ectool: Add fpled command
  util/ectool.cc
Labels: none

fwk: main: add auto brightness fpled and keyboard backlight
  zephyr/program/framework/include/hid_device.h
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/hid_device.c
  zephyr/program/framework/src/keyboard_customization_13.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: Avoid auto brightness flipping back and forth
  zephyr/program/framework/src/led.c
Labels: none

util/ectool: Add auto brightness to fpled command
  util/ectool.cc
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
