Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

driver/fingerprint: Remove extra semicolon
  driver/fingerprint/egis/egis_private.c
Labels: none

driver/fingerprint: make printf_buffer static
  driver/fingerprint/egis/platform/src/plat_log_mcu.c
Labels: none

driver/fingerprint: remove commented out code
  driver/fingerprint/egis/egis_private.c
Labels: none

driver/fingerprint: remove commented-out code that will never be used
  driver/fingerprint/egis/egis_private.c
Labels: none

ptlrvp: Handle external power signal `PWR_SYS_RST`
  zephyr/program/intelrvp/ptlrvp/ioex_gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/src/board_power.c
Labels: none

ptlrvp: Reconfigure power signal `PWR_EC_PCH_SYS_PWROK`
  zephyr/program/intelrvp/ptlrvp/power_signals.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/include/board.h
  zephyr/program/intelrvp/ptlrvp/src/board_power.c
Labels: none

ptlrvp: Enable VBOOT
  zephyr/program/intelrvp/ptlrvp/program.conf
Labels: none

driver/fingerprint: Remove reference to _MSC_VER
  driver/fingerprint/egis/platform/inc/plat_log.h
Labels: none

driver/fingerprint: Remove references to TZ_MODE and __TRUSTONIC__
  driver/fingerprint/egis/platform/inc/plat_log.h
Labels: none

driver/fingerprint: Remove references to _WINDOWS
  driver/fingerprint/egis/platform/inc/plat_log.h
Labels: none

Add #line: vivaldi_kbd.c emul_tcpci_partner_src.c
  zephyr/drivers/vivaldi_kbd/vivaldi_kbd.c
  zephyr/emul/tcpc/emul_tcpci_partner_src.c
Labels: none

pdc_power_mgmt: Add connector reset test
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

driver: Change all egis header guards to be fully qualified
  driver/fingerprint/egis/egis_api.h
  driver/fingerprint/egis/platform/inc/egis_definition.h
  driver/fingerprint/egis/platform/inc/plat_log.h
  driver/fingerprint/egis/platform/inc/plat_mem.h
  driver/fingerprint/egis/platform/inc/plat_reset.h
  driver/fingerprint/egis/platform/inc/plat_spi.h
  driver/fingerprint/egis/platform/inc/plat_time.h
Labels: none

ptlrvp: Add common configurations for PTLRVP MECC
  zephyr/program/intelrvp/CMakeLists.txt
  zephyr/program/intelrvp/Kconfig
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
Labels: none

brox: usbc: Correct port locations for EC_CMD_GET_PD_PORT_CAPS
  zephyr/program/brox/src/usbc.c
  zephyr/test/brox/tests/baseboard/src/usbc.c
Labels: none

docs/fingerprint: Update J-Link version references
  docs/fingerprint/fingerprint-debugging.md
Labels: none

docs/fingerprint: Update J-Link device name for helipilot
  docs/fingerprint/fingerprint-debugging.md
Labels: none

test/run_device_tests.py: Fix bug number in TODO
  test/run_device_tests.py
Labels: none

trulo: Add initial program files
  bazel/all_targets.generated.bzl
  zephyr/program/trulo/BUILD.py
  zephyr/program/trulo/CMakeLists.txt
  zephyr/program/trulo/Kconfig
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo.dtsi
  zephyr/program/trulo/trulo/CMakeLists.txt
  zephyr/program/trulo/trulo/project.conf
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/trulo_stub.dts
Labels: none

trulo: Add GPIO configuration
  zephyr/program/trulo/generated.dtsi
  zephyr/program/trulo/i2c.dtsi
  zephyr/program/trulo/trulo.dtsi
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/trulo_stub.dts
Labels: none

trulo: Enable AP host interface
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo.dtsi
Labels: none

driver/fingerprint: Modify CONFIG_FP_SENSOR_EC630
  driver/fingerprint/egis/build.mk
  driver/fingerprint/egis/egis_api.h
Labels: none

driver/fingerprint: remove reference to unused EGIS_DEBUG flag
  driver/fingerprint/egis/build.mk
Labels: none

driver/fingerprint: Define plat_free as a static inline function
  driver/fingerprint/egis/platform/inc/plat_mem.h
Labels: none

test: Create a unit test for builtin ASSERT
  baseboard/bloonchipper/build.mk
  baseboard/helipilot/build.mk
  board/nocturne_fp/build.mk
  test/assert_builtin.cc
  test/assert_builtin.tasklist
  test/build.mk
  test/run_device_tests.py
Labels: baseboard

test: Create a unit test for stdlib assert
  baseboard/bloonchipper/build.mk
  baseboard/helipilot/build.mk
  board/nocturne_fp/build.mk
  test/assert_stdlib.cc
  test/assert_stdlib.tasklist
  test/build.mk
  test/run_device_tests.py
Labels: baseboard

fwk: sunflower: call hook "HOOK_CHIPSET_SHUTDOWN_COMPLETE"
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fpsensor: Add fourcc_to_string function
  common/fpsensor/fpsensor_utils.cc
  include/fpsensor/fpsensor_utils.h
  test/fpsensor_utils.cc
Labels: common

fpsensor: Add fpinfo debug console command
  baseboard/bloonchipper/build.mk
  baseboard/helipilot/build.mk
  board/nocturne_fp/build.mk
  common/fpsensor/fpsensor_debug.cc
  common/mock/fpsensor_mock.c
  test/build.mk
  test/fpsensor_debug.cc
  test/fpsensor_debug.mocklist
  test/fpsensor_debug.tasklist
  test/run_device_tests.py
  test/test_config.h
Labels: common, baseboard

fpsensor: Add sensor strap pin config to fpinfo
  common/fpsensor/fpsensor_debug.cc
Labels: common

fwk: sunflower: Bump to version 0.02
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower: workaround: shutdown the system before EC reboot
  common/system.c
Labels: common

fwk: sunflower: Enable tablet mode
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

Revert "fwk: sunflower: workaround: disable lid function to avoid the system hang"
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/led.c
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

driver/fingerprint: Define plat_alloc as a static inline function
  driver/fingerprint/egis/platform/inc/plat_mem.h
Labels: none

skitty: Modify LED default brightness range
  zephyr/program/corsola/skitty/src/led.c
  zephyr/test/krabby/src/led_skitty.c
Labels: none

ptlrvp_npcx: Initial board bring-up code
  bazel/all_targets.generated.bzl
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/intelrvp/Kconfig
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/adc.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/fan.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/i2c.dts
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/include/board.h
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/project.overlay
Labels: none

ptlrvp_npcx: Enable PSL logic
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/project.overlay
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/psl.dtsi
Labels: none

ptlrvp: move RW FWID to version header
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/project.overlay
Labels: none

test: Create a unit test for stdlib exit
  baseboard/bloonchipper/build.mk
  baseboard/helipilot/build.mk
  board/nocturne_fp/build.mk
  test/build.mk
  test/exit.cc
  test/exit.tasklist
  test/run_device_tests.py
Labels: baseboard

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
