Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

riven: implement keyboard matrix
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/riven/generated.dtsi
  zephyr/program/nissa/riven/include/keyboard_customization.h
  zephyr/program/nissa/riven/keyboard.dtsi
  zephyr/program/nissa/riven/overlay.dtsi
  zephyr/program/nissa/riven/project.conf
  zephyr/program/nissa/riven/src/keyboard.c
  zephyr/program/nissa/riven/src/keyboard_customization.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/Kconfig
  zephyr/test/nissa/src/riven.c
  zephyr/test/nissa/testcase.yaml
Labels: none

zephyr: tests: replace EMUL_EEPROM_AT2X with EEPROM_AT2X_EMUL
  zephyr/test/drivers/prj.conf
  zephyr/test/kingler/prj.conf
  zephyr/test/krabby/testcase.yaml
Labels: none

deku: GPIO configure for GPIO23 (MECH_EC_REC_BTN_OD)
  zephyr/program/ovis/deku/project.overlay
Labels: none

zmake: Compute version using EC module git path
  zephyr/zmake/zmake/zmake.py
Labels: none

zephyr mchp: Add PLATFORM_EC_HIBERNATE_VCI to support VCI logic
  zephyr/Kconfig.system
  zephyr/dts/bindings/gpio/cros-ec,hibernate-vci-pins.yaml
Labels: none

lotso: Update the temp sensor configs
  zephyr/program/brox/lotso/project.overlay
  zephyr/program/brox/lotso/temp_sensors.dtsi
Labels: none

fuzz: Increase request/response buffer size
  fuzz/host_command_fuzz.c
Labels: none

riven: modify battery information
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/cosmx,ap23abl.yaml
  zephyr/dts/bindings/battery/smp,ap23a7l-2.yaml
  zephyr/program/nissa/riven/overlay.dtsi
  zephyr/program/nissa/riven/src/charger.c
  zephyr/test/nissa/boards/riven.dts
  zephyr/test/nissa/src/riven.c
Labels: none

magolor: change lid rotation table by sku_id
  board/magolor/board.c
Labels: none

Xol: Modify fan table
  board/xol/fans.c
Labels: none

brox/tests: cover greenbayupoc keyboard code
  zephyr/test/brox/CMakeLists.txt
  zephyr/test/brox/Kconfig
  zephyr/test/brox/testcase.yaml
  zephyr/test/brox/tests/greenbayupoc/CMakeLists.txt
  zephyr/test/brox/tests/greenbayupoc/src/keyboard.c
Labels: none

orisa: modify power parameter
  zephyr/program/nissa/orisa/project.conf
Labels: none

zephyr: tests: replace CPLUSPLUS with CPP
  zephyr/test/uart_printf/prj.conf
Labels: none

zephyr: fpmcu: add counter upstream hardware test
  test/run_device_tests.py
  util/twister_launcher.py
Labels: none

test: run_device_tests: skip rtc_stm32f4 test for Zephyr
  test/run_device_tests.py
Labels: none

drivers: add zephyr/ prefix to autogenerated include
  zephyr/include/drivers/cros_flash.h
  zephyr/include/drivers/cros_kb_raw.h
  zephyr/include/drivers/cros_rtc.h
  zephyr/include/drivers/cros_shi.h
  zephyr/include/drivers/cros_system.h
  zephyr/include/drivers/fingerprint.h
  zephyr/include/drivers/fingerprint_sim.h
  zephyr/include/drivers/intel_altmode.h
  zephyr/test/fingerprint/drivers/fpc1025/src/fpc1025_pal_test_helpers.h
Labels: none

chip/stm32: Fix ADC calibration delay on STM32L4/5
  chip/stm32/adc-stm32l4.c
Labels: none

pdc: ti: Update TI PDC FW binary
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_19.8.0.bin
  zephyr/drivers/usbc/tps6699x_19.8.0.json
Labels: none

Craask: add SMBUS PEC support and set NACK retry
  zephyr/program/nissa/craask/project.conf
Labels: none

squirtle: modify motionsense rotation matrix
  zephyr/program/corsola/squirtle/project.overlay
Labels: none

bujia: ops: Implementation PS_ON# signal
  board/bujia/board.c
  board/bujia/board.h
  board/bujia/build.mk
  board/bujia/gpio.inc
  board/bujia/ops.c
Labels: none

keyboard_input: implement ksstate and kbpress
  common/mkbp_input_devices.c
  zephyr/drivers/keyboard_input/keyboard_input.c
  zephyr/test/input_keyboard/boards/native_sim.overlay
  zephyr/test/input_keyboard/dts/bindings/vnd,keyboard-input-device.yaml
  zephyr/test/input_keyboard/prj.conf
  zephyr/test/input_keyboard/src/main.c
Labels: common

zephyr: enable CONFIG_EMUL on native_sim/posix targets
  zephyr/program/dev/prj.conf
  zephyr/test/nissa/prj.conf
  zephyr/test/ocpc/prj.conf
  zephyr/test/rex/prj.conf
  zephyr/test/vboot_efs2/prj.conf
Labels: none

Revert "Kconfig.defaults: enable EMUL with I2C automatically on native sim/posix"
  zephyr/Kconfig.defaults
Labels: none

util/flash_jlink: Add interface speed to board config
  util/flash_jlink.py
Labels: none

util/flash_jlink: Add support for helipilot
  util/flash_jlink.py
Labels: none

zephyr emul: Update RTS54xx Kconfig name
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
Labels: none

guybrush: Use default keyboard_scan_config
  baseboard/guybrush/baseboard.c
Labels: baseboard

PPM: Move headers from extra/um_ppm
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/CMakeLists.txt
  zephyr/subsys/ucsi/platform.h
  zephyr/subsys/ucsi/platform_zephyr.c
  zephyr/subsys/ucsi/ppm_common.h
  zephyr/subsys/ucsi/ppm_driver.c
  zephyr/subsys/ucsi/ucsi_host_cmd.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/ppm.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

PPM: Add ppm_common implementation
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/CMakeLists.txt
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/CMakeLists.txt
Labels: none

PPM: Reorder methods and clean-up unused function
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/subsys/ucsi/ppm_common.h
Labels: none

PPM: Refactor ppm headers and implementation
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/CMakeLists.txt
  zephyr/subsys/ucsi/Kconfig
  zephyr/subsys/ucsi/platform.h
  zephyr/subsys/ucsi/platform_zephyr.c
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/subsys/ucsi/ppm_common.h
  zephyr/subsys/ucsi/ppm_driver.c
  zephyr/subsys/ucsi/ucsi_host_cmd.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Invalid UCSI messages set errors
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Test ppm read and write edge cases
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

PPM: Unlock mutex before calling commands
  zephyr/subsys/ucsi/ppm_common.c
Labels: none

PPM: Additional refactors of headers and impl
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/include/drivers/ucsi_v3.h
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/subsys/ucsi/ppm_common.h
  zephyr/subsys/ucsi/ppm_driver.c
  zephyr/subsys/ucsi/ucsi_host_cmd.c
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/ppm.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

PPM: Remove ucsi_ppm_cleanup and fixup style
  zephyr/drivers/usbc/ucsi_v3.c
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
  zephyr/test/pdc/src/ucsi/ucsi.c
Labels: none

coverage: Add brox-sku4 to code coverage tracking
  .gitlab-ci.yml
  zephyr/firmware_builder.py
Labels: repo

Skitty: Update LED behavior
  zephyr/program/corsola/skitty/project.overlay
Labels: none

zephyr: flash: npcx: set_status should return error if HWWP is enabled
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none
