Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

motionsense: Correct config documentation
  docs/zephyr/zephyr_motionsense.md
  zephyr/Kconfig.motionsense
Labels: none

bluey: Add ADSP OEM custom charge state register support
  zephyr/include/adsp_comms.h
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

jaina: sync both LEDs behavior on low battery
  zephyr/program/skywalker/jaina/src/led.c
Labels: none

fwk: sakura: Corrected PD write respond code retry_count value
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

bluey: Temporary disable hibernate
  zephyr/program/bluey/program.conf
Labels: none

zmake: rename fingerprint modules
  zephyr/program/fpmcu/BUILD.py
  zephyr/zmake/zmake/modules.py
Labels: none

fwk: sakura: update the PD system state when pressing the power button
  zephyr/program/framework/sakura/src/power_sequence.c
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: sakura: Bump to 0.3.1
  .github/workflows/zephyr-build.yml
Labels: workflow

zephyr: defaults: set I2C_TRANSFER_TIMEOUT_MS to 100ms
  zephyr/Kconfig.defaults
Labels: none

zephyr: fingerprint: egis660: Add APNS data storage support
  zephyr/drivers/fingerprint/Kconfig.egis
  zephyr/drivers/fingerprint/fingerprint_egis660.c
  zephyr/drivers/fingerprint/fingerprint_egis660_pal.c
  zephyr/drivers/fingerprint/fingerprint_egis660_pal.h
  zephyr/drivers/fingerprint/fingerprint_egis660_private.h
  zephyr/test/fingerprint/drivers/egis660/CMakeLists.txt
  zephyr/test/fingerprint/drivers/egis660/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/egis660/include/config_chip.h
  zephyr/test/fingerprint/drivers/egis660/prj.conf
  zephyr/test/fingerprint/drivers/egis660/src/egis660.c
  zephyr/test/fingerprint/drivers/egis660/src/egis660_pal_test_helpers.c
  zephyr/test/fingerprint/drivers/egis660/src/egis660_pal_test_helpers.h
Labels: none

zephyr: et171: add APNS data storage for egis660
  zephyr/program/fpmcu/et171/srebrna.dts
  zephyr/program/fpmcu/et171/stobnica.dts
Labels: none

lapis: canadian french bilingual keyboard layout change
  zephyr/program/fatcat/lapis/lapis_ec_ufsc.dtsi
  zephyr/program/fatcat/lapis/src/board.c
Labels: none

pdc_rts: Add support for configuring USB Device capability in RTS54xx PDC.
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_rts54xx.h
  zephyr/dts/bindings/usbc/pdc/pdc-device.yaml
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/test/pdc/boards/rts5453p.overlay
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

util: Ignore common/mock in migrated_files check
  util/migrated_files.sh
Labels: none

fwk: sakura: Turn PD to S5 power state when EC enters S5G3
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

bluey: adsp_comms: implement chgstate console command
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

update_fw: block flash updates while RWSIG is running
  common/update_fw.c
  zephyr/test/usb_updater/src/update_fw_test.c
  zephyr/test/usb_updater/src/usb_update_test.c
Labels: common

renode: chudow: disable chudow in renode
  util/renode/firmware_builder.py
Labels: none

rtk_flame: Fix intermitten write to flash failure
  zephyr/chip/rtk_flame/flash_map_backend.c
  zephyr/chip/rtk_flame/spi_upload.c
Labels: none

rtk_flame: Verify erase is successful
  zephyr/chip/rtk_flame/spi_upload.c
Labels: none

rtkupdate: Fix retry logic detection during write to flash
  util/rtkupdate.cc
Labels: none

rtk_flame: Clear SPI status registers before erase/write
  zephyr/chip/rtk_flame/flash_map_backend.c
  zephyr/chip/rtk_flame/flash_map_backend.h
  zephyr/chip/rtk_flame/spi_upload.c
Labels: none

led: Log when a new LED policy activates
  zephyr/shim/src/led_driver/led.c
Labels: none

common/battery: Avoid reduce input voltage when no battery
  common/battery.c
Labels: common

ocelot: add ocelot configs to flash_fp_mcu
  util/flash_fp_mcu
Labels: none

fwk: cypd: not perform PD error recovery when using a Type-C debug accessory
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fatcat/trulo: refactor FRS
  zephyr/program/fatcat/moonstone/moonstone_vif.xml
  zephyr/program/trulo/kaladin/kaladin_vif.xml
  zephyr/program/trulo/pujjocento/project.conf
Labels: none

util: renode: Add USART3 platform description for chudow
  util/renode/chudow.resc
Labels: none

util: renode: Use UART3 for the chudow console
  util/renode/chudow.resc
  util/renode_ec_launch.py
Labels: none

util: renode: firmware_builder: Re-enable chudow
  util/renode/firmware_builder.py
Labels: none

zephyr: bluey: issue battery cutoff if C-FET is disabled at boot
  common/battery.c
  include/battery.h
  zephyr/program/bluey/src/battery.c
Labels: common

lapis: Update the thermal control policy
  zephyr/program/fatcat/lapis/src/fan.c
  zephyr/program/fatcat/lapis/src/thermal_policy.c
  zephyr/program/fatcat/lapis/temp_sensors.dtsi
Labels: none

fpsensor: enable FP ASCP support on Chobienia and Chudow
  zephyr/program/fpmcu/ft9001/ascp.dtsi
  zephyr/program/fpmcu/ft9001/common.dtsi
  zephyr/program/fpmcu/ft9001/soc.dtsi
Labels: none

fpsensor: Add production certificate for ft9001
  zephyr/program/fpmcu/ft9001/prj.conf
  zephyr/program/fpmcu/ft9001/s_goog_match.bin
  zephyr/program/fpmcu/ft9001/s_goog_replace.bin
Labels: none

zephyr: fpmcu: enable signaling logs via event
  zephyr/program/fpmcu/em32f967/prj.conf
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/program/fpmcu/ft9001/prj.conf
Labels: none

ptlrvp: Disable AP-Driven Mode Override on PTLRVP
  zephyr/program/intelrvp/ptlrvp/program.conf
Labels: none

Revert "zephyr: bluey: issue battery cutoff if C-FET is disabled at boot"
  common/battery.c
  include/battery.h
  zephyr/program/bluey/src/battery.c
Labels: common

zephyr: Zero out line bits for tokenized logging
  zephyr/include/pigweed/pw_zephyr_tokenized_custom_log.h
Labels: none

ec: Define host command interface for thread information
  include/ec_commands.h
Labels: none

ec: zephyr: Implement thread info host commands
  zephyr/Kconfig.tasks
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/nissa/glassway/project.conf
  zephyr/shim/src/CMakeLists.txt
  zephyr/shim/src/threadinfo.c
  zephyr/test/drivers/host_cmd/src/host_command.c
  zephyr/test/drivers/prj.conf
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
