Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

ocelot-ite: modify PCH PWR OK gpio declaration
  zephyr/program/ocelot/ocelotrvp-ite/power_signals.dtsi
Labels: none

pdc: Use pd_extract_pdo_power()
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/pdc_policy/select_best_pdo_clamped.c
  zephyr/test/pdc/src/pdc_policy/sink_policy.c
  zephyr/test/pdc/testcase.yaml
Labels: none

zephyr: test: Add rollback info for ET171 SOC
  zephyr/test/hwtest/src/rollback.c
Labels: none

cbi-util: Adds a new --ufsc_hex argument
  docs/zephyr/zephyr_ufsc.md
  util/cbi-util.cc
Labels: none

fpmcu: et171: Keep global PMP entries unlocked
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

fpmcu: et171: Enable null pointer detection using PMP
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

fpmcu: et171: Enable hardware stack protection
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/shim/core/CMakeLists.txt
  zephyr/shim/core/riscv/CMakeLists.txt
  zephyr/shim/core/riscv/mpu.c
Labels: none

fpmcu: et171: Define and protect rollback memory region
  zephyr/program/fpmcu/et171/common.dtsi
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

zephyr: test: Add test to validate RISC-V PMP entries
  test/run_device_tests.py
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/pmp_entries.c
Labels: none

ap_pwrseq: Fix SLEEP_MASK_AP_RUN cleared before SLP_S0 assert.
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_sm_handler.c
Labels: none

test: Relink usb_pe_drp_old_noextended.c
  test/build.mk
  test/usb_pe_drp_old_noextended.c
  test/usb_pe_drp_old_noextended.mocklist
Labels: none

padme: modify the control logic of the USM
  zephyr/program/skywalker/padme/project.overlay
  zephyr/program/skywalker/padme/src/board.c
Labels: none

zephyr: add firmware binary load offset config
  zephyr/app/ec/Kconfig
  zephyr/shim/include/config_chip.h
Labels: none

pujjolo: Add gpio config to fix power leakage
  zephyr/program/trulo/pujjolo/gpio.dtsi
  zephyr/program/trulo/pujjolo/i2c.dtsi
Labels: none

ocicat: Update gpio_amp_mute_odl behavior
  zephyr/program/ocelot/ocicat/generated.dtsi
Labels: none

Revert "fpmcu: et171: Define and protect rollback memory region"
  zephyr/program/fpmcu/et171/common.dtsi
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

zmake: Add support for zephyrproject in compare
  zephyr/zmake/zmake/compare_builds.py
Labels: none

zmake: Add support for renamed modules
  zephyr/zmake/zmake/modules.py
Labels: none

Update diff_upstream.sh with new repos
  util/diff_upstream.sh
Labels: none

fwk: Add 100W adapter vid/pid to turn off the retimer power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

host_command_task: Hide "HC pending" prints when HCDEBUG_OFF
  common/host_command_task.c
Labels: common

ocicat: Make EC ISH interrupt pin an output
  zephyr/program/ocelot/ocicat/generated.dtsi
Labels: none

fwk: Use the config to distinguish the item in EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

fwk: Add EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

felwinter: Decrease max motion sensor rate to 100Hz
  board/felwinter/board.h
Labels: none

battery: Move charge_problem call out of update_static_battery_info
  common/battery_info.c
  common/charge_state.c
Labels: common

power/qcom_exp: Add fetch power on reason API for qcom_exp driver
  include/power/qcom.h
  power/qcom_exp.c
Labels: none

quenbi: Stop fan when powered on by AC insertion
  zephyr/program/bluey/quenbi/src/fan.c
Labels: none

zephyr: fingerprint: add flash address handling
  zephyr/drivers/fingerprint/fingerprint_elan80series.c
  zephyr/drivers/fingerprint/fingerprint_elan80series.h
  zephyr/drivers/fingerprint/fingerprint_elan80series_private.h
Labels: none

common: Decouple charger dependency in battery.c
  common/battery.c
  common/charge_state.c
  test/sbs_charging.c
  zephyr/test/intelrvp/tests/intelrvp/src/dc_jack.c
Labels: common

zephyr: shim: Define CONFIG_FINGERPRINT_MCU via fingerprint board config
  zephyr/shim/include/config_chip.h
Labels: none

Remove System Safe Mode
  baseboard/grunt/baseboard.h
  common/build.mk
  common/ec_features.c
  common/host_command.c
  common/host_command_task.c
  common/system_safe_mode.c
  core/cortex-m/panic.c
  core/nds32/panic.c
  include/config.h
  include/panic_defs.h
  include/system_safe_mode.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.system
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/CMakeLists.txt
  zephyr/shim/src/panic.c
  zephyr/shim/src/system_safe_mode.c
  zephyr/test/system_safe_mode/CMakeLists.txt
  zephyr/test/system_safe_mode/boards/native_sim.overlay
  zephyr/test/system_safe_mode/prj.conf
  zephyr/test/system_safe_mode/src/system_safe_mode.c
  zephyr/test/system_safe_mode/src/system_safe_mode_disabled.c
  zephyr/test/system_safe_mode/testcase.yaml
Labels: common, baseboard

drivers: fingerprint: Fix deprecated SPI_DT_SPEC_INST_GET usage
  zephyr/drivers/fingerprint/fingerprint_egis630.c
  zephyr/drivers/fingerprint/fingerprint_elan80series.c
  zephyr/drivers/fingerprint/fingerprint_fpc1025.c
  zephyr/drivers/fingerprint/fingerprint_fpc1145.c
Labels: none

Remove check_line_directives.py
  PRESUBMIT.cfg
  util/check_line_directives.py
Labels: repo

padme: Modify gpiod 7 settings
  zephyr/program/skywalker/padme/project.overlay
Labels: none

watchdog: Run watchdog_reload at HOOK_PRIO_LAST
  zephyr/shim/src/watchdog.c
Labels: none

ocicat-ish: Add ISH target for ocicat
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/ocicat-ish/CMakeLists.txt
  zephyr/program/ocelot/ocicat-ish/gpio.dtsi
  zephyr/program/ocelot/ocicat-ish/i2c.dtsi
  zephyr/program/ocelot/ocicat-ish/interrupts.dtsi
  zephyr/program/ocelot/ocicat-ish/ish.dtsi
  zephyr/program/ocelot/ocicat-ish/motionsense.conf
  zephyr/program/ocelot/ocicat-ish/motionsense.dtsi
  zephyr/program/ocelot/ocicat-ish/prj.conf
  zephyr/program/ocelot/ocicat-ish/project.overlay
Labels: none

skywalker: Add initial code for vader
  zephyr/program/skywalker/BUILD.py
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/Kconfig
  zephyr/program/skywalker/vader/CMakeLists.txt
  zephyr/program/skywalker/vader/cbi.dtsi
  zephyr/program/skywalker/vader/include/keyboard_customization.h
  zephyr/program/skywalker/vader/led_pins.dtsi
  zephyr/program/skywalker/vader/led_policy.dtsi
  zephyr/program/skywalker/vader/motionsense.dtsi
  zephyr/program/skywalker/vader/project.conf
  zephyr/program/skywalker/vader/project.overlay
  zephyr/program/skywalker/vader/src/sensor.c
  zephyr/program/skywalker/vader/src/touch_pad.c
  zephyr/program/skywalker/vader/src/usbc_runtime.c
  zephyr/program/skywalker/vader/vader_vif.xml
Labels: none

cme: Correct redriver chips vendor
  zephyr/scripts/cme_additional_id.py
Labels: none

cme: add more PDC and redriver chips
  zephyr/scripts/cme_additional_id.py
  zephyr/scripts/cme_chip_id.py
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
