Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: lilac: modify thermal table 0717
  zephyr/program/framework/azalea/fan.dtsi
  zephyr/program/framework/azalea/overlay.dtsi
Labels: none

fwk: lilac: modify power down sequence
  zephyr/program/framework/azalea/src/power_sequence.c
Labels: none

fwk: add chipset_in_low_power_mode
  driver/sb_rmi.c
  driver/temp_sensor/sb_tsi.c
  include/chipset.h
  power/common.c
Labels: none

jubilant: set battery type read retry limit
  zephyr/program/brox/jubilant/project.conf
Labels: none

brox: Add brox_vif.xml
  zephyr/program/brox/brox/brox_vif.xml
Labels: none

rauru: update vif
  zephyr/program/rauru/rauru/rauru_vif.xml
Labels: none

safe_mode: reload watchdog in safe mode
  common/system_safe_mode.c
  include/system_safe_mode.h
  zephyr/test/system_safe_mode/src/system_safe_mode.c
Labels: common

nami: Remove host command logging
  board/nami/board.h
Labels: none

fwk: sunflower: Turn off capsled when keyboard disabled
  zephyr/program/framework/include/sunflower/keyboard_customization.h
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk/sunflower: Bump to v0.05
  .github/workflows/zephyr-build.yml
Labels: workflow

cmake: toolchain: llvm: Provide LLVM_TOOLCHAIN_PATH
  zephyr/cmake/toolchain/llvm/target.cmake
Labels: none

firmware_builder: Refactor arg parsing
  firmware_builder.py
  zephyr/scripts/firmware_builder_lib.py
Labels: repo

zephyr/firmware_builder: Use helper library for parsing arguments
  zephyr/firmware_builder.py
Labels: none

util/renode/firmware_builder: Use helper lib to parse arguments
  util/renode/firmware_builder.py
  util/renode/firmware_builder_lib.py
Labels: none

lotso: Add lotso_vif.xml
  zephyr/program/brox/lotso/lotso_vif.xml
Labels: none

zephyr: Add the missing space
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_host_sleep.c
Labels: none

bujia: Remove powerindebug
  board/bujia/board.h
Labels: none

navi: Add 2nd motionsense sensor devicetree
  zephyr/program/rauru/navi/CMakeLists.txt
  zephyr/program/rauru/navi/project.overlay
  zephyr/program/rauru/navi/src/touch.c
Labels: none

krabby: improve usbc performance
  zephyr/program/corsola/program.conf
  zephyr/program/corsola/src/ite_usbc.c
  zephyr/program/corsola/src/usb_pd_policy.c
  zephyr/test/kingler/src/corsola_usb_pd_policy.c
Labels: none

test: Remove "verify" from testcase names
  zephyr/test/drivers/default/src/integration/usbc/usb_5v_3a_pd_sink.c
  zephyr/test/drivers/default/src/integration/usbc/usb_attach_src_snk.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_bist_shared.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_ctrl_msg.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
  zephyr/test/drivers/host_command_memory_dump/src/host_command_memory_dump.c
  zephyr/test/drivers/power_host_sleep/src/test_power_host_sleep.c
  zephyr/test/drivers/usb_retimer_fw_update/src/usb_retimer_fw_update.c
  zephyr/test/drivers/usbc_alt_mode/src/usbc_alt_mode__require_ap_mode_entry.c
  zephyr/test/drivers/usbc_alt_mode/src/usbc_alt_mode_ec_mode_entry.c
  zephyr/test/drivers/usbc_ctvpd/src/main.c
  zephyr/test/drivers/usbc_dp_mode/src/usbc_dp_mode.c
  zephyr/test/drivers/usbc_svdm_dfp_only/src/usbc_svdm_dfp_only.c
  zephyr/test/drivers/usbc_tbt_mode/src/usbc_tbt_mode.c
  zephyr/test/drivers/usbc_usb4_mode/src/usbc_usb4_mode.c
Labels: none

test: usb_pd_rev3: Init partner RMDO in _before
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
Labels: none

test: usb_pd_rev3: Break up assertions
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
Labels: none

test: usb_pd_rev3: Clear message log before tests
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
Labels: none

TCPMv2: Send 7-byte Status unconditionally
  common/usbc/usb_pd_dpm.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
Labels: common

Reland "zmake: Force load coreboot-sdk"
  util/coreboot_sdk.py
  zephyr/zmake/zmake/__main__.py
Labels: none

Glasswya: Add CBI FW config for DB "1C+LTE".
  zephyr/program/nissa/glassway/cbi.dtsi
  zephyr/program/nissa/glassway/src/sub_board.c
  zephyr/program/nissa/include/glassway_sub_board.h
  zephyr/test/nissa/src/glassway.c
Labels: none

TCPMv2: NAK to unimplemented SVDM cmds
  common/usbc/usb_pe_drp_sm.c
  test/usb_tcpmv2_td_pd_vndi3_e3.c
Labels: common

starmie: use default pd max voltage, max current, and max power
  zephyr/program/corsola/starmie/project.conf
Labels: none

navi: Add chargeoverride control by temps sensor
  zephyr/program/rauru/navi/CMakeLists.txt
  zephyr/program/rauru/navi/project.conf
  zephyr/program/rauru/navi/project.overlay
  zephyr/program/rauru/navi/src/power_config.c
Labels: none

TCPMv2: svdm_rdp_dfp_only: ACK discover ID in PD2.0 mode
  common/usbc/svdm_rsp_dfp_only.c
  zephyr/test/drivers/usbc_svdm_dfp_only/src/usbc_svdm_dfp_only.c
Labels: common

zephyr: tests: disable nissa.teliks
  zephyr/test/nissa/testcase.yaml
Labels: none

trulo: Create trulo-ti project for TI PDC SKUs
  zephyr/program/trulo/BUILD.py
  zephyr/program/trulo/trulo-ti/CMakeLists.txt
  zephyr/program/trulo/trulo-ti/project.conf
  zephyr/program/trulo/trulo-ti/project.overlay
  zephyr/program/trulo/trulo/usb_typec.dtsi
Labels: none

pdc: ti: Add parameter checks to pdc_set_pdos()
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: rtk: Support setting more than one PDO
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/include/drivers/pdc.h
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

pdc: Set complete set of sink PDOs
  zephyr/program/brox/brox/brox_vif.xml
  zephyr/program/brox/lotso/lotso_vif.xml
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

zephyr/test: Fix compilation of multistep tests
  zephyr/test/hwtest/include/multistep_test.h
Labels: none

test/run_device_tests: Skip failing Zephyr tests on Renode
  test/run_device_tests.py
Labels: none

zmake: Modify search path for util directory
  zephyr/zmake/zmake/__main__.py
Labels: none

pdc_power_mgmt: Add SET_DRP_MODE to connectionless commands
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

Add a default case to the switch statement in kb800x.c.
  driver/retimer/kb800x.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
