Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

battery: Consider BP_NOT_SURE in non-zephyr
  common/keyboard_scan.c
  common/usbc/usb_pe_drp_sm.c
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
  driver/charger/bq25710.c
  driver/charger/rt9478.c
Labels: common

battery: Consider BP_NOT_SURE in zephyr
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/drivers/default/src/integration/usbc/usb_5v_3a_pd_source.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
Labels: none

fpsensor: Add support for ASCP certificate replacing
  zephyr/subsys/ascp/CMakeLists.txt
  zephyr/subsys/ascp/Kconfig
  zephyr/subsys/ascp/mem_map.c
Labels: none

ap_pwrseq: Replace slist callbacks with iterable section macros
  zephyr/drivers/board_id/board_id_intel_rvp.c
  zephyr/drivers/cse_early_rec/cse_early_rec.c
  zephyr/drivers/imvp/rt3645.c
  zephyr/include/ap_power/ap_pwrseq.h
  zephyr/linker/iterables-rom.ld
  zephyr/program/fatcat/francka/src/board_power.c
  zephyr/program/fatcat/ruby/src/board_power.c
  zephyr/program/intelrvp/ptlrvp/src/board_id.c
  zephyr/program/nissa/src/board_power.c
  zephyr/program/trulo/src/board_power.c
  zephyr/subsys/ap_pwrseq/ap_pwrseq.c
  zephyr/subsys/ap_pwrseq/x86_non_dsx_chipset_power_state.c
Labels: none

fpsensor: Add production certificate for Egis et171
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/program/fpmcu/et171/s_goog_match.bin
  zephyr/program/fpmcu/et171/s_goog_replace.bin
Labels: none

domika, yavilla: set CONFIG_SOC_IT8XXX2_KERNEL_IN_RAM=n
  zephyr/program/nissa/domika/project.conf
  zephyr/program/nissa/yavilla/project.conf
Labels: none

bluey: Use extpower_is_present for PMIC AC passthru
  zephyr/program/bluey/src/chipset.c
Labels: none

RTS5915: fix CbiTest failure of AVS test
  zephyr/drivers/cros_flash/cros_flash_rtk.c
Labels: none

zephyr: cse_early_rec: Update net name, comments, and log message
  zephyr/drivers/cse_early_rec/cse_early_rec.c
  zephyr/dts/bindings/cse_early_rec/cros-ec,cse-early-rec.yaml
Labels: none

bluey: Move ADSP EC comms to a dedicated file
  zephyr/program/bluey/src/chipset.c
  zephyr/subsys/adsp_comms/CMakeLists.txt
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

zephyr: console: start shell task
  zephyr/Kconfig.console
  zephyr/shim/src/console.c
  zephyr/test/console/testcase.yaml
Labels: none

zephyr: fpmcu: enable starting the shell early
  zephyr/program/fpmcu/em32f967/prj.conf
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/program/fpmcu/ft9001/prj.conf
Labels: none

fwk: sakura: Bump to v3.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

ruby: Modify gpio pin for ruby
  zephyr/program/fatcat/ruby/gpios.dtsi
Labels: none

moonstone: Add support CA-FR keyboard
  zephyr/program/fatcat/moonstone/src/keyboard_customization.c
Labels: none

sapphire: Enable PLATFORM_EC_TABLET_MODE_SKIP_LID_CLOSE
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

fpsensor: add BTN_IGN handling in FPMCU
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_btn_ign_out.cc
  include/fpsensor/fpsensor_btn_ign_out.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.btn_ign
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/boards/native_sim.overlay
  zephyr/test/fingerprint/task/btn_ign.dtsi
  zephyr/test/fingerprint/task/src/fpsensor_btn_ign_out.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: common

boot_keys: Move conditions into timeout handler
  zephyr/drivers/boot_keys/boot_keys.c
Labels: none

bluey: Add ADSP OEM custom magic register support
  zephyr/include/adsp_comms.h
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

bluey: Add ADSP OEM custom version register support
  zephyr/include/adsp_comms.h
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

fwk: sunflower: create laptop12 folder for files shared by all 12" laptops
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/laptop12/adc.dtsi
  zephyr/program/framework/laptop12/battery.dtsi
  zephyr/program/framework/laptop12/fan.dtsi
  zephyr/program/framework/laptop12/keyboard.dtsi
  zephyr/program/framework/laptop12/led_pins.dtsi
  zephyr/program/framework/laptop12/motionsense.dtsi
  zephyr/program/framework/laptop12/overlay.dtsi
  zephyr/program/framework/laptop12/src/battery_present.c
  zephyr/program/framework/laptop12/src/board_tablet_mode.c
  zephyr/program/framework/laptop12/src/motionsense.c
  zephyr/program/framework/laptop12/src/temperature.c
  zephyr/program/framework/laptop12/src/touchpad.c
  zephyr/program/framework/sunflower/project.overlay
Labels: none

battery: Adjust battery specifications
  zephyr/dts/bindings/battery/utl,hq24u3s1p3i.yaml
Labels: none

fwk: dahlia: Adjust the peripheral enable pin sequence
  zephyr/program/framework/dahlia/src/power_sequence.c
Labels: none

fwk: dahlia: Bump to v0.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dahlia: change PD chip from CCG6 to CCG8
  zephyr/program/framework/dahlia/project.conf
  zephyr/program/framework/dahlia/src/usbc.c
Labels: none

fwk: dahlia: Add fingerprint module power control
  zephyr/program/framework/dahlia/project.overlay
  zephyr/program/framework/dahlia/src/power_sequence.c
Labels: none

fwk: dahlia: Initial Zephyr EC image
  .github/workflows/zephyr-build.yml
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/dahlia/gpio.dtsi
  zephyr/program/framework/dahlia/i2c.dtsi
  zephyr/program/framework/dahlia/interrupts.dtsi
  zephyr/program/framework/dahlia/ioex.dtsi
  zephyr/program/framework/dahlia/led_policy.dtsi
  zephyr/program/framework/dahlia/power_signal.dtsi
  zephyr/program/framework/dahlia/project.conf
  zephyr/program/framework/dahlia/project.overlay
  zephyr/program/framework/dahlia/src/charger.c
  zephyr/program/framework/dahlia/src/cpu_power.c
  zephyr/program/framework/dahlia/src/keyboard_customization.c
  zephyr/program/framework/dahlia/src/power_sequence.c
  zephyr/program/framework/dahlia/src/project_diagnostics.c
  zephyr/program/framework/dahlia/src/thermal.c
  zephyr/program/framework/dahlia/src/usbc.c
Labels: workflow

fwk: dahlia: Force tp_en pin update after power state transitions
  zephyr/program/framework/dahlia/src/power_sequence.c
Labels: none

fwk: dahlia: remove the peci0 node
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/dahlia/project.overlay
Labels: none

fwk: dahlia: modified the power limit
  zephyr/program/framework/dahlia/src/cpu_power.c
Labels: none

fwk: dahlia: enable CONFIG_ESPI_NPCX_VWIRE_ENABLE_SEND_CHECK
  zephyr/program/framework/dahlia/project.conf
Labels: none

fwk: dahlia: Fix GPIO wlan_en sequence follow pch_pwr_en
  zephyr/program/framework/dahlia/src/power_sequence.c
Labels: none

fwk: dahlia: modified the GPIO configuration and power sequence
  zephyr/dts/bindings/cros_pwr_signal/intel,fwk-wildcat-lake-u-power-signal-list.yaml
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/program/framework/dahlia/power_signal.dtsi
  zephyr/program/framework/dahlia/project.overlay
  zephyr/program/framework/dahlia/src/power_sequence.c
Labels: none

nissa: Remove smart discharge config
  zephyr/program/nissa/anraggar/project.conf
  zephyr/program/nissa/pujjogatwin/project.conf
  zephyr/program/nissa/pujjoniru/project.conf
  zephyr/program/nissa/rull/project.conf
  zephyr/program/nissa/sundance/project.conf
  zephyr/program/nissa/teliks/project.conf
  zephyr/program/nissa/telith/project.conf
Labels: none

system: enforce lock state restrictions on RW sysjump
  common/system.c
  zephyr/test/rwsig/src/rwsig.c
Labels: common

rwsig: strictly verify status prior to image jump
  common/system.c
  zephyr/test/rwsig/src/rwsig.c
Labels: common

flash: improve synchronization with background RWSIG task
  common/flash.c
  zephyr/test/rwsig/src/rwsig.c
Labels: common

fpsensor: enable BTN_IGN handling in Niedzica
  zephyr/program/fpmcu/em32f967/btn_ign.dtsi
  zephyr/program/fpmcu/em32f967/gpio.dtsi
  zephyr/program/fpmcu/em32f967/niedzica.dts
Labels: none

fpsensor: enable BTN_IGN handling in Chobienia and Chudow
  zephyr/program/fpmcu/ft9001/btn_ign.dtsi
  zephyr/program/fpmcu/ft9001/common.dtsi
  zephyr/program/fpmcu/ft9001/gpio.dtsi
Labels: none

fpsensor: enable BTN_IGN handling in Sanok
  zephyr/program/fpmcu/et171/btn_ign.dtsi
  zephyr/program/fpmcu/et171/sanok.dts
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
