Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

keyboard: Allow vol-up to be customized
  include/keyboard_config.h
  zephyr/Kconfig.keyboard
  zephyr/shim/include/config_chip.h
Labels: none

Navi: Customize vol-up key position
  zephyr/program/rauru/navi/project.conf
Labels: none

Xol: Customize vol-up key position
  board/xol/board.h
Labels: none

corsola: Add TCPC1 gpio config in board_reset_pd_mcu
  zephyr/program/corsola/src/npcx_usbc.c
Labels: none

usb_pd: reduce unnecessary console output
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
Labels: common

toolchain/llvm: Provide TOOLCHAIN_HOME variable
  zephyr/cmake/toolchain/llvm/target.cmake
Labels: none

jubilant: config ec fan control
  zephyr/program/brox/CMakeLists.txt
  zephyr/program/brox/jubilant/fan.dtsi
  zephyr/program/brox/jubilant/project.conf
  zephyr/program/brox/jubilant/project.overlay
  zephyr/program/brox/jubilant/src/thermal.c
  zephyr/program/brox/jubilant/temp_sensors.dtsi
  zephyr/test/brox/Kconfig
  zephyr/test/brox/boards/jubilant/fan.dtsi
  zephyr/test/brox/boards/jubilant/keyboard.dtsi
  zephyr/test/brox/testcase.yaml
  zephyr/test/brox/tests/jubilant/CMakeLists.txt
  zephyr/test/brox/tests/jubilant/src/fan.c
Labels: none

Revert "Craask: workaround for EC sometimes cannot read battery param"
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/craask/src/battery.c
  zephyr/program/nissa/craask/src/charger.c
  zephyr/program/nissa/craask/src/touch_panel.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/include/craask.h
  zephyr/test/nissa/src/craask.c
Labels: none

Craask: set battery type read retry limit
  zephyr/program/nissa/craask/project.conf
Labels: none

pdc: ti: Implement SET_RDO API
  include/usb_pd.h
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_reg.h
Labels: none

lid_angle: Remove unused function
  common/lid_angle.c
Labels: common

emul_tps6699x: Add emulator support for get info
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

pdc_api: Skip test if get_lpm_ppm_info not supported
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

emul_tps6699x: Add emulator support for get_pdo
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

emul_tps6699x: Add emulator support for get cable property
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

pdc_api: Enable remaining tests for TI
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/emul/emul_tps6699x.c
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

it8801: Enable preserving GPIO state during configuration
  driver/ioexpander/it8801.c
Labels: none

it83xx: Fix typo
  chip/it83xx/pwm.c
Labels: none

wugtrio: Modify motionsense range to 4
  zephyr/program/corsola/wugtrio/project.overlay
Labels: none

magolor: set battery type read retry limit
  board/magolor/board.h
Labels: none

subsys: usb_dc: check usb state before submitting the report
  zephyr/subsys/usb_dc/usb_hid_kb.c
  zephyr/subsys/usb_dc/usb_hid_tp.c
Labels: none

sundance: Remove unused i2c port
  zephyr/program/nissa/sundance/gpio.dtsi
  zephyr/program/nissa/sundance/overlay.dtsi
Labels: none

EC/ISH: Add environment variable to find protoc
  util/twister_launcher.py
  zephyr/zmake/zmake/zmake.py
Labels: none

EC/ISH: perform Pigweed one-time setup
  zephyr/CMakeLists.txt
Labels: none

EC/ISH: Add NAMED_I2C_PORT_COUNT
  zephyr/shim/include/i2c/i2c.h
Labels: none

awasuki: enable als eeprom i2c
  baseboard/dedede/variant_ec_it8320.c
  board/awasuki/board.h
Labels: baseboard

awasuki: Add als detection disassembly function
  board/awasuki/board.c
  board/awasuki/board.h
  board/awasuki/board_als.c
  board/awasuki/build.mk
  board/awasuki/gpio.inc
Labels: none

pdc_power_mgmt: Enable is_connected test for TI
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_power_mgmt: Enable passing tests
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_power_mgmt: Consolidate emulated PDC PDO functions
  zephyr/emul/CMakeLists.txt
  zephyr/emul/emul_pdc_pdo.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_pdc_pdo.h
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

tps6699x: Add get bus info test
  zephyr/test/pdc/src/tps6699x/tps6699x.c
Labels: none

emul_tps6699x: Return UCSI v2 cable property size
  zephyr/emul/emul_tps6699x.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_power_mgmt: enable get identity discovery
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

jubilant: remove motionsense devicetree
  zephyr/program/brox/jubilant/project.overlay
Labels: none

brox: Set Lid Accelerometer range to 4g
  zephyr/program/brox/motionsense.dtsi
Labels: none

battery: Trigger cutoff if only if refresh is pressed
  common/battery.c
Labels: common

boot_keys: do not latch the boot key value
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/test/boot_keys/src/main.c
Labels: none

driver/fingerprint: Create Egis folder and blank build file
  driver/fingerprint/egis/build.mk
Labels: none

pdc_power_mgmt: Debounce power state hooks
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

spikyrock: Enable LCVCO
  zephyr/program/roach/spikyrock/project.conf
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
