Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

quenbi: Fix incorrect FAN tachometer device tree entry
  zephyr/program/bluey/quenbi/fan.dtsi
Labels: none

kaladin: allow runtime disable DSP service
  zephyr/program/trulo/kaladin/i2c.dtsi
Labels: none

Lapis: Enable ULPM for EC hibernate
  zephyr/program/fatcat/lapis/gpios.dtsi
  zephyr/program/fatcat/lapis/hibernate.dtsi
  zephyr/program/fatcat/lapis/project.overlay
  zephyr/program/fatcat/lapis/rtk_ulpm.dtsi
Labels: none

kaladin: Enable CONFIG_USBC_PDC_RTS54XX_CONSOLE_FW_UPDATER
  zephyr/program/trulo/kaladin/project.conf
Labels: none

kaladin: support low ADP blink behavior
  zephyr/program/trulo/kaladin/src/led.c
Labels: none

tarkin: Limit input power
  zephyr/program/skywalker/tarkin/project.conf
Labels: none

bluey: Fix incorrect FAN tachometer device tree entry
  zephyr/program/bluey/bluey/fan.dtsi
Labels: none

quartz: Fix incorrect FAN tachometer device tree entry
  zephyr/program/bluey/quartz/fan.dtsi
Labels: none

matsu-ish: Add ISH target for matsu
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/matsu-ish/CMakeLists.txt
  zephyr/program/ocelot/matsu-ish/i2c.dtsi
  zephyr/program/ocelot/matsu-ish/interrupts.dtsi
  zephyr/program/ocelot/matsu-ish/ish.dtsi
  zephyr/program/ocelot/matsu-ish/matsu-ish/gpio.dtsi
  zephyr/program/ocelot/matsu-ish/matsu-ish/project.overlay
  zephyr/program/ocelot/matsu-ish/motionsense.conf
  zephyr/program/ocelot/matsu-ish/prj.conf
Labels: none

matsu-ish: Update GPIO and sensor configs
  zephyr/program/ocelot/matsu-ish/interrupts.dtsi
  zephyr/program/ocelot/matsu-ish/matsu-ish/gpio.dtsi
  zephyr/program/ocelot/matsu-ish/matsu-ish/project.overlay
  zephyr/program/ocelot/matsu-ish/motionsense.conf
  zephyr/program/ocelot/matsu-ish/motionsense.dtsi
Labels: none

fwk: 16-inch: add GPU_PWR_LEVEL control
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: input_module: rename to input_module_13
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/input_module_13.h
  zephyr/program/framework/sakura/src/power_sequence.c
  zephyr/program/framework/src/input_module_13.c
Labels: none

fwk: 16-inch: set power slide mode default as balance mode
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: tulip: bump to v3.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Change GN22 gpio2 EEPROM pin config to output
  zephyr/program/framework/include/lotus/gpu_configuration.h
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: 16-inch: add GPU_PWR_LEVEL control
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

power/mt8189: handle double wdt signal
  power/mt8186.c
  zephyr/Kconfig.powerseq
  zephyr/test/mtk_power/src/main.c
  zephyr/test/mtk_power/testcase.yaml
Labels: none

bluey/quartz: Fix GPIO Assert
  zephyr/program/bluey/bluey/gpios.dtsi
  zephyr/program/bluey/quartz/gpios.dtsi
Labels: none

Kaladin : Add new KB region in KB type
  zephyr/program/trulo/kaladin/cbi.dtsi
Labels: none

dp_alt_mode: Don't send Config until UFP connected
  common/usbc/dp_alt_mode.c
  include/usb_pd.h
  zephyr/test/drivers/usbc_dp_mode/src/usbc_dp_mode_svdm_ver_21.c
Labels: common

common: Deprecate unused battery v1 module
  common/battery_v1.c
  common/build.mk
  include/config.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.battery
  zephyr/shim/include/config_chip.h
Labels: common

charger: Define minimum voltage required property
  common/charge_manager.c
  common/charger.c
  include/charger.h
  zephyr/Kconfig.charger
  zephyr/dts/bindings/charger/hpb-charger.yaml
  zephyr/dts/bindings/charger/intersil,isl95522.yaml
  zephyr/shim/include/charger/chg_isl95522.h
Labels: common

kaladin: Define minimum-voltage-required property
  zephyr/program/trulo/kaladin/usb_typec.dtsi
Labels: none

ectool: Update charge state command to fetch min-required-voltage
  board/host/charger.c
  common/charge_state.c
  include/ec_commands.h
  test/sbs_charging.c
  test/test_config.h
  util/ectool.cc
Labels: common

ectool: Add IS_ADAPTER_SUFFICIENT enum to chargestate command
  common/charge_manager.c
  common/charge_state.c
  include/ec_commands.h
  test/sbs_charging.c
  util/ectool.cc
Labels: common

charge_state: Add test for is_adapter_sufficient
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_isl95522.c
  zephyr/test/charger/Kconfig
  zephyr/test/charger/boards/isl95522.overlay
  zephyr/test/charger/boards/native_sim.overlay
  zephyr/test/charger/charge/CMakeLists.txt
  zephyr/test/charger/charge/src/charge_state.c
  zephyr/test/charger/testcase.yaml
Labels: none

charge_state: Add INSUFFICIENT_ADAPTER led enum
  common/charge_state.c
  include/charge_state.h
  zephyr/test/charger/charge/src/charge_state.c
  zephyr/test/charger/testcase.yaml
Labels: common

charge_state: Add test for get_minimum_charging_mv
  zephyr/test/charger/charge/src/charge_state.c
Labels: none

fatcat: Support for specifying the nuvoton EC chips
  zephyr/program/fatcat/BUILD.py
Labels: none

zephyr/shim/tasks: Guard k_current_get() with k_is_pre_kernel()
  zephyr/shim/src/tasks.c
  zephyr/test/tasks/main.c
Labels: none

util/update_release_branch.py: Fix incorrect fpmcu directory path
  util/update_release_branch.py
Labels: none

pujjocento: Modify charge IDPM via batt_pres_interrupt
  zephyr/program/trulo/pujjocento/gpio.dtsi
  zephyr/program/trulo/pujjocento/src/charger.c
Labels: none

lapis: Remove gpio_soc_wake_odl's GPIO_ACTIVE_LOW flag
  zephyr/program/fatcat/lapis/gpios.dtsi
Labels: none

lapis: Modify LED charge idle policy
  zephyr/program/fatcat/lapis/led_policy.dtsi
Labels: none

navi: Update VIF to spec version 3.36
  zephyr/program/rauru/navi/navi_vif.xml
Labels: none

bluey: Decouple 5V rail control from the fan driver for quenbi project
  zephyr/program/bluey/bluey/gpios.dtsi
  zephyr/program/bluey/program.conf
  zephyr/program/bluey/quartz/gpios.dtsi
  zephyr/program/bluey/quenbi/fan.dtsi
  zephyr/program/bluey/quenbi/gpios.dtsi
  zephyr/program/bluey/src/chipset.c
Labels: none

ponyta360: add new temp sensor
  zephyr/program/corsola/ponyta/temps.dtsi
Labels: none

Baze: Add thermal table and type-C current limiting
  zephyr/program/skywalker/baze/CMakeLists.txt
  zephyr/program/skywalker/baze/project.overlay
  zephyr/program/skywalker/baze/src/thermal.c
Labels: none

anakin: Add anakin_vif.xml
  anakin_vif.xml
Labels: repo

lapis: Modify keyboard config
  zephyr/program/fatcat/lapis/include/keyboard_customization.h
  zephyr/program/fatcat/lapis/keyboard.dtsi
  zephyr/program/fatcat/lapis/src/keyboard_customization.c
Labels: none
