Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

Kaladin: Set system locked enable
  zephyr/program/trulo/kaladin/project.conf
Labels: none

mt8186: Modify power enough check
  power/mt8186.c
Labels: none

quartz: Add LED 5v power rail control
  zephyr/program/bluey/quartz/src/chipset.c
Labels: none

quartz: Configure the UART peripheral
  zephyr/program/bluey/quartz/project.conf
  zephyr/program/bluey/quartz/project.overlay
Labels: none

keyboard_scan: Force poll if scanning status changes
  common/keyboard_scan.c
Labels: common

Pujjoga: Defer pd_send_host_event() to reduce timing delay
  zephyr/program/nissa/pujjoga/src/usbc.c
  zephyr/test/nissa/src/pujjoga.c
Labels: none

fwk: dogwood: implement mini-pc fan configuration feature
  zephyr/program/framework/include/board_host_command.h
Labels: none

fwk: fix power on AC attach requiring OS boot to take effect
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: dogwood: create a hc and console command to force on the PSU in standby mode
  zephyr/program/framework/include/board_host_command.h
Labels: none

fwk: dogwood: allow the user to select every sensor to be a sensor source
  zephyr/program/framework/include/board_host_command.h
Labels: none

sapphire: Disable charger IDPM when AC only
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/board_config.c
Labels: none

util/flash_fp_mcu: Stop and start services based on OS
  util/flash_fp_mcu
Labels: none

util/flash_fp_mcu: Add another path to look for shflags
  util/flash_fp_mcu
Labels: none

zephyr: fingerprint: rename driver to elan80series
  zephyr/drivers/fingerprint/CMakeLists.txt
  zephyr/drivers/fingerprint/Kconfig
  zephyr/drivers/fingerprint/Kconfig.elan
  zephyr/drivers/fingerprint/fingerprint_elan80series.c
  zephyr/drivers/fingerprint/fingerprint_elan80series.h
  zephyr/drivers/fingerprint/fingerprint_elan80series_config.h
  zephyr/drivers/fingerprint/fingerprint_elan80series_pal.c
  zephyr/drivers/fingerprint/fingerprint_elan80series_pal.h
  zephyr/drivers/fingerprint/fingerprint_elan80series_private.h
  zephyr/drivers/fingerprint/fingerprint_elan80sg_config.h
Labels: none

zephyr: fingerprint: rename ELAN elan80sg to elan80series algorithm
  zephyr/subsys/fingerprint/alg/CMakeLists.txt
  zephyr/subsys/fingerprint/alg/Kconfig
  zephyr/subsys/fingerprint/alg/elan_elan80series_bio_alg.c
  zephyr/subsys/fingerprint/alg/elan_elan80sg_bio_alg.c
Labels: none

fwk: Use the config to distinguish the item in EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

zephyr: nissa/domika: Slightly improved performance
  zephyr/program/nissa/domika/project.conf
Labels: none

fwk: sakura: update the sensors configuration
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: sakura: update the fan configuration
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: add EC_CMD_LED_PWM_CONTROL to tune led color
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: add ledpwm console command tune side LED color
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: sakura: bump to v0.0.6
  .github/workflows/zephyr-build.yml
Labels: workflow

domika/yavilla: Add battery cosmx,333-ac-0b-a
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/cosmx,333-ac-0b-a.yaml
  zephyr/program/nissa/domika/overlay.dtsi
  zephyr/program/nissa/yavilla/overlay.dtsi
Labels: none

tcpci: Enable BIST Test Mode ASAP
  driver/tcpm/raa489000.c
  driver/tcpm/tcpci.c
Labels: none

led: add pseudo api to led.c to support multiple leds
  zephyr/shim/src/led_driver/led.c
  zephyr/shim/src/led_driver/led.h
  zephyr/shim/src/led_driver/led_gpio.c
  zephyr/shim/src/led_driver/led_pwm.c
Labels: none

moonstone: Enable 5V led power rail controlling.
  zephyr/program/fatcat/moonstone/gpios.dtsi
  zephyr/program/fatcat/moonstone/project.overlay
  zephyr/program/fatcat/moonstone/src/suspend_resume.c
Labels: none

moonstone: Configure the SPI peripheral
  zephyr/program/fatcat/moonstone/keyboard.dtsi
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/fatcat/moonstone/project.overlay
Labels: none

pwm: fix always false condition in pwm_get_bb_sleep_mask()
  chip/mchp/pwm.c
Labels: mchp

@nzkurtz has signed the CLA from Pull Request #74
  vendor/framework/signatures/version1/clamembers.json
Labels: none

Pujjoga: Try to Transition into 0A asap
  common/usbc/usb_pe_drp_sm.c
Labels: common

lapis: Customize the battery_is_present()
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/lapis/src/battery.c
Labels: none

anakin: add a new battery
  zephyr/program/skywalker/anakin/project.overlay
Labels: none

bluey: Enable EFS2 for bluey program
  zephyr/program/bluey/program.conf
Labels: none

navi_vif: Change Snk_PDO_Op_Current value from 3100mA to 3150mA
  zephyr/program/rauru/navi/navi_vif.xml
Labels: none

navi_vif: Disable FRS in VIF
  zephyr/program/rauru/navi/navi_vif.xml
Labels: none

yavilla: Slightly improved performance
  zephyr/program/nissa/yavilla/project.conf
Labels: none

charge_manager: Fix LED power state for insufficient adapter
  common/charge_manager.c
  common/charge_state.c
  include/charge_manager.h
  include/charge_state.h
  test/sbs_charging.c
  zephyr/test/charger/charge/src/charge_state.c
Labels: common

Skip some models in public builder
  zephyr/firmware_builder.py
Labels: none

battery_info: Call hook on battery state of charge change
  common/battery_info.c
Labels: common

bluey: Add battery polling when chipset is off
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/src/battery.c
Labels: none
