Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

mica: modify the thermal sensor match mica
  zephyr/program/bluey/mica/temp_sensors.dtsi
Labels: none

6_50W_customfan
  board/hx20/board.c
  board/hx20/cpu_power.c
  include/ec_commands.h
  util/ectool.c
Labels: hx20

jaina: Increase min power requirement for power-on to 45W
  zephyr/program/skywalker/jaina/project.conf
Labels: none

Remove CONFIG_CMD_CHARGEN, it is never used
  common/build.mk
  docs/reducing_ec_image_size.md
  include/config.h
  zephyr/shim/include/config_chip.h
Labels: common

dev-posix: drop the bmi160 node
  zephyr/program/dev/dev.dtsi
Labels: none

llvm: set TOOLCHAIN_HAS_LIBCXX
  zephyr/cmake/toolchain/llvm/generic.cmake
Labels: none

cmake: toolchain: host/llvm: update the toolchain config
  util/twister_launcher.py
  zephyr/Makefile.cq
  zephyr/cmake/toolchain/host/generic.cmake
  zephyr/cmake/toolchain/host/llvm/Kconfig
  zephyr/cmake/toolchain/host/llvm/Kconfig.defconfig
  zephyr/cmake/toolchain/host/target.cmake
  zephyr/cmake/toolchain/llvm/Kconfig
  zephyr/cmake/toolchain/llvm/generic.cmake
Labels: none

test: run_device_tests: Pass --force-toolchain to twister
  test/run_device_tests.py
Labels: none

Add space after INFO in coreboot-sdk target.cmake messages.
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
Labels: none

keyboard: update the scan period properties
  docs/zephyr/zephyr_keyboard.md
  zephyr/boards/google/it8xxx2/it8xxx2.dtsi
  zephyr/boards/google/npcx9/npcx9.dtsi
Labels: none

bloonchipper: force NUM_IRQS to 97
  zephyr/program/fpmcu/Kconfig
  zephyr/program/fpmcu/bloonchipper/prj.conf
Labels: none

zephyr: drivers/cros_rtc: it8xxx2: Add RTC driver support
  zephyr/drivers/cros_rtc/CMakeLists.txt
  zephyr/drivers/cros_rtc/Kconfig
  zephyr/drivers/cros_rtc/cros_rtc_it8xxx2.c
  zephyr/dts/bindings/cros_rtc/ite,it8xxx2-cros-rtc.yaml
  zephyr/include/cros/ite/it8xxx2.dtsi
Labels: none

yoda: Modify charger controller register for 2 cells battery and 3 cells battery
  zephyr/program/skywalker/yoda/CMakeLists.txt
  zephyr/program/skywalker/yoda/src/charger.c
Labels: none

jaina: Adjust CONFIG_PLATFORM_EC_USB_PD_MAX_POWER_MW to 65W
  zephyr/program/skywalker/jaina/CMakeLists.txt
  zephyr/program/skywalker/jaina/project.conf
  zephyr/program/skywalker/jaina/src/charger.c
Labels: none

jaina: Fix power led control issue
  zephyr/program/skywalker/jaina/src/led.c
Labels: none

Reintroduce cpupower to set PL1, PL2 and PL4 manually, or restore default values Update maximum fan speed
  baseboard/fwk/fan.c
  board/hx20/board.c
  board/hx20/board.h
  board/hx20/cpu_power.c
  board/hx30/board.h
  include/ec_commands.h
  util/ectool.c
Labels: hx20, hx30, baseboard

Dooku: add CONFIG_PLATFORM_EC_KBLIGHT_HOOK_INIT
  zephyr/program/skywalker/dooku/project.conf
Labels: none

Sets fan to auto when setting fanmode
  board/hx20/cpu_power.c
  common/fan.c
  include/fan.h
Labels: hx20, common

Navi: Remove smart discharge config
  zephyr/program/rauru/navi/project.conf
  zephyr/program/rauru/rauru/project.conf
Labels: none

Pujjoga: Remove smart discharge config
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

@Noahdecoco74 has signed the CLA from Pull Request #80
  vendor/framework/signatures/version1/clamembers.json
Labels: none

fpsensor: modify focaltech sensor compat in fp_sensor_detect_get_type
  zephyr/shim/src/fpsensor.c
Labels: none

sapphire: adjust ADC threshold in low power mode for base detection
  zephyr/program/tanjiro/sapphire/src/base_detect.c
Labels: none

test: drivers: update log_output_process api
  zephyr/test/drivers/default/src/logging.c
Labels: none

zephyr: fingerprint: Add support for disabling template update on match
  zephyr/subsys/fingerprint/alg/egis_bep_bio_alg.h
  zephyr/subsys/fingerprint/alg/egis_egis660_bio_alg.c
Labels: none

cme: Fix write_data in component manifest v2
  zephyr/scripts/cme.py
Labels: none

Update prompts
  util/uart_stress_tester.py
Labels: none

atria: Add RVP ISH target
  zephyr/program/atria/BUILD.py
  zephyr/program/atria/CMakeLists.txt
  zephyr/program/atria/atriarvp-ish/CMakeLists.txt
  zephyr/program/atria/atriarvp-ish/gpio.dtsi
  zephyr/program/atria/atriarvp-ish/i2c.dtsi
  zephyr/program/atria/atriarvp-ish/project.conf
  zephyr/program/atria/atriarvp-ish/project.overlay
Labels: none

program: drop dev-posix
  zephyr/firmware_builder.py
  zephyr/program/dev/BUILD.py
  zephyr/program/dev/CMakeLists.txt
  zephyr/program/dev/README.md
  zephyr/program/dev/dev.dtsi
  zephyr/program/dev/prj.conf
  zephyr/program/dev/src/stubs.c
Labels: none

atria: Enable dedicated charge port for rvp
  zephyr/program/atria/CMakeLists.txt
  zephyr/program/atria/atriarvp-rtk/gpio.dtsi
  zephyr/program/atria/atriarvp-rtk/project.conf
Labels: none

atriarvp-rtk: Enable Power Button and Lid Interrupts
  zephyr/program/atria/atriarvp-rtk/gpio.dtsi
  zephyr/program/atria/atriarvp-rtk/project.conf
  zephyr/program/atria/program.conf
Labels: none

atriarvp-rtk: Enable wake up signals
  zephyr/program/atria/atriarvp-rtk/project.overlay
Labels: none

atriarvp-rtk: Enable RVP Board ID
  zephyr/program/atria/atriarvp-rtk/project.conf
Labels: none

atriarvp-rtk: Enable fan control
  zephyr/program/atria/atriarvp-rtk/adc.dtsi
  zephyr/program/atria/atriarvp-rtk/project.overlay
  zephyr/program/atria/rvp_consolidated.dtsi
  zephyr/program/atria/rvp_fan.dtsi
  zephyr/program/atria/rvp_temp_sensors.dtsi
Labels: none

atriarvp-rtk: Increase I2C timeouts to allow pd transactions to complete
  zephyr/program/atria/atriarvp-rtk/i2c.dtsi
Labels: none

Add a console command to trigger k_oops() crash
  common/panic_output.c
Labels: common

fwk: sunflower: Add fingerprint module power control
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

calypso: Disable heartbeat wake for power-on activities
  zephyr/program/calypso/program.conf
Labels: none

nissa: guren: save some flash
  zephyr/program/nissa/guren/project.conf
Labels: none

zephyr: et171: increase USB thread stack size
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
