Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

drivers: fingerprint: egis630: Support multiple image configurations
  zephyr/drivers/fingerprint/fingerprint_egis630.c
  zephyr/drivers/fingerprint/fingerprint_egis630.h
  zephyr/program/fpmcu/helipilot/gwendolin.dts
Labels: none

drivers: fingerprint: elan80sg: Support multiple image configurations
  zephyr/drivers/fingerprint/fingerprint_elan80sg.c
  zephyr/drivers/fingerprint/fingerprint_elan80sg.h
  zephyr/program/fpmcu/helipilot/buccaneer.dts
Labels: none

drivers: fingerprint: fpc1145: Support multiple image configurations
  zephyr/drivers/fingerprint/fingerprint_fpc1145.c
  zephyr/drivers/fingerprint/fingerprint_fpc1145.h
Labels: none

zephyr: test: fingerprint: Update fingerprint_get_info calls to use FP_INFO v2 API
  zephyr/test/fingerprint/drivers/egis630/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/egis630/src/egis630.c
  zephyr/test/fingerprint/drivers/fpc1025/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/fpc1025/src/fpc1025.c
  zephyr/test/fingerprint/drivers/fpc1145/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/fpc1145/src/fpc1145.c
Labels: none

zephyr: test: fingerprint: Update calls to fp_sensor_get_info to use FP_INFO v2 API
  zephyr/drivers/fingerprint/fingerprint_sensor_sim.c
  zephyr/drivers/fingerprint/fingerprint_sensor_sim.h
  zephyr/test/fingerprint/task/boards/native_sim.overlay
  zephyr/test/fingerprint/task/src/fpsensor_capture.cc
  zephyr/test/fingerprint/task/src/fpsensor_enroll.cc
  zephyr/test/fingerprint/task/src/fpsensor_init.cc
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
  zephyr/test/fingerprint/task/src/fpsensor_shim.cc
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
Labels: none

fpsensor: Add current_frame_size to sensor context
  common/fpsensor/fpsensor_state.cc
  include/fpsensor/fpsensor_state.h
Labels: common

fpsensor: Introduce FpFrameSizeCache for EC frame sizes
  common/fpsensor/build.mk
  common/fpsensor/fpsensor_frame_size.cc
  include/fpsensor/fpsensor_frame_size.h
  zephyr/CMakeLists.txt
Labels: common

zephyr: test: Add unit tests for fpsensor frame size
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/src/fpsensor_frame_size.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: none

fpsensor: Initialize and use frame size cache
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_state.cc
  include/fpsensor/fpsensor_state.h
Labels: common

common/fpsensor: Bound FP_FRAME read by current frame size
  common/fpsensor/fpsensor.cc
Labels: common

quenbi: Add custom fan control to prevent max RPM on boot
  zephyr/program/bluey/quenbi/CMakeLists.txt
  zephyr/program/bluey/quenbi/project.conf
  zephyr/program/bluey/quenbi/src/fan.c
Labels: none

ojal: Enable fan and temp sensor support
  zephyr/program/ocelot/ojal/fan.dtsi
  zephyr/program/ocelot/ojal/gpio.dtsi
  zephyr/program/ocelot/ojal/project.overlay
Labels: none

obiwan: remove pdc log
  zephyr/program/skywalker/obiwan/project.conf
Labels: none

sapphire: enable backlight control logic
  zephyr/program/tanjiro/CMakeLists.txt
  zephyr/program/tanjiro/sapphire/CMakeLists.txt
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/backlight.c
Labels: none

sapphire: update lid sensor rotation matrix
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

sapphire: Add second source for motion sensor
  zephyr/program/tanjiro/sapphire/CMakeLists.txt
  zephyr/program/tanjiro/sapphire/cbi.dtsi
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/board_config.c
Labels: none

sapphire: update battery configuration
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

sapphire: Enable key combo to enter recovery mode
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

fwk: cypd: fix typo clear_erp_progress and clear_erp_progress_mask
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

zephyr/test: fix body detection tests
  zephyr/test/drivers/body_detection/src/body_detection.c
Labels: none

pdc: Check interrupts until all IRQ lines are de-asserted
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/emul/emul_smbus_ara.c
Labels: none

zephyr: Add thermistor's dependency for APL6012
  zephyr/Kconfig.temperature
  zephyr/program/fatcat/lapis/CMakeLists.txt
Labels: none

fwk: Add EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

fwk: Update PR template
  .github/pull_request_template.md
Labels: workflow

ponyta360: add new temp sensor
  zephyr/program/corsola/ponyta/temps.dtsi
Labels: none

ec: Fix extern c block
  include/fan.h
  include/led_pwm.h
Labels: none

common/panic_output: Print message if crash assert is disabled
  common/panic_output.c
Labels: common

uldrenite: Fix number of sensors for clamshell
  zephyr/program/trulo/uldrenite-ish/motionsense.dtsi
  zephyr/program/trulo/uldrenite-ish/project.conf
  zephyr/program/trulo/uldrenite-ish/project.overlay
  zephyr/program/trulo/uldrenite-ish/src/sensor.c
  zephyr/program/trulo/uldrenite/cbi.dtsi
  zephyr/program/trulo/uldrenite/gpio.dtsi
  zephyr/program/trulo/uldrenite/project.conf
  zephyr/program/trulo/uldrenite/project.overlay
  zephyr/program/trulo/uldrenite/src/sensor.c
Labels: none

Revert "body_detect: Notify host only in S0"
  common/body_detection.c
  common/motion_sense.c
  include/motion_sense.h
Labels: common

on_body: Allow on body detection without motionsense
  common/acpi.c
  common/body_detect_client.c
  common/body_detect_common.c
  common/body_detection.c
  common/build.mk
  common/mkbp_input_devices.c
  include/body_detection.h
  include/body_detection_client.h
  include/config.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.motionsense
  zephyr/drivers/dsp_comms/client/remote_body_detection.c
  zephyr/drivers/dsp_comms/service/dsp_service.cc
  zephyr/lib/vsensor/body_detection/CMakeLists.txt
  zephyr/lib/vsensor/body_detection/body_detection.c
  zephyr/program/skyrim/winterhold/src/thermal.c
  zephyr/program/trulo/uldrenite-ish/project.conf
  zephyr/program/trulo/uldrenite/src/thermal.c
Labels: common

zephyr: led: add script to validate led color
  zephyr/scripts/led_policy.py
Labels: none

lcov: Exclude mocks from coverage
  Makefile.rules
  common/mock/adc_mock.c
  common/mock/battery_mock.c
  common/mock/charge_manager_mock.c
  common/mock/clock_mock.c
  common/mock/dp_alt_mode_mock.c
  common/mock/mkbp_events_mock.c
  common/mock/tcpc_mock.c
  common/mock/tcpci_i2c_mock.c
  common/mock/usb_pd_dpm_mock.c
  common/mock/usb_pe_sm_mock.c
  common/mock/usb_prl_mock.c
  common/mock/usb_tc_sm_mock.c
  zephyr/Makefile.cq
Labels: repo, common

fwk: lotus: enable the CONFIG_CHARGER_HAS_VOLTAGE_REGULATOR
  zephyr/program/framework/lotus/project.conf
  zephyr/program/framework/lotus/src/charger.c
Labels: none

fwk: pd: refactor epr process
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: rename update_pmf_events to update_cpu_power_limit_events
  include/throttle_ap.h
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: intel_cpu_power_interface: add the function update_cpu_power_limit_events()
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/include/common_cpu_power.h
  zephyr/program/framework/include/intel_cpu_power_interface.h
  zephyr/program/framework/src/cpu_power/intel_cpu_power_interface.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Move update_cpu_power_limit_events to common code
  zephyr/program/framework/include/common_cpu_power.h
  zephyr/program/framework/include/intel_cpu_power_interface.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
  zephyr/program/framework/src/cpu_power/intel_cpu_power_interface.c
Labels: none

fwk: amd_cpu_power_interface: remove unnecessary config
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
Labels: none

fwk: sakura: change UCSI PD port mapping
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/src/ucsi_port.c
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi_port_13 is not applicable to all mainboards
  zephyr/program/framework/src/ucsi_port_13.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
