Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

mica: configure side LEDs
  zephyr/firmware_builder.py
  zephyr/program/bluey/BUILD.py
  zephyr/program/bluey/mica/project.conf
  zephyr/program/bluey/mica/project.overlay
Labels: none

compare-builds: add option to specify CMake defines
  zephyr/zmake/README.md
  zephyr/zmake/zmake/__main__.py
Labels: none

pdc: update to use the DEVICE_API_GET
  zephyr/include/drivers/pdc.h
Labels: none

Use DEVICE_API_GET to follow Zephyr convention
  zephyr/include/drivers/cros_flash.h
  zephyr/include/drivers/cros_kb_raw.h
  zephyr/include/drivers/cros_rtc.h
  zephyr/include/drivers/cros_shi.h
  zephyr/include/drivers/cros_system.h
  zephyr/include/drivers/fingerprint.h
  zephyr/include/drivers/intel_altmode.h
  zephyr/include/drivers/pdc.h
Labels: none

zephyr: test: fingerprint: refactor fpsensor_match tests with helper
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
Labels: none

skyrim: disable ISR console output
  zephyr/program/skyrim/program.conf
Labels: none

skyrim: disable host command debug output
  zephyr/program/skyrim/program.conf
Labels: none

Remove CONFIG_CONSOLE_CHANNEL
  common/console_output.c
  include/config.h
  include/console.h
  zephyr/Kconfig.console
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/console.c
Labels: common

Increase main stack size with tokenizing
  zephyr/Kconfig.stacks
Labels: none

tokenizer: cleanup prototype mismatch warning
  common/console_output.c
  include/console.h
  include/console_channel.h
  zephyr/shim/src/pw_log_zephyr_tokenized.cc
Labels: common

charge_manager: Reuse battery_is_present in is_battery_disconnected
  common/charge_manager.c
Labels: common

charge_state: Initialize battery type when it is responsive
  common/charge_state.c
Labels: common

ruby: Disable debug options
  zephyr/program/fatcat/ruby/project.conf
Labels: none

ruby: re-enable asserts
  zephyr/program/fatcat/ruby/project.conf
Labels: none

ruby: Do not enable EC_CONSOLE_CMD_CHARGEN
  zephyr/program/fatcat/ruby/project.conf
Labels: none

Revert "pdc: Log EC_CMD_PD_CHIP_INFO responses"
  zephyr/subsys/pd_controller/pdc_host_cmd.c
Labels: none

sapphire: system lock for FW qual
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

lapis: Add GPIO_VOLTAGE_1P8 to gpio_ec_wp_odl
  zephyr/program/fatcat/lapis/gpios.dtsi
Labels: none

ruby-ish: Add vif for ruby-ish
  zephyr/program/fatcat/ruby-ish/ruby-ish_vif.xml
Labels: none

cros_flash: add Focaltech FT90 protection functions of cros_flash driver
  common/spi_flash_reg.c
  zephyr/drivers/cros_flash/cros_flash_ft.c
Labels: common

gpios: remove unused GPIO toggle
  zephyr/program/bluey/mica/src/chipset.c
  zephyr/program/bluey/quartz/src/chipset.c
  zephyr/program/fatcat/moonstone/src/suspend_resume.c
Labels: none

zephyr: fpmcu: add FT9001 FPMCU projects
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/CMakeLists.txt
  zephyr/program/fpmcu/Kconfig
  zephyr/program/fpmcu/ft9001/CMakeLists.txt
  zephyr/program/fpmcu/ft9001/chobienia.conf
  zephyr/program/fpmcu/ft9001/chobienia.dts
  zephyr/program/fpmcu/ft9001/chudow.conf
  zephyr/program/fpmcu/ft9001/chudow.dts
  zephyr/program/fpmcu/ft9001/common.dtsi
  zephyr/program/fpmcu/ft9001/dev_key.pem
  zephyr/program/fpmcu/ft9001/gpio.dtsi
  zephyr/program/fpmcu/ft9001/prj.conf
  zephyr/program/fpmcu/ft9001/rwsig.dtsi
  zephyr/program/fpmcu/ft9001/soc.dtsi
  zephyr/program/fpmcu/ft9001/src/config_page.c
  zephyr/program/fpmcu/ft9001/src/platform.c
  zephyr/subsys/usbd_service/usbd_init.c
  zephyr/zmake/zmake/modules.py
Labels: none

atria: Enable MKBP Events
  zephyr/program/atria/program.conf
Labels: none

atriarvp-rtk: Enable Keyboard
  zephyr/program/atria/atriarvp-rtk/keyboard.dtsi
  zephyr/program/atria/atriarvp-rtk/project.overlay
  zephyr/program/atria/program.conf
Labels: none

atriarvp-rtk: Move CBI region to the end of the RO region
  zephyr/program/atria/atriarvp-rtk/project.overlay
Labels: none

atria: Enable 7 seg LED display on RVP
  zephyr/program/atria/rvp_i2c.dtsi
Labels: none

atriarvp-rtk: Fix pwr_sys_rst gpio configuration to match schematic
  zephyr/program/atria/atriarvp-rtk/power_signals.dtsi
Labels: none

program: override few llvm config for ish platforms
  zephyr/ish.conf
  zephyr/program/atria/BUILD.py
  zephyr/program/brox/BUILD.py
  zephyr/program/fatcat/BUILD.py
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/ocelot/BUILD.py
  zephyr/program/rex/BUILD.py
  zephyr/program/trulo/BUILD.py
Labels: none

fwk: cypd: refactor the pd reset flow
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: enable reset PD before EC reboot
  zephyr/program/framework/sakura/project.conf
Labels: none

fwk: cypd: return the correct active charge PD chip
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Add a Kconfig to reset PD before EC reboot
  zephyr/program/framework/Kconfig
Labels: none

fwk: cypd: reset PD before EC reboot
  common/system.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: common

fwk: cypd: remove unused command in exit_tbt_mode()
  zephyr/program/framework/src/cypd_intel.c
Labels: none

fwk: sakura: switch the PD source to VBUS before cutoff
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/sakura/src/battery.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: turn off CFET before issuing cutoff command
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/src/battery.c
Labels: none

fwk: cypd: not to set the RP value for Intel platform FV certification
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: Bump to v2.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

zephyr: test: fingerprint: Add unit tests for match failure reporting
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
Labels: none

fwk: sakura: enable CONFIG_PLATFORM_EC_PD_IGNORE_EXIT_RT_MODE
  zephyr/program/framework/sakura/project.conf
Labels: none
