Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

Grogu: Enable strauss keyboard
  zephyr/program/skywalker/grogu/include/keyboard_customization.h
  zephyr/program/skywalker/grogu/project.conf
  zephyr/program/skywalker/grogu/project.overlay
Labels: none

fwk: fix typo HPI is the CCGx<=>EC interface
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: sakura: delay 20ms to wait for the PD chip power on ready.
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/project.conf
  zephyr/program/framework/sakura/src/usbc.c
Labels: none

fwk: cypd: rename CONFIG_PD_CCG6_WAIT_STABLE_TIMER
  zephyr/program/framework/Kconfig
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: workaround: disable communicatetion with PD0
  zephyr/program/framework/sakura/src/usbc.c
Labels: none

fwk: pwrseq: allow projects use the Kconfig to change the ap_boot_delay
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: marigold: set the ap_boot_delay to CONFIG_PWRSEQ_AP_BOOT_DELAY
  zephyr/program/framework/marigold/src/power_sequence.c
Labels: none

fwk: sakura: increase the delay time to 9 seconds Intel SLP_S4 needs to wait for the 4 seconds to assert SLP_S5 signal. EC only wait for the one seconds, so can't power on the system successfully.
  zephyr/program/framework/sakura/project.conf
Labels: none

fwk: sakura: set the ap_boot_delay to CONFIG_PWRSEQ_AP_BOOT_DELAY
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

fwk: azalea: set the ap_boot_delay to CONFIG_PWRSEQ_AP_BOOT_DELAY
  zephyr/program/framework/azalea/src/power_sequence.c
Labels: none

fwk: lotus: set the ap_boot_delay to CONFIG_PWRSEQ_AP_BOOT_DELAY
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

test/mtk_power: swap chipset_reset / chipset_warm_reset function name
  zephyr/test/mtk_power/boards/native_sim.overlay
Labels: none

power/mt8186: clear wdt timer when shutdown
  power/mt8186.c
  zephyr/test/mtk_power/src/main.c
Labels: none

pujjolo: Modify tablet mode interrupt handler
  zephyr/program/trulo/pujjolo/gpio.dtsi
Labels: none

pdc: fix build error "outside array bounds"
  zephyr/drivers/usbc/pdc_rts54xx_fwup.c
Labels: none

yoda: Update VIF
  zephyr/program/skywalker/yoda/yoda_vif.xml
Labels: none

zephyr: shim: Set shell priority to just after sysworkq
  zephyr/Kconfig.defaults
  zephyr/app/ec/Kconfig
  zephyr/shim/include/shimmed_task_id.h
  zephyr/shim/src/console.c
  zephyr/shim/src/hooks.c
Labels: none

ocelotrvp-mchp: Remove dependency on 5V GPIO signal
  zephyr/program/ocelot/ocelotrvp-mchp/power_signals.dtsi
  zephyr/program/ocelot/src/rvp_board_power.c
Labels: none

ap_pwrseq: Ensure priority is consistent
  zephyr/Kconfig.defaults
  zephyr/app/ec/Kconfig
  zephyr/shim/include/shimmed_task_id.h
  zephyr/subsys/ap_pwrseq/ap_pwrseq.c
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_sm_handler.c
Labels: none

fpsensor: Use fixed size for FP_INFO v2 response
  common/fpsensor/fpsensor.cc
Labels: common

docs: Add CBI UFSC documentation and update overview
  docs/zephyr/zephyr_cbi.md
  docs/zephyr/zephyr_ufsc.md
Labels: none

pd_task_intel_altmode: Ensure priority is consistent
  zephyr/Kconfig.defaults
  zephyr/app/ec/Kconfig
  zephyr/shim/include/shimmed_task_id.h
  zephyr/subsys/ap_pwrseq/Kconfig
  zephyr/subsys/pd_controller/pd_task_intel_altmode.c
Labels: none

usbc/pdc: Ensure thread priority is consistent
  zephyr/Kconfig.defaults
  zephyr/app/ec/Kconfig
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/shim/include/shimmed_task_id.h
  zephyr/subsys/ap_pwrseq/Kconfig
Labels: none

cros_flash: Check the WP_IF bit before changing the status register
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

power/qcom_exp: Reset PMIC passthru signals on power-on
  include/power/qcom.h
  power/qcom_exp.c
  zephyr/program/bluey/src/chipset.c
Labels: none

fwk: sakura: bump to v0.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

kaladin: fix US2 keyboard scancode
  zephyr/program/trulo/kaladin/src/board.c
  zephyr/program/trulo/kaladin/src/keyboard_customization.c
Labels: none

zephyr: binman: add flash-header node
  zephyr/include/cros/binman.dtsi
Labels: none

fwk: tulip: bump to v3.0.3 BRANCH=fwk-tulip-29169 BUG=Prepare for v3.0.3 pre-mp release TEST=Check version in ec console and bios settings
  .github/workflows/zephyr-build.yml
Labels: workflow

corsola: Enable assertion to find bugs at runtime
  zephyr/program/corsola/kingler/project.conf
  zephyr/program/corsola/program.conf
Labels: none

kaladin: support custom JP keyboard
  zephyr/program/trulo/kaladin/src/board.c
  zephyr/program/trulo/kaladin/src/keyboard_customization.c
Labels: none

spi_flash_reg: add P25Q16
  common/spi_flash_reg.c
  include/config.h
Labels: common

padme: Adjusting hardware configuration
  zephyr/program/skywalker/padme/project.overlay
Labels: none

padme: audio jack solution for optimize the audio performance
  zephyr/program/skywalker/padme/project.overlay
  zephyr/program/skywalker/padme/src/board.c
Labels: none

cme: remove detachable base check from component manifest generation
  zephyr/CMakeLists.txt
Labels: none

anakin: modify the file path
  zephyr/program/skywalker/anakin/anakin_vif.xml
Labels: none

anakin: delete unused code
  zephyr/program/skywalker/anakin/src/sensor.c
Labels: none

watchdog: print call stack upon watchdog
  util/symbolize_log.py
  zephyr/Kconfig.watchdog
  zephyr/shim/src/watchdog.c
Labels: none

crisis_rcvry_util.py: Increase retry count
  util/mchp/crisis_rcvry_util.py
Labels: none

fwk: pd: return 0 voltage when no active charge port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
