Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: tulip: check 3-Level Buck transition is ready
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: CONFIG allow large current limit
  common/charge_state.c
  include/config.h
  zephyr/Kconfig.charger
  zephyr/shim/include/config_chip.h
Labels: common

fwk: add 3-Level Buck transition EPR function
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: tulip: bump to v0.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: tulip: bump to v0.0.6
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: create a Kconfig for raa489300
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/raa489300.h
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: main: Fix GRL TEST Item PD.PS.SRC.3#18
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Update github actions lint runner to the latest ubuntu version
  .github/workflows/lint.yml
Labels: workflow

fwk/gh-actions: Ignore missing libraries
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Package dynamic libs with util binaries
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Upload util to github actions
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/gh-actions: run ldd in chroot
  .github/workflows/zephyr-build.yml
Labels: workflow

gh-actions: Build ectool
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Bundle any version of the library
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: avoid reset timer trigger clear charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: workaround: gpu_power_enable() always return true with NV GPU
  zephyr/program/framework/lotus/src/gpu.c
Labels: none

fwk: sunflower: modified the thermal configuration
  zephyr/program/framework/sunflower/fan.dtsi
  zephyr/program/framework/sunflower/overlay.dtsi
Labels: none

fwk: sunflower: bump to v2.07
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Update github actions lint runner to the latest ubuntu version
  .github/workflows/lint.yml
Labels: workflow

fwk: Update github actions lint runner to the latest ubuntu version
  .github/workflows/lint.yml
Labels: workflow

fwk: Update github actions lint runner to the latest ubuntu version
  .github/workflows/lint.yml
Labels: workflow

fwk: Update github actions lint runner to the latest ubuntu version
  .github/workflows/lint.yml
Labels: workflow

fwk: Update github actions lint runner to the latest ubuntu version
  .github/workflows/lint.yml
Labels: workflow

Always use the battery sustain feature
  common/charge_state.c
  util/ectool.cc
  zephyr/program/framework/src/charge_limit_control.c
Labels: common

Add ectool method for reading the battery temperature in deci-Kelvin
  common/charge_state.c
  include/ec_commands.h
Labels: common

fwk/sunflower: enable KEYBOARD_STRICT_DEBOUNCE
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/keyboard_customization.c
Labels: none

fwk: sunflower: bump to v3.00
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: tulip: bump to v0.0.7
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dogwood: add more cases in update_os_power_slider()
  zephyr/program/framework/dogwood/src/cpu_power.c
Labels: none

fwk: dogwood: modified the hysteresis minimum temperature value
  zephyr/program/framework/dogwood/src/thermal.c
Labels: none

fwk: dogwood: change the tmperature sensor source
  zephyr/program/framework/dogwood/src/thermal.c
Labels: none

fwk: dogwood: convert the temperature ratio to fan duty
  zephyr/program/framework/dogwood/src/thermal.c
Labels: none

fwk: pd: don't communicate with PD chip if the PD not ready
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: dogwood: refactor the power sequence to turn off the system
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: ccg6: do not need to setup the RP value during initail the PD chip
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: cypd: create a Kconfig to select 3A typec port output current
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: create a hc and console command to force on the PSU in standby mode
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/include/board_host_command.h
Labels: none

fwk: dogwood: usba/usbc hub control
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: bump to v2.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: mini-pc: disable CONFIG_SELECT_3A_TYPEC_OUTPUT_CURRENT
  zephyr/program/framework/desktop_program.conf
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
