Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

usbc/pdc_rts54xx: Update to spec 3.3.25
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

itecomdbgr:
  util/build.mk
  util/itecomdbgr.cc
Labels: none

docs/fingerprint: Update Icetower version
  docs/fingerprint/fingerprint-debugging.md
Labels: none

docs/fingerprint: Update docs for Quincy v3
  docs/fingerprint/fingerprint-debugging.md
  docs/fingerprint/fingerprint-dev-for-partners.md
  docs/images/quincy_v3.jpg
  docs/images/quincy_v3_with_20_pin_swd.jpg
Labels: none

wugtrio: Improve keyboard ADC check range
  zephyr/program/corsola/wugtrio/src/base_detect.c
  zephyr/test/krabby/src/base_detect.c
Labels: none

wugtrio: Add SMBUS PEC support and set NACK retry
  zephyr/program/corsola/wugtrio/project.conf
Labels: none

sundance: modify led meet spec when battery error
  zephyr/program/nissa/sundance/overlay.dtsi
Labels: none

zephyr: fpmcu: add system_is_locked test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/system_is_locked.c
Labels: none

firmware_builder: limit clang jobs
  firmware_builder.py
  util/build_with_clang.py
Labels: repo

docs/fingerprint: Fix typo
  docs/fingerprint/fingerprint-dev-for-partners.md
Labels: none

Xol: Remove CONFIG_USB_PD_REQUIRE_AP_MODE_ENTRY config
  board/xol/board.h
Labels: none

pdc: ti: Update TI PDC FW binary
  zephyr/drivers/usbc/tps6699x.bin
  zephyr/drivers/usbc/tps6699x.json
  zephyr/drivers/usbc/tps6699x_19.9.0.bin
  zephyr/drivers/usbc/tps6699x_fwup.c
Labels: none

pdc: Move READ_POWER_LEVEL to Source Path
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test/drivers/button: adjust sleep timing
  zephyr/test/drivers/button/src/main.c
Labels: none

button: split button_interrupt into two functions
  common/button.c
  test/button.c
Labels: common

test: run_device_tests: skip timer_dos test for Zephyr
  test/run_device_tests.py
  util/twister_launcher.py
Labels: none

zephyr: fpmcu: add utils test
  test/run_device_tests.py
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/utils/CMakeLists.txt
  zephyr/test/utils/Kconfig
  zephyr/test/utils/src/utils.c
  zephyr/test/utils/testcase.yaml
Labels: none

zephyr: fpmcu: add utils string test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/utils/CMakeLists.txt
  zephyr/test/utils/Kconfig
  zephyr/test/utils/src/utils_str.c
  zephyr/test/utils/testcase.yaml
Labels: none

zephyr: shim: Add i2c transaction over usb interface
  util/config_allowed.txt
  zephyr/CMakeLists.txt
  zephyr/Kconfig
  zephyr/Kconfig.usb_i2c
  zephyr/shim/include/config_chip.h
Labels: none

flash_fp_mcu: Limit search depth when looking for default firmware
  util/flash_fp_mcu
Labels: none

emul_tps6699x: Handle I2C offset, length correctly
  zephyr/emul/emul_tps6699x.c
Labels: none

emul_tps6699x: Indicate error on unknown command
  zephyr/emul/emul_tps6699x.c
Labels: none

emul_tps6699x: Indicate command results
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
Labels: none

keyboard: Remove duplicate keyboard_cols declarations
  board/banshee/keyboard_customization.h
  board/delbin/keyboard_customization.h
  board/mithrax/keyboard_customization.h
  board/omnigul/keyboard_customization.h
  board/palkia/keyboard_customization.h
  common/keyboard_8042.c
  include/keyboard_config.h
  include/keyboard_raw.h
  include/keyboard_scan.h
  zephyr/program/brox/greenbayupoc/include/keyboard_customization.h
  zephyr/program/brox/lotso/include/keyboard_customization.h
  zephyr/program/corsola/chinchou/include/keyboard_customization.h
  zephyr/program/nissa/anraggar/include/keyboard_customization.h
  zephyr/program/nissa/craaskov/include/keyboard_customization.h
  zephyr/program/nissa/orisa/include/keyboard_customization.h
  zephyr/program/nissa/riven/include/keyboard_customization.h
  zephyr/program/skyrim/frostflow/include/keyboard_customization.h
  zephyr/program/skyrim/markarth/include/keyboard_customization.h
Labels: common

program/rex: Update GPIOs to recent schematics
  zephyr/program/rex/generated.dtsi
  zephyr/program/rex/power_signals.dtsi
  zephyr/program/rex/screebo/gpio.dtsi
Labels: none

ciri: add test for alt motion_sense
  zephyr/test/geralt/CMakeLists.txt
  zephyr/test/geralt/Kconfig
  zephyr/test/geralt/geralt.ciri.overlay
  zephyr/test/geralt/src/board_ciri.c
  zephyr/test/geralt/testcase.yaml
Labels: none

usb_dc: support google i2c class
  common/usb_i2c.c
  include/usb_i2c.h
  zephyr/include/drivers/usb_stream.h
  zephyr/subsys/usb_dc/CMakeLists.txt
  zephyr/subsys/usb_dc/Kconfig
  zephyr/subsys/usb_dc/Kconfig.gi2c
  zephyr/subsys/usb_dc/usb_google_i2c.c
Labels: common

pdc: change set_dual_role to clear previously set flags
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

spikyrock: enable I2C transaction over USB option
  zephyr/program/roach/spikyrock/CMakeLists.txt
  zephyr/program/roach/spikyrock/project.conf
  zephyr/program/roach/spikyrock/src/board.c
Labels: none

tests: update include in benchmark.h
  include/benchmark.h
Labels: none

zephyr: fpmcu: add aes test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/aes.cc
Labels: none

zephyr: fpmcu: add benchmark test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/benchmark.cc
Labels: none

zephyr: fpmcu: add boringssl_crypto test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/boringssl_crypto.cc
Labels: none

core/cortex-{m,m0}: specify full path to libclang_rt.builtins-*.a
  core/cortex-m/build.mk
  core/cortex-m0/build.mk
Labels: none

Awasuki: Initial EC image
  bazel/all_targets.generated.bzl
  board/awasuki/battery.c
  board/awasuki/board.c
  board/awasuki/board.h
  board/awasuki/build.mk
  board/awasuki/cbi_ssfc.c
  board/awasuki/cbi_ssfc.h
  board/awasuki/ec.tasklist
  board/awasuki/gpio.inc
  board/awasuki/led.c
  board/awasuki/usb_pd_policy.c
  board/awasuki/vif_override.xml
  util/build_with_clang.py
Labels: none

extra: touchpad_updater: correct endpoint numbers
  extra/touchpad_updater/touchpad_updater.c
Labels: none

kyogre: Remove bring up options for FW QUAL
  zephyr/program/corsola/kyogre/project.conf
Labels: none

jubilant: implement keyboard matrix
  zephyr/program/brox/CMakeLists.txt
  zephyr/program/brox/jubilant/CMakeLists.txt
  zephyr/program/brox/jubilant/include/keyboard_customization.h
  zephyr/program/brox/jubilant/keyboard.dtsi
  zephyr/program/brox/jubilant/project.conf
  zephyr/program/brox/jubilant/project.overlay
  zephyr/program/brox/jubilant/src/keyboard.c
  zephyr/program/brox/jubilant/src/keyboard_customization.c
  zephyr/test/brox/CMakeLists.txt
  zephyr/test/brox/Kconfig
  zephyr/test/brox/testcase.yaml
  zephyr/test/brox/tests/jubilant/CMakeLists.txt
  zephyr/test/brox/tests/jubilant/src/keyboard.c
Labels: none

ec: Enable eigen3 path to be overridden
  Makefile
  third_party/build.mk
  util/compare_build.sh
Labels: repo

Add #line to fan.c
  zephyr/shim/src/fan.c
Labels: none
