Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

kodkod: enable ULPM
  zephyr/program/ocelot/kodkod/project.overlay
  zephyr/program/ocelot/kodkod/rtk_ulpm.dtsi
Labels: none

TCPMV2: Fix Battery Cap's full capacity
  common/usbc/usb_pe_drp_sm.c
Labels: common

ptlrvp_mchp: Move temp sensor power alias to more suitable GPIO
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
Labels: none

Grogu: Modify PDC default current limit
  zephyr/program/skywalker/grogu/src/usbc.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test: run_device_tests.py: Pass test config to skip_test
  test/run_device_tests.py
Labels: none

test: run_device_tests.py: Skip test configs that are failing with latest Renode
  test/run_device_tests.py
Labels: none

util: renode: Update Renode to renode-1.16.0_p20260130
  util/renode/firmware_builder.py
Labels: none

Add timeout to fpmcu utils test
  zephyr/program/fpmcu/testcase.yaml
Labels: none

Add some test files to exclude patterns
  zephyr/Makefile.cq
Labels: none

Revert "ectool: Correct ectool exit codes"
  util/ectool.cc
Labels: none

moonstone: Fix spi chain length
  zephyr/program/fatcat/moonstone/project.overlay
Labels: none

sapphire: set WLC full charge level to 100%
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

sapphire: enable pchg hall detect function
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: none

panic: enable panic on ISH builds
  zephyr/Kconfig
  zephyr/app/Kconfig
  zephyr/app/Kconfig.ish
  zephyr/include/cros/intel/ish.overlay
  zephyr/program/trulo/kaladin-ish/project.conf
  zephyr/program/trulo/lite-ish/project.conf
  zephyr/program/trulo/pujjolo-ish/project.conf
  zephyr/program/trulo/trulo-ish/prj.conf
  zephyr/program/trulo/uldrenite-ish/project.conf
  zephyr/shim/src/panic.c
  zephyr/zmake/zmake/configlib.py
Labels: none

ish: set default module list
  zephyr/zmake/zmake/configlib.py
Labels: none

Fix the inconsistent coverage
  Makefile.rules
  zephyr/Makefile.cq
Labels: repo

fatcat: Update AC host event status on chipset startup
  zephyr/program/fatcat/felino/src/board_power.c
  zephyr/program/fatcat/francka/src/board_power.c
  zephyr/program/fatcat/kinmen/src/board_power.c
  zephyr/program/fatcat/lapis/src/board_power.c
  zephyr/program/fatcat/moonstone/src/board_power.c
  zephyr/program/fatcat/ruby/src/board_power.c
Labels: none

zephyr: ish: use default module list
  zephyr/program/fatcat/BUILD.py
  zephyr/program/ocelot/BUILD.py
  zephyr/program/trulo/BUILD.py
Labels: none

fpsensor: fix race during enrollment session restart
  common/fpsensor/fpsensor.cc
Labels: common

sapphire: stylus full charge strategy
  common/peripheral_charger.c
  include/peripheral_charger.h
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: common

sapphire: add thermal policy of charging battery
  zephyr/program/tanjiro/sapphire/CMakeLists.txt
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/src/thermal.c
Labels: none

sapphire: Add battery cutoff retry
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

fpsensor: Refactor FP_FRAME command
  common/fpsensor/fpsensor.cc
Labels: common

fpsensor: Introduce non-blocking version of FP_FRAME command
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_state.cc
  include/ec_cmd_api.h
  include/ec_commands.h
  include/fpsensor/fpsensor_state.h
  zephyr/test/fingerprint/task/src/fpsensor_capture.cc
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
Labels: common

fpsensor: Add tests that check content of buffer after decryption
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
Labels: none

fpsensor: Fix issues in fp_commit_template()
  common/fpsensor/fpsensor.cc
Labels: common

atomic: Add atomic_set() for EC
  include/atomic_bit.h
Labels: none

ptlrvp_mchp: Enable PPM console
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
Labels: none

Reland "ectool: Correct ectool exit codes"
  util/ectool.cc
Labels: none

fwk: Annotate lotus touchpad report descriptor
  zephyr/program/framework/include/lotus/touchpad_descriptor.h
Labels: none

fwk: fix power on AC attach requiring OS boot to take effect
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: sunflower: bump to v3.07
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sakura: fix ME_EN# GPIO configuration
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

test: run_device_tests: Disable ram_lock test for sanok
  test/run_device_tests.py
Labels: none

zephyr: test: hwtest: Fix variable name in assert
  zephyr/test/hwtest/src/printf.c
Labels: none

hwtest: printf: Use CONFIG_BOARD_FINGERPRINT instead of individual boards
  zephyr/test/hwtest/src/printf.c
Labels: none

util: renode_ec_launch: Add option to specify UART name
  util/renode_ec_launch.py
Labels: none

test: run_device_tests: Move skipped bloonchipper tests into helper function
  test/run_device_tests.py
Labels: none

test: run_device_tests: Move skipped helipilot tests into helper function
  test/run_device_tests.py
Labels: none

test: run_device_tests: Fix infinite loop
  test/run_device_tests.py
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
