Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

ocicat: Update GPIO and sensor configs
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/ocicat-ish/i2c.dtsi
  zephyr/program/ocelot/ocicat-ish/motionsense.dtsi
  zephyr/program/ocelot/ocicat-ish/project.overlay
  zephyr/program/ocelot/ocicat/generated.dtsi
  zephyr/program/ocelot/ocicat/i2c.dtsi
  zephyr/program/ocelot/ocicat/project.conf
Labels: none

quartz: Change S3 power rail sequence
  zephyr/program/bluey/quartz/gpios.dtsi
  zephyr/program/bluey/quartz/project.overlay
  zephyr/program/bluey/quartz/src/chipset.c
Labels: none

zephyr: fingerprint: elani80sa: get FP data with phandle
  zephyr/drivers/fingerprint/fingerprint_elan80series.c
  zephyr/dts/bindings/fingerprint/elan.elani80sa.yaml
Labels: none

cros_flash: Implement basic functions of Focaltech ft90 cros_flash driver
  zephyr/drivers/cros_flash/CMakeLists.txt
  zephyr/drivers/cros_flash/Kconfig
  zephyr/drivers/cros_flash/cros_flash_ft.c
  zephyr/dts/bindings/cros_flash/ft,ft9001-cros-flash.yaml
Labels: none

shell: use SHELL_HELP
  zephyr/drivers/imvp/rt3645.c
  zephyr/drivers/keyboard_input/keyboard_input.c
  zephyr/drivers/usbc/pdc_rts54xx_fwup.c
  zephyr/drivers/usbc/tps6699x_fwup.c
  zephyr/shim/chip/npcx/gpio.c
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_host_sleep.c
  zephyr/subsys/pd_controller/pd_task_intel_altmode.c
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_pmc_debug.c
  zephyr/subsys/ucsi/ppm_console.c
Labels: none

led: Centralize animation timer in the LED manager
  docs/zephyr/zephyr_leds.md
  zephyr/Kconfig.led
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
  zephyr/shim/src/led_driver/led_pwm.c
Labels: none

shim/et171: Add OTP key support
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/shim/chip/egis/CMakeLists.txt
  zephyr/shim/chip/egis/Kconfig.egis
  zephyr/shim/chip/egis/otp_key_et171.c
  zephyr/shim/include/config_chip.h
Labels: none

bluey/quartz: Enable battery CT label support
  zephyr/program/bluey/quartz/battery.dtsi
Labels: none

leds: remove config for legacy LED driver
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/fatcat/ruby/project.conf
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

led: Deduplicate driver lookup logic
  zephyr/shim/src/led_driver/led.c
Labels: none

led: Refactor to pass time increment to pattern update functions
  zephyr/shim/src/led_driver/led.c
Labels: none

nissa/domika: Use set_source_files_properties for selective file LTO control
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/domika/project.conf
Labels: none

common: remove unused OTP config
  common/system.c
  include/config.h
Labels: common

led: Unify pattern execution at high resolution
  zephyr/dts/bindings/leds/cros-ec,led-policy.yaml
  zephyr/shim/src/led_driver/led.c
  zephyr/test/drivers/led_driver/led_policy_sequence.dts
  zephyr/test/drivers/led_driver/src/led_sequence.c
  zephyr/test/drivers/led_pwm_fade/src/led_pwm_fade.c
Labels: none

nissa/yavilla: Use set_source_files_properties for selective file LTO control
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/yavilla/project.conf
Labels: none

led: Mark unreachable code with LCOV_EXCL
  zephyr/shim/src/led_driver/led.c
Labels: none

caboc: Initial VIF file
  zephyr/program/brox/caboc/caboc_vif.xml
Labels: none

sapphire: add i2c nack retry config
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

obiwan: Modify the VIF file
  zephyr/program/skywalker/obiwan/obiwan_vif.xml
Labels: none

fwk: input_module: Allow full-width module in any location
  zephyr/program/framework/lotus/src/input_module.c
Labels: none

fwk: input_module: Pad integers
  zephyr/program/framework/lotus/src/input_module.c
Labels: none

moonstone: map capslock to KEY_INSERT
  zephyr/program/fatcat/moonstone/keyboard.dtsi
Labels: none

padme: reduce pdc log
  zephyr/program/skywalker/padme/project.conf
Labels: none

pdc_power_mgmt: Swap to sink if partner has unconstrained power
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

common: Panic if MPU lock/unlock for rollback fails
  common/rollback.c
Labels: common

ec_commands: Extend lightbar API
  include/ec_commands.h
  util/ectool.cc
Labels: none

common: features: Expose lightbar support
  common/ec_features.c
Labels: common

fwk:sakura: Add power LED control when chipset state in S5
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

Grogu: Correct the SKU ID and FW config
  zephyr/program/skywalker/grogu/CMakeLists.txt
  zephyr/program/skywalker/grogu/src/board.c
Labels: none

Grogu: Modify SRC PDO setting
  zephyr/program/skywalker/grogu/cbi.dtsi
  zephyr/program/skywalker/grogu/project.conf
  zephyr/program/skywalker/grogu/src/usbc.c
Labels: none

skyrim/frostflow: Supports higher system clock frequency of 40MHz
  zephyr/program/skyrim/frostflow/project.conf
  zephyr/program/skyrim/frostflow/project.overlay
Labels: none

skyrim/winterhold: Supports higher system clock frequency of 40MHz
  zephyr/program/skyrim/winterhold/project.conf
  zephyr/program/skyrim/winterhold/project.overlay
Labels: none

quartz: Enable PEC and i2c NACK retry
  zephyr/program/bluey/quartz/project.conf
Labels: none

zephyr: hwtest: Add test for rollback lock panic
  common/rollback.c
  test/run_device_tests.py
  zephyr/program/fpmcu/testcase.yaml
  zephyr/shim/core/cortex-m/mpu.c
  zephyr/shim/core/riscv/mpu.c
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/rollback_lock_panic.cc
Labels: common

test: Add rollback lock panic test
  baseboard/bloonchipper/build.mk
  baseboard/helipilot/build.mk
  board/nocturne_fp/build.mk
  core/cortex-m/include/mpu.h
  test/build.mk
  test/rollback_lock_panic.c
  test/rollback_lock_panic.tasklist
Labels: baseboard

fatcat: map KEY_SCREENLOCK on lapis and ruby
  zephyr/program/fatcat/lapis/keyboard.dtsi
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

cortex-m: mpu: Negate MPU overflow error return value
  core/cortex-m/mpu.c
Labels: none

zephyr: Migrate to zephyrproject repo
  docs/reducing_ec_image_size.md
  docs/zephyr/README.md
  docs/zephyr/zephyr_hibernate.md
  docs/zephyr/zephyr_leds.md
  util/check_zephyr_project_config.py
  util/compare_build.sh
  util/diff_upstream.sh
  util/find_non_exec_lines.py
  util/kconfig_check.py
  util/linux_ec_commands_h_check.sh
  util/twister_launcher.py
  util/zephyr_check_compliance.py
  zephyr/test/hwtest/src/pmp_entries.c
  zephyr/zmake/zmake/compare_builds.py
  zephyr/zmake/zmake/zmake.py
Labels: none

fwk: input_module: fixed detection flow for input modules
  zephyr/program/framework/src/input_module_13.c
Labels: none

sapphire: modify wlc power control
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
