Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

zephyr: rwsig test
  common/rwsig.c
  common/system.c
  common/vboot/vb21_lib.c
  zephyr/test/rwsig/CMakeLists.txt
  zephyr/test/rwsig/boards/native_sim.overlay
  zephyr/test/rwsig/prj.conf
  zephyr/test/rwsig/src/rwsig.c
  zephyr/test/rwsig/testcase.yaml
Labels: common

gpio_defines: add more flags for GPIO config
  zephyr/include/dt-bindings/gpio_defines.h
Labels: none

orisa-ish: Add tablet mode support for ISH
  zephyr/program/nissa/orisa-ish/gpio.dtsi
  zephyr/program/nissa/orisa-ish/interrupts_motionsense.dtsi
  zephyr/program/nissa/orisa-ish/prj.conf
Labels: none

common/tablet_mode: Support to notify EC for clamshell/tablet mode change
  common/tablet_mode.c
  zephyr/Kconfig.tabletmode
Labels: common

orisa-ish: Enable config for notifying EC for clamshell/tablet mode change
  zephyr/program/nissa/orisa-ish/prj.conf
Labels: none

orisa: enable tablet mode support for orisa & orisa_ti
  zephyr/program/nissa/orisa/project.conf
  zephyr/program/nissa/orisa/project.overlay
  zephyr/program/nissa/orisa_ti/project.overlay
Labels: none

sundance: Change lid sensor from force mode to interrupt mode
  zephyr/program/nissa/sundance/motionsense.dtsi
  zephyr/program/nissa/sundance/overlay.dtsi
  zephyr/test/nissa/boards/sundance.dts
Labels: none

sundance: add for the power source switch from port1 to port0
  zephyr/program/nissa/sundance/project.conf
Labels: none

Kconfig.console: fix LOG_OUTPUT_FORMAT_CUSTOM_TIMESTAMP default
  zephyr/Kconfig.console
Labels: none

pdc_tps6699x: Use UCSI get connector status to request VBUS voltage
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

test/pdc/ppm: add test_set_sink_path
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

ppm_driver: Remove redundant error handling in ppm_init
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

pujjo: Add override cbi function.
  zephyr/program/nissa/pujjo/src/fan.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/include/pujjo.h
  zephyr/test/nissa/src/pujjo.c
Labels: none

usb_mux: support anx3443 mux in Zephyr
  zephyr/CMakeLists.txt
  zephyr/Kconfig.retimer
  zephyr/dts/bindings/usbc/mux/analogix,anx3443.yaml
  zephyr/shim/include/usbc/anx3443_usb_mux.h
  zephyr/shim/include/usbc/usb_muxes.h
Labels: none

test/pdc/ppm_driver: Add test_ppm_ci_cb
  zephyr/test/pdc/src/generic/ppm_driver.c
Labels: none

Set the version in image builds
  zephyr/firmware_builder.py
Labels: none

fwk: sunflower: power led needs to turn on when lid close
  zephyr/program/framework/src/led.c
Labels: none

fwk/sunflower: bump to 0.03
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower: Set DC prochot to 4.86A(0x1300)
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: implement the battery extender feature
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

fwk: move battery extender to use common
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

fwk: set charge limit control and percentage control to common
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/lotus/src/battery.c
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/src/charge_limit_control.c
Labels: none

fwk: set charger control mode after disable battery sustainer
  include/charge_state.h
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: sunflower:set charger MaxSystemVoltage default to battery normal voltage
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

ec: Compile using coreboot-sdk from subtool
  Makefile
  core/cortex-m/toolchain.mk
  core/cortex-m0/toolchain.mk
  core/minute-ia/toolchain.mk
  core/nds32/toolchain.mk
  core/riscv-rv32i/toolchain.mk
  firmware_builder.py
  zephyr/firmware_builder.py
Labels: repo

fwk: sunflower: Add caps-led control
  zephyr/program/framework/include/sunflower/keyboard_customization.h
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

wugtrio: generate locked image
  zephyr/program/corsola/wugtrio/project.conf
Labels: none

fwk: sunflower: charger init need to be executed after battery init
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: sunflower: EC shouldn't communicate with PD chip during flashing PD
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

host_cmd: Support EC_CMD_USB_PD_MUX_INFO in pdc
  zephyr/subsys/pd_controller/pdc_host_cmd.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_host_cmd.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

fwk: sunflower: Add motionsense support and accel console commands
  zephyr/program/framework/sunflower/i2c.dtsi
  zephyr/program/framework/sunflower/motionsense.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/project.overlay
Labels: none

navi: Change PS8802 address
  zephyr/program/rauru/navi/CMakeLists.txt
  zephyr/program/rauru/navi/project.overlay
  zephyr/program/rauru/navi/src/usb_mux.c
Labels: none

sundance: add the TCPCI output source declare to 5V/1.5A
  zephyr/program/nissa/sundance/project.conf
Labels: none

wugtrio: reduce the iEOC value to 120mA
  zephyr/program/corsola/wugtrio/project.overlay
Labels: none

common/console: Remove redundant check
  common/console.c
Labels: common

common/console: Remove CONFIG_EXPERIMENTAL_CONSOLE
  Makefile.rules
  common/console.c
  include/config.h
  util/config_allowed.txt
Labels: repo, common

flash_ec: Fix read support for ite_uart chip type
  util/flash_ec
Labels: none

drive/fingerprint: Add description of the parameters in fpsensor_driver
  driver/fingerprint/fpsensor_driver.h
Labels: none

pdc: ti: Fix cmd_get_pdc_data_status_reg output
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

kanix: Implement keyboard matrix
  zephyr/program/rex/kanix/CMakeLists.txt
  zephyr/program/rex/kanix/include/keyboard_customization.h
  zephyr/program/rex/kanix/keyboard.dtsi
  zephyr/program/rex/kanix/project.conf
  zephyr/program/rex/kanix/project.overlay
  zephyr/program/rex/kanix/src/keyboard_customization.c
  zephyr/test/rex/Kconfig
  zephyr/test/rex/testcase.yaml
  zephyr/test/rex/tests/kanix/CMakeLists.txt
  zephyr/test/rex/tests/kanix/src/keyboard_customization.c
Labels: none
