Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: tulip: bump to v3.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

quenbi: Update the AC_PRESENT interrupt source
  zephyr/program/bluey/quenbi/gpios.dtsi
  zephyr/program/bluey/quenbi/project.overlay
Labels: none

power/qcom_exp: Decouple AC passthru from AC_PRESENT interrupt
  include/power/qcom.h
  power/qcom_exp.c
  zephyr/program/bluey/interrupts.dtsi
  zephyr/program/bluey/src/chipset.c
Labels: none

zephyr: fpmcu: add srebrna project
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/et171/srebrna.conf
  zephyr/program/fpmcu/et171/srebrna.dts
Labels: none

zephyr: fpmcu: add stobnica project
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/et171/stobnica.conf
  zephyr/program/fpmcu/et171/stobnica.dts
Labels: none

Revert "padme: Modify wireless charger policy"
  zephyr/program/skywalker/padme/src/board.c
Labels: none

Mica: Change EC chip to NPCX9m7fb
  zephyr/program/bluey/BUILD.py
  zephyr/program/bluey/mica/project.overlay
Labels: none

charger: cleanup set ACOKREF
  common/charge_manager.c
  common/charger.c
Labels: common

charger: reset ACOKREF on AC disconnect
  common/charge_state.c
  zephyr/test/charger/Kconfig
  zephyr/test/charger/boards/isl9241.overlay
  zephyr/test/charger/charge/CMakeLists.txt
  zephyr/test/charger/charge/src/charge_acokref.c
  zephyr/test/charger/testcase.yaml
Labels: common

extpower: Add support for custom GPIO-based detection
  common/extpower_gpio.c
  include/extpower.h
  zephyr/Kconfig
  zephyr/shim/include/config_chip.h
Labels: common

quartz: Implement custom AC detection logic
  zephyr/program/bluey/quartz/CMakeLists.txt
  zephyr/program/bluey/quartz/project.conf
  zephyr/program/bluey/quartz/project.overlay
  zephyr/program/bluey/quartz/src/extpower_custom.c
Labels: none

power/qcom_exp: Use generic extpower interrupt APIs
  power/qcom_exp.c
Labels: none

isl9241: enable ACOKREF for PDC based projects
  zephyr/Kconfig.charger
  zephyr/program/fatcat/lapis/project.conf
Labels: none

panic_utils: support CONFIG_USE_SWITCH
  zephyr/shim/src/panic_utils.c
Labels: none

battery/smp,l24m4pk5: Fix parameters
  zephyr/dts/bindings/battery/smp,I24m4pk5.yaml
Labels: none

zephyr: cros_flash: andestech_xip: clear RW protection
  zephyr/drivers/cros_flash/cros_flash_andestech_xip.c
Labels: none

Chdir to platform/ec before compare build
  zephyr/zmake/zmake/zmake.py
Labels: none

test: run_device_tests: Add ability to set board-specific build flags
  test/run_device_tests.py
Labels: none

test: run_device_tests: Disable cache on sanok when testing on Renode
  test/run_device_tests.py
Labels: none

battery: Modify the battery parameters of smp,l26m2pk1
  zephyr/dts/bindings/battery/smp,l26m2pk1.yaml
Labels: none

quartz: Add initial VIF
  zephyr/program/bluey/quartz/quartz_vif.xml
Labels: none

jaina: setting KEYBOARD_COLS_MAX to 18
  zephyr/program/skywalker/jaina/include/keyboard_customization.h
  zephyr/program/skywalker/jaina/project.conf
Labels: none

flake.nix: Fix Python environment for nix build
  flake.nix
Labels: repo

flake.nix: Add lilac, update dependencies
  flake.lock
  flake.nix
Labels: repo

flake.nix: Import from lotus-azalea-nix-2025-05-16
  flake.lock
  flake.nix
Labels: repo

fwk: tulip: bump to v3.2.0
  .github/workflows/zephyr-build.yml
Labels: workflow

util: update_release_branch: update zephyr path
  util/update_release_branch.py
Labels: none

Battery: Add deferred retry for battery type initialization
  common/battery_fuel_gauge.c
  include/config.h
  zephyr/Kconfig.battery
  zephyr/shim/include/config_chip.h
Labels: common

nix: Filter nix files from src
  flake.nix
Labels: repo

nix: Build with version number
  flake.nix
Labels: repo

nix: Save RW and RO sections separately
  flake.nix
Labels: repo

nix: Build uut tool
  flake.nix
Labels: repo

quartz: Enable custom fan control with fan table
  zephyr/program/bluey/quartz/fan.dtsi
  zephyr/program/bluey/quartz/src/fan.c
Labels: none

zephyr: fpmcu: em32f967: add BBRAM support
  zephyr/include/cros/elan/em32f967.dtsi
Labels: none

Add missing dependecy on generated headers
  zephyr/subsys/rollback/CMakeLists.txt
Labels: none

test: hwtest: panic: Add RISC-V support
  test/run_device_tests.py
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/panic.c
Labels: none

test: run_device_tests: Re-enable malloc and sbrk tests on sanok when using Renode
  test/run_device_tests.py
Labels: none

cros_system: Replace DT_INST_REG_ADDR with DT_NODELABEL for GCTRL
  zephyr/drivers/cros_system/cros_system_it8xxx2.c
Labels: none

cros_system: Use node labels for XEC peripherals
  zephyr/drivers/cros_system/cros_system_xec.c
Labels: none

cros_system: Use node labels for NPCX peripherals
  zephyr/drivers/cros_system/cros_system_npcx.c
Labels: none
