Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: charger: allow to set over 5A when battery present change
  common/charge_state.c
Labels: common

fwk: tulip: bump to v2.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: extra post code to 16BIT
  zephyr/program/framework/include/diagnostics_laptop.h
Labels: none

fwk: cypd: add the logic to select the first PD device
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

Revert "fwk: mini-pc: disable CONFIG_SELECT_3A_TYPEC_OUTPUT_CURRENT"
  zephyr/program/framework/desktop_program.conf
Labels: none

fwk: dogwood: allow to change the PDO if the PSU already turns on
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: cypd: check the RDO mismatch flags
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: default set the PDO to 5V/1.5A
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: raa489300: add multi-function console command for 3-level-buck
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: tulip: split the board_confirm_buck_transition_ready function
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: pd: refactor 3-level-buck enter/exit epr
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: tulip: bump to v2.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: ucsi: refactor the write tunnel function
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
Labels: none

lower threshold for Apple 96W and TS4 98W chargers
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

Apple's charger identifies itself as 94W
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

Revert "fwk: tulip: split the board_confirm_buck_transition_ready function"
  zephyr/program/framework/tulip/src/charger.c
Labels: none

Revert "fwk: raa489300: add multi-function console command for 3-level-buck"
  zephyr/program/framework/src/raa489300.c
Labels: none

Revert "fwk: raa489300: transfer to sleep state if removing the power source"
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/include/raa489300.h
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/raa489300.c
  zephyr/program/framework/tulip/src/charger.c
Labels: none

Revert "fwk: pd: refactor 3-level-buck enter/exit epr"
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: tulip: bump to v2.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

Revert "fwk: lotus: adjust power limit based on the GPU power state"
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/gpu.c
Labels: none

fwk: ucsi: workaround: do not bypass the invalid UCSI data to host
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ensure the charger maximum voltage is battery->voltage_normal
  driver/battery/smart.c
Labels: none

fwk: 16-inch: enable SSD power in S3S0ix state
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

fwk: 16-inch: Split out control_ssd_power
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

fwk: 16-inch: Reduce the Type-C current once the battery exceed discharge current limit
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: initialize the PDO with the safety table
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: read the RDO information
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: add the new PDO profile 5V/0.9A
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: initialize the safety table for 4 and 5 type-c ports project
  zephyr/program/framework/src/usbc_4port_config.c
  zephyr/program/framework/src/usbc_5port_config.c
Labels: none

fwk: cypd: refactor the select 3A type-c port function
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: tulip: bump to v2.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk-main: 16-inch: Separate AMD and NV GPU sensor protection table
  zephyr/program/framework/include/lotus/board_thermal.h
  zephyr/program/framework/lotus/src/gpu_configuration.c
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

fwk: implement Battery Charge Limiting battery status
  common/battery_v2.c
  common/charge_state.c
  include/charge_state.h
  include/ec_commands.h
Labels: common

fwk: pd: return 0 voltage when no active charge port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Add new tulip branch to PR template
  .github/pull_request_template.md
Labels: workflow

fwk: initialize the safety table for 4 and 5 type-c ports project
  zephyr/program/framework/src/usbc_4port_config.c
  zephyr/program/framework/src/usbc_5port_config.c
Labels: none

fwk: 16-inch: Split out control_ssd_power
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

fwk: cypd: refactor the select 3A type-c port function
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: pd: return 0 voltage when no active charge port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none
