Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fpsensor: Only use CONFIG_FINGERPRINT_MCU to build files
  common/fpsensor/build.mk
  test/test_config.h
Labels: common

PPM: Return 0 for PPM_RESET and SET_NOTIFICATION_ENABLE
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

util: Adapt fp_download_frame to use libec command
  util/ectool.cc
Labels: none

dedede: reduce USB_PD_INT_STORM_MAX
  baseboard/dedede/baseboard.h
Labels: baseboard

fuzz: Remove span.h
  fuzz/span.h
Labels: none

pdc: tests: Add ppm idle state tests
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Add ppm idle_notify tests
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Add empty ppm processing tests
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Add ppm cc_ack tests
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Add ppm ci_ack tests
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

pdc: tests: Add test checking for lpm errors
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

util: Fix ectool compiler warning about variable length arrays
  util/ectool.cc
Labels: none

PPM: Don't erase shared UCSI region on PPM_RESET
  extra/um_ppm/ppm_common.c
Labels: none

Glassway: Implement keyboard backlight function
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/glassway/cbi.dtsi
  zephyr/program/nissa/glassway/keyboard.dtsi
  zephyr/program/nissa/glassway/overlay.dtsi
  zephyr/program/nissa/glassway/project.conf
  zephyr/program/nissa/glassway/src/kb_backlight.c
Labels: none

zephyr/Kconfig: add boot key and runtime key config
  util/config_allowed.txt
  zephyr/Kconfig.keyboard
  zephyr/shim/include/config_chip.h
  zephyr/test/vivaldi_kbd/prj.conf
Labels: none

roach: disable boot key/runtime key
  zephyr/program/roach/program.conf
Labels: none

zephyr: fpmcu: skip mutex tests
  test/run_device_tests.py
Labels: none

ec: Makefile: Update comment about MTK SCP repo
  Makefile
Labels: repo

Fix some bad #line directives
  include/driver/tcpm/tcpm.h
  include/system.h
Labels: none

Add #lines
  common/lid_switch.c
  common/port80.c
  common/usbc/usb_sm.c
Labels: common

PPM: Handle ACK CC internally
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

PPM: Allow ppm reset from any state
  extra/um_ppm/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

board/hyperdebug: Optimize bitbanging
  board/hyperdebug/build.mk
  board/hyperdebug/gpio.c
  board/hyperdebug/gpio_bitbang.S
Labels: none

board/hyperdebug: Support dac-banging
  board/hyperdebug/gpio.c
  board/hyperdebug/gpio_bitbang.S
Labels: none

Check #line directives for validity
  PRESUBMIT.cfg
  util/check_line_directives.py
Labels: repo

fpsensor: Join declaration and assignment for readability
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_crypto.cc
  common/fpsensor/fpsensor_debug.cc
  common/fpsensor/fpsensor_state.cc
Labels: common

fpsensor: Replace memcpy and memset with std::ranges::copy/fill
  common/fpsensor/fpsensor.cc
  test/fpsensor_crypto_with_mock.cc
Labels: common

MKBP: Increase key matrix size
  common/mkbp_event.c
  include/ec_cmd_api.h
  include/ec_commands.h
  test/kb_mkbp.c
Labels: common

Skitty: Support Type-C 65W adaptor
  zephyr/program/corsola/skitty/project.conf
Labels: none

veluza: Add motionsense config
  zephyr/program/corsola/veluza/CMakeLists.txt
  zephyr/program/corsola/veluza/project.conf
  zephyr/program/corsola/veluza/project.overlay
  zephyr/program/corsola/veluza/src/sensor.c
Labels: none

marigold: modify me_en control
  zephyr/program/framework/marigold/gpio.dtsi
  zephyr/program/framework/marigold/src/power_sequence.c
Labels: none

cbi: always check cros_cbi_get_fw_config return value
  zephyr/program/corsola/magikarp/src/sensor.c
  zephyr/program/corsola/tentacruel/src/sensor.c
  zephyr/program/corsola/woobat/src/sensor.c
  zephyr/program/nissa/joxer/src/keyboard.c
  zephyr/program/nissa/quandiso/src/keyboard.c
  zephyr/program/nissa/uldren/src/sensor.c
  zephyr/program/nissa/yaviks/src/keyboard.c
  zephyr/program/nissa/yaviks/src/thermal.c
  zephyr/program/nissa/yavilla/src/keyboard.c
  zephyr/program/nissa/yavista/src/keyboard.c
  zephyr/program/nissa/yavista/src/thermal.c
  zephyr/program/skyrim/winterhold/src/sensor.c
  zephyr/test/krabby/src/fwconfig_tentacruel.c
  zephyr/test/krabby/src/fwconfig_woobat.c
  zephyr/test/nissa/src/joxer.c
  zephyr/test/nissa/src/quandiso.c
  zephyr/test/nissa/src/yaviks.c
  zephyr/test/nissa/src/yavilla.c
Labels: none

RAA489110: Select derived charger configuration
  zephyr/Kconfig.charger
Labels: none

Keyboard: Add CONFIG_KEYBOARD_COLS
  common/mkbp_fifo.c
  common/mkbp_info.c
  include/keyboard_config.h
  zephyr/Kconfig.keyboard
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/keyscan.c
Labels: common

mtlrvp: Enable tablet mode
  zephyr/program/intelrvp/mtlrvp/prj.conf
Labels: none

PD_CONTROLLER: Select max voltage from the same power limits
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/include/emul/emul_realtek_rts54xx_public.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

fpsensor: Refactor fpsensor_crypto_with_mock
  test/fpsensor_crypto_with_mock.cc
Labels: none

fpsensor: Refactor test for readability
  test/fpsensor_crypto_with_mock.cc
Labels: none

Add #line to cros_kb_raw_ite.c
  zephyr/drivers/cros_kb_raw/cros_kb_raw_ite.c
Labels: none

Kyogre: Enable keyboard matrix v3.0
  zephyr/program/corsola/kyogre/project.conf
  zephyr/program/corsola/kyogre/project.overlay
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
