Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

test: add test for upload_pgm_image when bpp value is wrong
  test/fpsensor_debug.cc
Labels: none

ponyta360: Disable PD log for final firmware candidate
  zephyr/program/corsola/ponyta/project.conf
Labels: none

skywalker: update gpio table
  zephyr/program/skywalker/npcx_generated.dtsi
Labels: none

ucsi: Pack the union bmOptionalFeatures_t struct
  zephyr/include/drivers/ucsi_v3.h
Labels: none

WIP: nissa: guard USB-C port count
  zephyr/program/nissa/src/sub_board.c
Labels: none

fpsensor: rename mode as capture_type
  common/mock/fpsensor_mock.c
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
  include/fpsensor/fpsensor.h
Labels: common

zephyr/shim/console: Don't send uart_write_char to console buf
  zephyr/shim/src/console.c
Labels: none

emul_tcpci_partner: Clarify delay parameters
  zephyr/include/emul/tcpc/emul_tcpci_partner_common.h
Labels: none

hylia: remove rts54xx driver's log
  zephyr/program/rauru/hylia/project.conf
Labels: none

test/system_safe_mode: fix write_count check
  zephyr/test/system_safe_mode/src/system_safe_mode.c
Labels: none

genvif_test: Define task lists
  test/genvif/Makefile
  test/genvif/ec.tasklist
  test/genvif/genvif_test.tasklist
Labels: none

pdc: fix compile errors
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_pmc_debug_api.c
  zephyr/test/pdc/src/generic/pdc_pmc_usb_mux.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/generic/retimer_fw_update.c
Labels: none

skywalker: enable led_pwm
  zephyr/program/skywalker/npcx_generated.dtsi
  zephyr/program/skywalker/npcx_overlay.dtsi
  zephyr/program/skywalker/skywalker/led_pins.dtsi
Labels: none

francka: correct the i2c port map
  zephyr/program/fatcat/francka/i2c.dtsi
  zephyr/program/fatcat/francka/overlay.dtsi
Labels: none

TCPMv2: Include timer.h where appropriate
  common/usbc/usb_pe_drp_sm.c
Labels: common

emul_tcpci: Add struct tcpci_ctx helper
  zephyr/emul/tcpc/emul_tcpci.c
Labels: none

genvif_test: Make dependencies explicit
  test/build.mk
  test/genvif/Makefile
Labels: none

emul_tcpci: Pass struct emul into register ops
  zephyr/emul/tcpc/emul_tcpci.c
Labels: none

driver/fingerprint/fpc: Preserve the vendor capture type enum in APIs
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/bep/fpc_private.h
  driver/fingerprint/fpc/libfp/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.h
Labels: none

wyrdeer: remove CONFIG_PLATFORM_EC_TABLET_MODE config
  zephyr/program/corsola/wyrdeer/project.conf
  zephyr/program/corsola/wyrdeer/project.overlay
  zephyr/program/corsola/wyrdeer/src/base_detect.c
Labels: none

zephyr/app: Remove LOG_PRINTK workaround
  zephyr/app/ec/Kconfig
  zephyr/program/nissa/orisa-ish/prj.conf
  zephyr/program/trulo/trulo-ish/prj.conf
  zephyr/test/drivers/prj.conf
Labels: none

skyrim: Disable PWM shell for flash savings
  zephyr/program/skyrim/skyrim/project.conf
Labels: none

Telith: Tuning CC Eye Testing
  zephyr/program/nissa/telith/project.conf
  zephyr/program/nissa/telith/src/usbc.c
Labels: none

ptlrvp: Update VBUS_MEASURE config to the correct config
  zephyr/program/intelrvp/ptlrvp/pd.conf
  zephyr/program/intelrvp/ptlrvp/program.conf
Labels: none

francka: enable efs2
  zephyr/program/fatcat/francka/project.conf
Labels: none

TCPMv2: Remove config checks around pe_in_frs_mode
  common/usbc/usb_pe_drp_sm.c
  zephyr/emul/tcpc/emul_tcpci_partner_faulty_ext.c
  zephyr/include/emul/tcpc/emul_tcpci_partner_faulty_ext.h
  zephyr/test/drivers/usbc_frs/src/main.c
Labels: common

fpmcu hw test: disable EC_HOSTCMD_CONSOLE related configs to suppress build warnings
  zephyr/program/fpmcu/prj_hw_tests.conf
Labels: none

Add some logging so we can tell what boards have failed tests
  test/run_device_tests.py
Labels: none

emul_tcpci_partner: Implement FRS
  zephyr/emul/tcpc/emul_tcpci.c
  zephyr/emul/tcpc/emul_tcpci_partner_drp.c
  zephyr/emul/tcpc/emul_tcpci_partner_faulty_ext.c
  zephyr/include/emul/tcpc/emul_tcpci_partner_drp.h
  zephyr/include/emul/tcpc/emul_tcpci_partner_faulty_ext.h
  zephyr/test/drivers/usbc_frs/src/main.c
Labels: none

skywalker: enable inverted kso2
  zephyr/program/skywalker/skywalker/project.conf
  zephyr/program/skywalker/skywalker/project.overlay
Labels: none

ec: Rename fp_acquire_image_with_mode as fp_acquire_image
  common/fpsensor/fpsensor.cc
  common/mock/fpsensor_mock.c
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
  include/fpsensor/fpsensor.h
  include/mock/fpsensor_mock.h
  zephyr/shim/src/fpsensor.c
Labels: common

trulo: Pass sensor CTS tests
  driver/accel_bma4xx.c
Labels: none

fmap: account for rom_resident area
  common/fmap.c
Labels: common

navi: add navi VIF
  zephyr/program/rauru/navi/navi_vif.xml
Labels: none

format: update Python with black v25
  extra/usb_power/convert_servo_ina.py
  extra/usb_power/powerlog.py
  util/mchp/crisis_rcvry_util.py
  util/zephyr_to_resultdb.py
  zephyr/zmake/tests/test_multiproc_logging.py
  zephyr/zmake/zmake/project.py
  zephyr/zmake/zmake/signers.py
  zephyr/zmake/zmake/zmake.py
Labels: none

nissa: Reclaim flash space in yaviks, yavista
  zephyr/program/nissa/yaviks/project.conf
  zephyr/program/nissa/yavista/project.conf
Labels: none

spi: flash_reg: Remove isolated library
  CMakeLists.txt
  Kconfig
  common/CMakeLists.txt
  common/Kconfig
  common/build.mk
  common/spi/CMakeLists.txt
  common/spi/Kconfig
  common/spi/build.mk
  common/spi/flash_reg/CMakeLists.txt
  common/spi/flash_reg/build.mk
  common/spi_flash_reg.c
  include/spi_flash_reg.h
  util/twister_launcher.py
  zephyr/CMakeLists.txt
  zephyr/Kconfig.flash
  zephyr/drivers/cros_flash/CMakeLists.txt
  zephyr/test/spi_flash_reg/CMakeLists.txt
  zephyr/test/spi_flash_reg/Kconfig.module
  zephyr/test/spi_flash_reg/include/common.h
  zephyr/test/spi_flash_reg/include/util.h
  zephyr/test/spi_flash_reg/prj.conf
  zephyr/test/spi_flash_reg/src/main.c
  zephyr/test/spi_flash_reg/testcase.yaml
Labels: repo, common

ec/util: Generate 8-bit or 16-bit PGM ASCII output
  util/ectool.cc
Labels: none

skywalker: enable dp
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/src/dp_alt_mode.c
Labels: none

dochi: Use FW_CONFIG bit7-8 for keyboard type
  board/dochi/fw_config.c
  board/dochi/fw_config.h
  board/dochi/keyboard.c
Labels: none
