Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: sakura: bump to v0.0.8
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: create the Kconfig to select the framework's product family
  zephyr/program/framework/Kconfig
  zephyr/program/framework/lotus/project.conf
Labels: none

fwk: lotus: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_16
  zephyr/program/framework/lotus/project.conf
Labels: none

fwk: Add EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

fwk: azalea: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_13
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: Use the config to distinguish the item in EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

fwk: marigold: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_13
  zephyr/program/framework/marigold/project.conf
Labels: none

pchg: Add HALL to control the PCHG power on/off
  common/peripheral_charger.c
  include/config.h
  include/peripheral_charger.h
  zephyr/Kconfig.tabletmode
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/shim/include/config_chip.h
Labels: common

padme: Add HALL functionality to pchg
  zephyr/program/skywalker/padme/project.conf
  zephyr/program/skywalker/padme/project.overlay
  zephyr/program/skywalker/padme/src/board.c
Labels: none

padme: Prevent 5V/3A to power on in AC_only
  zephyr/program/skywalker/padme/project.conf
Labels: none

sapphire: Enable ADC reference voltage full-scale
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

pchg: Add Zephy mutex init
  common/peripheral_charger.c
Labels: common

ec_commands: Define EC_REBOOT_FLAG_IMMEDIATE
  include/ec_commands.h
Labels: none

caboc: Correct thermal table logic
  zephyr/program/brox/caboc/src/thermal.c
Labels: none

fwk: marigold: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_13
  zephyr/program/framework/marigold/project.conf
Labels: none

fwk: create the Kconfig to select the framework's product family
  zephyr/program/framework/Kconfig
  zephyr/program/framework/lotus/project.conf
Labels: none

fwk: Use the config to distinguish the item in EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

fwk: azalea: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_13
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: Add EC_CMD_READ_BOARDID
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/adc.c
Labels: none

fwk: lotus: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_16
  zephyr/program/framework/lotus/project.conf
Labels: none

ruby: Fix the vivaldi_kbd
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

zephyr: binman move flash_header to wp section
  zephyr/include/cros/binman.dtsi
Labels: none

sapphire: Modify the minimum power to 45W
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

Sapphire: Enable Keyboard Function for Volume Keys
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

fpsensor: support dedicated memory areas of fp data
  include/fpsensor/fpsensor_state.h
Labels: none

power/qcom_exp: remove chipset force shutdown while in offmode-charging
  power/qcom_exp.c
Labels: none

anakin: update VIF file
  zephyr/program/skywalker/anakin/anakin_vif.xml
  zephyr/program/skywalker/anakin/project.conf
Labels: none

ectool: Add newline to output of 'fpencstatus' command
  util/ectool.cc
Labels: none

ish: remove peripheral handling from ish firmware
  common/lid_angle_keyboard_policy.c
  zephyr/CMakeLists.txt
  zephyr/Kconfig.motionsense
  zephyr/drivers/dsp_comms/client/dsp_client.c
  zephyr/drivers/dsp_comms/client/include/cros/dsp/client.h
  zephyr/drivers/dsp_comms/service/CMakeLists.txt
  zephyr/drivers/dsp_comms/test_comms.cc
  zephyr/test/dsp_comms/prj.conf
  zephyr/test/lid_angle_common/CMakeLists.txt
Labels: common

matsu: Enable fan control
  zephyr/program/ocelot/matsu/temp_sensors.dtsi
Labels: none

skywalker: update VIF
  zephyr/program/skywalker/skywalker/skywalker_vif.xml
Labels: none

sapphire: Add UFSC config
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/sapphire_ec_ufsc.dtsi
Labels: none

zephyr: Use UFSC to probe alt sensors
  zephyr/dts/bindings/motionsense/motionsense-sensor-base.yaml
  zephyr/shim/include/motionsense_sensors.h
  zephyr/shim/src/motionsense_sensors.c
Labels: none

sapphire: apply USFC for sensor identification
  zephyr/program/tanjiro/sapphire/cbi.dtsi
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/sapphire_ec_ufsc.dtsi
  zephyr/program/tanjiro/sapphire/src/board_config.c
Labels: none

ocelotrvp-ite: initial VIF file
  zephyr/program/ocelot/ocelotrvp-ite/ocelotrvp-ite_vif.xml
Labels: none

pchg: Add function to get battery level
  common/peripheral_charger.c
  include/peripheral_charger.h
Labels: common

bluey: set CONFIG_PLATFORM_EC_KEYBOARD_COLS=18
  zephyr/program/bluey/program.conf
Labels: none

fpsensor: Add capture type to fingerprint sensor context
  common/fpsensor/fpsensor_state.cc
  include/ec_commands.h
  include/fpsensor/fpsensor_state.h
Labels: common

fpsensor: Save capture type after successful image acquisition
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_state.cc
Labels: common

Refactor skip_image_offset to use fp_capture_type
  common/fpsensor/fpsensor_utils.cc
  include/fpsensor/fpsensor_utils.h
  test/fpsensor_utils.cc
  zephyr/test/fingerprint/task/src/fpsensor_utils.cc
Labels: common

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
