Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fatcat: Allow additional project configs
  zephyr/program/fatcat/BUILD.py
Labels: none

charge manager: remove cflush
  common/charge_manager.c
Labels: common

ite ec: avoid masking pre-WDT
  chip/it83xx/hwtimer_chip.h
  chip/it83xx/registers.h
  core/nds32/task.c
Labels: none

TCPMv2: Gate Discover SVIDs on Modal Operation
  common/usbc/usb_pe_drp_sm.c
  zephyr/test/drivers/usb_pd_discovery/src/usb_pd_discovery.c
  zephyr/test/drivers/usbc_dp_mode/src/usbc_dp_mode.c
Labels: common

docs: Fix fingerprint capture raw image instructions
  docs/fingerprint/fingerprint-factory-requirements.md
Labels: none

util/ectool: Ensure that mkbp buffer is zeroed
  util/ectool.cc
Labels: none

util/ectool: Add recursive command invocation to waitevent
  util/ectool.cc
Labels: none

docs: Fix race condition in fp factory requirements
  docs/fingerprint/fingerprint-factory-requirements.md
Labels: none

usb: refactor `pd_extract_pdo_power()`
  common/usbc_utils.c
  include/usb_common.h
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/src/generic/usb_utils.c
Labels: common

pdc_power_mgmt: Add function to get current RDO
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc: Update `pdc srccaps` console command
  include/usb_pd.h
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

brox: Increase USB-PD current limit to 5000mA (full 100W)
  zephyr/program/brox/program.conf
Labels: none

pdc: Allow overriding PDC_SM_SETTLED_TIMEOUT_MS
  zephyr/subsys/pd_controller/Kconfig
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Store desired LPM source PDO separately
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Set sink capabilities PDO based on board config
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/prj.conf
Labels: none

fatcat/fatcat_it82002aw: Regen GPIOs for power sequencing
  zephyr/program/fatcat/fatcat_it82002aw/generated.dtsi
Labels: none

trulo: Add ndorisa touch panel support
  zephyr/program/trulo/trulo/CMakeLists.txt
  zephyr/program/trulo/trulo/src/touch_panel.c
Labels: none

fwk: create the chassis open switch driver
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/chassis.c
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

trulo: Enable standard shim feature configs
  zephyr/program/trulo/program.conf
Labels: none

util/firmware_builder: Move common firmware_builder logic
  firmware_builder.py
  zephyr/scripts/firmware_builder_lib.py
Labels: repo

zephyr: Clear panicdata before copying esf
  zephyr/shim/src/panic.c
Labels: none

trulo: Add button and lid switch interrupts
  zephyr/program/trulo/trulo.dtsi
Labels: none

trulo: add DT entry for ec voltage sense
  zephyr/program/trulo/trulo/project.overlay
Labels: none

trulo: Add LED policy
  zephyr/program/trulo/trulo/led_pins.dtsi
  zephyr/program/trulo/trulo/led_policy.dtsi
  zephyr/program/trulo/trulo/project.overlay
Labels: none

trulo: Add temp sensor support
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/trulo/temp_sensors.dtsi
Labels: none

trulo: Add fan support
  zephyr/program/trulo/trulo/fan.dtsi
  zephyr/program/trulo/trulo/project.overlay
Labels: none

gwendolin: Initial board offering
  Makefile.toolchain
  bazel/all_targets.generated.bzl
  board/gwendolin/board.h
  board/gwendolin/build.mk
  board/gwendolin/dev_key.pem
  board/gwendolin/ec.tasklist
  board/gwendolin/gpio.inc
  util/build_with_clang.py
  util/compare_build.sh
  util/flash_ec
  util/flash_fp_mcu
Labels: repo

board/gwendolin: Modify Code and Data RAM size
  board/gwendolin/board.h
Labels: none

gwendolin: Create CONFIG_FP_SENSOR_INT_ACTIVE_LOW
  include/config.h
  util/config_allowed.txt
Labels: none

helipilot: Configure FPS_INT Pin(B, 0) with rising/falling edges
  baseboard/helipilot/base_gpio_rw.inc
Labels: baseboard

gwendolin: Enable CONFIG_FP_SENSOR_INT_ACTIVE_LOW
  board/gwendolin/board.h
Labels: none

gwendolin: Add gwendolin to getversion.sh
  util/getversion.sh
Labels: none

renode: Add alias for gwendolin
  util/renode/gwendolin.resc
Labels: none

ppc: nx20p348x: Add device id verification
  driver/ppc/nx20p348x.c
  driver/ppc/nx20p348x.h
Labels: none

fatcat/fatcat_it82002aw: Enable SoC power sequencing
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/fatcat_it82002aw/CMakeLists.txt
  zephyr/program/fatcat/fatcat_it82002aw/gpios.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/gsc_board.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/include/board.h
  zephyr/program/fatcat/fatcat_it82002aw/project.conf
  zephyr/program/fatcat/fatcat_it82002aw/project.overlay
Labels: none

Delete brya board
  zephyr/program/brya/BUILD.py
  zephyr/program/brya/CMakeLists.txt
  zephyr/program/brya/Kconfig
  zephyr/program/brya/adc.dts
  zephyr/program/brya/battery.dts
  zephyr/program/brya/battery_present.c
  zephyr/program/brya/brya.dts
  zephyr/program/brya/fan.dts
  zephyr/program/brya/gpio.dts
  zephyr/program/brya/i2c.dts
  zephyr/program/brya/interrupts.dts
  zephyr/program/brya/kblight_hooks.c
  zephyr/program/brya/keyboard.dts
  zephyr/program/brya/motionsense.dts
  zephyr/program/brya/prj.conf
  zephyr/program/brya/prj_brya.conf
  zephyr/program/brya/pwm_leds.dts
  zephyr/program/brya/tcpc.conf
  zephyr/program/brya/temp_sensors.dts
  zephyr/program/brya/usbc.dts
Labels: none

test: pdc: Fix test flake on set active charge port
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc: fix the charge manager seeding
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

charge_manager: Disable port changes if battery state unknown
  common/charge_manager.c
Labels: common

pdc: Use the sink path status to set initial charge port
  common/charge_manager.c
  include/charge_manager.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: common

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
