Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

pdc: ti: Implement PDC APIs
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/drivers/usbc/tps6699x_cmd.h
  zephyr/drivers/usbc/tps6699x_reg.h
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_pdc.h
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/testcase.yaml
Labels: none

usb-pd: allow vconn swap to on
  common/usbc/usb_pe_drp_sm.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_ctrl_msg.c
Labels: common

pdc: Fix FRS support detection
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

pdc: Switch RTK to use UCSI GET_PDOS
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/include/drivers/pdc.h
  zephyr/include/drivers/ucsi_v3.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

brox: jubilant: rework the scancode selection code
  zephyr/program/brox/jubilant/src/keyboard_customization.c
  zephyr/test/brox/tests/jubilant/src/keyboard.c
Labels: none

flash_ec: Add npcx_uut boards list for flash programming
  util/flash_ec
Labels: none

trulo: add AP power sequencing support
  zephyr/program/trulo/CMakeLists.txt
  zephyr/program/trulo/power_signals.dtsi
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/src/board_power.c
  zephyr/program/trulo/trulo.dtsi
  zephyr/program/trulo/trulo/project.overlay
Labels: none

trulo: Add battery
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo/project.overlay
Labels: none

trulo: Add charger and C0 usbc support
  zephyr/program/trulo/Kconfig
  zephyr/program/trulo/generated.dtsi
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/usb_typec.dtsi
Labels: none

pdc_power_mgmt: emulate power swaps
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_tps6699x.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

PPM: Don't clear CCI connector change
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

PPM: Fix error message in invalid_ack_notify
  zephyr/subsys/ucsi/ppm_common.c
Labels: none

PPM: Not supported command should set CCI bit
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

PPM: Support the cancel command
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

test: Fix buccaneer support for sensor type and rtc
  test/run_device_tests.py
Labels: none

trulo: Add support for C1 usbc port
  zephyr/program/trulo/usb_typec.dtsi
Labels: none

pdc_power_mgmt: Add request source voltage test
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

test: Fix data RAM start address for buccaneer
  test/run_device_tests.py
Labels: none

driver/fingerprint: Remove unnecessary header
  driver/fingerprint/egis/platform/inc/egis_definition.h
Labels: none

pdc_rts54xx: Convert GET_VBUS_VOLTAGE to use connector status
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

helipilot: Add comment about CONFIG_DATA/CODE_RAM_SIZE
  baseboard/helipilot/base_board.h
Labels: baseboard

driver/fingerprint: Remove unuse define
  driver/fingerprint/egis/platform/src/plat_log_mcu.c
Labels: none

driver/fingerprint: Add FP_SENSOR_HWID_EGIS
  driver/fingerprint/egis/egis_api.h
Labels: none

driver/fingerprint: Add _EGIS suffix to EGIS macros
  driver/fingerprint/fpsensor_driver.h
Labels: none

driver/fingerprint: Add FP_ALGORITHM_TEMPLATE_SIZE_EGIS / FP_MAX_FINGER_COUNT_EGIS
  driver/fingerprint/egis/egis_api.h
  driver/fingerprint/fpsensor_matcher.h
Labels: none

driver/fingerprint: Add comments describing Elan identifiers
  driver/fingerprint/elan/elan_setting.h
Labels: none

Makefile: Improve reliability of clang/gcc detection
  Makefile.rules
  Makefile.toolchain
  core/cortex-m/build.mk
  core/cortex-m/toolchain.mk
  core/cortex-m0/build.mk
  core/cortex-m0/toolchain.mk
  core/host/toolchain.mk
  core/minute-ia/build.mk
  core/minute-ia/toolchain.mk
  core/nds32/toolchain.mk
  third_party/rules.mk
  util/build_with_clang.py
Labels: repo

pdc: Remove rts54xx GET_PD_MESSAGE workarounds
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

test/run_device_tests.py: Expand helipilot idle power range
  test/run_device_tests.py
Labels: none

test/run_device_tests.py: Add Platform abstract base class
  test/run_device_tests.py
Labels: none

test/run_device_tests.py: Move platform-specific functions to Hardware class
  test/run_device_tests.py
Labels: none

test/run_device_tests.py: Add Renode implementation of Platform class
  test/run_device_tests.py
Labels: none

driver: Enable calling egis functions from C++
  driver/fingerprint/egis/egis_api.h
  driver/fingerprint/egis/platform/inc/plat_log.h
  driver/fingerprint/egis/platform/inc/plat_mem.h
  driver/fingerprint/egis/platform/inc/plat_reset.h
  driver/fingerprint/egis/platform/inc/plat_spi.h
  driver/fingerprint/egis/platform/inc/plat_time.h
Labels: none

ovis: enable CONFIG_SIMULATED_SYSRQ
  zephyr/program/ovis/program.conf
Labels: none

test: Add restricted console unit test for fpupload command
  test/restricted_console.c
Labels: none

test: Add restricted console unit test for fpdownload command
  test/restricted_console.c
Labels: none

fpsensor: Modify error code for fpupload for arg != 3
  common/fpsensor/fpsensor_debug.cc
Labels: common

pdc_power_mgmt: Test test_get_vconn_state
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

chip/stm32: Larger console UART buffer for STM32L5
  chip/stm32/config-stm32l552xe.h
Labels: none

pdc: tests: Rename TEST_SUITE_PPM to TEST_SUITE_PPM_STATE_MACHINE
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/ppm_state_machine.c
  zephyr/test/pdc/testcase.yaml
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
