Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: refactor framework/led functions
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/laptop_led.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: led: runtime to update the led duration
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: dogwood: use the fwk led driver
  zephyr/program/framework/desktop_program.conf
  zephyr/program/framework/dogwood/led_policy.dtsi
Labels: none

fwk: add the new properties for standalone mode
  zephyr/dts/bindings/leds/cros-ec,fwk-led-policy.yaml
  zephyr/program/framework/azalea/led_policy.dtsi
  zephyr/program/framework/lotus/led_policy.dtsi
  zephyr/program/framework/marigold/led_policy.dtsi
  zephyr/program/framework/src/led.c
Labels: none

fwk: dogwood: bump to v2.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: pd: don't override the PD chip state when the PD chip is ready
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: hc: EC_CMD_READ_PD_VERSION support to return the 3rd PD chip version
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: pd: return pd version 0x00 if PD is not ready
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sunflower: bump to v2.06
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/sunflower: Increase KB controller I2C to 1MHz
  zephyr/program/framework/sunflower/i2c.dtsi
Labels: none

fwk: avoid reset timer trigger clear charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: main: fix lotus power limit behavior
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: avoid reset timer trigger clear charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: modified the UCSI port swap logic to avoid EC crash
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: lilac: fix ucsi get_error_status response
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: refactor UCSI port and PD port map
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/ucsi_port_13_16.c
Labels: none

fwk: dogwood: Add UCSI port map
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/ucsi_port_mini_pc.c
Labels: none

fwk: let connector remap port not to overwrite the other memory location
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: lilac: do not mask UCSI_CMD_GET_ALTERNATE_MODE
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: UCSI set_power_level no broadcast
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: sunflower: modify PD USB product ID
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: Check parameter in get_hardware_id
  zephyr/program/framework/src/adc.c
Labels: none

gh-actions: Build ectool
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Bundle any version of the library
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Upload util to github actions
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Package dynamic libs with util binaries
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/gh-actions: run ldd in chroot
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/gh-actions: Ignore missing libraries
  .github/workflows/zephyr-build.yml
Labels: workflow

Fix so that the EC does not get into battery CHARGE/DISCHARGE loops.
  common/charge_state.c
  driver/battery/smart.c
  include/config.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/src/battery_extender.c
  zephyr/program/framework/src/charge_limit_control.c
Labels: common

fwk: dogwood: bump to v2.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Check parameter in get_hardware_id
  zephyr/program/framework/src/adc.c
Labels: none

fwk: sunflower: update pl setting to improve DC balance mode performance
  zephyr/program/framework/sunflower/src/cpu_power.c
Labels: none

fwk: Check parameter in get_hardware_id
  zephyr/program/framework/src/adc.c
Labels: none

fwk: fix 3-level-buck not output 24v
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: adjust the order of writing the current limit
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: fix 3-level-buck shutdown drop
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: tulip: enable raa489300 kconfig
  zephyr/program/framework/tulip/project.conf
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: modify raa489300 console command
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: adjusted the 0x3D Fault Retry Timer
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: fix raa489300 parameter not updated in ac only
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
