Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: reset touchpad when in PTP mode
  zephyr/program/framework/include/ps2mouse.h
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk: lilac: fix ucsi get_error_status response
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: main: fix battery cutoff
  zephyr/program/framework/lotus/src/battery.c
Labels: none

fwk: reset touchpad when in PTP mode
  zephyr/program/framework/include/ps2mouse.h
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: modified the UCSI port swap logic to avoid EC crash
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk: support to wake on the system from S0i3 state via WoL
  zephyr/program/framework/src/wol.c
Labels: none

fwk/lilac: Bump to 3.00
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower: bump to v2.01
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower: Add define to indicate the number of PD controllers
  zephyr/program/framework/include/cypress_pd_common.h
Labels: none

fwk: modified the UCSI port swap logic to avoid EC crash
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: dogwood: bump to v1.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: combine charger limit and battery extender
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/battery_extender.c
  zephyr/program/framework/src/charge_limit_control.c
Labels: none

fwk: support to wake on the system from S0i3 state via WoL
  zephyr/program/framework/src/wol.c
Labels: none

fwk: sunflower: change the logic to perform the error recovery
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/src/usbc.c
Labels: none

fwk: allow project to change the logic to perform the error recovery
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: main: combine charger limit and battery extender
  zephyr/program/framework/lotus/src/battery.c
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: main: combine charger limit and battery extender
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/battery_extender.c
  zephyr/program/framework/src/charge_limit_control.c
Labels: none

fwk: add the tulip project in the zephyr-build.yml file
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: marigold: Fix fan off hysteresis
  zephyr/program/framework/marigold/src/thermal.c
Labels: none

fwk: sunflower: power led needs to turn on when lid close
  zephyr/program/framework/src/led.c
Labels: none

fwk: lotus: adjust power limit based on the GPU power state
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/gpu.c
Labels: none

fwk: add the short hibernate timer for chassis open behavior
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/chassis.c
Labels: none

fwk: fix pb press behavior
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk/lilac: Bump to 3.01
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: fix ucsi get_error_status response
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: Add CONFIG CHARGER_DYNAMIC_ACOK_REFERENCE
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/board_charger.h
  zephyr/program/framework/include/marigold/charger.h
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: sunflower: bump to v2.02
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: do not mask UCSI_CMD_GET_ALTERNATE_MODE
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: UCSI set_power_level no broadcast
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: dogwood: bump to v1.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dogwood: Build dogwood first
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 3.02
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk/lotus-azalea: Checkout correct cmsis
  .github/workflows/lotus-azalea-build.yml
Labels: workflow

fwk/lotus-azalea: Build on marigold builder
  .github/workflows/lotus-azalea-build.yml
Labels: workflow

fwk/lotus-azalea: Prepare to move builder
  .github/workflows/lotus-azalea-build.yml
Labels: workflow

fwk/lotus-azalea: Don't build old branch names
  .github/workflows/lotus-azalea-build.yml
Labels: workflow

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
