Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

led: Optimize led_pins_node_t memory footprint
  zephyr/include/drivers/led.h
Labels: none

fwk: sakura: optimize ITM help system performance in cool air
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/cpu_power.c
Labels: none

lapis: Add damaged battery protection
  zephyr/program/fatcat/lapis/src/battery.c
Labels: none

test: run_device_test: add flash protection rw test
  test/run_device_tests.py
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/flash_protection_rw.c
Labels: none

fwk: Document HID Mouse mode for PS2
  zephyr/program/framework/include/ps2mouse.h
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: Clarify log message when changing TP to mouse mode
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: document emumouse
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: Add comments about ps2 emulation
  zephyr/program/framework/src/ps2mouse.c
Labels: none

ps2: Document purpose and requirements
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: Document how interrupt gets called
  zephyr/program/framework/src/ps2mouse.c
Labels: none

padme: Modify the power-on operation of the pchg policy
  zephyr/program/skywalker/padme/src/board.c
Labels: none

bluey: Enable ACOK passthru interrupt
  zephyr/program/bluey/src/chipset.c
Labels: none

ciri: performance optimizations
  zephyr/program/geralt/ciri/project.conf
  zephyr/program/geralt/ciri/project.overlay
Labels: none

ap_pwrseq: mtl:remove check on resume event in s0ix state
  zephyr/subsys/ap_pwrseq/x86_non_dsx_mtl_pwrseq_sm.c
Labels: none

Fix cmake deps for tokenized_handler
  zephyr/shim/src/CMakeLists.txt
Labels: none

moonstone: Update thermal table version 2
  zephyr/program/fatcat/moonstone/fan.dtsi
  zephyr/program/fatcat/moonstone/src/thermal.c
Labels: none

moonstone: Remove external volume buttons feature
  zephyr/program/fatcat/moonstone/gpios.dtsi
  zephyr/program/fatcat/moonstone/project.conf
Labels: none

imvp/rt3645: Remove gpio state check
  zephyr/drivers/imvp/rt3645.c
Labels: none

fwk: sakura: Add Bios crisis recovery key detection feature
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: Merge laptop13 keyboard_customization.h
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/framework13/keyboard_customization.h
  zephyr/program/framework/include/marigold/keyboard_customization.h
Labels: none

fwk: sakura: fix keyboard row/col define
  zephyr/program/framework/include/framework13/keyboard_customization.h
Labels: none

fwk: disable the boot key detection support
  zephyr/program/framework/program.conf
Labels: none

fwk: sakura: bump to v1.0.7
  .github/workflows/zephyr-build.yml
Labels: workflow

Dagwood: add EC based I2C tests
  zephyr/test/ec-aic/README.md
  zephyr/test/ec-aic/dagwood-hwmap
  zephyr/test/ec-aic/i2c/CMakeLists.txt
  zephyr/test/ec-aic/i2c/boards/npcx9_npcx9m7f.overlay
  zephyr/test/ec-aic/i2c/boards/realtek_rts5912.overlay
  zephyr/test/ec-aic/i2c/prj.conf
  zephyr/test/ec-aic/i2c/src/main.c
  zephyr/test/ec-aic/i2c/testcase.yaml
Labels: none

power: qcom_exp: move offmode heartbeat to RTC alarm based wake
  include/power/qcom.h
  power/qcom_exp.c
Labels: none

fwk: lotus: bump to v4.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

vader: For final firmware cadidate
  zephyr/program/skywalker/vader/project.conf
Labels: none

Yoda: Added 5 models of 2S1P batteries
  zephyr/program/skywalker/yoda/project.overlay
Labels: none

r2d2: Add r2d2_vif.xml
  zephyr/program/skywalker/r2d2/r2d2_vif.xml
Labels: none

zephyr:test:Add unit test for Max695x LED Display Driver
  driver/led/max695x.c
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/led_driver/CMakeLists.txt
  zephyr/test/drivers/led_driver/max695x_led.overlay
  zephyr/test/drivers/led_driver/prj.conf
  zephyr/test/drivers/led_driver/src/max695x_led_test_simple.c
  zephyr/test/drivers/led_driver/src/stubs.c
  zephyr/test/drivers/testcase.yaml
Labels: none

zephyr: npcx: Add support for disabling writes
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

cme: fix cme version argument
  zephyr/CMakeLists.txt
  zephyr/scripts/cme.py
Labels: none

zephyr: test: add flash_config flash physical test for helipilot
  zephyr/test/hwtest/src/flash_physical.c
Labels: none

zephyr: test: add flash_config flash physical test for bloonchipper
  zephyr/test/hwtest/src/flash_physical.c
Labels: none

fwk: Update actions/upload-artifact v4 -> v6
  .github/workflows/zephyr-build.yml
Labels: workflow

ec_commands: Add offset field to fp_image_frame_params
  include/ec_commands.h
Labels: none

driver/fingerprint: Add offset to image frame parameters for all sensors
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
Labels: none

common/fpsensor: Display image offset in fpinfo console command
  common/fpsensor/fpsensor_debug.cc
Labels: common

driver/fingerprint: Reorder image param macro initializers
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
Labels: none

zephyr: fingerprint: Move image offset to devicetree
  zephyr/drivers/fingerprint/fingerprint_egis630.c
  zephyr/drivers/fingerprint/fingerprint_egis660.c
  zephyr/drivers/fingerprint/fingerprint_elan80series.c
  zephyr/drivers/fingerprint/fingerprint_fpc1025.c
  zephyr/drivers/fingerprint/fingerprint_fpc1145.c
  zephyr/drivers/fingerprint/fingerprint_sensor_sim.c
  zephyr/dts/bindings/fingerprint/fingerprint-image-frame-params.yaml
  zephyr/include/drivers/fingerprint.h
  zephyr/program/fpmcu/bloonchipper/bloonchipper.dts
  zephyr/program/fpmcu/em32f967/niedzica.dts
  zephyr/program/fpmcu/et171/sanok.dts
  zephyr/program/fpmcu/et171/srebrna.dts
  zephyr/program/fpmcu/et171/stobnica.dts
  zephyr/program/fpmcu/helipilot/buccaneer.dts
  zephyr/program/fpmcu/helipilot/helipilot.dts
  zephyr/shim/include/fpsensor_driver.h
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
