Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: dogwood: bump to v3.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: 16-inch: update fan_off and fan_max phandle for UMA SKU
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

fwk: ucsi: don't swap the ucsi port if the port is invalid
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: 16-inch: Change power plan definition to force efficiency mode
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: ucsi: don't swap the ucsi port if the port is invalid
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: 16-inch: Separate Tulip and Lotus's PMF table
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/include/lotus/cpu_power.h
  zephyr/program/framework/lotus/src/board_function.c
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/pmf.c
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/tulip/src/pmf.c
Labels: none

fwk-main: 16-inch: Align fan_off/ fan_max seeting with EEPROM
  zephyr/program/framework/lotus/src/gpu_configuration.c
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

fwk: 16-inch: Change power plan definition to force efficiency mode
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: azalea: modified the LED period-ms value for the standalone mode
  zephyr/program/framework/azalea/led_policy.dtsi
Labels: none

fwk: marigold: modified the LED period-ms value for the standalone mode
  zephyr/program/framework/marigold/led_policy.dtsi
Labels: none

fwk: lotus: modified the LED period-ms value for the standalone mode
  zephyr/program/framework/lotus/led_policy.dtsi
Labels: none

fwk: lotus: modified the LED period-ms value for the standalone mode
  zephyr/program/framework/lotus/led_policy.dtsi
Labels: none

fwk: tulip: bump to v3.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: 16-inch: update fan_off and fan_max phandle for UMA SKU
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

fwk: tulip: raa489300 Cfly freq modify to 400khz
  zephyr/program/framework/include/raa489300.h
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: led: add a function to change the LED duty
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: 16-inch: change the battery LED duty when the system state is changed
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/lotus/src/led.c
Labels: none

fwk: 16-inch: modify amber led brightness
  zephyr/program/framework/lotus/led_pins.dtsi
Labels: none

driver/fingerprint: add NOT_SUPPORTED error code to egis_api_return_t
  driver/fingerprint/egis/egis_api.h
  zephyr/drivers/fingerprint/fingerprint_egis630_private.h
Labels: none

battery: Add new battery C22N2505
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/cosmx,c22n2505.yaml
Labels: none

tarkin: Remove charging current limit policy
  zephyr/program/skywalker/tarkin/CMakeLists.txt
  zephyr/program/skywalker/tarkin/project.conf
  zephyr/program/skywalker/tarkin/src/thermal.c
Labels: none

fwk: tulip: raa489300 Cfly freq modify to 400khz
  zephyr/program/framework/include/raa489300.h
  zephyr/program/framework/src/raa489300.c
Labels: none

fwk: 16-inch: modify amber led brightness
  zephyr/program/framework/lotus/led_pins.dtsi
Labels: none

fwk: 16-inch: change the battery LED duty when the system state is changed
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/lotus/src/led.c
Labels: none

fwk: led: add a function to change the LED duty
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led_pwm.c
Labels: none

include/ec_cmd_api.h: Define new API for EC_CMD_AP_SHUTDOWN command
  include/ec_cmd_api.h
Labels: none

include/ec_commands.h: Avoid lint errors
  include/ec_commands.h
Labels: none

TCPMV2: Added Debounce & DRP_SW_Toggle
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
  test/usb_typec_drp_acc_trysrc.c
Labels: common

Magolor: Disable event-driven CC detection
  board/magolor/board.h
Labels: none

Magolor: Reduce TCPC LPM exit debounce to 25 ms
  board/magolor/board.h
Labels: none

Pujjoga: Disable event-driven & Reduce TCPC LPM exit debounce to 25 ms
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

dsp_service: Ensure that client callback is set first
  zephyr/drivers/dsp_comms/service/dsp_service.cc
  zephyr/drivers/dsp_comms/service/include/cros/dsp/service/cros_transport.hh
  zephyr/drivers/dsp_comms/service/include/cros/dsp/service/driver.hh
  zephyr/drivers/pw_transport/public/pw_transport/service.h
  zephyr/drivers/pw_transport/test_transport_service.cc
Labels: none

pujjoga: Update VIF to spec version 3.36
  zephyr/program/nissa/pujjoga/pujjoga_vif.xml
Labels: none

program/bluey: enable 5v FAN power-rail for bluey and quartz
  zephyr/program/bluey/src/chipset.c
Labels: none

servo: Introduce SuzyQ alike mode in poweron_conf and CC settings
  board/servo_v4p1/poweron_conf.c
  board/servo_v4p1/poweron_conf.h
  board/servo_v4p1/usb_pd_config.h
  board/servo_v4p1/usb_pd_policy.c
Labels: none

Add missing reuse wheel, and many deps
  util/zephyr_check_compliance.py
Labels: none

Sort wheels
  util/zephyr_check_compliance.py
Labels: none

zephyr: boards: it8xxx2: add it82000bw soc support
  zephyr/boards/google/it8xxx2/Kconfig.it8xxx2
  zephyr/boards/google/it8xxx2/board.yml
  zephyr/boards/google/it8xxx2/it8xxx2_it82000bw.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82000bw_defconfig
Labels: none

fwk: Change GN22 gpio2 EEPROM pin config to output
  zephyr/program/framework/include/lotus/gpu_configuration.h
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

matsu: Update gpio table
  zephyr/program/ocelot/matsu/gpios.dtsi
Labels: none
