Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

kinmen: Initial support fan control by EC
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/kinmen/fan.dtsi
  zephyr/program/fatcat/kinmen/gpios.dtsi
  zephyr/program/fatcat/kinmen/project.conf
  zephyr/program/fatcat/kinmen/project.overlay
  zephyr/program/fatcat/kinmen/src/thermal.c
  zephyr/program/fatcat/kinmen/temp_sensors.dtsi
Labels: none

driver/cps8601: Add the driver for CPS8601
  driver/wpc/cps8100.c
  driver/wpc/cps8100.h
  driver/wpc/cps8601_bootloader.h
  include/peripheral_charger.h
Labels: none

tanjiro: initial board
  zephyr/program/tanjiro/BUILD.py
  zephyr/program/tanjiro/CMakeLists.txt
  zephyr/program/tanjiro/Kconfig
  zephyr/program/tanjiro/arbitrage.dtsi
  zephyr/program/tanjiro/common.dtsi
  zephyr/program/tanjiro/generated.dtsi
  zephyr/program/tanjiro/interrupts.dtsi
  zephyr/program/tanjiro/keyboard.dtsi
  zephyr/program/tanjiro/overlay.dtsi
  zephyr/program/tanjiro/pdc.dtsi
  zephyr/program/tanjiro/power_signal.dtsi
  zephyr/program/tanjiro/program.conf
  zephyr/program/tanjiro/src/hooks.c
  zephyr/program/tanjiro/src/i2c.c
  zephyr/program/tanjiro/tanjiro/project.conf
  zephyr/program/tanjiro/tanjiro/project.overlay
Labels: none

kinmen-ish: Fix incorrect sensor
  zephyr/program/fatcat/kinmen-ish/interrupts_motionsense.dtsi
  zephyr/program/fatcat/kinmen-ish/motionsense.dtsi
  zephyr/program/fatcat/kinmen-ish/project.conf
  zephyr/program/fatcat/kinmen-ish/project.overlay
Labels: none

moonstone: Runtime ports configuration
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/fatcat/moonstone/project.overlay
  zephyr/program/fatcat/moonstone/src/usbc_runtime.c
  zephyr/program/fatcat/moonstone/usb_typec.dtsi
Labels: none

fwk: tulip: assert GPU_PWR_LEVEL low only for AC-only mode
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

battery: add support for atl,313-b7-2d-a battery pack
  zephyr/dts/bindings/battery/atl,313-b7-2d-a.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
Labels: none

quartz: Add battery atl_313-b7-2d-a
  zephyr/program/bluey/quartz/battery.dtsi
Labels: none

quartz: Enable keyboard
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/quartz/CMakeLists.txt
  zephyr/program/bluey/quartz/include/keyboard_customization.h
  zephyr/program/bluey/quartz/keyboard.dtsi
  zephyr/program/bluey/quartz/project.conf
  zephyr/program/bluey/quartz/project.overlay
Labels: none

fpsensor: add fp vendor defined host command
  common/fpsensor/fpsensor_vendor_command.cc
  include/ec_cmd_api.h
  include/ec_commands.h
  include/fpsensor/fpsensor.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.fingerprint
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/src/fpsensor_vendor_command.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: common

zephyr: add cps8601 device support
  zephyr/dts/bindings/pchg/convenientpower,cps8601.yaml
  zephyr/shim/include/wpc/cps8601.h
  zephyr/shim/src/pchg.c
Labels: none

Grogu: Implement power signal en_pwr_s3 control
  zephyr/program/skywalker/grogu/project.overlay
Labels: none

keyboard: Remove unnecessary CONFIG_PLATFORM_EC_KEYBOARD_COL2_INVERTED
  zephyr/program/fatcat/felino/project.conf
  zephyr/program/fatcat/francka/project.conf
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/ruby/project.conf
  zephyr/program/intelrvp/program.conf
  zephyr/program/nissa/pujjoniru/project.conf
  zephyr/program/nissa/rull/project.conf
  zephyr/program/nissa/telith/project.conf
  zephyr/program/trulo/kaladin/project.conf
Labels: none

keyboard: Add dependency for Kconfig PLATFORM_EC_KEYBOARD_COL2_INVERTED
  zephyr/Kconfig.keyboard
Labels: none

kinmen: Change fan pwm to channel 5
  zephyr/program/fatcat/kinmen/fan.dtsi
  zephyr/program/fatcat/kinmen/gpios.dtsi
Labels: none

fwk: tulip: assert GPU_PWR_LEVEL low only for AC-only mode
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

moonstone-ish: Link dtsi to kinmen-ish
  zephyr/program/fatcat/moonstone-ish/gpio.dtsi
  zephyr/program/fatcat/moonstone-ish/i2c.dtsi
  zephyr/program/fatcat/moonstone-ish/interrupts_motionsense.dtsi
  zephyr/program/fatcat/moonstone-ish/ish.dtsi
  zephyr/program/fatcat/moonstone-ish/motionsense.dtsi
  zephyr/program/fatcat/moonstone-ish/project.overlay
Labels: none

motion_sense: Set Sensor IRQ even when sensors are disabled
  zephyr/shim/src/motionsense_sensors.c
Labels: none

trulo: Remove duplicate definition of CONFIG_PLATFORM_EC_DSP_REMOTE_BODY_DETECTION
  zephyr/program/trulo/kaladin-ish/project.conf
  zephyr/program/trulo/pujjolo-ish/project.conf
  zephyr/program/trulo/uldrenite-ish/project.conf
Labels: none

fwk: lilac: fix ucsi.c use error count
  zephyr/program/framework/src/ucsi.c
Labels: none

padme: add WPC CPS8601 support
  zephyr/program/skywalker/padme/project.conf
  zephyr/program/skywalker/padme/project.overlay
Labels: none

boards/it82xx2: default disable CONFIG_LTO for enable ram code
  zephyr/boards/google/it8xxx2/Kconfig.defconfig
  zephyr/program/brox/ite.conf
  zephyr/program/fatcat/kinmen/project.conf
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/ocelot/matsu/project.conf
  zephyr/program/rauru/navi/project.conf
  zephyr/program/rauru/program.conf
  zephyr/program/rauru/rauru/project.conf
  zephyr/program/roach/spikyrock/project.conf
  zephyr/program/skywalker/ite_program.conf
  zephyr/program/trulo/ite.conf
Labels: none

fix: resolve issues in Focaltech Touchpad IIC driver
  driver/touchpad_focal.c
Labels: none

Add Focaltech Touchpad IIC driver config
  zephyr/program/roach/eirtae/project.conf
  zephyr/program/roach/eirtae/project.overlay
Labels: none

ectool: Add capture type argument to fpframe
  util/ectool.cc
Labels: none

Yoda: Reduce default ODR to 10Hz
  zephyr/program/skywalker/yoda/motionsense.dtsi
Labels: none

padme: Enable three buttons entry recovery mode
  zephyr/program/skywalker/padme/project.conf
Labels: none

Revert "run_device_tests: Disable zephyr_cpp_newlib test temporarily"
  test/run_device_tests.py
Labels: none

baseboard: octopus: Limit sensor ODR to 125Hz
  baseboard/octopus/baseboard.h
Labels: baseboard

quenbi: Add temperature sensors device tree configuration
  zephyr/dts/bindings/adc/named-adc-channels.yaml
  zephyr/program/bluey/quenbi/project.overlay
  zephyr/program/bluey/quenbi/temp_sensors.dtsi
Labels: none

battery: fix discharge_max_c for smp,333-1D-2D-A battery pack
  zephyr/dts/bindings/battery/smp,333-1D-2D-A.yaml
Labels: none

lapis: Enable retimer firmware update
  zephyr/program/fatcat/lapis/project.conf
Labels: none

tanjiro: Modify the interrupt pin of PDC C1
  zephyr/program/tanjiro/pdc.dtsi
Labels: none

obiwan: Update charger limit policy
  zephyr/program/skywalker/obiwan/src/thermal_policy.c
Labels: none

fwk: pd: fix profile restore when port role is swapped to source
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

quartz: Relocate project-specific power-rail configuration
  zephyr/program/bluey/quartz/CMakeLists.txt
  zephyr/program/bluey/quartz/src/chipset.c
Labels: none

quenbi: Relocate project-specific power-rail configuration
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/quenbi/CMakeLists.txt
  zephyr/program/bluey/quenbi/src/chipset.c
Labels: none

bluey: Relocate project-specific power-rail configuration
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/bluey/CMakeLists.txt
  zephyr/program/bluey/bluey/src/chipset.c
Labels: none

bluey: Delete moved power-rail config and aliases
  zephyr/program/bluey/bluey/gpios.dtsi
  zephyr/program/bluey/quartz/gpios.dtsi
  zephyr/program/bluey/src/chipset.c
Labels: none

motionsense: lis2dw12: Add list_activities driver method
  driver/accel_lis2dw12.c
Labels: none
