Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: tulip: resume from suspend can enter epr mode
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

eirtae: Modify the keyboard matrix
  zephyr/program/roach/eirtae/keyboard.dtsi
Labels: none

sapphire: Enable base detect function
  zephyr/program/tanjiro/sapphire/CMakeLists.txt
  zephyr/program/tanjiro/sapphire/led.dtsi
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/base_detect.c
Labels: none

ruby: Fix keyboard config
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

zephyr/test: Add test cases for hcdebug
  zephyr/test/drivers/default/src/console_cmd/hcdebug.c
  zephyr/test/drivers/testcase.yaml
Labels: none

ruby: Enable PSL function for hibernate control
  zephyr/program/fatcat/ruby/gpios.dtsi
Labels: none

ptl-rvp: Add `std_adp_cntrl` for barrel jack load switch control GPIO
  zephyr/program/fatcat/fatcatrvp-ite/gpios.dtsi
  zephyr/program/fatcat/fatcatrvp-npcx/gpios.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlgcs/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/gpio.dtsi
Labels: none

kaladin: support new keyboard matrix
  zephyr/program/trulo/kaladin/keyboard.dtsi
  zephyr/program/trulo/kaladin/src/board.c
  zephyr/program/trulo/kaladin/src/keyboard_customization.c
Labels: none

ruby: Configure the LED hardware peripheral.
  zephyr/program/fatcat/ruby/project.conf
  zephyr/program/fatcat/ruby/project.overlay
Labels: none

ojal: Enable sleep function
  zephyr/program/ocelot/ojal/keyboard.dtsi
Labels: none

fwk: The PD vendor-specific registers mapping
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
Labels: none

fwk: sakura: Increase the short hibernate timer to 7 seconds
  zephyr/program/framework/sakura/project.conf
Labels: none

fwk: disable the hibernation timer if pressing the power button
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/src/chassis.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: sakura: Instant power button LED feeback
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: Change PD PID from 0x0025 (lilac) to 0x002F
  zephyr/program/framework/sakura/project.conf
Labels: none

fwk: sakura: Add power limit setting
  zephyr/program/framework/sakura/src/cpu_power.c
Labels: none

fwk: Split Intel/AMD specific retimer PD code
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_amd.c
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypd_intel.c
Labels: none

fwk: sakura: bump to v0.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

Sapphire: Modify lcm ntc sensor configuration
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

cme: add more PDC and redriver chips
  zephyr/scripts/cme_additional_id.py
  zephyr/scripts/cme_chip_id.py
Labels: none

Baze: Update Baze VIF
  zephyr/program/skywalker/baze/Baze_vif.xml
Labels: none

ish: fatcat: Add idle ISH build
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/fatcat-ish-idle/gpio.dtsi
  zephyr/program/fatcat/fatcat-ish-idle/i2c.dtsi
  zephyr/program/fatcat/fatcat-ish-idle/ish.dtsi
  zephyr/program/fatcat/fatcat-ish-idle/project.conf
  zephyr/program/fatcat/fatcat-ish-idle/project.overlay
Labels: none

pujjoga: Refine VBUS detection to maintain Rd during 3.7V drop
  include/driver/tcpm/tcpm.h
  zephyr/program/nissa/pujjoga/src/usbc.c
  zephyr/test/nissa/src/pujjoga.c
Labels: none

led policy: remove unnecessary check
  zephyr/scripts/led_policy.py
Labels: none

modules: add google-private
  zephyr/zmake/zmake/modules.py
Labels: none

fwk: sakura: Exit EPR mode when the system is in the standby mode
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

lapis: Update fan policy
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/lapis/src/fan.c
  zephyr/program/fatcat/lapis/temp_sensors.dtsi
Labels: none

Grogu: Set PD max power to 45W
  zephyr/program/skywalker/grogu/project.conf
Labels: none

tarkin/phasma: Use fw_config to distinguish volume_up key
  zephyr/program/skywalker/tarkin/cbi.dtsi
  zephyr/program/skywalker/tarkin/src/board.c
Labels: none

pujjolo-ish: Increase ec-rate timing for ish sensor
  zephyr/program/trulo/pujjolo/motionsense.dtsi
Labels: none

lapis: Modify keyboard top row function
  zephyr/program/fatcat/lapis/keyboard.dtsi
Labels: none

kingler: Reduce flash usage
  zephyr/program/corsola/kingler/project.conf
Labels: none

fwk: fix power on AC attach requiring OS boot to take effect
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

app/ec: Allow CROS_EC_RO_SIZE to be set from device tree
  zephyr/app/ec/Kconfig
  zephyr/dts/bindings/cros_flash/cros-ec,flash-layout.yaml
Labels: none

npcx9m7f: Set EC image size to 320 KiB
  zephyr/boards/google/npcx9/npcx9_npcx9m7f.dts
Labels: none

cbi: Add MODEL_ID tag set function
  common/cbi.c
  include/cros_board_info.h
  zephyr/test/drivers/common_cbi/src/test_common_cbi.c
Labels: common

fwk: CCG8: set the active current limit before multi-port switching
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: CCG6: set the active current limit before multi-port switching
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: CCG6: set the active current limit before multi-port switching
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: CCG8: set the active current limit before multi-port switching
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none
