Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fpsensor: Always reset context when establishing session
  common/fpsensor/fpsensor_auth_commands.cc
  test/fpsensor_auth_commands.cc
Labels: common

run_device_tests: Skip 'reboot' test on EC legacy
  test/run_device_tests.py
Labels: none

Create rtk_flame stub project
  zephyr/program/rtk_flame/BUILD.py
  zephyr/program/rtk_flame/CMakeLists.txt
  zephyr/program/rtk_flame/prj.conf
Labels: none

flash_ec: Update RTK monitor search path
  util/flash_ec
Labels: none

ruby: Reduce power LED brightness to lower power consumption
  zephyr/program/fatcat/ruby/led_pins.dtsi
Labels: none

fwk: 16-inch: add eeprom fan always on feature
  zephyr/program/framework/include/lotus/gpu_configuration.h
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

i2c: Retry i2c_read_sized_block on EC_ERROR_CRC
  common/i2c_controller.c
  zephyr/emul/emul_smart_battery.c
  zephyr/include/emul/emul_smart_battery.h
  zephyr/test/drivers/smart_battery/src/smart.c
  zephyr/test/drivers/testcase.yaml
Labels: common

obiwan: add 2 cell battery policy
  zephyr/program/skywalker/obiwan/src/thermal_policy.c
Labels: none

obiwan: Add charger protection policy
  zephyr/program/skywalker/obiwan/src/thermal_policy.c
Labels: none

obiwan: Add type-C 3A ports switch
  zephyr/program/skywalker/obiwan/project.conf
  zephyr/program/skywalker/obiwan/src/thermal_policy.c
Labels: none

i2c: platform_ec_i2c_read in a single call
  common/i2c_controller.c
Labels: common

i2c: platform_ec_i2c_write in a single call
  common/i2c_controller.c
Labels: common

i2c: Reduce the number of i2c_xfer calls in i2c_read_sized_block
  common/i2c_controller.c
  include/config.h
  zephyr/Kconfig.i2c
  zephyr/shim/include/config_chip.h
  zephyr/test/drivers/smart_battery/src/smart.c
Labels: common

fpsensor: add FP ASCP claim command
  zephyr/include/ascp/ascp.h
  zephyr/subsys/CMakeLists.txt
  zephyr/subsys/Kconfig
  zephyr/subsys/ascp/CMakeLists.txt
  zephyr/subsys/ascp/Kconfig
  zephyr/subsys/ascp/claim.c
  zephyr/test/ascp/CMakeLists.txt
  zephyr/test/ascp/boards/native_sim.overlay
  zephyr/test/ascp/prj.conf
  zephyr/test/ascp/src/ascp_claim_test.cc
  zephyr/test/ascp/testcase.yaml
Labels: none

fpsensor: add FP ASCP establish host command
  common/fpsensor/fpsensor_auth_ascp.cc
  zephyr/CMakeLists.txt
  zephyr/Kconfig.fingerprint
  zephyr/include/ascp/ascp.h
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/src/fpsensor_ascp.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: common

fpsensor: add memory mapped ASCP data access
  zephyr/dts/bindings/ascp/cros-ec,ascp-mem-map.yaml
  zephyr/subsys/ascp/CMakeLists.txt
  zephyr/subsys/ascp/Kconfig
  zephyr/subsys/ascp/mem_map.c
Labels: none

ectool: Migrate base::Value::List|Dict
  util/ectool.cc
Labels: none

Reland "ocelot: Add support for IMVP Factory support"
  zephyr/program/ocelot/rvp_program.conf
Labels: none

zephyr: fingerprint: add EGIS ec660 driver
  zephyr/drivers/fingerprint/CMakeLists.txt
  zephyr/drivers/fingerprint/Kconfig
  zephyr/drivers/fingerprint/Kconfig.egis
  zephyr/drivers/fingerprint/fingerprint_egis660.c
  zephyr/drivers/fingerprint/fingerprint_egis660.h
  zephyr/drivers/fingerprint/fingerprint_egis660_pal.c
  zephyr/drivers/fingerprint/fingerprint_egis660_pal.h
  zephyr/drivers/fingerprint/fingerprint_egis660_private.h
  zephyr/dts/bindings/fingerprint/egis,egis660.yaml
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_egis660.c
  zephyr/include/emul/emul_egis660.h
  zephyr/shim/src/fpsensor.c
  zephyr/test/fingerprint/drivers/egis660/CMakeLists.txt
  zephyr/test/fingerprint/drivers/egis660/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/egis660/prj.conf
  zephyr/test/fingerprint/drivers/egis660/src/egis660.c
  zephyr/test/fingerprint/drivers/egis660/src/egis660_pal_test_helpers.c
  zephyr/test/fingerprint/drivers/egis660/src/egis660_pal_test_helpers.h
  zephyr/test/fingerprint/drivers/egis660/testcase.yaml
Labels: none

dsp_comms: Trigger status read following dsp_client init
  zephyr/drivers/dsp_comms/client/dsp_client.c
  zephyr/drivers/dsp_comms/service/dsp_service.cc
Labels: none

zmake: remove Realtek and NPCX monitors as artifacts
  zephyr/zmake/zmake/output_packers.py
Labels: none

fwk: sci: add Kconfig for SCI trigger timer in suspend
  zephyr/Kconfig.espi
  zephyr/shim/src/espi.c
Labels: none

fwk: sakura: increase SCI trigger time to 500us in suspend
  zephyr/program/framework/sakura/project.conf
Labels: none

fwk: sakura: change the battery LED duty when the system state is changed
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/src/led.c
Labels: none

fwk: fix battery extender will disable when resume from shutdown
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: cypd: pd: Add config for CCG8 G3 power state support
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: sakura: disable CONFIG_PD_CCG8_CYPD_POWER_STATE_G3_SUPPORT
  zephyr/program/framework/sakura/project.conf
Labels: none

lapis: Import new fan and update fan policy
  zephyr/program/fatcat/lapis/fan.dtsi
  zephyr/program/fatcat/lapis/temp_sensors.dtsi
Labels: none

quartz: Add support for CBI board version
  zephyr/program/bluey/quartz/project.conf
Labels: none

fwk: sakura: bump to v1.0.6
  .github/workflows/zephyr-build.yml
Labels: workflow

jaina: fix en_pwr_s3 not active
  zephyr/program/skywalker/jaina/project.overlay
Labels: none

atria: Update GPIO file with correct configuration
  zephyr/program/atria/atriarvp-rtk/gpio.dtsi
  zephyr/program/atria/program.conf
Labels: none

atriarvp: Add initial I2C configuration
  zephyr/program/atria/atriarvp-rtk/i2c.dtsi
  zephyr/program/atria/atriarvp-rtk/project.overlay
  zephyr/program/atria/program.conf
  zephyr/program/atria/rvp_consolidated.dtsi
  zephyr/program/atria/rvp_i2c.dtsi
Labels: none

atria: Add ioexpander gpios/i2c config for RVP boards
  zephyr/program/atria/atriarvp-rtk/project.overlay
  zephyr/program/atria/program.conf
  zephyr/program/atria/rvp_consolidated.dtsi
  zephyr/program/atria/rvp_i2c.dtsi
  zephyr/program/atria/rvp_ioex_gpio.dtsi
Labels: none

agents: Add AGENTS.md context for EC development
  .agents/AGENTS.md
  .agents/README.md
  .agents/context/ec_terms.md
Labels: none

NPCX and RTK EC monitor binary cleanup
  util/flash_ec
  zephyr/Kconfig
  zephyr/chip/CMakeLists.txt
  zephyr/chip/Kconfig
  zephyr/program/npcx_evb/npcx_monitor/prj.conf
  zephyr/program/rtk_flame/prj.conf
Labels: none

pdc: Refactor pdc_power_mgmt_set_comms_state()
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Restore CCD port SBU mux operating mode after PDC FW update
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test: pdc: Add UTs for PDC suspend/resume and SBU mux mode preservation
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_pdc.h
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/pdc_comms_suspend_resume.c
  zephyr/test/pdc/testcase.yaml
Labels: none

lapis:Update charger limit policy
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/lapis/src/thermal_policy.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
