Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: Annotate lotus touchpad report descriptor
  zephyr/program/framework/include/lotus/touchpad_descriptor.h
Labels: none

fwk: sakura: bump to v1.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

vpython: Migrate to common vpython file
  util/twister_launcher.py
  util/twister_launcher.py.vpython3
Labels: none

matsu: Deassert PWROK on shutdown
  zephyr/program/ocelot/matsu/src/board_power.c
Labels: none

test: run_device_tests: Disable tests that fail on sanok
  test/run_device_tests.py
Labels: none

test: run_device_tests: Use time.monotonic()
  test/run_device_tests.py
Labels: none

tablet-mode: Fix tablet mode switch failure after reboot
  common/tablet_mode.c
Labels: common

bluey: add initial mica project
  zephyr/program/bluey/BUILD.py
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/Kconfig
  zephyr/program/bluey/mica/CMakeLists.txt
  zephyr/program/bluey/mica/fan.dtsi
  zephyr/program/bluey/mica/gpios.dtsi
  zephyr/program/bluey/mica/keyboard.dtsi
  zephyr/program/bluey/mica/project.conf
  zephyr/program/bluey/mica/project.overlay
  zephyr/program/bluey/mica/src/chipset.c
  zephyr/program/bluey/mica/src/fan.c
  zephyr/program/bluey/mica/temp_sensors.dtsi
Labels: none

fpsensor: Introduce non-blocking version of FP_TEMPLATE command
  common/fpsensor/fpsensor.cc
  include/ec_cmd_api.h
  include/ec_commands.h
  include/fpsensor/fpsensor_state.h
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
Labels: common

fpsensor: Don't decrypt/encrypt if the crypto operation is in progress
  common/fpsensor/fpsensor.cc
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
Labels: common

zephyr: fingerprint: add EGIS ec660 algorithm
  zephyr/subsys/fingerprint/alg/CMakeLists.txt
  zephyr/subsys/fingerprint/alg/Kconfig
  zephyr/subsys/fingerprint/alg/egis_bep_bio_alg.h
  zephyr/subsys/fingerprint/alg/egis_egis660_bio_alg.c
Labels: none

sapphire: Limit Maximal ODR
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

padme: Type-C ports only supports 1.5A output​
  zephyr/program/skywalker/padme/project.conf
Labels: none

pchg: fix UPDATE_CMD_OPEN bug
  common/peripheral_charger.c
Labels: common

ctn730: remove PCHG_CFG_FW_UPDATE_SYNC
  zephyr/shim/include/nfc/ctn730.h
Labels: none

ctn730: increase PCHG task stack size
  zephyr/Kconfig.tasks
Labels: none

Exclude zephyr/arch/x86 from coverage
  zephyr/Makefile.cq
Labels: none

renode: firmware_builder: Update renode to 1.16.0-20262009
  util/renode/firmware_builder.py
Labels: none

Add sleep to prevent flaky coverage
  test/body_detection.c
  test/test_config.h
Labels: none

util: renode: Add instructions on updating Renode
  util/renode/README.md
Labels: none

quandiso2: Reduce ec image size
  zephyr/program/nissa/quandiso2/project.conf
Labels: none

skywalker: Add initial code for jaina
  zephyr/program/skywalker/BUILD.py
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/Kconfig
  zephyr/program/skywalker/jaina/CMakeLists.txt
  zephyr/program/skywalker/jaina/cbi.dtsi
  zephyr/program/skywalker/jaina/include/keyboard_customization.h
  zephyr/program/skywalker/jaina/jaina_vif.xml
  zephyr/program/skywalker/jaina/led_pins.dtsi
  zephyr/program/skywalker/jaina/led_policy.dtsi
  zephyr/program/skywalker/jaina/motionsense.dtsi
  zephyr/program/skywalker/jaina/project.conf
  zephyr/program/skywalker/jaina/project.overlay
  zephyr/program/skywalker/jaina/src/charger.c
  zephyr/program/skywalker/jaina/src/sensor.c
  zephyr/program/skywalker/jaina/temp_sensor.dtsi
  zephyr/program/skywalker/jaina/usbc.dtsi
Labels: none

cme: add more PDC and redriver chips
  zephyr/scripts/cme_additional_id.py
Labels: none

padme: Modify Type-C disable function
  zephyr/program/skywalker/padme/src/thermal.c
Labels: none

renode: firmware_builder: Print Renode version
  util/renode/firmware_builder.py
Labels: none

fpsensor: Increase positive match secret deadline to 15 seconds
  common/fpsensor/fpsensor_state.cc
  test/fpsensor_crypto_with_mock.cc
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
Labels: common

ptlrvp_mchp: Remove IMVP config for cleanup
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

rt3645: Add Single command support for IMVP Update
  zephyr/drivers/imvp/rt3645.c
  zephyr/drivers/imvp/rt3645.h
  zephyr/dts/bindings/imvp/richtek,rt3645.yaml
  zephyr/include/dt-bindings/imvp.h
  zephyr/test/drivers/rt3645/imvp.dts
Labels: none

ptlrvp_mchp: Enable imvp commands
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/i2c.dts
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/imvp.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

rt3645: Add support for imvp update during boot
  zephyr/drivers/imvp/Kconfig
  zephyr/drivers/imvp/rt3645.c
Labels: none

ocelot: Support IMVP register update
  zephyr/program/ocelot/ocelotrvp-ite/project.overlay
  zephyr/program/ocelot/ocelotrvp-mchp/i2c.dtsi
  zephyr/program/ocelot/ocelotrvp-npcx/project.overlay
  zephyr/program/ocelot/rvp_i2c.dtsi
  zephyr/program/ocelot/rvp_imvp.dtsi
  zephyr/program/ocelot/rvp_program.conf
Labels: none

test: run_device_tests: Re-enable renode null_pointer test for bloonchipper
  test/run_device_tests.py
Labels: none

test: run_device_tests: Re-enable renode abort test for bloonchipper
  test/run_device_tests.py
Labels: none

test: run_device_tests: Re-enable renode exception test for bloonchipper
  test/run_device_tests.py
Labels: none

test: run_device_tests: Re-enable renode panic test for bloonchipper
  test/run_device_tests.py
Labels: none

test: run_device_tests: Re-enable renode ftrapv test for bloonchipper
  test/run_device_tests.py
Labels: none

test: run_device_tests: Re-enable renode unaligned_access/system_is_locked variants for bloonchipper
  test/run_device_tests.py
Labels: none

nct38xx: Check device is ready before handling alert
  driver/tcpm/nct38xx.c
  zephyr/test/drivers/nct38xx/src/nct38xx.c
Labels: none

fwk: 16-inch: add eeprom fan always on feature
  zephyr/program/framework/include/lotus/gpu_configuration.h
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

test: run_device_tests: Re-enable renode panic_data test for bloonchipper
  test/run_device_tests.py
Labels: none
