Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk/tulip: update dGPU PD power on config
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk/tulip: move the ccg8s init into cypress code
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/lotus/src/gpu_configuration.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/usbc_5port_config.c
Labels: none

fw16: Add ccg8s_init to pd code
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: lotus/tulip: support GPU CCG8S PD chip
  zephyr/program/framework/include/lotus/ej889i.h
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/ej889i.c
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: lotus/tulip: support GPU PD configuration
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/lotus/gpio.dtsi
  zephyr/program/framework/lotus/i2c.dtsi
  zephyr/program/framework/lotus/overlay.dtsi
  zephyr/program/framework/lotus/project.conf
  zephyr/program/framework/tulip/project.conf
Labels: none

fwk: pd: split the 13-inch and 16-inch PD configuration file
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/ucsi_port_13.c
  zephyr/program/framework/src/ucsi_port_16.c
  zephyr/program/framework/src/usbc_5port_config.c
Labels: none

fwk: pd: don't communicate with PD chip if the PD not ready
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: pd: support GPU PD chip (one type-c port)
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: pd: allow EC updates the specific PD chip state
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: pd: modified the logic to support one port PD chips
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/usbc_4port_config.c
Labels: none

fwk/main: enable tulip NV22 gpu VADP for sink path
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: modify the gpu temp node to read dgpu temperature
  zephyr/Kconfig.temperature
  zephyr/dts/bindings/temp/cros-ec,temp-sensor-amdr23m.yaml
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/lotus/amd_r23m.h
  zephyr/program/framework/lotus/i2c.dtsi
  zephyr/program/framework/lotus/overlay.dtsi
  zephyr/program/framework/lotus/src/amd_r23m.c
  zephyr/shim/include/temp_sensor/temp_sensor.h
  zephyr/shim/src/temp_sensors.c
Labels: none

fwk: add nvgn22 temp driver
  zephyr/program/framework/include/lotus/nv_gn22.h
  zephyr/program/framework/lotus/src/nv_gn22.c
Labels: none

fwk: add gpu get temp driver
  zephyr/Kconfig.temperature
  zephyr/dts/bindings/temp/cros-ec,temp-sensor-gpu.yaml
  zephyr/program/framework/include/lotus/gpu_temp.h
  zephyr/program/framework/lotus/src/gpu_temp.c
  zephyr/shim/include/temp_sensor/temp_sensor.h
  zephyr/shim/src/temp_sensors.c
Labels: none

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk: Require CONFIG_USB_POWER_DELIVERY for EC_FEATURE_USB_PD
  common/ec_features.c
Labels: common

fwk: Refactor PD power button to add logs
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sunflower: bump to v2.05
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: avoid extender overwritten charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: don't stop fan when enter S0ix
  zephyr/program/framework/lotus/src/thermal.c
Labels: none

fwk: dogwood: schematic change VR_PWRGD power signal
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/interrupts.dtsi
  zephyr/program/framework/dogwood/project.conf
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: allow the project change the power signal by schematic version
  util/config_allowed.txt
  zephyr/Kconfig
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/power.c
Labels: none

fwk: dogwood: schematic change EC_H_PROCHOT_L
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: Convert 5VSB to 5VALW and 3VALW when the system in S0i3 state
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: check the correct power signal in S0 state
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: bump to v2.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: correct f75303 index if the project does not support GPU
  include/driver/temp_sensor/f75303.h
Labels: none

fwk: dogwood: support hysteresis fan control
  zephyr/program/framework/dogwood/src/thermal.c
Labels: none

fwk: dogwood: implement mini-pc fan configuration feature
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/dogwood/project.conf
  zephyr/program/framework/dogwood/src/thermal.c
  zephyr/program/framework/include/board_host_command.h
Labels: none

fwk: dogwood: rename the thermal sensor node and label name
  zephyr/program/framework/dogwood/i2c.dtsi
  zephyr/program/framework/dogwood/thermal.dtsi
Labels: none

fwk: lilac: fix ucsi get_error_status response
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: UCSI set_power_level no broadcast
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: lilac: do not mask UCSI_CMD_GET_ALTERNATE_MODE
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: add support nv gpu present
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: azalea: modified the period-ms value to meet the target time
  zephyr/program/framework/azalea/led_policy.dtsi
Labels: none

fwk: led: runtime to update the led duration
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: marigold: modified the period-ms value to meet the target time
  zephyr/program/framework/marigold/led_policy.dtsi
Labels: none

fwk: lotus: modified the period-ms value to meet the target time
  zephyr/program/framework/lotus/led_policy.dtsi
Labels: none

fwk: led: fix mini-pc build led driver error
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

fwk: fix incorrect chipset state mask value
  power/common.c
Labels: none
