Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

zephyr: fpmcu: add unit test for fpupload command
  zephyr/test/fingerprint/task/src/fpsensor_debug.cc
Labels: none

zmake: Use python3.11
  zephyr/CMakeLists.txt
  zephyr/zmake/zmake/util.py
  zephyr/zmake/zmake/zmake.py
Labels: none

Strauss: Add scancode tables
  common/keyboard_strauss.c
Labels: common

Strauss: Rename config macros and APIs
  board/xol/board.h
  common/build.mk
  common/keyboard_strauss.c
  include/config.h
  include/keyboard_config.h
  test/kb_8042.c
  zephyr/Kconfig.keyboard
  zephyr/program/brox/jubilant/project.conf
  zephyr/program/brox/lotso/project.conf
  zephyr/program/corsola/kyogre/project.conf
  zephyr/program/nissa/riven/project.conf
  zephyr/program/rauru/navi/project.conf
  zephyr/shim/include/config_chip.h
Labels: common

projects: fix few more cases of uninitialized cros_cbi_get_fw_config val
  zephyr/program/brox/jubilant/src/keyboard.c
  zephyr/program/nissa/craask/src/keyboard.c
  zephyr/program/nissa/riven/src/keyboard.c
  zephyr/program/rex/karis/src/keyboard.c
  zephyr/program/skyrim/crystaldrift/src/usb_mux_config.c
  zephyr/program/skyrim/markarth/src/keyboard.c
  zephyr/program/skyrim/skyrim/src/usb_mux_config.c
  zephyr/test/skyrim/Kconfig
  zephyr/test/skyrim/boards/native_sim.overlay
  zephyr/test/skyrim/testcase.yaml
  zephyr/test/skyrim/tests/crystaldrift/src/usb_mux_config.c
  zephyr/test/skyrim/tests/markarth/CMakeLists.txt
  zephyr/test/skyrim/tests/markarth/src/keyboard.c
  zephyr/test/skyrim/tests/skyrim/src/usb_mux_config.c
Labels: none

Revert "brask: Disable CONFIG_POWER_SLEEP_FAILURE_DETECTION"
  baseboard/brask/baseboard.h
Labels: baseboard

fatcat/fatcat_it82002aw: Add auto-generated GPIO defs
  zephyr/program/fatcat/fatcat_it82002aw/generated.dtsi
Labels: none

ec: Fix compare_builds.sh
  firmware_builder.py
  util/compare_build.sh
  util/coreboot_sdk.py
  zephyr/firmware_builder.py
Labels: repo

ptlrvp: Configure privacy-mic pin as input
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
Labels: none

ptlrvp_mchp: Enable LED policy
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

pujjoga: add VIF file
  zephyr/program/nissa/pujjoga/pujjoga_vif.xml
Labels: none

kinox: remove the TCPC_FLAGS_CONTROL_VCONN
  board/kinox/usbc_config.c
Labels: none

watchdog: Capture exception address for RISC-V
  zephyr/shim/src/watchdog.c
Labels: none

test/pdc/ucsi: Add test_get_alternate_modes
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

config_chip: drop the U suffix from CONFIG_PROGRAM_MEMORY_BASE
  zephyr/shim/include/config_chip.h
  zephyr/shim/include/usbc/utils.h
Labels: none

Add gcov to coreboot commands
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
Labels: none

Fix enum/int conflict in h/c files
  zephyr/program/rauru/include/rauru_dp.h
Labels: none

test: Migrate fpupload command unit test to fpsensor_debug
  test/fpsensor_debug.cc
  test/restricted_console.c
Labels: none

fwk: sunflower: EC shouldn't communicate with PD chip during flashing PD
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

marigold: Bump to 3.03
  .github/workflows/zephyr-build.yml
Labels: workflow

interrvp: Enable 4-byte port 80 codes by default
  zephyr/program/intelrvp/prj.conf
Labels: none

zephyr: fpmcu: add unit test for fpenroll and fpcapture commands
  zephyr/test/fingerprint/task/src/fpsensor_debug.cc
Labels: none

fpsensor: Replace C-style cast with C++ cast in fpsensor_debug
  common/fpsensor/fpsensor_debug.cc
Labels: common

fpsensor: Use constexpr for string
  common/fpsensor/fpsensor_crypto.cc
Labels: common

fpsensor: Add const in fpsensor_debug
  common/fpsensor/fpsensor_debug.cc
Labels: common

fpsensor: Replace NULL with nullptr
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_debug.cc
  common/fpsensor/fpsensor_state.cc
Labels: common

util/renode: Add firmware_builder.py for Renode
  util/renode/firmware_builder.py
Labels: none

util: fix zephyr_end_of_ram_check to use SOC_SERIES rather than BOARD
  util/check_zephyr_end_of_ram.py
Labels: none

lower threshold for Apple 96W and TS4 98W chargers
  zephyr/program/lotus/lotus/src/cpu_power.c
Labels: none

test: Improve type annotations in run_device_tests.py
  test/run_device_tests.py
Labels: none

test: Enable panic_data even when no RO specified
  test/run_device_tests.py
Labels: none

test: Fix panic_data test for npcx
  test/panic_data.c
Labels: none

test: Enable helipilot and buccaneer RO testing
  test/run_device_tests.py
Labels: none

fwk: marigold: Bump to 3.04
  .github/workflows/zephyr-build.yml
Labels: workflow

bujia: ops: Implementation PS_ON# policy in suspend.
  board/bujia/ops.c
Labels: none

veluza: disable powerindebug config
  zephyr/program/corsola/veluza/project.conf
Labels: none

kyogre: Fail safe implementation for Stylus garage
  zephyr/program/corsola/kyogre/CMakeLists.txt
  zephyr/program/corsola/kyogre/project.overlay
  zephyr/program/corsola/kyogre/src/pen_charge.c
  zephyr/test/kingler/CMakeLists.txt
  zephyr/test/kingler/Kconfig
  zephyr/test/kingler/kingler.kyogre.overlay
  zephyr/test/kingler/src/kyogre_battery_detection.c
  zephyr/test/kingler/src/kyogre_pen_charge.c
  zephyr/test/kingler/src/kyogre_sensor.c
  zephyr/test/kingler/testcase.yaml
Labels: none

Add #line to usb_pd_host.c
  common/usbc/usb_pd_host.c
Labels: common

doc: add a documentation page about the keyboard configuration
  docs/zephyr/zephyr_keyboard.md
  docs/zephyr/zephyr_new_board_checklist.md
Labels: none

test: Add unit tests for fpenroll and fpcapture when system is locked
  test/fpsensor_debug.cc
Labels: none
