Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

docs/fingerprint: Update debugging instructions for quincy (helipilot)
  docs/fingerprint/fingerprint-debugging.md
Labels: none

docs/fingerprint: Update Quincy and Dragonclaw version numbers
  docs/fingerprint/fingerprint-debugging.md
  docs/fingerprint/fingerprint-dev-for-partners.md
  docs/fingerprint/fingerprint.md
Labels: none

Xol: Change down debounce time of key
  board/xol/board.c
Labels: none

zephyr/dts/mchp_emul: Add device tree for emulated MCHP
  zephyr/dts/mchp_emul.dts
Labels: none

riven: enable Finch
  zephyr/program/nissa/riven/project.conf
  zephyr/program/nissa/riven/src/keyboard_customization.c
Labels: none

fwk: add runner rule for pr-
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: move all power_button_x86 to fwk common
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/lotus/src/power_button_x86.c
  zephyr/program/framework/marigold/gpio.dtsi
  zephyr/program/framework/marigold/src/power_button_x86.c
  zephyr/program/framework/marigold/src/power_sequence.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: move 13in battery to common code
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/azalea/src/battery.c
  zephyr/program/framework/src/battery_13.c
Labels: none

fwk: move keyboard 13 handler to common
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/azalea/src/keyboard_customization.c
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

itecomdbgr: Fix read option
  util/itecomdbgr.cc
Labels: none

itecomdbgr: Fix warnings for unused result
  util/itecomdbgr.cc
Labels: none

run_device_tests: run hw_write_protect before power toggle
  test/run_device_tests.py
Labels: none

pdc: Update `pdc trysrc` console command with a port parameter
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_console.c
Labels: none

docs/fingerprint: Update links for docs that moved
  docs/fingerprint/fingerprint-dev-for-partners.md
Labels: none

zork: Remove TCPMv1 config
  baseboard/zork/baseboard.h
Labels: baseboard

pdc: Add more error logs in PDC Pwr Mgmt's public_api_block()
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

Reland: "common: Enable SRAM MPU protection on helipilot"
  baseboard/helipilot/build.mk
  common/main.c
  core/cortex-m/include/mpu.h
  core/cortex-m/mpu.c
  test/build.mk
  test/run_device_tests.py
  test/sram_mpu_protection.c
  test/sram_mpu_protection.tasklist
Labels: common, baseboard

Geralt: modify base status setting at init status
  zephyr/program/geralt/src/base_detect.c
  zephyr/test/geralt/src/base_detect.c
Labels: none

pujjoga: Enable CONFIG_KEYBOARD_STRICT_DEBOUNCE
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

deku: Use gpio23 as GPIO_RECOVERY_L and set it to active high
  zephyr/program/ovis/deku/project.conf
  zephyr/program/ovis/deku/project.overlay
Labels: none

wugtrio: Add the keyboard attached state in setting_init
  zephyr/program/corsola/wugtrio/src/base_detect.c
  zephyr/test/krabby/src/base_detect.c
Labels: none

boringssl_crypto.cc: add missing header
  test/boringssl_crypto.cc
  zephyr/test/hwtest/src/boringssl_crypto.cc
Labels: none

core/cortex-m: Remove duplicate .SHELLSTATUS check
  core/cortex-m/build.mk
Labels: none

pdc_power_mgmt: PRS to Source with weak sources
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc_power_mgmt: Apply PRS preference via flag
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

panic: Remove unaligned crash type conditionally
  common/panic_output.c
Labels: common

panic: Add comment about trap causing undefined instruction
  core/cortex-m/panic.c
Labels: none

common: Add variadic cprint functions
  builtin/stdarg.h
  chip/stm32/debug_printf.c
  common/console_output.c
  include/console.h
  include/usb_console.h
  zephyr/shim/src/console.c
Labels: common

common: Remove unnecessary usb_va_start/end/copy
  common/console_output.c
  include/usb_console.h
Labels: common

util/renode_ec_launch: Expose the console on /tmp/renode-uart
  util/renode_ec_launch.py
Labels: none

pdc: Initialize DR policy to DFP
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

riven: set keyscan mask C16 to 0x03 for right Fn in JP keyboard
  zephyr/program/nissa/riven/keyboard.dtsi
Labels: none

test: improve stdlib test
  test/stdlib.c
Labels: none

test: force dumb_memset to use per byte access
  test/stdlib.c
Labels: none

zephyr: fpmcu: add exception test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/exception.cc
  zephyr/test/hwtest/src/exception_lib.cc
Labels: none

zephyr: fpmcu: add fpsensor_auth_crypto_stateful test
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/fpsensor_auth_crypto_stateful.cc
Labels: none

zephyr: add custom printk hook
  zephyr/Kconfig.console
  zephyr/shim/src/console.c
  zephyr/test/drivers/bmi3xx/prj.conf
  zephyr/test/kingler/prj.conf
  zephyr/test/rex/boards/rex/prj.conf
  zephyr/test/rex/prj.conf
Labels: none

test: Move EC_CMD_CONSOLE test
  zephyr/test/drivers/default/CMakeLists.txt
  zephyr/test/hostcmd_console/CMakeLists.txt
  zephyr/test/hostcmd_console/Kconfig
  zephyr/test/hostcmd_console/boards/native_sim.overlay
  zephyr/test/hostcmd_console/include/test_state.h
  zephyr/test/hostcmd_console/prj.conf
  zephyr/test/hostcmd_console/src/hostcmd_console.c
  zephyr/test/hostcmd_console/src/main.c
  zephyr/test/hostcmd_console/testcase.yaml
Labels: none

test: console host commands with LOG_MODE_MINIMAL
  zephyr/shim/src/console.c
  zephyr/test/hostcmd_console/src/hostcmd_console.c
  zephyr/test/hostcmd_console/testcase.yaml
Labels: none

console: Run clang-format on console_channel.inc
  include/console_channel.inc
Labels: none
