Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: led: Move FP LED brightness levels from macros to Devicetree
  zephyr/program/framework/azalea/led_pins.dtsi
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/led.h
  zephyr/program/framework/laptop12/led_pins.dtsi
  zephyr/program/framework/lotus/led_pins.dtsi
  zephyr/program/framework/marigold/led_pins.dtsi
  zephyr/program/framework/src/led.c
Labels: none

fwk: binding: Add "cros-ec,fwk-pwm-led-pins" binding for Framework projects
  zephyr/dts/bindings/leds/cros-ec,fwk-pwm-led-pins.yaml
  zephyr/program/framework/azalea/led_pins.dtsi
  zephyr/program/framework/laptop12/led_pins.dtsi
  zephyr/program/framework/lotus/led_pins.dtsi
  zephyr/program/framework/marigold/led_pins.dtsi
  zephyr/program/framework/src/led.c
  zephyr/program/framework/src/led_pwm.c
Labels: none

fwk: dahlia: Adjust FP LED duty based on Power Button Board ID
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/laptop12/led_pins.dtsi
  zephyr/program/framework/laptop12/src/led.c
Labels: none

fwk: led: fix fp brightness get command
  zephyr/program/framework/src/led.c
Labels: none

fwk: dahlia: Bump to v2.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

charge_state: keep VSYS above VBAT while the sustainer holds a limit
  common/charge_state.c
Labels: common

fwk: laptop12: make F12 on sunflower input deck send same usage id as on dahlia deck
  zephyr/program/framework/laptop12/src/input_deck_sunflower.c
Labels: none

fwk: Dedup HID_USAGEID_AL_CCC
  zephyr/program/framework/include/input_deck.h
  zephyr/program/framework/laptop12/src/input_deck_dahlia.c
  zephyr/program/framework/laptop12/src/input_deck_sunflower.c
Labels: none

fwk: laptop12: fix pre-OS detection with sunflower input deck
  zephyr/program/framework/laptop12/src/input_deck_sunflower.c
Labels: none

fwk: Extract is_acpi_driver_ready
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/laptop12/src/input_deck_dahlia.c
  zephyr/program/framework/laptop12/src/input_deck_sunflower.c
  zephyr/program/framework/src/board_function.c
Labels: none

fwk: dahlia: Bump to v3.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower: Bump to v3.0.8
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: defer beam-open GPU teardown out of GPIO interrupt
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: sunflower: Bump to v3.0.9
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: ci: build the commit that triggered the run, not the branch tip
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Add nix result to gitignore
  .gitignore
Labels: repo

fwk: keyboard: restore auto backlight when Fn lock is set
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: keyboard: optionally show Fn lock on the Caps Lock LED
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

Mention dahlia
  README.md
Labels: repo

Publish new sunflower/dahlia branch
  README.md
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
