Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: lotus: modify ina236 setting
  zephyr/program/framework/lotus/src/charger.c
Labels: none

xol: Update VIF to spec version 3.36
  board/xol/xol_vif.xml
Labels: none

Baze: Enable system lock
  zephyr/program/skywalker/baze/project.conf
Labels: none

zephyr_check_compliance.py: move vpython spec to a shared file
  util/zephyr_check_compliance.py
  util/zephyr_check_compliance.py.vpython3
  util/zephyr_check_compliance_unittest.py
  util/zephyr_check_compliance_unittest.py.vpython3
Labels: none

Remove motion_sense from kasa test
  test/kasa.c
  test/kasa.tasklist
  test/test_config.h
Labels: none

pdc_power_mgmt: Print more RDO details in logs
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

TCPMv2: we shall not drive Vconn when partner is DebugAccessory
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
Labels: common

matsu: Update some power signals for 1.8V power level
  zephyr/program/ocelot/matsu/power_signals.dtsi
Labels: none

octopus: Enable panic log
  baseboard/octopus/baseboard.h
Labels: baseboard

fwk: add a new battery
  zephyr/dts/bindings/battery/atc,framework75w.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/vendor-prefixes.txt
Labels: none

fwk: sakura: support 75W battery
  zephyr/program/framework/marigold/battery.dtsi
Labels: none

fwk: implement touchpad daughtboard power gate
  zephyr/program/framework/include/input_module.h
  zephyr/program/framework/src/input_module.c
Labels: none

fwk: sakura: add an ADC node to read the speaker ID
  zephyr/dts/bindings/adc/named-adc-channels.yaml
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: sakura: disable virtual temperature and turn the fan on full
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/project.conf
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: sakura: modify the power sequence
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

fwk: sakura: refactor the method to control Intel ME
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

fwk: sakura: Initial Zephyr EC image
  .github/workflows/zephyr-build.yml
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/sakura/project.conf
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/usbc.c
Labels: workflow

fwk: sakura: copy the power_sequence.c from the marigold folder
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

fwk: sakura: enable CCG8 configuration
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/project.conf
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: sakura: support new charger RAA489108
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/project.conf
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/charger.c
Labels: none

fwk: create a function to get the current battery type
  zephyr/program/framework/include/board_function.h
  zephyr/program/framework/src/board_function.c
Labels: none

fwk: sakura: support input module detect flow
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

lapis: Add supported battery and configs
  zephyr/program/fatcat/lapis/battery.dtsi
  zephyr/program/fatcat/lapis/project.conf
Labels: none

pdc: Trigger ppm state change after READ_POWER_LEVEL
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

zephyr_check_compliance.py: add more deps
  util/zephyr_check_compliance.py.vpython3
Labels: none

fwk: lotus: bump to v4.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

Enable LID_ANGLE in body_detection test
  test/test_config.h
Labels: none

dsp_comms: Add client retry
  zephyr/drivers/dsp_comms/Kconfig.client
  zephyr/drivers/dsp_comms/client/CMakeLists.txt
  zephyr/drivers/dsp_comms/client/dsp_client_transport.c
  zephyr/drivers/dsp_comms/client/include/cros/dsp/client.h
  zephyr/drivers/dsp_comms/client/remote_lid_angle.c
Labels: none

Switch from experimental to prod wheels
  util/zephyr_check_compliance.py.vpython3
Labels: none

npcx/shi: Reduce log level for bad received data prints and improve latency
  chip/npcx/shi.c
Labels: none

uldrenite: Adjust the priority of gmr_tablet_switch()
  common/tablet_mode.c
Labels: common

shi/npcx: Defer bad data state reset for SHI V2 hardware
  chip/npcx/shi.c
Labels: none

shi/npcx: Correct unexpected state logging for DEBUG_SHI
  chip/npcx/shi.c
Labels: none

anakin: limit input power
  zephyr/program/skywalker/anakin/project.conf
Labels: none

tarkin: Controlling the timing of the touchpanel using EC
  zephyr/program/skywalker/tarkin/CMakeLists.txt
  zephyr/program/skywalker/tarkin/project.overlay
  zephyr/program/skywalker/tarkin/src/board_touchpanel.c
Labels: none

twister_launcher: add jsonschema deps
  util/twister_launcher.py
Labels: none

Guren: Add new FW config for 1C_5G
  zephyr/program/nissa/guren/cbi.dtsi
  zephyr/program/nissa/guren/src/sub_board.c
  zephyr/program/nissa/include/guren_sub_board.h
  zephyr/test/nissa/src/guren.c
Labels: none

padme: Add second source for motion sensors
  zephyr/program/skywalker/padme/CMakeLists.txt
  zephyr/program/skywalker/padme/cbi.dtsi
  zephyr/program/skywalker/padme/motionsense.dtsi
  zephyr/program/skywalker/padme/project.conf
  zephyr/program/skywalker/padme/project.overlay
  zephyr/program/skywalker/padme/src/sensor.c
Labels: none

padme: modify the pogo pin adc threshold
  zephyr/program/skywalker/padme/src/base_detect.c
Labels: none

RTS5915: Enable ULPM for EC hibernate
  zephyr/app/ec/Kconfig
  zephyr/drivers/cros_system/cros_system_rtk.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
