Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: minipc-diagnostic: don't run the diagnostic if no HW/SW error
  zephyr/program/framework/src/diagnostics_minipc.c
Labels: none

fwk: dogwood: LED2 should blinking if the 12V is not connected
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: add 240w adapter vid/pid to turn off the retimer power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: tulip: bump to v1.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dogwood: fix ectool thermalget/set broken
  include/ec_commands.h
  zephyr/shim/src/temperature_filter.c
  zephyr/shim/src/thermal.c
Labels: none

fwk: dogwood: 5vsb entering/exit improvements
  zephyr/program/framework/dogwood/src/power_monitor.c
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/include/dogwood/power_monitor.h
Labels: none

fwk: dogwood: Fix DVT1 suspend
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: Make 12V led follow the actual PSU state
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: Disable 5vsb suspend on DVT2
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: bump to v3.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dogwood: reduce TIMEOUT_5VSB_MIN to 1 minute
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: Remove unimplemented FN+S
  zephyr/program/framework/azalea/src/keyboard_customization.c
Labels: none

fwk: cypd: call pd task event to update the battery information
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: laptop16: Best performance mode power plan define
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: tulip: fix Fast Role Swap behavior
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: tulip: Enable BQ25770 discharge prochot setting
  zephyr/program/framework/include/board_charger.h
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk/main: use sleep_l pin to indicate only lid state
  zephyr/program/framework/lotus/src/input_module.c
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

fwk: Never enable gpio_sleep_l if inputmodules are off
  zephyr/program/framework/include/lotus/input_module.h
  zephyr/program/framework/lotus/src/input_module.c
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

fwk: detect VDM with HPD high from CCG8 and notify BIOS
  zephyr/program/framework/include/lotus/gpu.h
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: tulip: bump to v1.0.6
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sunflower:bump to v3.04
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: dogwood: blink 12V LED for 30 seconds if not detect 12V
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: 16-inch: don't control DDS without GN22
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: 16-inch: rename ec_pwm_en net name
  zephyr/program/framework/lotus/gpio.dtsi
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: tulip: bump to v1.0.7
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Use define for fn lock magic numbers
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: Use macros to define auto ALS levels
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

fwk: main: fix keyboard backlight auto will flash when bootup
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/keyboard_customization_13.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: implement Battery Charge Limiting battery status
  common/battery_v2.c
  common/charge_state.c
  include/charge_state.h
  include/ec_commands.h
Labels: common

fwk: Use define for fn lock magic numbers
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: main: fix keyboard backlight auto will flash when bootup
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/keyboard_customization_13.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: Use macros to define auto ALS levels
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

fwk: tulip: modify input current sense resistor to 5mΩ
  zephyr/program/framework/tulip/project.conf
Labels: none

fwk: modify bq25770 charger marco
  driver/charger/bq25710.c
  driver/charger/bq257x0_regs.h
  zephyr/Kconfig.charger
  zephyr/shim/include/config_chip.h
Labels: none

fwk: tulip: bump to v1.0.8
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Indicate charging from dGPU on right side only
  zephyr/program/framework/src/led.c
Labels: none

fwk: 16-inch: ensure GPU descriptor is read before power state transitions
  zephyr/program/framework/include/lotus/gpu_configuration.h
  zephyr/program/framework/lotus/src/gpu_configuration.c
  zephyr/program/framework/lotus/src/power_sequence.c
Labels: none

fwk: diagnostic: should reset the diagnostic when power on the system
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: tulip: modify charger BQ25770 vsys_min value
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: tulip: modify charger init params
  zephyr/program/framework/tulip/src/charger.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
