Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

sapphire: update battery configuration
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

sapphire: Add Battery MFG function support
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

sapphire: Configure the SPI peripheral
  zephyr/program/tanjiro/sapphire/led.dtsi
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

Baze: modify VIF setting
  zephyr/program/skywalker/baze/Baze_vif.xml
Labels: none

lapis: map capslock to KEY_INSERT
  zephyr/program/fatcat/lapis/src/keyboard_customization.c
Labels: none

uldren: drop stale pwms node
  zephyr/program/nissa/uldren/led_pins.dtsi
Labels: none

test: pdc: Split PDC API and pdc_power_mgmt tests into separate binaries
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/testcase.yaml
Labels: none

test: pdc: Remove sleeps from PDC API test
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

pdc: Wait for negotiated_power_level or RDO when setting a new RDO
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/emul/emul_tps6699x.c
  zephyr/include/drivers/ucsi_v3.h
  zephyr/include/emul/emul_pdc.h
  zephyr/include/emul/emul_tps6699x.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/pdc_policy/sink_policy.c
Labels: none

tablet_mode: Add call to dsp_service in GMR isr handler
  common/tablet_mode.c
  zephyr/drivers/dsp_comms/service/dsp_service.cc
  zephyr/include/drivers/dsp_service.h
  zephyr/program/trulo/kaladin/kaladin.dtsi
  zephyr/program/trulo/pujjolo/gpio.dtsi
  zephyr/program/trulo/uldrenite/gpio.dtsi
Labels: common

hostcmd: Don't print "HC 0x0067 err 9" messages
  common/host_command_task.c
Labels: common

quartz: Remove CONFIG_PLATFORM_EC_BRINGUP
  zephyr/program/bluey/quartz/project.conf
Labels: none

watchdog: cleanup watchdog warning
  zephyr/Kconfig.watchdog
  zephyr/shim/include/config_chip.h
Labels: none

Print the stack after an assert
  zephyr/Kconfig.panic
  zephyr/shim/include/panic_utils.h
  zephyr/shim/src/CMakeLists.txt
  zephyr/shim/src/panic.c
  zephyr/shim/src/panic_utils.c
  zephyr/shim/src/watchdog.c
Labels: none

Syv682x: Improve speed efficiency PPC driver Path
  driver/ppc/syv682x.c
  zephyr/test/drivers/default/src/ppc_syv682x.c
Labels: none

yoda: Disable config for FSI
  zephyr/program/skywalker/yoda/project.conf
Labels: none

zephyr: fingerprint: add elan80series driver test
  zephyr/drivers/fingerprint/fingerprint_elan80series.c
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_elan80series.c
  zephyr/include/emul/emul_elan80series.h
  zephyr/test/fingerprint/drivers/elan80series/CMakeLists.txt
  zephyr/test/fingerprint/drivers/elan80series/boards/elan80sg.dtsi
  zephyr/test/fingerprint/drivers/elan80series/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/elan80series/prj.conf
  zephyr/test/fingerprint/drivers/elan80series/src/elan80series.c
  zephyr/test/fingerprint/drivers/elan80series/src/elan80series_pal_test_helpers.c
  zephyr/test/fingerprint/drivers/elan80series/src/elan80series_pal_test_helpers.h
  zephyr/test/fingerprint/drivers/elan80series/testcase.yaml
Labels: none

panicinfo: fix panicinfo double report
  chip/npcx/system.c
Labels: none

yoda: Modify PDC source peak current
  zephyr/program/skywalker/yoda/project.conf
Labels: none

fwk: sakura: bump to v0.0.7
  .github/workflows/zephyr-build.yml
Labels: workflow

pujjolo: Do not use CONFIG_SOC_FAMILY_INTEL_ISH outside of chip code
  zephyr/program/trulo/pujjolo/src/sensor.c
Labels: none

Skip models in public builder
  zephyr/firmware_builder.py
Labels: none

tablet_mode: Add HOOK_CHIPSET_RESET to reset_tablet_mode
  common/lid_angle_common.c
  common/tablet_mode.c
  include/tablet_mode.h
Labels: common

moonstone: Enable alternate charger ISL9238C
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/fatcat/moonstone/project.overlay
  zephyr/program/fatcat/moonstone/src/alt_charger.c
  zephyr/program/fatcat/moonstone/usb_typec.dtsi
Labels: none

doc: Add UFSC ectool and cbi-util set example
  docs/zephyr/zephyr_ufsc.md
Labels: none

ocelotrvp: Configure an LED policy
  zephyr/program/ocelot/ocelotrvp-ite/generated.dtsi
  zephyr/program/ocelot/ocelotrvp-ite/project.overlay
  zephyr/program/ocelot/ocelotrvp-npcx/generated.dtsi
  zephyr/program/ocelot/ocelotrvp-npcx/project.overlay
  zephyr/program/ocelot/rvp_leds.dtsi
Labels: none

kaladin: Disable charger PSYS in S5 and re-enable in S0
  zephyr/program/trulo/kaladin/src/charger.c
Labels: none

padme: add temperature sensor
  zephyr/program/skywalker/padme/temp_sensor.dtsi
Labels: none

kaladin: Enable Battery PEC
  zephyr/program/trulo/kaladin/project.conf
Labels: none

tarkin/phasma: System lock for FAFT
  zephyr/program/skywalker/tarkin/project.conf
Labels: none

build: add support for private modules
  zephyr/program/fatcat/BUILD.py
  zephyr/program/tanjiro/BUILD.py
Labels: none

ruby: Configure the UART peripheral
  zephyr/program/fatcat/ruby/project.overlay
Labels: none

lapis: Add UFSC configuration
  zephyr/program/fatcat/lapis/lapis_ec_ufsc.dtsi
  zephyr/program/fatcat/lapis/project.overlay
Labels: none

pdc_power_mgmt: Clear the SNK_POLICY_EVAL_SWAP_TO_SRC flag
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

moonstone: configure side LEDs
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/fatcat/moonstone/project.overlay
Labels: none

sapphire: configure side LEDs
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none

ruby: configure side LEDs
  zephyr/program/fatcat/ruby/project.conf
  zephyr/program/fatcat/ruby/project.overlay
Labels: none

kaladin: set amp_mute reference PLT_RST
  zephyr/program/trulo/kaladin/gpio.dtsi
  zephyr/program/trulo/kaladin/kaladin.dtsi
  zephyr/program/trulo/kaladin/src/board.c
Labels: none

kaladin: enable LTO
  zephyr/program/trulo/kaladin/project.conf
Labels: none

sapphire: revise GPIO settings based on the schematic
  zephyr/program/tanjiro/sapphire/project.overlay
Labels: none
