Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

TCPMv2: Handle tSenderResponse override consistently
  include/config.h
  include/usb_pd.h
  zephyr/Kconfig.pd
  zephyr/program/nissa/pujjoga/project.conf
  zephyr/shim/include/config_chip.h
Labels: none

vader: Add usba-port-enable-pins to enable xhci
  zephyr/program/skywalker/vader/project.overlay
Labels: none

vader: Add int_pmic_ec_resetb interrupt to correct panel no backlight
  zephyr/program/skywalker/vader/project.overlay
Labels: none

pdc_power_mgmt: Add pdc_power_mgmt_check_pr_swap_needed API
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

skywalker: Attempt a power swap after xhci_init.
  zephyr/program/skywalker/src/hooks.c
Labels: none

quartz: Enable custom fan control
  zephyr/program/bluey/quartz/project.conf
  zephyr/program/bluey/quartz/src/fan.c
Labels: none

Grogu: Modify PDC configuration
  zephyr/program/skywalker/grogu/project.conf
Labels: none

zephyr: fingerprint: rename loop variable i to line_idx
  zephyr/drivers/fingerprint/fingerprint_elan80series_pal.c
Labels: none

zephyr: fingerprint: reduce regdata size to 2 bytes
  zephyr/drivers/fingerprint/fingerprint_elan80series_pal.c
Labels: none

zephyr: fingerprint: add elani80sa to elan80series algorithm driver
  zephyr/subsys/fingerprint/alg/Kconfig
Labels: none

vader: Modify the touchpad enable condition
  zephyr/program/skywalker/vader/src/touch_pad.c
Labels: none

lapis: Enable touchpad to follow lid behavior
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/gpios.dtsi
  zephyr/program/fatcat/lapis/src/board.c
Labels: none

ectool: Correct ectool exit codes
  util/ectool.cc
Labels: none

common/flash: Fix flash protect v2 race condition
  common/flash.c
Labels: common

Remove CONFIG_OTP from allowed configs
  util/config_allowed.txt
Labels: none

fwk: input_module: Allow full-width module in any location
  zephyr/program/framework/lotus/src/input_module.c
Labels: none

fwk: input_module: Pad integers
  zephyr/program/framework/lotus/src/input_module.c
Labels: none

Brya: Support higher system clock frequency of 40MHz
  baseboard/brya/baseboard.h
Labels: baseboard

pujjoga: Reduce LPM exit debounce from 25ms to 24ms for TD.4.6.6
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

pchg: Add AC S5 charging support and refactor Hall detection
  common/peripheral_charger.c
  include/config.h
  zephyr/Kconfig.tabletmode
  zephyr/Kconfig.wireless_charger
  zephyr/shim/include/config_chip.h
Labels: common

battery: Add manuf info to static battery info
  common/battery_info.c
  include/battery.h
Labels: common

Grogu: Prevent 5V/3A to power on in AC_only
  zephyr/program/skywalker/grogu/project.conf
Labels: none

Brya: ACK discover ID Response
  baseboard/brya/usb_pd_policy.c
Labels: baseboard

renode: remove CrosEC bloonchipper
  util/renode/firmware_builder.py
Labels: none

yoda: Support numeric keypad keyboard
  zephyr/program/skywalker/yoda/CMakeLists.txt
  zephyr/program/skywalker/yoda/cbi.dtsi
  zephyr/program/skywalker/yoda/project.overlay
  zephyr/program/skywalker/yoda/src/keyboard_customization.c
Labels: none

quenbi: Set default fan RPM until fan table is added
  zephyr/program/bluey/quenbi/src/fan.c
Labels: none

zephyr: fingerprint: egis630: get calibration data with phandle
  zephyr/drivers/fingerprint/fingerprint_egis630.c
  zephyr/dts/bindings/fingerprint/egis,egis630.yaml
  zephyr/program/fpmcu/et171/sanok.dts
Labels: none

led: Separate policy matching from pattern execution
  zephyr/shim/src/led_driver/led.c
  zephyr/test/drivers/led_driver/src/led_sequence.c
Labels: none

pdc: Print pdc_power_mgmt substate names in log
  zephyr/subsys/pd_controller/Kconfig
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Do not log SendCmdStart, SendCmdWait states
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

tps6699x: Print IDLE and TASK_WAIT states at debug level
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

rts545x: Print IDLE, PING_STATUS, and READ states at debug level
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

led: Fix global flush in PWM set_brightness
  zephyr/shim/src/led_driver/led_pwm.c
Labels: none

led: Optimize pattern updates with dirty flag
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
Labels: none

led: Optimize LED color apply per driver group
  zephyr/shim/src/led_driver/led.c
Labels: none

led: Remove the unused led_asynchronous_apply_color
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
Labels: none

fatcat:ptlrvp: Enable battery manuf info support
  zephyr/program/intelrvp/ptlrvp/battery.dtsi
Labels: none

battery: Update BATTERY_GET_STATIC host command
  common/battery_info.c
  include/ec_commands.h
  zephyr/test/drivers/host_cmd/src/battery_info.c
Labels: common

virtual-battery: set FULLY_DISCHARGED when critical
  common/virtual_battery.c
  zephyr/test/drivers/default/src/virtual_battery.c
Labels: common

vader: Add kso_02 in cros_kb_raw
  zephyr/program/skywalker/vader/project.overlay
Labels: none
