Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

chip/npcx: Document and validate firmware header size
  chip/npcx/header.c
Labels: none

brox: Enable PDC message tracing
  zephyr/program/brox/brox/project.conf
Labels: none

zephyr: drivers/cros_kb_raw_ite: Add support for KSO16 and KSO17
  zephyr/drivers/cros_kb_raw/cros_kb_raw_ite.c
Labels: none

zephyr: curve25519: use real path instead of symlink
  zephyr/CMakeLists.txt
Labels: none

Craask: workaround for EC sometimes cannot read battery param
  common/charge_state.c
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/craask/src/battery.c
  zephyr/program/nissa/craask/src/charger.c
  zephyr/program/nissa/craask/src/touch_panel.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/include/craask.h
  zephyr/test/nissa/src/craask.c
Labels: common

squirtle: limit sensor odr at 100Hz
  zephyr/program/corsola/squirtle/project.conf
Labels: none

starmie: disable base when lid close
  zephyr/program/corsola/starmie/project.overlay
  zephyr/program/corsola/starmie/src/base_detect.c
Labels: none

test/fpsensor_auth_crypto_state*: Adjust CONSOLE_TASK_STACK_SIZE
  test/fpsensor_auth_crypto_stateful.tasklist
  test/fpsensor_auth_crypto_stateless.tasklist
Labels: none

fpmcu: make CONFIG_DMA and CONFIG_COUNTER bloonchipper specific
  zephyr/program/fpmcu/bloonchipper/prj.conf
  zephyr/program/fpmcu/prj.conf
Labels: none

Revert "common: Enable SRAM MPU protection on helipilot"
  baseboard/helipilot/build.mk
  common/main.c
  core/cortex-m/include/mpu.h
  core/cortex-m/mpu.c
  test/build.mk
  test/run_device_tests.py
  test/sram_mpu_protection.c
  test/sram_mpu_protection.tasklist
Labels: common, baseboard

zmake: Add support for optional modules
  zephyr/zmake/tests/test_project.py
  zephyr/zmake/zmake/project.py
Labels: none

subsys/pd_controller: Update kconfig menu hierarchy
  zephyr/drivers/usbc/Kconfig
  zephyr/drivers/usbc/Kconfig.pdc_trace
Labels: none

subsys/pd_controller: Make initial trace port configurable
  zephyr/drivers/usbc/Kconfig.pdc_trace
  zephyr/subsys/pd_controller/pdc_trace_msg.c
Labels: none

emul: Add TPS6699x emulator stub
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
Labels: none

pdc: Fix SET_PDR usage in SNK/SRC_ATTACHED state
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

Skitty: Modify thermal thermistor on ADC5
  zephyr/program/corsola/skitty/project.overlay
Labels: none

Riven: Remove function relative to BC1.2
  zephyr/program/nissa/riven/generated.dtsi
  zephyr/program/nissa/riven/project.conf
  zephyr/program/nissa/riven/src/usbc.c
  zephyr/test/nissa/src/riven.c
Labels: none

Ciri: Optimize DPS function parameters
  zephyr/program/geralt/ciri/src/board_config.c
Labels: none

zephyr: add more elan touchpad tests
  driver/touchpad_elan.c
  include/driver/touchpad_elan.h
  zephyr/emul/emul_touchpad_elan.c
  zephyr/test/drivers/default/src/touchpad_elan.c
Labels: none

deku: Change CBI flash offset
  zephyr/program/ovis/deku/project.overlay
Labels: none

tps6699x: Remove redundant loop increment
  zephyr/drivers/usbc/tps6699x_fwup.c
Labels: none

pdc: Add TPS6699x test variant
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/testcase.yaml
Labels: none

pdc_tps6699x: Init pdc_data before GPIO configure
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: Make PDC board variants self-contained
  zephyr/test/pdc/boards/rts5453p.overlay
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/testcase.yaml
Labels: none

zephyr: ap_pwrseq: make the trigger struct a static const
  zephyr/subsys/ap_pwrseq/signal_adc.c
Labels: none

bazel: Support optional modules in gen_bazel_targets
  bazel/gen_bazel_targets.py
Labels: none

zephyr/program/fpmcu: Switch to 'optional_modules'
  zephyr/program/fpmcu/BUILD.py
Labels: none

battery: increase cutoff delay to 2.105s
  common/battery.c
  zephyr/test/drivers/default/src/console_cmd/cutoff.c
  zephyr/test/drivers/host_cmd/src/battery_cut_off.c
Labels: common

marigold: modify fw_update mode flow
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

crystaldrift: Open EC_CHARGER_TRICKLE for ISL9238C
  zephyr/Kconfig.charger
Labels: none

wugtrio: Configure tablet mode switch macro
  zephyr/program/corsola/wugtrio/project.conf
Labels: none

pdc_tps6699x: Avoid reset command in st_idle_entry
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

emul_tps6699x: Implement common I2C emul functions
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
Labels: none

marigold: modify thermal table 0702
  zephyr/program/framework/marigold/overlay.dtsi
Labels: none

chip: npcx: add ram lock control
  baseboard/helipilot/base_board.h
  baseboard/helipilot/build.mk
  chip/npcx/build.mk
  chip/npcx/ram_lock.c
  chip/npcx/ram_lock.h
  chip/npcx/registers-npcx9.h
  core/cortex-m/mpu.c
  include/config.h
  test/build.mk
  test/ram_lock.c
  test/ram_lock.tasklist
  test/run_device_tests.py
  util/config_allowed.txt
Labels: baseboard

rauru: detach DP pipeline after deasserting HPD
  zephyr/program/rauru/src/dp_alt_mode.c
Labels: none

fpmcu: Don't enable CONFIG_POSIX_API
  zephyr/program/fpmcu/CMakeLists.txt
  zephyr/program/fpmcu/prj.conf
Labels: none

ec: Declare fpc as a known module
  zephyr/zmake/zmake/modules.py
  zephyr/zmake/zmake/util.py
Labels: none

Add #line to cros_kb_raw_npcx.c & emul_tcpci.c
  zephyr/drivers/cros_kb_raw/cros_kb_raw_npcx.c
  zephyr/emul/tcpc/emul_tcpci.c
Labels: none

Add #line to common/usbc/tbt_alt_mode.c
  common/usbc/tbt_alt_mode.c
Labels: common
