Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

pdc_power_mgmt_api: Fix chipset_startup test
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_power_mgmt_api: Fix POWER_STABLE_TIMEOUT
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_tps6699x: Make TI driver event based
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/boards/tps6699x.overlay
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

tps6699x: Clean-up register and length data members
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/drivers/usbc/tps6699x_reg.h
Labels: none

tps6699x: Clean-up duplicated definitions from emulator
  zephyr/drivers/usbc/tps6699x_reg.h
  zephyr/emul/CMakeLists.txt
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
Labels: none

test: Make fetching sensor hwid more generic for fpsensor_hw test
  driver/fingerprint/fpsensor_driver.h
  test/fpsensor_hw.cc
Labels: none

test: Add buccaneer support to fpsensor_hw test
  driver/fingerprint/elan/elan_sensor.h
  driver/fingerprint/elan/elan_setting.h
  driver/fingerprint/fpsensor_driver.h
  test/fpsensor_hw.cc
Labels: none

redrix: tcs3400: update coeffs for als and rgb sensor
  board/redrix/sensors.c
Labels: none

rauru: update UFS storage fw_config
  zephyr/program/rauru/overlay.dtsi
Labels: none

Beadrix: Modify daughter board config
  baseboard/dedede/cbi_fw_config.h
  board/beadrix/board.c
Labels: baseboard

flash_ec: add ite_spi_ccd_uart flash function
  util/flash_ec
Labels: none

zephyr/mock: Add chipset_api fake functions
  zephyr/mock/CMakeLists.txt
  zephyr/mock/Kconfig
  zephyr/mock/chipset_api.c
Labels: none

jubilant: config scan table with fw_config
  zephyr/program/brox/jubilant/src/keyboard_customization.c
  zephyr/test/brox/tests/jubilant/src/keyboard.c
Labels: none

zephyr/test/intelrvp: Add board power unit test for ptlrvp_mchp
  zephyr/test/board_power/meteorlake.c
  zephyr/test/intelrvp/Kconfig
  zephyr/test/intelrvp/testcase.yaml
  zephyr/test/intelrvp/tests/CMakeLists.txt
  zephyr/test/intelrvp/tests/intelrvp/src/fakes.c
  zephyr/test/intelrvp/tests/intelrvp/src/fakes.h
Labels: none

zephyr: Include correct linker flags for lld
  zephyr/cmake/linker/lld/linker_flags.cmake
Labels: none

fwk: set charger control mode after disable battery sustainer
  include/charge_state.h
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: implement the battery extender feature
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

fwk: set charge limit control and percentage control to common
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/azalea/src/battery.c
  zephyr/program/framework/lotus/src/battery.c
  zephyr/program/framework/marigold/src/battery.c
  zephyr/program/framework/src/charge_limit_control.c
Labels: none

fwk: move battery extender to use common
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

Xol: Modify charge option when AC only
  board/xol/board.c
Labels: none

docs/fingerprint: Add quincy debug configuration note
  docs/fingerprint/fingerprint-debugging.md
Labels: none

PPM: Stop alerting on busy
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

Awasuki: Remove the check_als hook_init processing
  board/awasuki/board_als.c
Labels: none

zephyr/test/intelrvp: Add board ID test for PTLRVP_MCHP
  zephyr/test/intelrvp/testcase.yaml
Labels: none

zephyr/test/rex: Add link to common unit tests for board_power.c
  zephyr/test/rex/tests/program/CMakeLists.txt
  zephyr/test/rex/tests/program/src/board_power.c
  zephyr/test/rex/tests/program/src/fakes.h
Labels: none

tps669x_cmd: Clean-up unused functions
  zephyr/drivers/usbc/tps6699x_cmd.c
Labels: none

fwk: set charger control mode after disable battery sustainer
  include/charge_state.h
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: implement the battery extender feature
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

fwk: move battery extender to use common
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

zephyr/test/rex: Disable optimization for coverage
  zephyr/test/rex/CMakeLists.txt
Labels: none

test/pdc/ppm_driver: Add tests for ppm_init
  zephyr/test/pdc/src/generic/ppm_driver.c
Labels: none

kyogre: customize vol-up key position
  zephyr/program/corsola/kyogre/project.conf
Labels: none

voltorb: Change the PD log level to 0
  zephyr/program/corsola/voltorb/project.conf
Labels: none

fwk: sunflower: workaround: disable lid function to avoid the system hang
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/led.c
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: increase the short hibernate timer to 7 seconds
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: add the short hibernate timer for chassis open behavior
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/board_function.c
Labels: none

fwk: sunflower: add the power signal into the interrupt devicetree
  zephyr/program/framework/sunflower/interrupts.dtsi
Labels: none

fwk: fix incorrect power signal list
  include/power/amd_x86.h
  power/common.c
  zephyr/Kconfig.powerseq
  zephyr/app/ec/soc/Kconfig
  zephyr/program/framework/azalea/project.conf
  zephyr/program/framework/lotus/project.conf
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/program.conf
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: disable ps2mouse function
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower: touchpad module power and keyscan control
  include/keyboard_scan.h
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none
