Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

atria: Add power sequencing
  zephyr/program/atria/CMakeLists.txt
  zephyr/program/atria/atriarvp-rtk/gpio.dtsi
  zephyr/program/atria/atriarvp-rtk/power_signals.dtsi
  zephyr/program/atria/atriarvp-rtk/project.conf
  zephyr/program/atria/atriarvp-rtk/project.overlay
  zephyr/program/atria/power_signals.dtsi
  zephyr/program/atria/program.conf
  zephyr/program/atria/src/rvp_board_power.c
  zephyr/test/ap_power/CMakeLists.txt
  zephyr/test/ap_power/Kconfig
  zephyr/test/ap_power/boards/atriarvp_native_sim.overlay
  zephyr/test/ap_power/src/ap_pwrseq.c
  zephyr/test/ap_power/src/boards/atriarvp.c
  zephyr/test/ap_power/testcase.yaml
Labels: none

atria: Add USBC, Battery, and Charger Configuration
  zephyr/program/atria/atriarvp-rtk/project.overlay
  zephyr/program/atria/program.conf
  zephyr/program/atria/rvp_battery.dtsi
  zephyr/program/atria/rvp_consolidated.dtsi
  zephyr/program/atria/rvp_i2c.dtsi
  zephyr/program/atria/rvp_pd.dtsi
  zephyr/program/atria/rvp_usbc.dtsi
Labels: none

atriarvp-rtk: Enable runtime PDC configuration
  zephyr/program/atria/CMakeLists.txt
  zephyr/program/atria/program.conf
  zephyr/program/atria/rvp_consolidated.dtsi
  zephyr/program/atria/rvp_runtime_pdc.dtsi
  zephyr/program/atria/rvp_usbc.dtsi
  zephyr/program/atria/src/rvp_usbc_runtime.c
Labels: none

battery: Update sunwoda, l26d2pk1 battery information
  zephyr/dts/bindings/battery/sunwoda,l26d2pk1.yaml
Labels: none

fwk: sunflower: Add motionsense support and accel console commands
  zephyr/program/framework/sunflower/i2c.dtsi
  zephyr/program/framework/sunflower/motionsense.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/project.overlay
Labels: none

fwk: sunflower: Update thermal table v250217
  zephyr/program/framework/sunflower/overlay.dtsi
Labels: none

fwk: sunflower: dynamic change the charging current
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk/sunflower: Disable touchpad when tablet mode and lid close
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
  zephyr/program/framework/sunflower/src/power_sequence.c
  zephyr/program/framework/sunflower/src/touchpad.c
Labels: none

fwk: sunflower: call hook "HOOK_CHIPSET_SHUTDOWN_COMPLETE"
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: sunflower: inital EC image
  .github/workflows/zephyr-build.yml
  zephyr/dts/bindings/battery/atc,framework50w.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/README.md
  zephyr/program/framework/include/power_sequence.h
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/sunflower/adc.dtsi
  zephyr/program/framework/sunflower/battery.dtsi
  zephyr/program/framework/sunflower/fan.dtsi
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/i2c.dtsi
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/ioex.dtsi
  zephyr/program/framework/sunflower/keyboard.dtsi
  zephyr/program/framework/sunflower/led_pins.dtsi
  zephyr/program/framework/sunflower/led_policy.dtsi
  zephyr/program/framework/sunflower/overlay.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/project.overlay
  zephyr/program/framework/sunflower/src/charger.c
  zephyr/program/framework/sunflower/src/cpu_power.c
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
  zephyr/program/framework/sunflower/src/project_diagnostics.c
  zephyr/program/framework/sunflower/src/temperature.c
  zephyr/program/framework/sunflower/src/thermal.c
Labels: workflow

fwk/sunflower: Disable keyboard in force tabletmode
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
Labels: none

fwk: sunflower: enable power LED when S5S3 chipset startup
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: Enable UEFI App commands for non-lotus
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: isl9241: add the function to read the charger temperature
  driver/charger/isl9241.c
  driver/charger/isl9241.h
  zephyr/dts/bindings/temp/cros-ec,temp-sensor-isl9241.yaml
  zephyr/shim/include/temp_sensor/temp_sensor.h
  zephyr/shim/src/temp_sensors.c
Labels: none

fwk: sunflower: re-apply fan duty before fan check to avoid false
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

fwk: move battery extender to use common
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/include/board_host_command.h
Labels: common

fwk/sunflower: Remove unimplemented FN+S
  zephyr/program/framework/sunflower/src/keyboard_customization.c
Labels: none

fwk: isl9241: add the function to control charger CSIN sink/discharge bit
  driver/charger/isl9241.c
  driver/charger/isl9241.h
Labels: none

fwk/sunflower: Allow pwrbutton if lid closed and AC present
  common/power_button.c
  zephyr/program/framework/src/power_button_x86.c
  zephyr/program/framework/sunflower/project.conf
Labels: common

fwk: sunflower: Instant power button LED feeback
  zephyr/program/framework/sunflower/led_policy.dtsi
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: sunflower: Add caps-led control
  zephyr/program/framework/include/sunflower/keyboard_customization.h
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: sunflower: touchpad module power and keyscan control
  include/keyboard_scan.h
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk/sunflower: Expose table mode to SOC via GPIO
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
Labels: none

fwk: sunflower: Add lidangle console command
  zephyr/program/framework/sunflower/src/motionsense.c
Labels: none

fwk/sunflower: Increase KB controller I2C to 1MHz
  zephyr/program/framework/sunflower/i2c.dtsi
Labels: none

fwk: sunflower: modified the ISL9241 fast discharge logic
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk/sunflower: Replace temp sensor diag with lid accel
  zephyr/program/framework/include/diagnostics_laptop.h
  zephyr/program/framework/src/diagnostics_laptop.c
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

fwk/sunflower: Rotate base accelerometer
  zephyr/program/framework/sunflower/motionsense.dtsi
Labels: none

fwk: sunflower: Set DC prochot to 4.86A(0x1300)
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: sunflower: update pl setting to improve DC balance mode performance
  zephyr/program/framework/sunflower/src/cpu_power.c
Labels: none

fwk: sunflower: charger init need to be executed after battery init
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: sunflower: add Copilot keyboard key control
  zephyr/program/framework/sunflower/src/keyboard_customization.c
Labels: none

fwk: implement the battery extender feature
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/include/board_host_command.h
Labels: common

fwk: sunflower: implement standalone mode LED behavior
  zephyr/program/framework/sunflower/led_policy.dtsi
Labels: none

fwk: sunflower: Swap x and y on lid sensor, and flip x
  zephyr/program/framework/sunflower/motionsense.dtsi
Labels: none

fwk: Exit UEFI mode if app crashes
  zephyr/program/framework/src/uefi_app_mode.c
Labels: none

fwk: allow project to change the logic to perform the error recovery
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sunflower: workaround: Notify SCI event using GPIO
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: sunflower:switch left side pd port UCSI order
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/ucsi_port_12.c
Labels: none

fwk/sunflower: Print log if pwrbtn board missing
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
