Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

driver/fingerprint: Add brief description for function in plat_reset.h
  driver/fingerprint/egis/platform/inc/plat_reset.h
Labels: none

fwk: sunflower: Bump to 0.04
  .github/workflows/zephyr-build.yml
Labels: workflow

keyboard: clean up some Kconfig options
  zephyr/Kconfig.keyboard
  zephyr/drivers/keyboard_input/Kconfig
  zephyr/program/brox/program.conf
Labels: none

Makefile.toolchain: Allow HOST_CFLAGS/HOST_LDFLAGS from the environment
  Makefile.toolchain
Labels: repo

zephyr: Correct tokenized logging to add newlines
  zephyr/CMakeLists.txt
  zephyr/include/pigweed/zephyr_custom_log.h
  zephyr/include/pigweed/zephyr_custom_shell.h
Labels: none

util/renode: Build tests during "build" step
  util/renode/firmware_builder.py
Labels: none

kyogre: update the customize vol-up key position
  zephyr/program/corsola/kyogre/project.conf
Labels: none

DIR_METADATA: flash_fp_mcu changes trigger fingerprint CQ
  DIR_METADATA
Labels: repo

fwk: sunflower: Swap x and y on lid sensor, and flip x
  zephyr/program/framework/sunflower/motionsense.dtsi
Labels: none

fwk: sunflower: calculate lid angle
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/motionsense.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/motionsense.c
Labels: none

fwk: sunflower: Add lidangle console command
  zephyr/program/framework/sunflower/src/motionsense.c
Labels: none

util/itecomdbgr: Retry setting SPI WEL
  util/itecomdbgr.cc
Labels: none

util/itecomdbgr: Simplify progress indication
  util/itecomdbgr.cc
Labels: none

util/itecomdbgr: Skip programming blank pages
  util/itecomdbgr.cc
Labels: none

fwk/sunflower: Expose table mode to SOC via GPIO
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
Labels: none

kyogre: Change the virtual battery address to 0x0f
  zephyr/program/corsola/kyogre/project.conf
Labels: none

Add new cmake files
  zephyr/cmake/linker/ld/linker_libraries.cmake
  zephyr/cmake/linker/linker_libraries_template.cmake
  zephyr/cmake/linker/lld/linker_libraries.cmake
  zephyr/cmake/linker/target_template.cmake
Labels: none

pdc_rts54xx: Remove notification on USB PD Attention workaround
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

fatcat/fatcat_it82002aw: Rename i2c3ALT to i2c3
  zephyr/program/fatcat/fatcat_it82002aw/project.overlay
Labels: none

fatcat/fatcat_it82002aw: Update configs to utilize generated.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/adc.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/i2c.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/keyboard.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/project.overlay
  zephyr/program/fatcat/fatcat_it82002aw/pwm.dtsi
Labels: none

util/flash_fp_mcu: Remove karis workaround
  util/flash_fp_mcu
Labels: none

util/renode: Test both bloonchipper and dartmonkey with Renode
  util/renode/firmware_builder.py
Labels: none

tree: Update default version of J-Link to 8.10a
  docs/fingerprint/fingerprint-debugging.md
  util/flash_jlink.py
Labels: none

util/flash-jlink: Remove code to disable flash verification
  util/flash_jlink.py
Labels: none

test: usb_pd_discovery: Remove redundant "verify"
  zephyr/test/drivers/usb_pd_discovery/src/usb_pd_discovery.c
Labels: none

test: usbc_tbt_mode: Add missing include
  zephyr/test/drivers/usbc_tbt_mode/src/usbc_tbt_mode.c
Labels: none

test/run_device_tests: Skip failing dartmonkey tests on Renode
  test/run_device_tests.py
Labels: none

zmake: Force load coreboot-sdk
  zephyr/zmake/zmake/__main__.py
Labels: none

kyogre: re-design sensor settings and gyro active mask
  zephyr/program/corsola/kyogre/project.overlay
Labels: none

kyogre: base gyro and accel use irq mode during S0 and force mode during S3
  zephyr/program/corsola/kyogre/project.conf
  zephyr/program/corsola/kyogre/project.overlay
Labels: none

zephyr/fingerprint/test: add TODO comment for additional tests
  zephyr/test/fingerprint/task/src/fpsensor_debug.cc
Labels: none

fatcat/fatcat_it82002aw: Enable AP config
  zephyr/program/fatcat/fatcat_it82002aw/gpios.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/project.conf
  zephyr/program/fatcat/fatcat_it82002aw/project.overlay
Labels: none

pdc: Fix sink path behavior from non-PD sources
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc_power_mgmt: Use GET_ATTENTION_VDO for HPD wake
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/include/drivers/pdc.h
  zephyr/include/drivers/ucsi_v3.h
  zephyr/include/emul/emul_pdc.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_null_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

trulo: ndorisa specific cbi support
  zephyr/program/trulo/trulo/cbi.dtsi
  zephyr/program/trulo/trulo/gpio.dtsi
  zephyr/program/trulo/trulo/i2c.dtsi
  zephyr/program/trulo/trulo/project.conf
  zephyr/program/trulo/trulo/project.overlay
Labels: none

Revert "zmake: Force load coreboot-sdk"
  zephyr/zmake/zmake/__main__.py
Labels: none

trulo: Add ndorisa specific type-c support
  zephyr/program/trulo/trulo/i2c.dtsi
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/trulo/usb_typec.dtsi
Labels: none

trulo: Add ndorisa specific battery support
  zephyr/program/trulo/trulo/battery.dtsi
  zephyr/program/trulo/trulo/project.overlay
Labels: none

trulo: Add ndorisa keyboard support
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo.dtsi
  zephyr/program/trulo/trulo/keyboard.dtsi
  zephyr/program/trulo/trulo/project.overlay
Labels: none

fatcat/fatcat_it82002aw: Add GSC board
  zephyr/program/fatcat/fatcat_it82002aw/gsc_board.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/i2c.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/interrupts.dtsi
  zephyr/program/fatcat/fatcat_it82002aw/project.conf
  zephyr/program/fatcat/fatcat_it82002aw/project.overlay
Labels: none
