Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

marigold: modify thermal table 0614
  zephyr/program/framework/marigold/fan.dtsi
  zephyr/program/framework/marigold/overlay.dtsi
Labels: none

magolor: support BMI323 motion sensor
  board/magolor/board.c
  board/magolor/board.h
Labels: none

sundance: the output source limiting to 5V/1.5A
  zephyr/program/nissa/sundance/project.conf
Labels: none

sundance: modify keyboard top row define meet spec
  zephyr/program/nissa/sundance/keyboard.dtsi
Labels: none

marigold: increase the prevent power on to 2 seconds
  zephyr/program/framework/marigold/project.conf
Labels: none

Veluza: Fix LED control for ectool
  zephyr/program/corsola/veluza/src/led.c
Labels: none

usb_dc: put the Google update descriptor after the HID class
  zephyr/subsys/usb_dc/usb_google_update.c
Labels: none

boot_keys: rename the input callback
  zephyr/drivers/boot_keys/boot_keys.c
Labels: none

it8xxx2: set a default key mask
  zephyr/boards/google/it8xxx2/it8xxx2.dtsi
Labels: none

drivers: add a runtime key input based driver
  zephyr/drivers/CMakeLists.txt
  zephyr/drivers/Kconfig
  zephyr/drivers/runtime_keys/CMakeLists.txt
  zephyr/drivers/runtime_keys/Kconfig
  zephyr/drivers/runtime_keys/runtime_keys.c
  zephyr/dts/bindings/input/cros-ec,runtime-keys.yaml
Labels: none

drivers: add a test suite for the input based runtime_keys
  zephyr/drivers/runtime_keys/runtime_keys.c
  zephyr/test/runtime_keys/CMakeLists.txt
  zephyr/test/runtime_keys/Kconfig
  zephyr/test/runtime_keys/boards/native_sim.overlay
  zephyr/test/runtime_keys/include/chipset.h
  zephyr/test/runtime_keys/include/keyboard_protocol.h
  zephyr/test/runtime_keys/include/system.h
  zephyr/test/runtime_keys/prj.conf
  zephyr/test/runtime_keys/src/main.c
  zephyr/test/runtime_keys/testcase.yaml
Labels: none

brox, rex: setup runtime keys
  zephyr/program/brox/keyboard.dtsi
  zephyr/program/rex/keyboard.dtsi
Labels: none

baseboard/helipilot: Remove CONFIG_PROGRAM_MEMORY_BASE override
  baseboard/helipilot/base_board.h
Labels: baseboard

test/fpsensor_crypto_with_mock: Simplify tests
  test/fpsensor_crypto_with_mock.cc
Labels: none

test: Add workaround for building tests only for RW image
  test/build.mk
Labels: none

lotso: modify motionsense rotation matrix
  zephyr/program/brox/lotso/project.overlay
Labels: none

riven: use BMA422 for LID and BASE g-sensor
  zephyr/program/nissa/riven/cbi.dtsi
  zephyr/program/nissa/riven/generated.dtsi
  zephyr/program/nissa/riven/motionsense.dtsi
  zephyr/program/nissa/riven/overlay.dtsi
  zephyr/program/nissa/riven/project.conf
  zephyr/program/nissa/riven/src/form_factor.c
  zephyr/test/nissa/boards/riven.dts
  zephyr/test/nissa/include/riven.h
  zephyr/test/nissa/src/riven.c
  zephyr/test/nissa/testcase.yaml
Labels: none

Orisa: modify the EC code to match the mainboard design
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/Kconfig
  zephyr/program/nissa/orisa/generated.dtsi
  zephyr/program/nissa/orisa/include/keyboard_customization.h
  zephyr/program/nissa/orisa/keyboard.dtsi
  zephyr/program/nissa/orisa/overlay.dtsi
  zephyr/program/nissa/orisa/project.conf
  zephyr/program/nissa/orisa/project.overlay
  zephyr/program/nissa/orisa/src/charger.c
  zephyr/program/nissa/orisa/src/hdmi.c
  zephyr/program/nissa/orisa/src/keyboard.c
  zephyr/program/nissa/orisa/src/touch_panel.c
  zephyr/program/nissa/orisa/src/usbc.c
Labels: none

Orisa: Configure sub board setting
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/orisa/src/sub_board.c
Labels: none

Glassway: Modify Fan frequence and setting.
  zephyr/program/nissa/glassway/overlay.dtsi
Labels: none

sundance: modify LED behavior for LED spec
  zephyr/program/nissa/sundance/src/led.c
Labels: none

cmake/toolchain/llvm: Enable FPU when compiling with armv7m-cros-eabi
  zephyr/cmake/toolchain/llvm/Kconfig
  zephyr/cmake/toolchain/llvm/target.cmake
Labels: none

util: Change ZEPHYR_BASE to absolute path
  util/linux_ec_commands_h_check.sh
Labels: none

pdc: NULL-protect pdc_set_rdo() and pdc_set_pdos()
  zephyr/include/drivers/pdc.h
Labels: none

pdc: Add tests for NULL protection in pdc.h API functions
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/pdc_null_api.c
  zephyr/test/pdc/testcase.yaml
Labels: none

sn5s330: prevent infinite loop
  driver/ppc/sn5s330.c
  zephyr/emul/emul_sn5s330.c
  zephyr/include/emul/emul_sn5s330.h
  zephyr/test/drivers/common/include/test/drivers/test_mocks.h
  zephyr/test/drivers/common/src/test_mocks.c
  zephyr/test/drivers/default/prj.conf
  zephyr/test/drivers/default/src/ppc_sn5s330.c
  zephyr/test/drivers/ktu1125/src/ktu1125.c
Labels: none

Keyboard: Only apply Ti50 workaround at boot
  common/keyboard_scan.c
  test/kb_scan.c
Labels: common

pdc_power_mgmt: Report PDC firmware config version
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_reg.h
  zephyr/include/drivers/pdc.h
  zephyr/subsys/pd_controller/pdc_console.c
Labels: none

fuzz: Update bug link
  fuzz/host_command_fuzz.c
Labels: none

pdc: ti: Print TFUq response as hex buffer
  zephyr/drivers/usbc/tps6699x_fwup.c
Labels: none

ec: build private-mt-scp boards
  Makefile
  Makefile.rules
  util/getversion.sh
Labels: repo

marigold: Bump to 2.02
  .github/workflows/zephyr-build.yml
Labels: workflow

flash_fp_mcu: Add config_brox
  util/flash_fp_mcu
Labels: none

wugtrio: Modify the active-mask of motionsensor to SENSOR_ACTIVE_S0
  zephyr/program/corsola/wugtrio/project.overlay
Labels: none

Orisa: add gpio_soc_enbkl
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/orisa/generated.dtsi
  zephyr/program/nissa/orisa/overlay.dtsi
  zephyr/program/nissa/orisa/src/touch_panel.c
Labels: none

spikyrock: Update the touchpad parameters
  zephyr/program/roach/spikyrock/project.overlay
Labels: none

charger/bq25710: force LWPWR when leaving S0
  driver/charger/bq25710.c
Labels: none

driver/isl9241: Add CSIN_SINK_DISCHARGE bit
  driver/charger/isl9241.h
Labels: none

marigold: modify power table 0617
  zephyr/program/framework/marigold/src/charger.c
  zephyr/program/framework/marigold/src/cpu_power.c
Labels: none

marigold:fix led unexpected blinking
  zephyr/program/framework/src/led.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
