Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

kanix: Enable CONFIG_PLATFORM_EC_FEATURE_FINCH
  zephyr/program/rex/kanix/project.conf
Labels: none

pdc: separate vid_pid to two separate values
  extra/um_ppm/rts5453.h
  extra/um_ppm/rts5453_usermode.c
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_tps6699x.c
  zephyr/include/drivers/pdc.h
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/subsys/pd_controller/pdc_host_cmd.c
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_host_cmd.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

sundance: Add schedule_deferred_pd_interrupt in nct38xx_init
  zephyr/program/nissa/sundance/src/usbc.c
Labels: none

uldren : Add MP2964 i2c printf judge
  driver/mp2964.c
  zephyr/program/nissa/uldren/src/mp2964_update.c
Labels: none

test/run_device_tests.py: Increase reboot_timeout for bloonchipper
  test/run_device_tests.py
Labels: none

trulo: Enable EFS2
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo.dtsi
Labels: none

trulo: Add support for memory mapped switches
  zephyr/program/trulo/program.conf
Labels: none

trulo: Enable PWM
  zephyr/program/trulo/program.conf
Labels: none

trulo: Add mkbp event support
  zephyr/program/trulo/program.conf
Labels: none

trulo: Add usb-a support
  zephyr/program/trulo/trulo/project.overlay
  zephyr/program/trulo/usba.dtsi
Labels: none

pdc_tps6699x: Add fast role swap support
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_reg.h
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

brask: Disable CONFIG_POWER_SLEEP_FAILURE_DETECTION
  baseboard/brask/baseboard.h
Labels: baseboard

test: fix test flake on test_new_pd_sink_contract
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

charge_manager: Refactor BC1.2 detection
  board/host/gpio.inc
  common/charge_manager.c
  include/charge_manager.h
  test/charge_manager.c
  test/test_config.h
  zephyr/test/intelrvp/tests/intelrvp/src/dc_jack.c
Labels: common

pdc: Fix charging from non-PD sources
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test: pdc: add tests to verify non-PD charging policy
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/src/pdc_policy/non_pd_policy.c
Labels: none

util/itecomdbgr: Improve error propagation
  util/itecomdbgr.cc
Labels: none

pdc: Set peak overcurrent allowance for source PDO
  zephyr/subsys/pd_controller/Kconfig
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

brox: Set PDC source PDO overcurrent capability
  zephyr/program/brox/brox/project.conf
Labels: none

jubilant: Set PDC source PDO overcurrent capability
  zephyr/program/brox/jubilant/project.conf
Labels: none

lotso: Set PDC source PDO overcurrent capability
  zephyr/program/brox/lotso/project.conf
Labels: none

util/itecomdbgr: Restore TTY settings on unusual exit
  util/itecomdbgr.cc
Labels: none

driver/tcpm/it8xxx2.c: fix comment typo
  driver/tcpm/it8xxx2.c
Labels: none

driver/tcpm/it83xx.c: fix goodcrc data role issue
  driver/tcpm/it83xx.c
Labels: none

driver/tcpm/it83xx.c: determine retry count by protocol version
  driver/tcpm/it83xx.c
Labels: none

console: Prevent duplicate logs when tokenized
  zephyr/shim/src/console.c
Labels: none

drive/fingerprint: Use doxygen comments for macros in fpsensor_driver
  driver/fingerprint/fpsensor_driver.h
Labels: none

brox-sku4: Create tokenized variant
  zephyr/drivers/usbc/tps6699x_fwup.c
  zephyr/program/brox/BUILD.py
Labels: none

test/pdc/ucsi: Add test_pdc_busy
  zephyr/test/pdc/src/generic/ppm.c
Labels: none

subsys/ap_pwrseq: Support `debug_mode` flag in S5 action handler
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_sm_handler.c
Labels: none

common/fpsensor: Use DECLARE_CONSOLE_COMMAND for fpenroll command
  common/fpsensor/fpsensor_debug.cc
Labels: common

Orisa: Modify the FW config
  zephyr/program/nissa/orisa/cbi.dtsi
  zephyr/program/nissa/orisa/src/keyboard.c
Labels: none

orisa/trulo: Enable PDC VBUS measurement
  zephyr/program/nissa/orisa/project.conf
  zephyr/program/trulo/program.conf
Labels: none

zephyr: use check_set_compiler_property
  zephyr/CMakeLists.txt
Labels: none

common/fpsensor: Use DECLARE_CONSOLE_COMMAND for fpcapture command
  common/fpsensor/fpsensor_debug.cc
Labels: common

rules_cros_firmware: Move ec bazel deps
  Makefile
  bazel/deps.bzl
  firmware_builder.py
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
  zephyr/firmware_builder.py
Labels: repo

PPM: Correctly map set notification enable bits
  zephyr/include/drivers/ucsi_v3.h
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/test/pdc/src/ucsi/ucsi.c
Labels: none

pdc_rts54xx: Enable sink_path notification
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

trulo: ndorisa gpio modifications
  zephyr/program/trulo/trulo/gpio.dtsi
  zephyr/program/trulo/trulo/project.overlay
Labels: none

zephyr: fpmcu: Port fpsensor_debug unittest from EC to zephyr
  util/migrated_files.sh
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/src/fpsensor_debug.cc
  zephyr/test/fingerprint/task/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
Labels: none
