Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: fix incorrect chipset state mask value
  power/common.c
Labels: none

fwk: lilac: do not mask UCSI_CMD_GET_ALTERNATE_MODE
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: UCSI set_power_level no broadcast
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
Labels: none

Improve port80 output. Store 32bit Port80 values in the history.
  common/port80.c
  include/ec_commands.h
  include/port80.h
  zephyr/shim/src/espi.c
Labels: common

Add the "ectool chan" command so that debug channels can be switched on/off from ectool.
  common/console_output.c
  include/ec_cmd_api.h
  zephyr/program/framework/include/board_host_command.h
Labels: common

Fix minor crash bugs with various console commands.
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: modify the led3 and power led configuration
  zephyr/program/framework/dogwood/led_pins.dtsi
  zephyr/program/framework/dogwood/led_policy.dtsi
Labels: none

fwk: dogwood: declare s5_exit_tries to 0
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: modified thermal table 0206
  zephyr/program/framework/dogwood/src/cpu_power.c
  zephyr/program/framework/dogwood/thermal.dtsi
Labels: none

fwk: lilac: modified SB-RMI protocol to meet AMD spec
  driver/sb_rmi.c
Labels: none

fwk: dogwood: check chipset is in low power mode
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: add chipset_in_low_power_mode
  driver/sb_rmi.c
  driver/temp_sensor/sb_tsi.c
  include/chipset.h
  power/common.c
Labels: none

fwk/lilac: Send battery status and capacity to CCG8
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: Allow customizing CCG8 battery messages
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk/lilac: Bump to 2.05
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: move the duplicate perform_error_recovery() function to be a common feature.
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: perform the typec error recovery after AMD Crossbar is ready
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: perform the typec error recovery after AMD Crossbar is ready
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: bump to v1.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/marigold: bump to 3.05
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: let touchpad reset process run in TP interrupt disabled
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk/lilac: Bump to 3.00
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: let touchpad reset process run in TP interrupt disabled
  zephyr/program/framework/src/ps2mouse.c
Labels: none

Revert "fwk/lilac: Bump to 3.00"
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: PD - support crossbar ready on port evt
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: perform the typec error recovery after AMD Crossbar is ready
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: main: combine charger limit and battery extender
  zephyr/program/framework/lotus/src/battery.c
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: add response new response codes PD HPI rev T
  zephyr/program/framework/include/cypress_pd_common.h
Labels: none

fwk: main: combine charger limit and battery extender
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/src/battery_extender.c
  zephyr/program/framework/src/charge_limit_control.c
Labels: none

fwk: replace CONFIG_BOARD_LOTUS
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/include/board_charger.h
  zephyr/program/framework/include/diagnostics_laptop.h
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/diagnostics_laptop.c
  zephyr/program/framework/src/hid_device.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: tulip: modify charger and add 3level buck
  zephyr/program/framework/include/board_charger.h
  zephyr/program/framework/lotus/src/cpu_power.c
  zephyr/program/framework/lotus/src/power_sequence.c
  zephyr/program/framework/tulip/project.conf
  zephyr/program/framework/tulip/project.overlay
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: Add bq25770 charger driver
  driver/build.mk
  driver/charger/bq25710.c
  driver/charger/bq25710.h
  driver/charger/bq257x0_regs.h
  include/config.h
  zephyr/CMakeLists.txt
  zephyr/Kconfig.charger
  zephyr/shim/include/charger/chg_bq25710.h
  zephyr/shim/include/config_chip.h
Labels: none

Tulip: add enums for GN22 and CCG8S
  zephyr/program/framework/include/lotus/gpu_configuration.h
Labels: none

fwk: tulip: factory bft test
  zephyr/program/framework/lotus/src/power_sequence.c
  zephyr/program/framework/tulip/project.conf
  zephyr/program/framework/tulip/project.overlay
  zephyr/program/framework/tulip/src/charger.c
Labels: none

fwk: create tulip folder
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/tulip/project.conf
  zephyr/program/framework/tulip/project.overlay
  zephyr/program/framework/tulip/src/charger.c
Labels: none

tulip: add is_throttling gpio func to gpu
  zephyr/program/framework/include/lotus/gpu_configuration.h
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: distinguish lotus board_version
  zephyr/program/framework/lotus/src/battery.c
  zephyr/program/framework/lotus/src/gpu.c
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: sunflower: Update thermal table v250217
  zephyr/program/framework/sunflower/overlay.dtsi
Labels: none

fwk: remove unused battery PD extended control message
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: handle extended control message EPR KeepAlive
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
