Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

power/mt8196: modify PP3700_S5 discharge time
  zephyr/program/rauru/hylia/project.conf
  zephyr/program/rauru/program.conf
Labels: none

firmware_builder.py: remove formatting checks
  firmware_builder.py
Labels: repo

genvif_test: Use recursive make
  test/build.mk
  test/genvif/genvif.sh
Labels: none

hylia: Modify the power sequence of the panel backlight and touch screen
  zephyr/program/rauru/CMakeLists.txt
  zephyr/program/rauru/Kconfig
  zephyr/program/rauru/hylia/CMakeLists.txt
  zephyr/program/rauru/hylia/generated.dtsi
  zephyr/program/rauru/hylia/project.conf
  zephyr/program/rauru/hylia/project.overlay
  zephyr/program/rauru/hylia/src/backlight.c
Labels: none

awasuki: Add VIF file
  board/awasuki/awasuki_vif.xml
Labels: none

cme: add support for pdc retimer
  zephyr/scripts/cme.py
  zephyr/scripts/cme_additional_id.py
  zephyr/scripts/cme_chip_id.py
Labels: none

felino: Add battery ap23a5l
  zephyr/program/fatcat/felino/project.overlay
Labels: none

starmie: Configure tablet mode macro
  zephyr/program/corsola/starmie/project.conf
  zephyr/program/corsola/starmie/project.overlay
  zephyr/program/corsola/starmie/src/base_detect.c
Labels: none

pdc: Add new API functions to get/set SBU mux mode
  zephyr/include/drivers/pdc.h
  zephyr/test/pdc/src/generic/pdc_null_api.c
Labels: none

Anraggar: Add Anraggar VIF
  zephyr/program/nissa/anraggar/anraggar_vif.xml
Labels: none

fatcat_it82002aw: Add pull-up to GPD7
  zephyr/program/fatcat/fatcat_it82002aw/generated.dtsi
Labels: none

Craask: Add Craask VIF
  zephyr/program/nissa/craask/craask_vif.xml
Labels: none

ppm: Move the ePPM main from init to EC main
  zephyr/app/ec/ec_app_main.c
  zephyr/include/usbc/ppm.h
  zephyr/subsys/ucsi/ucsi_host_cmd.c
Labels: none

docs: Add PDC Dead battery handling
  docs/zephyr/pdc.md
  docs/zephyr/pdc_dead_battery_two_ports.png
  docs/zephyr/pdc_dead_battery_two_ports.seq
Labels: none

hylia:modify fan policy parameters
  zephyr/program/rauru/hylia/fan.dtsi
Labels: none

cme: add probe flag for low power support
  zephyr/scripts/cme.py
Labels: none

pdc: Add pdc_power_mgmt functions for controlling SBU mux mode
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
Labels: none

awasuki: update VIF file
  board/awasuki/awasuki_vif.xml
Labels: none

driver/fingerprint/elan: modify support for elan factory testing
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/elan/elan_sensor.h
Labels: none

felino: Add LED policy
  zephyr/program/fatcat/felino/led_pins.dtsi
  zephyr/program/fatcat/felino/led_policy.dtsi
  zephyr/program/fatcat/felino/project.overlay
Labels: none

panic: Introduce panic_log
  common/build.mk
  common/panic_log.c
  common/uart_printf.c
  include/config.h
  include/ec_commands.h
  include/panic_log.h
  util/ectool.cc
  zephyr/CMakeLists.txt
  zephyr/Kconfig.panic
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/console.c
  zephyr/shim/src/log_backend_console_buffer.c
  zephyr/shim/src/pw_log_zephyr_tokenized.cc
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/panic_log/CMakeLists.txt
  zephyr/test/drivers/panic_log/src/panic_log.c
  zephyr/test/drivers/testcase.yaml
  zephyr/test/uart_printf/include/common.h
  zephyr/test/uart_printf/include/panic_log.h
Labels: common

pdc: Add console command `pdc sbumux`
  zephyr/subsys/pd_controller/pdc_console.c
Labels: none

felino: Add hibernate function
  zephyr/program/fatcat/felino/CMakeLists.txt
  zephyr/program/fatcat/felino/interrupts.dtsi
  zephyr/program/fatcat/felino/src/hibernate.c
Labels: none

cme: Don't report lack of named-i2c-ports as an error
  zephyr/scripts/cme.py
Labels: none

tps6699x: Enable auto data role swap
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_pdc.h
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/src/tps6699x/tps6699x.c
Labels: none

pujjoniru: Logic level modification for sensor I2C and EEPROM I2C
  zephyr/program/nissa/pujjoniru/overlay.dtsi
Labels: none

ec_commands: convert existing [] & [0] into [FLEXIBLE_ARRAY_MEMBER_SIZE]
  include/ec_commands.h
Labels: none

zmake: Logging cleanup, enable job name logging for multi-proj builds
  zephyr/zmake/tests/test_multiproc_logging.py
  zephyr/zmake/tests/test_zmake.py
  zephyr/zmake/zmake/__main__.py
  zephyr/zmake/zmake/multiproc.py
  zephyr/zmake/zmake/output_packers.py
  zephyr/zmake/zmake/zmake.py
Labels: none

ec_commands: convert ec_flash_bank field from [] to [FLEXIBLE_ARRAY_MEMBER_SIZE]
  include/ec_commands.h
Labels: none

felino: Add temp sensors and fans for thermal policy
  zephyr/program/fatcat/felino/adc.dtsi
  zephyr/program/fatcat/felino/fan.dtsi
  zephyr/program/fatcat/felino/gpios.dtsi
  zephyr/program/fatcat/felino/project.conf
  zephyr/program/fatcat/felino/project.overlay
  zephyr/program/fatcat/felino/temp_sensors.dtsi
Labels: none

bindings: add Egis Technology Inc to vendor prefixes file
  zephyr/dts/bindings/vendor-prefixes.txt
Labels: none

delbin: delay motionsense on resume
  board/delbin/board.h
Labels: none

moxie: update power led color
  board/moxie/board.h
  board/moxie/led.c
  board/moxie/pwm.c
Labels: none

hylia: Enable keyboard strict debouncer
  zephyr/program/rauru/hylia/project.conf
Labels: none

francka: enable the volume button
  zephyr/program/fatcat/francka/gpios.dtsi
  zephyr/program/fatcat/francka/project.conf
Labels: none

felino: Add lid function
  zephyr/program/fatcat/felino/interrupts.dtsi
  zephyr/program/fatcat/felino/project.conf
Labels: none

Riven: Add Riven VIF
  zephyr/program/nissa/riven/riven_vif.xml
Labels: none

docs: Move PDC diagrams to their own page
  docs/zephyr/pdc.md
  docs/zephyr/pdc_diagrams/pdc_attach_sequence.md
  docs/zephyr/pdc_diagrams/pdc_attach_sequence.png
  docs/zephyr/pdc_diagrams/pdc_attach_sequence.seq
  docs/zephyr/pdc_diagrams/pdc_dead_battery_two_ports.md
  docs/zephyr/pdc_diagrams/pdc_dead_battery_two_ports.png
  docs/zephyr/pdc_diagrams/pdc_dead_battery_two_ports.seq
  docs/zephyr/pdc_diagrams/pdc_power_mgmt_state_diagram.md
  docs/zephyr/pdc_diagrams/pdc_power_mgmt_state_diagram.png
  docs/zephyr/pdc_diagrams/pdc_power_mgmt_state_diagram.smcat
  docs/zephyr/pdc_diagrams/pdc_public_req.png
  docs/zephyr/pdc_diagrams/pdc_public_req.seq
  docs/zephyr/pdc_diagrams/pdc_public_request.md
Labels: none

Meliks: Modify VRM and GPIO setting
  zephyr/program/nissa/meliks/keyboard.dtsi
  zephyr/program/nissa/meliks/overlay.dtsi
  zephyr/program/nissa/meliks/src/board.c
Labels: none

hylia: add a set of fan thermal policy
  zephyr/program/rauru/hylia/fan.dtsi
Labels: none
