Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: Add it8801 keyboard KSO19 setting
  driver/ioexpander/it8801.c
Labels: none

fwk: sunflower: modify it8801 keyboard
  driver/ioexpander/it8801.c
  zephyr/program/framework/include/sunflower/keyboard_customization.h
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/keyboard.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

sunflower: bump release to 0.01
  .github/workflows/zephyr-build.yml
Labels: workflow

quandiso360: Add 2nd source BMA422 for LID accelerometer
  zephyr/program/nissa/quandiso/cbi.dtsi
  zephyr/program/nissa/quandiso/gpio.dtsi
  zephyr/program/nissa/quandiso/motionsense.dtsi
  zephyr/program/nissa/quandiso/overlay.dtsi
  zephyr/program/nissa/quandiso/src/board.c
  zephyr/test/nissa/boards/quandiso.dts
  zephyr/test/nissa/include/quandiso.h
  zephyr/test/nissa/src/quandiso.c
Labels: none

battery: Disable read and write operations during cutoff
  driver/battery/smart.c
Labels: none

test/pdc/ppm_driver: Rename pdc_dev -> ppm_dev
  zephyr/test/pdc/src/generic/ppm_driver.c
Labels: none

test/pdc/ppm_driver: Add tests for execute_cmd
  zephyr/test/pdc/src/generic/ppm_driver.c
Labels: none

usb_dc: Use new net buf header
  zephyr/subsys/usb_dc/usb_google_i2c.c
  zephyr/subsys/usb_dc/usb_google_update.c
Labels: none

pdc_power_mgmt_api: Fix set_dual_role test
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

lotso: Disable Charger IDPM when AC only
  zephyr/program/brox/lotso/src/charger.c
Labels: none

zephyr: disable shell help on brya to save flash
  zephyr/program/brya/prj.conf
Labels: none

firmware: add console command to read DUT srccaps
  board/servo_v4p1/usb_pd_policy.c
Labels: none

drawcia: Set CONFIG_I2C_NACK_RETRY_COUNT to default 0
  board/drawcia/board.h
Labels: none

battery/config: Remove board_batt_conf_enabled
  common/battery_fuel_gauge.c
  include/battery_fuel_gauge.h
Labels: common

battery/config: Reverse search order
  common/battery_fuel_gauge.c
  test/battery_config.c
Labels: common

util/flash_jlink: Update default version for Nuvoton flashing
  util/flash_jlink.py
Labels: none

util/flash_jlink: Update helipilot device name
  util/flash_jlink.py
Labels: none

util/flash_jlink: Disable flash verification for helipilot
  util/flash_jlink.py
Labels: none

brya: disable more console commands to save Flash
  zephyr/program/brya/prj.conf
Labels: none

sundance: Disable CONFIG_PLATFORM_EC_USB_PD_TCPC_RUNTIME_CONFIG
  zephyr/program/nissa/sundance/project.conf
Labels: none

pujjoga: Disable CONFIG_PLATFORM_EC_USB_PD_TCPC_RUNTIME_CONFIG
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

Revert "brox: fix power down sequencing"
  zephyr/program/brox/src/board_power.c
Labels: none

ec: Strip the source paths for boringssl strings
  third_party/boringssl/boringssl-toolchain.cmake
Labels: none

nct38xx: modify for ec reboot when do ec reset
  driver/tcpm/nct38xx.c
Labels: none

pujjoga: Change lid sensor from force mode to interrupt mode
  zephyr/program/nissa/pujjoga/motionsense.dtsi
  zephyr/program/nissa/pujjoga/overlay.dtsi
  zephyr/test/nissa/boards/pujjoga.dts
Labels: none

pdc policy: set current limit during FRS
  zephyr/subsys/pd_controller/pdc_dpm.c
Labels: none

emul rts54xxL: Fix SET_FRS_FUNCTION support
  zephyr/emul/emul_realtek_rts54xx.c
Labels: none

pdc: Enable FRS during source policy
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/pdc_policy/src_policy.c
  zephyr/test/pdc/testcase.yaml
Labels: none

test: Add FRS downgrade test
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

test: Add non-PD downgrade from FRS test
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

test: Run PDC source policy tests with FRS disabled
  zephyr/test/pdc/testcase.yaml
Labels: none

test: Add 1.5A FRS test
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

pdc: Fix the GET_RDO path when the PDC is a source
  zephyr/subsys/pd_controller/pdc_dpm.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test: Add PD downgrade test based on RDO response
  zephyr/emul/emul_pdc_pdo.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/include/emul/emul_pdc.h
  zephyr/include/emul/emul_pdc_pdo.h
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

test: Add tests for error paths due to bad PDOs
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

pdc_tps6699x: Interrupt firing multiple times per IRQ
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc_power_mgmt_api: Make sure PDC has settled before/after tests
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc_power_mgmt_api: Fix working delay in typec src/snk tests
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

fingerprint: initial Egis release
  driver/fingerprint/build.mk
  driver/fingerprint/egis/build.mk
  driver/fingerprint/egis/egis_api.h
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/egis/platform/inc/egis_definition.h
  driver/fingerprint/egis/platform/inc/plat_log.h
  driver/fingerprint/egis/platform/inc/plat_mem.h
  driver/fingerprint/egis/platform/inc/plat_reset.h
  driver/fingerprint/egis/platform/inc/plat_spi.h
  driver/fingerprint/egis/platform/inc/plat_time.h
  driver/fingerprint/egis/platform/src/plat_log_mcu.c
  driver/fingerprint/egis/platform/src/plat_mem_mcu.c
  driver/fingerprint/egis/platform/src/plat_reset_mcu.c
  driver/fingerprint/egis/platform/src/plat_spi_mcu.c
  driver/fingerprint/egis/platform/src/plat_time_mcu.c
Labels: none

driver/fingerprint: remove unnecessary else
  driver/fingerprint/egis/platform/src/plat_mem_mcu.c
Labels: none
