Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

veluza: Add test code for motionsense
  zephyr/test/krabby/CMakeLists.txt
  zephyr/test/krabby/krabby.veluza.overlay
  zephyr/test/krabby/src/sensor_veluza.c
  zephyr/test/krabby/testcase.yaml
Labels: none

pdc_power_mgmt: Oops on PDC not ready
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/boards/native_sim.overlay
  zephyr/test/pdc/boards/rts5453p_deferred.overlay
  zephyr/test/pdc/src/generic/device_not_ready.c
  zephyr/test/pdc/testcase.yaml
Labels: none

emul_tps6699x: Fix register access validation
  zephyr/emul/emul_tps6699x.c
Labels: none

Add #line to hibernate.c
  power/hibernate.c
Labels: none

framework: Workaround for PD controller to make it build
  zephyr/program/framework/marigold/project.conf
  zephyr/subsys/pd_controller/CMakeLists.txt
Labels: none

Wugtrio: Implement current-limiting policy
  zephyr/program/corsola/wugtrio/CMakeLists.txt
  zephyr/program/corsola/wugtrio/project.conf
  zephyr/program/corsola/wugtrio/src/thermal.c
Labels: none

Revert "bujia: Enable BBR support"
  board/bujia/board.h
  board/bujia/gpio.inc
  board/bujia/usbc_config.c
Labels: none

pdc: ti: add CMD_SET_DRP_MODE
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

test: input_keyboard: rework the test to use the full headers
  common/keyboard_8042.c
  zephyr/test/input_keyboard/CMakeLists.txt
  zephyr/test/input_keyboard/include/keyboard_protocol.h
  zephyr/test/input_keyboard/include/keyboard_scan.h
  zephyr/test/input_keyboard/prj.conf
  zephyr/test/input_keyboard/src/main.c
Labels: common

keyboard_input: add a mkbp_command_simulate_key implementation
  zephyr/drivers/keyboard_input/keyboard_input.c
  zephyr/test/input_keyboard/boards/native_sim.overlay
  zephyr/test/input_keyboard/prj.conf
  zephyr/test/input_keyboard/src/main.c
Labels: none

cmake: fix path to libclang_rt.builtins.a
  cmake/toolchain-armv7m.cmake
Labels: none

cme: add device ID to component manifest
  zephyr/scripts/chip_id.py
  zephyr/scripts/cme.py
Labels: none

docs/fingerprint: Update command to use Tast
  docs/fingerprint/fingerprint-firmware-testing-for-partners.md
Labels: none

docs/fingerprint: Run mdformat on Fingerprint Firmware Testing for Partners
  docs/fingerprint/fingerprint-firmware-testing-for-partners.md
Labels: none

docs/fingerprint: Fix typos in Fingerprint Firmware Testing for Partners
  docs/fingerprint/fingerprint-firmware-testing-for-partners.md
Labels: none

pdc: Apply PD policies following a late sysjump
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Apply CCOM=Rd in unattached state in pdc_power_mgmt_set_dual_role()
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test: pdc: Add error-checking to emul_pdc_get_ccom()
  zephyr/test/pdc/boards/native_sim.overlay
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

test: pdc: Fix flaky test - test_chipset_resume
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

test: pdc: Test that correct policy is applied in late sysjump cases
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/testcase.yaml
Labels: none

framework: Create framework-main branch
  .github/workflows/zephyr-build.yml
Labels: workflow

lotso: Enable Finch
  zephyr/program/brox/lotso/project.conf
Labels: none

jubilant: Initial Zephyr EC image
  bazel/all_targets.generated.bzl
  zephyr/program/brox/BUILD.py
  zephyr/program/brox/CMakeLists.txt
  zephyr/program/brox/Kconfig
  zephyr/program/brox/jubilant/CMakeLists.txt
  zephyr/program/brox/jubilant/project.conf
  zephyr/program/brox/jubilant/project.overlay
Labels: none

common: usb_update: add all data into the update_to_usb queue once
  common/usb_update.c
Labels: common

rex: Regenerate GPIO definitions
  zephyr/program/rex/generated.dtsi
Labels: none

rex: Shuffle temp sensors order in DTS
  zephyr/program/rex/generated.dtsi
Labels: none

rex: Remove redundant DTS entries
  zephyr/program/rex/fan.dtsi
  zephyr/program/rex/keyboard.dtsi
  zephyr/program/rex/rex.dtsi
  zephyr/program/rex/screebo/gpio.dtsi
  zephyr/program/rex/screebo/keyboard.dtsi
Labels: none

brox: fix power down sequencing
  zephyr/program/brox/src/board_power.c
Labels: none

ec: Add #line to motion_sense.h
  include/motion_sense.h
Labels: none

jubilant: init GPIO table
  zephyr/program/brox/jubilant/gpio.dtsi
  zephyr/program/brox/jubilant/project.overlay
Labels: none

jubilant: Refactor temp sensor config to overlay.dtsi
  zephyr/program/brox/jubilant/project.overlay
  zephyr/program/brox/jubilant/temp_sensors.dtsi
Labels: none

riven: fix the orientation of both lid and base sensor
  zephyr/program/nissa/riven/motionsense.dtsi
Labels: none

geralt: add usbc_config test
  zephyr/test/geralt/CMakeLists.txt
  zephyr/test/geralt/common.dtsi
  zephyr/test/geralt/geralt.default.overlay
  zephyr/test/geralt/include/fakes.h
  zephyr/test/geralt/src/common.c
  zephyr/test/geralt/src/fakes.c
  zephyr/test/geralt/src/usbc_config.c
Labels: none

bujia: Remove the unused i2c channel to unused pin
  board/bujia/board.h
  board/bujia/gpio.inc
  board/bujia/i2c.c
Labels: none

touchpad_updater: support hid-i2c keyboard
  extra/touchpad_updater/touchpad_updater.c
Labels: none

ectool: Insert an extra space in help message
  util/ectool.cc
Labels: none

veluza: modify motionsense location
  zephyr/program/corsola/veluza/project.overlay
Labels: none

zephyr: fpmcu: use uint64_t for log timestamp
  zephyr/program/fpmcu/prj.conf
Labels: none

brox: drop the legacy keyboard support code
  zephyr/program/brox/greenbayupoc/include/keyboard_customization.h
  zephyr/program/brox/greenbayupoc/keyboard.dtsi
  zephyr/program/brox/greenbayupoc/project.conf
  zephyr/program/brox/keyboard.dtsi
  zephyr/program/brox/lotso/include/keyboard_customization.h
  zephyr/program/brox/lotso/keyboard.dtsi
  zephyr/program/brox/lotso/project.conf
  zephyr/program/brox/program.conf
Labels: none

boot_keys, runtime_keys: make the config node a child of keyboard
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/drivers/runtime_keys/runtime_keys.c
  zephyr/dts/bindings/input/cros-ec,boot-keys.yaml
  zephyr/dts/bindings/input/cros-ec,runtime-keys.yaml
  zephyr/program/brox/greenbayupoc/keyboard.dtsi
  zephyr/program/brox/keyboard.dtsi
  zephyr/program/brox/lotso/keyboard.dtsi
  zephyr/program/rex/keyboard.dtsi
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
