Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: Add CONFIG CHARGER_DYNAMIC_ACOK_REFERENCE
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/board_charger.h
  zephyr/program/framework/include/marigold/charger.h
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypd_ccg6.c
Labels: none

fwk: include ALS code by CONFIG_PLATFORM_EC_DEDICATED_ALS
  zephyr/program/framework/CMakeLists.txt
Labels: none

fwk: sunflower: inital EC image
  .github/workflows/zephyr-build.yml
  zephyr/dts/bindings/battery/atc,framework50w.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/dts/bindings/vendor-prefixes.txt
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/README.md
  zephyr/program/framework/include/power_sequence.h
  zephyr/program/framework/src/battery_13.c
  zephyr/program/framework/sunflower/adc.dtsi
  zephyr/program/framework/sunflower/battery.dtsi
  zephyr/program/framework/sunflower/fan.dtsi
  zephyr/program/framework/sunflower/gpio.dtsi
  zephyr/program/framework/sunflower/i2c.dtsi
  zephyr/program/framework/sunflower/interrupts.dtsi
  zephyr/program/framework/sunflower/ioex.dtsi
  zephyr/program/framework/sunflower/keyboard.dtsi
  zephyr/program/framework/sunflower/led_pins.dtsi
  zephyr/program/framework/sunflower/led_policy.dtsi
  zephyr/program/framework/sunflower/overlay.dtsi
  zephyr/program/framework/sunflower/project.conf
  zephyr/program/framework/sunflower/project.overlay
  zephyr/program/framework/sunflower/src/charger.c
  zephyr/program/framework/sunflower/src/cpu_power.c
  zephyr/program/framework/sunflower/src/keyboard_customization.c
  zephyr/program/framework/sunflower/src/power_sequence.c
  zephyr/program/framework/sunflower/src/project_diagnostics.c
  zephyr/program/framework/sunflower/src/temperature.c
  zephyr/program/framework/sunflower/src/thermal.c
Labels: workflow

battery_fuel_gauge: add retries for battery type read
  common/battery_fuel_gauge.c
  include/config.h
  zephyr/Kconfig.battery
  zephyr/shim/include/config_chip.h
Labels: common

drawcia: Assign fake vol_up button GPIO for DB_HDMI SKUs
  board/drawcia/board.c
  board/drawcia/board.h
  board/drawcia/gpio.inc
Labels: none

Revert "Craask: add SMBUS PEC support and set NACK retry"
  zephyr/program/nissa/craask/project.conf
Labels: none

fwk: marigold: Bump version to 3.02
  .github/workflows/zephyr-build.yml
Labels: workflow

emul_tps6699x: Add emulator support for set sink path
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

docs/fingerprint: Add section about building matcher library
  docs/fingerprint/fingerprint-dev-for-partners.md
Labels: none

UCSI/PPM: Add ppm_driver tests (1)
  zephyr/subsys/ucsi/ppm_driver.c
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/boards/native_sim.overlay
  zephyr/test/pdc/src/generic/ppm_driver.c
  zephyr/test/pdc/testcase.yaml
Labels: none

Riven: Adjust tuning for C1
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/riven/overlay.dtsi
  zephyr/program/nissa/riven/src/usb_mux_config.c
Labels: none

jubilant: Lower the keyboard backlight PWM frequency
  zephyr/program/brox/jubilant/keyboard.dtsi
Labels: none

pdc_power_mgmt: Test new power request
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/include/emul/emul_pdc.h
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

wugtrio: Modify keyboard ADC check range
  zephyr/program/corsola/wugtrio/src/base_detect.c
Labels: none

test: pdc: Cleanup PD attached checks
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

test: pdc: Fix some test flakiness
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc: set the attached state during state entry
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Update source PDO in all states
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

emul_realtek: Add support for SET_PDO sub command
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

test: pdc source policy
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/pdc_policy/src_policy.c
  zephyr/test/pdc/testcase.yaml
Labels: none

test: pdc source policy disconnect
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

test: pdc: verify source policy after power role swap
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

test: pdc: Add source policy test for non PD
  zephyr/test/pdc/src/pdc_policy/src_policy.c
Labels: none

test: pdc api: fix assertions
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

cme: add command code to rts5453p
  zephyr/scripts/chip_id.py
Labels: none

zephyr: zephyr_to_resultdb: update vpython
  util/zephyr_to_resultdb.py.vpython3
Labels: none

fwk: Allow remote on gh actions to be configurable
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Build fwk-main on a new runner
  .github/workflows/zephyr-build.yml
Labels: workflow

EC/ISH: Refactor CBI common functions
  common/build.mk
  common/cbi.c
  common/cbi_common.c
  zephyr/CMakeLists.txt
Labels: common

ucsi: set PPM thread name
  zephyr/subsys/ucsi/ppm_common.c
Labels: none

rauru-pdc: add initial commit
  zephyr/program/rauru/BUILD.py
  zephyr/program/rauru/Kconfig
  zephyr/program/rauru/rauru-pdc/project.conf
  zephyr/program/rauru/rauru-pdc/project.overlay
Labels: none

it8xxx2_pd: discard tx when rx gets unexpected message
  driver/tcpm/it8xxx2.c
Labels: none

c++: add C++ guards for lid_angle.h
  include/lid_angle.h
Labels: none

awasuki: add thermal table
  board/awasuki/board.c
  board/awasuki/board.h
Labels: none

Test with max size battery names
  zephyr/emul/emul_smart_battery.c
  zephyr/test/drivers/boards/native_sim.overlay
  zephyr/test/drivers/default/src/virtual_battery.c
  zephyr/test/drivers/host_cmd/src/battery_v2.c
Labels: none

uldren: Disable console commands
  zephyr/program/nissa/uldren/project.conf
Labels: none

Require hostcmd battery v2 for cbi bcfg
  baseboard/cherry/baseboard.h
  baseboard/dedede/baseboard.h
  baseboard/goroh/baseboard.h
  baseboard/hatch/baseboard.h
  baseboard/octopus/baseboard.h
  baseboard/volteer/baseboard.h
  common/battery_fuel_gauge.c
  test/test_config.h
Labels: common, baseboard

zephyr: console: Fix watchdog when ISR printing disabled
  zephyr/shim/src/console.c
Labels: none

brox: Change PWM frequency to avoid KB backlight flicker
  zephyr/program/brox/keyboard.dtsi
  zephyr/program/brox/lotso/keyboard.dtsi
Labels: none

test: console: Add tests to verify output from ISRs
  zephyr/test/console/src/console_output.c
  zephyr/test/console/testcase.yaml
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
