Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

xol: Set default range for light sensor
  board/xol/sensors.c
Labels: none

ruby: Fix runtime R key matrix for warm reboot
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

keyboard_input: drop leftover debug print
  zephyr/drivers/keyboard_input/keyboard_input.c
Labels: none

ptlrvp_mchp: Enable RTK FW update
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
Labels: none

led: Optimize RAM footprint by moving static config to ROM
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
  zephyr/shim/src/led_driver/led_gpio.c
Labels: none

led: Optimize memory by centralizing driver API access
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
  zephyr/shim/src/led_driver/led_gpio.c
  zephyr/shim/src/led_driver/led_pwm.c
Labels: none

zephyr: riscv: Look up rollback region index dynamically
  zephyr/shim/core/riscv/mpu.c
Labels: none

led: Add build-time hardware consistency check
  zephyr/shim/src/led_driver/led.c
Labels: none

scripts: led: Remove unused validate_led_colors
  zephyr/scripts/led_policy.py
Labels: none

scripts: Update LED policy checker for multiple instances
  zephyr/scripts/led_policy.py
Labels: none

Fix the ownership of the ~/.config dir
  .gitignore
  util/renode/firmware_builder.py
Labels: repo

zephyr: shim: Document mpu_lock_rollback return values
  zephyr/shim/include/mpu.h
Labels: none

cortex-m: Document mpu_lock_rollback parameters and returns
  core/cortex-m/include/mpu.h
Labels: none

ocelot: Remove redundant config for cbi
  zephyr/program/ocelot/program.conf
Labels: none

led: Simplify led_control logic for RESET state
  zephyr/shim/src/led_driver/led.c
Labels: none

quartz: Update Fan parameters
  zephyr/program/bluey/quartz/fan.dtsi
Labels: none

ISH: cleanup Kconfig
  zephyr/Kconfig
  zephyr/program/brox/brox-ish/prj.conf
  zephyr/program/fatcat/fatcat-ish-idle/project.conf
  zephyr/program/fatcat/kinmen-ish/project.conf
  zephyr/program/fatcat/moonstone-ish/project.conf
  zephyr/program/fatcat/ruby-ish/project.conf
  zephyr/program/intelrvp/ish/prj.conf
  zephyr/program/ocelot/matsu-ish/prj.conf
  zephyr/program/ocelot/ocelot-ish/prj.conf
  zephyr/program/ocelot/ocicat-ish/prj.conf
  zephyr/program/rex/rex-ish/prj.conf
  zephyr/program/trulo/kaladin-ish/project.conf
  zephyr/program/trulo/lite-ish/project.conf
  zephyr/program/trulo/pujjolo-ish/project.conf
  zephyr/program/trulo/trulo-ish/prj.conf
  zephyr/program/trulo/uldrenite-ish/project.conf
Labels: none

IMVP rt3645: Add device driver
  zephyr/drivers/CMakeLists.txt
  zephyr/drivers/Kconfig
  zephyr/drivers/imvp/CMakeLists.txt
  zephyr/drivers/imvp/Kconfig
  zephyr/drivers/imvp/rt3645.c
  zephyr/drivers/imvp/rt3645.h
  zephyr/dts/bindings/imvp/richtek,rt3645.yaml
  zephyr/emul/CMakeLists.txt
  zephyr/emul/Kconfig
  zephyr/emul/emul_rt3645.c
  zephyr/include/emul/emul_rt3645.h
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/rt3645/CMakeLists.txt
  zephyr/test/drivers/rt3645/imvp.dts
  zephyr/test/drivers/rt3645/prj.conf
  zephyr/test/drivers/rt3645/src/imvp.c
  zephyr/test/drivers/testcase.yaml
Labels: none

ptlrvp_mchp: Enable IMVP console
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

zephyr: shim: Fix whitespace in core/CMakeLists.txt
  zephyr/shim/core/CMakeLists.txt
Labels: none

util/renode: Add support for the sanok board
  util/renode/sanok.resc
  util/renode_ec_launch.py
Labels: none

mpu: Use bool for mpu_lock_rollback lock parameter
  common/rollback.c
  core/cortex-m/include/mpu.h
  core/cortex-m/mpu.c
  test/rollback.c
  zephyr/shim/core/cortex-m/mpu.c
  zephyr/shim/core/riscv/mpu.c
  zephyr/shim/include/mpu.h
  zephyr/test/hwtest/src/rollback.c
Labels: common

caboc: Update led behavior
  zephyr/program/brox/caboc/led_policy.dtsi
Labels: none

Revert "Constitution: Enable EC-based watchdog"
  board/constitution/board.h
Labels: none

xol: Refine VBUS detection to maintain Rd during 3.7V drop
  board/xol/usbc_config.c
Labels: none

pdc: Add custom settings for the number of 3A port for PDC ports
  common/usb_common.c
  include/usb_pd.h
  zephyr/Kconfig.usbc_common_altmode
  zephyr/subsys/pd_controller/pdc_dpm.c
Labels: common

cros_system: implement Focaltech FT90 cros_system driver
  zephyr/drivers/cros_system/CMakeLists.txt
  zephyr/drivers/cros_system/Kconfig
  zephyr/drivers/cros_system/cros_system_ft90.c
Labels: none

utils: ectool_usb: add rwsig abort command
  util/ectool_usb/ec_commands.py
  util/ectool_usb/ectool.py
Labels: none

ocelotrvp: enable efs2
  zephyr/program/ocelot/rvp_program.conf
Labels: none

xol: Disable FRS in VIF
  board/xol/xol_vif.xml
Labels: none

led: Remove the config check for led_asynchronous_apply_color
  zephyr/shim/src/led_driver/led.c
Labels: none

scripts: Fix led_policy check skip when alt labels are not used
  zephyr/scripts/led_policy.py
Labels: none

Switch to MEC common uart driver
  zephyr/drivers/cros_system/cros_system_xec.c
Labels: none

battery/smart: Add manuf info read API
  driver/battery/smart.c
  include/battery.h
  zephyr/dts/bindings/emul/zephyr,smart-battery-emul.yaml
  zephyr/test/drivers/smart_battery/src/smart.c
Labels: none

common: Refactor and move battery_outside_charging_temperature to battery.c
  common/battery.c
  common/charge_state.c
  include/battery.h
  test/build.mk
  test/test_battery_mock.c
  zephyr/test/drivers/common_charger/src/test_charge_state.c
Labels: common

zephyr/battery: Define has_manuf_info property for batteries
  zephyr/Kconfig.battery
  zephyr/dts/bindings/battery/battery-info.yaml
Labels: none

ocicat: Add customization led behavior for ocicat
  zephyr/program/ocelot/ocicat/led_policy.dtsi
  zephyr/program/ocelot/ocicat/leds_pins.dtsi
  zephyr/program/ocelot/ocicat/project.conf
  zephyr/program/ocelot/ocicat/project.overlay
Labels: none

battery: Print Manufacture Info string
  common/battery.c
  include/battery.h
  zephyr/test/drivers/boards/native_sim.overlay
Labels: common

lapis: Add fingerprint LED behavior.
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/gpios.dtsi
  zephyr/program/fatcat/lapis/src/fp_led.c
Labels: none

sapphire: Enable folio keyboard charging in AC S5 state
  zephyr/program/tanjiro/sapphire/src/base_detect.c
Labels: none
