Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

zephyr: Add unpadded memory trackers for ITE chips
  zephyr/boards/google/it8xxx2/it8xxx2_128k_ram.dtsi
  zephyr/boards/google/it8xxx2/it8xxx2_1m_rom.dtsi
  zephyr/boards/google/it8xxx2/it8xxx2_256k_ram.dtsi
  zephyr/boards/google/it8xxx2/it8xxx2_512k_rom.dtsi
  zephyr/boards/google/it8xxx2/it8xxx2_60k_ram.dtsi
  zephyr/boards/google/it8xxx2/it8xxx2_it81202bx.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it81202cx.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it81202dx.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it81302bx.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it81302cx.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it81302dx.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82000bw.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82002aw.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82002bw.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82202ax.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82202ax_512.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82202bw.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82302ax.dts
  zephyr/boards/google/it8xxx2/it8xxx2_it82302bw.dts
  zephyr/include/cros/ite/it8xxx2.dtsi
  zephyr/linker/CMakeLists.txt
  zephyr/linker/ite_unpadded.ld
Labels: none

kodkod: Use CSE early recovery GPIO driver
  zephyr/program/ocelot/kodkod/gpio.dtsi
  zephyr/program/ocelot/kodkod/project.overlay
  zephyr/program/ocelot/kodkod/src/board_power.c
Labels: none

matsu: Use CSE early recovery GPIO driver
  zephyr/program/ocelot/matsu/gpios.dtsi
  zephyr/program/ocelot/matsu/project.overlay
  zephyr/program/ocelot/matsu/src/board_power.c
Labels: none

ocicat: Use CSE early recovery GPIO driver
  zephyr/program/ocelot/ocicat/generated.dtsi
  zephyr/program/ocelot/ocicat/project.overlay
  zephyr/program/ocelot/ocicat/src/board_power.c
Labels: none

add a snippet for enabling tokenizing
  docs/zephyr/zephyr_tokenized_logging.md
  zephyr/module.yml
  zephyr/snippets/pw-tokenize/README.md
  zephyr/snippets/pw-tokenize/pw-tokenize.conf
  zephyr/snippets/pw-tokenize/snippet.yml
  zephyr/zmake/tests/test_project.py
  zephyr/zmake/zmake/project.py
Labels: none

host_command: Console command for last AP FW state
  common/host_command.c
  zephyr/Kconfig.console
  zephyr/test/drivers/host_cmd/src/host_command.c
Labels: common

ciri: Update VIF to spec version 3.36
  zephyr/program/geralt/ciri/ciri_vif.xml
Labels: none

Anraggar: Avoid redundant VBUS discharge
  zephyr/program/nissa/anraggar/src/usbc.c
Labels: none

ruby: Modify the minimum power to 38W
  zephyr/program/fatcat/ruby/project.conf
Labels: none

mica: add the keyboard backlight
  zephyr/program/bluey/mica/keyboard.dtsi
  zephyr/program/bluey/mica/project.conf
Labels: none

geralt: Remove smart discharge config
  zephyr/program/geralt/program.conf
Labels: none

rex: Remove smart discharge config
  zephyr/program/rex/program.conf
Labels: none

power: Port CONFIG_SLEEP_TIMEOUT_MS to Zephyr Kconfig
  util/config_allowed.txt
  zephyr/Kconfig.powerseq
  zephyr/shim/include/config_chip.h
Labels: none

skywalker: set SLEEP_TIMEOUT_MS to 50 seconds
  zephyr/program/skywalker/program.conf
Labels: none

trulo: switch to pw-tokenize snippet
  zephyr/program/trulo/BUILD.py
  zephyr/program/trulo/kaladin/project.conf
  zephyr/program/trulo/pujjocento/project.conf
  zephyr/program/trulo/pujjolo/project.conf
  zephyr/program/trulo/trulo/project.conf
  zephyr/program/trulo/uldrenite/project.conf
Labels: none

util: renode: firmware_builder: Enable chudow in CQ
  test/run_device_tests.py
  util/renode/firmware_builder.py
Labels: none

Add missing inherit clause for realtek ec to fatcat
  zephyr/program/fatcat/BUILD.py
Labels: none

ruby: Set kblight pwm clock bus to NPCX_CLOCK_BUS_LFCLK
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

ruby: Remove unnecessary code
  zephyr/program/fatcat/ruby/src/board_power.c
Labels: none

ruby: Gpio Pin Indication to Soc for CSE early RO RW jump
  zephyr/program/fatcat/ruby/src/board_power.c
Labels: none

test: run_device_tests: Re-enable several tests for chudow on Renode
  test/run_device_tests.py
Labels: none

test: run_device_tests: Re-enable utils and panic_data tests on sanok Renode
  test/run_device_tests.py
Labels: none

helipilot: declare flash partitions under flash0
  zephyr/program/fpmcu/helipilot/buccaneer.dts
  zephyr/program/fpmcu/helipilot/helipilot.dts
Labels: none

fix: correct 'tempurature' to 'temperature' in hx20/hx30
  board/hx20/peci_customization.c
  board/hx30/peci_customization.c
Labels: hx20, hx30

fix: remove duplicate words in include/ comments
  include/ap_hang_detect.h
  include/config.h
  include/spi_nor.h
  include/thermal.h
  include/usb_descriptor.h
  include/usb_pe_sm.h
Labels: none

fix: remove duplicate words in common/ comments
  common/lb_common.c
  common/motion_lid.c
  common/spi_nor.c
  common/usb_pd_protocol.c
  common/usbc/usb_pe_drp_sm.c
Labels: common

fix: correct misspellings (recieveing, occured, occurences, ane)
  common/usb_pd_protocol.c
  driver/fingerprint/fpc/libfp/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.h
  driver/ppc/sn5s330.h
  driver/touchpad_st.c
  include/config.h
Labels: common

@fematarazzo has signed the CLA from Pull Request #82
  vendor/framework/signatures/version1/clamembers.json
Labels: none

pdc_console: Avoid drs command assertion
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

bluey: Define named-usbc-port nodes in board overlays
  zephyr/program/bluey/bluey/project.overlay
  zephyr/program/bluey/mica/project.overlay
  zephyr/program/bluey/quartz/project.overlay
  zephyr/program/bluey/quenbi/project.overlay
Labels: none

bluey: Add ADSP OEM custom charge port register support
  zephyr/include/adsp_comms.h
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

ruby: Move ruby vif from ruby-ish to ruby
  zephyr/program/fatcat/ruby/ruby_vif.xml
Labels: none

zephyr: focaltech: add OTP key support
  zephyr/shim/chip/ft90/CMakeLists.txt
  zephyr/shim/chip/ft90/Kconfig.ft90
  zephyr/shim/chip/ft90/otp_key.c
  zephyr/shim/include/config_chip.h
Labels: none

pdc emul: Refactor VDO handling in emulator
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/include/emul/emul_pdc.h
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

squirtle: Update VIF to spec version 3.36
  zephyr/program/corsola/squirtle/squirtle_vif.xml
Labels: none

ocelotrvp-ite: update bcdDevice
  zephyr/program/ocelot/ocelotrvp-ite/ocelotrvp-ite_vif.xml
Labels: none

fpsensor: ec630: support skipping template update & new capture format
  driver/fingerprint/egis/egis_api.h
  driver/fingerprint/egis/egis_private.c
  zephyr/drivers/fingerprint/Kconfig
  zephyr/drivers/fingerprint/fingerprint_egis630.c
  zephyr/drivers/fingerprint/fingerprint_egis630_private.h
  zephyr/program/fpmcu/et171/sanok.dts
  zephyr/subsys/fingerprint/alg/egis_egis630_bio_alg.c
  zephyr/test/fingerprint/drivers/egis630/src/egis630.c
Labels: none

zephyr: zmake: add name overwrite for focaltech_module
  zephyr/zmake/zmake/modules.py
Labels: none

pdc: Update FRS unit test for Devicetree
  zephyr/test/pdc/boards/rts5453p_frs.overlay
  zephyr/test/pdc/src/pdc_policy/src_policy_3a_port.c
  zephyr/test/pdc/testcase.yaml
Labels: none

pdc: Remove Src partner from DPM if it is Src Only
  zephyr/subsys/pd_controller/pdc_dpm.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/pdc_policy/src_policy_3a_port.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
