Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

util/ectool: Add auto brightness to fpled command
  util/ectool.cc
Labels: none

fwk: main: add auto brightness fpled and keyboard backlight
  zephyr/program/framework/include/hid_device.h
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/hid_device.c
  zephyr/program/framework/src/keyboard_customization_13.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: Avoid auto brightness flipping back and forth
  zephyr/program/framework/src/led.c
Labels: none

fwk/lilac: Bump to 3.03 Compatible with EVT, DVT1, DVT2, MP.
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: fix error recovery condition logic error
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Bundle any version of the library
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/gh-actions: Ignore missing libraries
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/gh-actions: run ldd in chroot
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/sunflower: Disable keyboard in force tabletmode
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
Labels: none

fwk: dogwood: bump to v1.0.7
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: avoid extender overwritten charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: main: avoid extender overwritten charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: store the ac_boot status in the EC ROM
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: support ac boot feature for mini-pc
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Check PB debounce time when PB pressed in hibernate
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Package dynamic libs with util binaries
  .github/workflows/zephyr-build.yml
Labels: workflow

gh-actions: Build ectool
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Upload util to github actions
  .github/workflows/zephyr-build.yml
Labels: workflow

util/ectool: Add second_power LED
  util/ectool.cc
Labels: none

fwk: led: fix mini-pc build led driver error
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/led.h
  zephyr/program/framework/src/led.c
Labels: none

fwk/tulip: add support for programming nv gpu
  zephyr/program/framework/lotus/src/gpu_configuration.c
Labels: none

fwk: dogwood: bump to v1.0.8
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Fix ignoring powerbutton if lid closed from G3
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: create the Kconfig to select the framework's product family
  zephyr/program/framework/Kconfig
Labels: none

fwk: add the new product's family "laptop 12-inch"
  zephyr/program/framework/Kconfig
Labels: none

fwk/sunflower: Allow pwrbutton if lid closed and AC present
  common/power_button.c
  zephyr/program/framework/src/power_button_x86.c
  zephyr/program/framework/sunflower/project.conf
Labels: common

fwk/sunflower: Add FRAMEWORK_LAPTOP_12 generic config
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: Fix ignoring powerbutton if lid closed from G3
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: main: avoid extender overwritten charger limit
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: main: fix lotus power limit behavior
  zephyr/program/framework/lotus/src/cpu_power.c
Labels: none

fwk: let connector remap port not to overwrite the other memory location
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: let connector remap port not to overwrite the other memory location
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: sunflower: modified the ISL9241 fast discharge logic
  zephyr/program/framework/sunflower/src/charger.c
Labels: none

fwk: isl9241: add the function to control charger CSIN sink/discharge bit
  driver/charger/isl9241.c
  driver/charger/isl9241.h
Labels: none

fwk: Exit UEFI mode if app crashes
  zephyr/program/framework/src/uefi_app_mode.c
Labels: none

fwk: Enable UEFI App commands for non-lotus
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk/sunflower: trigger input cover diag if no KB controller
  driver/ioexpander/it8801.c
  driver/ioexpander/it8801.h
  zephyr/program/framework/include/diagnostics.h
  zephyr/program/framework/src/diagnostics.c
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

fwk/sunflower: Replace temp sensor diag with lid accel
  zephyr/program/framework/include/diagnostics.h
  zephyr/program/framework/src/diagnostics.c
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

fwk/sunflower: Print log if pwrbtn board missing
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

fwk: sunflower: bump to v2.04
  .github/workflows/zephyr-build.yml
Labels: workflow
