Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: Release copilot hotkeys in reverse order
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: sunflower: Release copilot hotkeys in reverse order
  zephyr/program/framework/sunflower/src/keyboard_customization.c
Labels: none

fwk/sunflower: Disable touchpad via GPIO in tablet mode
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
Labels: none

fwk/sunflower: Disable touchpad when tablet mode and lid close
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sunflower/src/board_tablet_mode.c
  zephyr/program/framework/sunflower/src/power_sequence.c
  zephyr/program/framework/sunflower/src/touchpad.c
Labels: none

fwk/sunflower: Map touchpad enable pin on IT8801
  zephyr/program/framework/sunflower/gpio.dtsi
Labels: none

fwk: add ADC enue name ADC_POWER_BUTTON_BOARD_ID
  zephyr/dts/bindings/adc/named-adc-channels.yaml
Labels: none

fwk: add ADC enue name ADC_POWER_BUTTON_BOARD_ID
  zephyr/dts/bindings/adc/named-adc-channels.yaml
Labels: none

fwk: sunflower: turn on power button board power when module connect
  zephyr/program/framework/sunflower/adc.dtsi
  zephyr/program/framework/sunflower/src/power_sequence.c
Labels: none

fwk: sunflower: bump to v1.04
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: disable TP interrupt before reenable TP
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: disable TP interrupt before reenable TP
  zephyr/program/framework/src/ps2mouse.c
Labels: none

fwk: add two adapters vid/pid to turn off the retimer power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk/lilac: Don't build azalea on this branch
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 2.02
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Add lilac as a renamed variant of azalea
  .github/workflows/zephyr-build.yml
  zephyr/program/framework/BUILD.py
Labels: workflow

fwk: dogwood: bump to v1.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk:sunflower:Add gpio os_det_cam_ec and stylus_sw_r for DVT2 layout
  zephyr/program/framework/sunflower/gpio.dtsi
Labels: none

fwk: add two adapters vid/pid to turn off the retimer power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: allow fan in S0ix
  common/fan.c
Labels: common

fwk: sunflower: bump to v2.00
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: add two adapters vid/pid to turn off the retimer power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: bump to v1.0.1
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: Don't process PD interrupt when PD no power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: change CCG_STATE_* when the chipset state is changed
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: add USB wake event in the power_sequence.c
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk/lilac: Bump to 2.03
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: modified the multifunction led flash frequency to 1 Hz
  zephyr/program/framework/azalea/project.conf
Labels: none

Update lotus-azalea-build.yml
  .github/workflows/lotus-azalea-build.yml
Labels: workflow

fwk: dogwood: modified the power led period
  zephyr/program/framework/dogwood/led_policy.dtsi
Labels: none

fwk/lilac: Bump to 2.04
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: implement the wake on lan driver
  zephyr/dts/bindings/wake_on_lan/cros-ec,wake-on-lan.yaml
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/flash_storage.h
  zephyr/program/framework/include/wol.h
  zephyr/program/framework/src/wol.c
Labels: none

fwk: dogwood: enable wake on lan feature
  zephyr/program/framework/dogwood/interrupts.dtsi
  zephyr/program/framework/dogwood/project.overlay
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/dogwood/wol.dtsi
Labels: none

fwk: implement the wake on lan driver
  zephyr/dts/bindings/wake_on_lan/cros-ec,wake-on-lan.yaml
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/include/flash_storage.h
  zephyr/program/framework/include/wol.h
  zephyr/program/framework/src/wol.c
Labels: none

fwk: dogwood: bump to v1.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: modified SB-RMI protocol to meet AMD spec
  driver/sb_rmi.c
Labels: none

fwk: add chipset_in_low_power_mode
  driver/sb_rmi.c
  driver/temp_sensor/sb_tsi.c
  include/chipset.h
  power/common.c
Labels: none

fwk: lilac: modified SB-RMI protocol to meet AMD spec
  driver/sb_rmi.c
Labels: none

fwk: lilac: fix temp readout fail
  zephyr/program/framework/azalea/src/stt.c
Labels: none

fwk: fix incorrect chipset state mask value
  power/common.c
Labels: none

fwk: store the ac_boot status in the EC ROM
  zephyr/program/framework/azalea/src/power_button_x86.c
  zephyr/program/framework/lotus/src/power_button_x86.c
  zephyr/program/framework/src/board_function.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
