Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

lapis: Add battery cutoff retry
  zephyr/program/fatcat/lapis/project.conf
Labels: none

fwk: Print Type-C Port RCP event from CCGX HPI
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

common: host_command: Reject overlapping commands with EC_RES_BUSY
  common/host_command_task.c
  test/host_command.c
  zephyr/test/drivers/host_cmd/CMakeLists.txt
  zephyr/test/drivers/host_cmd/src/host_command_processing.c
Labels: common

program,zmake: drop cmsis references
  util/update_release_branch.py
  zephyr/program/bluey/BUILD.py
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/npcx_evb/npcx_monitor/BUILD.py
  zephyr/program/ocelot/BUILD.py
  zephyr/program/tanjiro/BUILD.py
  zephyr/program/trulo/BUILD.py
  zephyr/zmake/tests/test_project.py
  zephyr/zmake/zmake/configlib.py
  zephyr/zmake/zmake/modules.py
Labels: none

test: Replace mock_jump_data with mock_end_of_ram_data
  common/panic_output.c
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/ztest_system.c
  zephyr/test/drivers/panic_output/src/panic_output_get_panic_data_write.c
Labels: common

test: hwtest: Add hardware test for "BBRAM" using retained memory
  test/run_device_tests.py
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/CMakeLists.txt
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/bbram_retained_mem.c
Labels: none

ocelotrvp: Mark TI port C1 as no-fw-update
  zephyr/program/ocelot/rvp_usbc.dtsi
Labels: none

test: hwtest: panic: Add missing IS_ENABLED
  zephyr/test/hwtest/src/panic.c
Labels: none

fwk: sakura: bump to v1.0.5
  .github/workflows/zephyr-build.yml
Labels: workflow

padme: Modify wireless charger policy
  zephyr/program/skywalker/padme/src/board.c
Labels: none

fwk: lotus: modify DC mode PMF table 260129
  zephyr/program/framework/lotus/src/pmf.c
Labels: none

fwk: tulip: modify DC mode PMF table 260129
  zephyr/program/framework/tulip/src/pmf.c
Labels: none

fpsensor: Add support for disabling template update on match
  common/fpsensor/fpsensor.cc
  common/mock/fpsensor_mock.c
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
  include/ec_commands.h
  include/fpsensor/fpsensor_alg.h
  zephyr/include/fingerprint/fingerprint_alg.h
  zephyr/shim/src/fpsensor.c
  zephyr/subsys/fingerprint/alg/egis_egis630_bio_alg.c
  zephyr/subsys/fingerprint/alg/egis_egis660_bio_alg.c
  zephyr/subsys/fingerprint/alg/elan_elan80series_bio_alg.c
  zephyr/subsys/fingerprint/alg/fpc_bep_bio_alg.c
  zephyr/subsys/fingerprint/alg/fpc_libfp_bio_alg.c
  zephyr/test/fingerprint/algorithm/api/src/main.c
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
  zephyr/test/fingerprint/task/src/mock_fingerprint_algorithm.c
  zephyr/test/fingerprint/task/src/mock_fingerprint_algorithm.h
Labels: common

util: Add script to find unused source files
  util/find_unused.py
Labels: none

Dooku: set PD Max power to 45W
  zephyr/program/skywalker/dooku/project.conf
Labels: none

test: add jump_data initialization tests
  zephyr/test/jump_data/CMakeLists.txt
  zephyr/test/jump_data/boards/native_sim.overlay
  zephyr/test/jump_data/prj.conf
  zephyr/test/jump_data/src/main.c
  zephyr/test/jump_data/testcase.yaml
Labels: none

ruby: Set gpio_ec_ish_int_odl to input
  zephyr/program/fatcat/ruby/gpios.dtsi
Labels: none

system: prevent integer overflows during sysjump
  common/system.c
  zephyr/test/jump_data/src/main.c
Labels: common

util: drop few more cmsis references
  docs/zephyr/README.md
  util/diff_upstream.sh
  util/find_non_exec_lines.py
  util/twister_launcher.py
Labels: none

drop west.yml
  west.yml
Labels: repo

panic: defer watchdog panic logging until after jump_data
  common/panic_output.c
  common/system.c
  zephyr/test/jump_data/src/main.c
Labels: common

Dooku: remove CONFIG_PLATFORM_EC_BRINGUP
  zephyr/program/skywalker/dooku/project.conf
Labels: none

lapis: Add Lapis VIF
  zephyr/program/fatcat/lapis/lapis_vif.xml
Labels: none

ectool: Correct the max brightness for led command
  util/ectool.cc
Labels: none

platform/ec: Add a new dts config "fan-force-off" for fan
  common/fan.c
  include/fan.h
  include/gpio_signal.h
  zephyr/dts/bindings/fan/cros-ec,fans.yaml
  zephyr/shim/src/fan.c
  zephyr/test/drivers/fan/fans.dts
  zephyr/test/drivers/fan/src/fan.c
Labels: common

lapis: add sda_hold
  zephyr/program/fatcat/lapis/i2c.dtsi
Labels: none

ocelotrvp: Add "fan-force-off" config for WCL RVP
  zephyr/program/ocelot/rvp_fans.dtsi
Labels: none

system: restrict watchdog panic reason update to RW
  common/system.c
  zephyr/test/drivers/system/src/system.c
  zephyr/test/drivers/testcase.yaml
  zephyr/test/jump_data/src/main.c
  zephyr/test/jump_data/testcase.yaml
Labels: common

battery/byd,l25b4pk5.: Fix FET status reg
  zephyr/dts/bindings/battery/byd,l25b4pk5.yaml
Labels: none

driver/led/max695x: Check for chip's state, before LED init
  driver/led/max695x.c
Labels: none

ocelotrvp: Use CSE early recovery GPIO driver
  zephyr/program/ocelot/ocelotrvp-ite/generated.dtsi
  zephyr/program/ocelot/ocelotrvp-ite/project.overlay
  zephyr/program/ocelot/ocelotrvp-mchp/gpio.dtsi
  zephyr/program/ocelot/ocelotrvp-mchp/project.overlay
  zephyr/program/ocelot/ocelotrvp-npcx/generated.dtsi
  zephyr/program/ocelot/ocelotrvp-npcx/project.overlay
  zephyr/program/ocelot/src/rvp_board_power.c
Labels: none

nissa: move code into RAM for most ITE boards
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/domika/project.conf
  zephyr/program/nissa/epic/project.conf
  zephyr/program/nissa/gothrax/project.conf
  zephyr/program/nissa/it8xxx2_program.conf
  zephyr/program/nissa/nereid/project.conf
  zephyr/program/nissa/pirrha/project.conf
  zephyr/program/nissa/quandiso2/project.conf
  zephyr/program/nissa/yaviks/project.conf
  zephyr/program/nissa/yavilla/project.conf
  zephyr/program/nissa/yavista/project.conf
Labels: none

ruby: Add the byd,l25b4pk5 battery
  zephyr/program/fatcat/ruby/battery.dtsi
Labels: none

battery_fuel_gauge: Improve disconnect status logging
  common/battery_fuel_gauge.c
Labels: common

panic: Add PANIC_SW_WATCHDOG_HARD for unhandled watchdog resets
  common/panic_output.c
  common/system.c
  include/software_panic.h
  zephyr/test/drivers/default/src/panic_output.c
  zephyr/test/drivers/system/src/system.c
  zephyr/test/hwtest/src/watchdog.cc
  zephyr/test/jump_data/src/main.c
Labels: common

led: Add brightness cap to ectools command for pwm
  zephyr/shim/src/led_driver/led_pwm.c
  zephyr/test/drivers/default/src/led.c
Labels: none

pdc: Add a log message for suspend/resume
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

Revert "ectool: Correct the max brightness for led command"
  util/ectool.cc
Labels: none

battery: Added 5 models of 2S1P batteries
  zephyr/dts/bindings/battery/atl,l26n2pk1.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/byd,l26b2pk1.yaml
  zephyr/dts/bindings/battery/cosmx,l26x2pk1.yaml
  zephyr/dts/bindings/battery/smp,l26m2pk1.yaml
  zephyr/dts/bindings/battery/sunwoda,l26d2pk1.yaml
Labels: none

obiwan: Add 5 types of 2-cell batteries
  zephyr/program/skywalker/obiwan/project.overlay
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
