Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

quartz: Use PROCHOT to limit SoC power during AC-only boot
  zephyr/program/bluey/quartz/gpios.dtsi
  zephyr/program/bluey/quartz/src/chipset.c
Labels: none

fpsensor: enable FP ASCP support on Niedzica
  zephyr/program/fpmcu/em32f967/ascp.dtsi
  zephyr/program/fpmcu/em32f967/niedzica.dts
  zephyr/program/fpmcu/em32f967/soc.dtsi
Labels: none

fpsensor: Add production certificate for em32f967
  zephyr/program/fpmcu/em32f967/prj.conf
  zephyr/program/fpmcu/em32f967/s_goog_match.bin
  zephyr/program/fpmcu/em32f967/s_goog_replace.bin
Labels: none

power: qcom_exp: reduce auto-wake delay to 5 seconds
  power/qcom_exp.c
Labels: none

fwk: sakura: Bump to 3.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: add Nix flake for EC firmware builds
  flake.lock
  flake.nix
Labels: repo

fwk: Add Framework Dongle VID/PID to turn off retimer power
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: Corrected PD write respond code retry_count value
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: add Nix flake for EC firmware builds
  flake.lock
  flake.nix
Labels: repo

padme: add support for 3rd TI PDC TPS66993
  zephyr/program/skywalker/padme/CMakeLists.txt
  zephyr/program/skywalker/padme/cbi.dtsi
  zephyr/program/skywalker/padme/project.conf
  zephyr/program/skywalker/padme/project.overlay
  zephyr/program/skywalker/padme/src/usbc_runtime.c
Labels: none

zephyr: et171: update FP library and template size
  driver/fingerprint/egis/egis_api.h
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/subsys/fingerprint/alg/Kconfig
Labels: none

zephyr: cros_system: Eliminate unnecessary cros_system API layer
  zephyr/drivers/cros_system/cros_system_em32.c
  zephyr/drivers/cros_system/cros_system_et171.c
  zephyr/drivers/cros_system/cros_system_ft90.c
  zephyr/drivers/cros_system/cros_system_it8xxx2.c
  zephyr/drivers/cros_system/cros_system_native_posix.c
  zephyr/drivers/cros_system/cros_system_npcx.c
  zephyr/drivers/cros_system/cros_system_rtk.c
  zephyr/drivers/cros_system/cros_system_stm32.c
  zephyr/drivers/cros_system/cros_system_xec.c
  zephyr/dts/bindings/cros_system/cros-ec,cros-system.yaml
  zephyr/dts/board-overlays/native_sim.dts
  zephyr/dts/it8xxx2_emul.dts
  zephyr/dts/mchp_emul.dts
  zephyr/dts/npcx_emul.dts
  zephyr/include/cros/egis/et171.dtsi
  zephyr/include/cros/ft/ft.dtsi
  zephyr/include/cros/ite/it8xxx2.dtsi
  zephyr/include/cros/microchip/mec172x.dtsi
  zephyr/include/cros/nuvoton/npcx_cros.dtsi
  zephyr/include/cros/realtek/realtek.dtsi
  zephyr/include/cros/st/stm32.dtsi
  zephyr/include/drivers/cros_system.h
  zephyr/program/fpmcu/em32f967/niedzica.dts
  zephyr/shim/src/system.c
  zephyr/test/rex/boards/board_power.dtsi
  zephyr/test/system_shim/include/fakes.h
  zephyr/test/system_shim/src/suite.c
  zephyr/test/system_shim/src/test_system.c
Labels: none

obiwan: Update battery static info when model_ext is empty
  zephyr/program/skywalker/obiwan/src/thermal_policy.c
Labels: none

r2d2: change temp sensors threshold
  zephyr/program/skywalker/r2d2/temp_sensor.dtsi
Labels: none

fwk: cypd: Correct loop control flow for Debug Accessory port error recovery
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

mensa: enable i2c function
  zephyr/program/calypso/program.conf
Labels: none

zephyr: ocelot: disable asserts in RO to save space
  zephyr/program/ocelot/Kconfig
Labels: none

ec: fix missing includes
  common/fpsensor/fpsensor.cc
  include/fpsensor/fpsensor_crypto.h
  test/fpsensor_crypto.cc
  zephyr/test/hwtest/src/fpsensor_crypto.cc
Labels: common

bluey: Add ADSP OEM custom battery state register support
  driver/battery/smart.c
  zephyr/Kconfig.battery
  zephyr/shim/include/config_chip.h
  zephyr/subsys/adsp_comms/Kconfig
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

battery: move fake battery functions to common code
  common/battery.c
  common/mock/battery_mock.c
  driver/battery/smart.c
  include/battery.h
  zephyr/test/drivers/upstream_fuel_gauge/src/shim_battery_wip.c
Labels: common

bluey: Add ADSP OEM custom battery level register support
  zephyr/subsys/adsp_comms/adsp_comms.c
Labels: none

zephyr: Rename ADSP_COMMS to PLATFORM_EC_ADSP_CHARGE_MANAGER
  zephyr/linker/iterables-rom.ld
  zephyr/program/bluey/program.conf
  zephyr/subsys/adsp_comms/CMakeLists.txt
  zephyr/subsys/adsp_comms/Kconfig
Labels: none

zephyr: led: enable LED driver to use ADSP charge module
  zephyr/shim/src/led_driver/led.c
Labels: none

anakin: Compatible with various pdc vendors via ssfc.
  zephyr/program/skywalker/anakin/cbi.dtsi
  zephyr/program/skywalker/anakin/project.overlay
  zephyr/program/skywalker/anakin/src/usbc_runtime.c
Labels: none

fpsensor: remove named-gpios dependency for btn_ign_out
  common/fpsensor/fpsensor_btn_ign_out.cc
  zephyr/program/fpmcu/em32f967/gpio.dtsi
  zephyr/program/fpmcu/et171/btn_ign.dtsi
  zephyr/program/fpmcu/ft9001/btn_ign.dtsi
  zephyr/program/fpmcu/ft9001/common.dtsi
  zephyr/test/fingerprint/task/boards/native_sim.overlay
  zephyr/test/fingerprint/task/btn_ign.dtsi
  zephyr/test/fingerprint/task/src/fpsensor_btn_ign_out.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: common

zephyr: fpmcu: et171: Update QSPI flash compatible and Kconfig
  zephyr/drivers/cros_flash/Kconfig
  zephyr/program/fpmcu/et171/common.dtsi
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

zephyr: program: Disable assert verbosity on space-constrained boards
  zephyr/program/corsola/ponyta/project.conf
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_m1723/prj.conf
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_npcx/prj.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
Labels: none

mensa: enable keyboard function
  zephyr/program/calypso/mensa/keyboard.dtsi
  zephyr/program/calypso/mensa/project.overlay
  zephyr/program/calypso/program.conf
Labels: none

cros_kb_raw: eliminate unneeded driver API layer
  zephyr/drivers/cros_kb_raw/cros_kb_raw_ite.c
  zephyr/drivers/cros_kb_raw/cros_kb_raw_npcx.c
  zephyr/drivers/cros_kb_raw/cros_kb_raw_xec.c
  zephyr/emul/emul_kb_raw.c
  zephyr/include/drivers/cros_kb_raw.h
  zephyr/shim/chip/it8xxx2/CMakeLists.txt
  zephyr/shim/chip/it8xxx2/keyboard_raw.c
  zephyr/shim/chip/mchp/CMakeLists.txt
  zephyr/shim/chip/mchp/keyboard_raw.c
  zephyr/shim/chip/npcx/CMakeLists.txt
  zephyr/shim/chip/npcx/keyboard_raw.c
  zephyr/shim/src/CMakeLists.txt
  zephyr/shim/src/keyboard_raw.c
Labels: none

Eliminate cros-ec,raw-kb chosen node
  zephyr/Kconfig.keyboard
  zephyr/drivers/cros_kb_raw/Kconfig
  zephyr/emul/Kconfig
  zephyr/include/cros/ite/it8xxx2.dtsi
  zephyr/include/cros/microchip/mec172x.dtsi
  zephyr/include/cros/nuvoton/npcx_cros.dtsi
  zephyr/program/bluey/mica/keyboard.dtsi
  zephyr/program/bluey/quartz/keyboard.dtsi
  zephyr/program/bluey/quenbi/keyboard.dtsi
  zephyr/program/skywalker/ite_keyboard.dtsi
  zephyr/program/skywalker/npcx_keyboard.dtsi
  zephyr/test/drivers/boards/native_sim.overlay
  zephyr/test/kingler/boards/ponyta.dtsi
  zephyr/test/nissa/boards/craask.dts
  zephyr/test/nissa/boards/glassway.dts
  zephyr/test/nissa/boards/guren.dts
  zephyr/test/nissa/boards/riven.dts
Labels: none

fpsensor: Add test-only setter for FpFrameSizeCache
  common/fpsensor/fpsensor_frame_size.cc
  include/fpsensor/fpsensor_frame_size.h
  zephyr/test/fingerprint/task/src/fpsensor_frame_size.cc
Labels: common

ec: Define host command for delayed power button press
  common/power_button.c
  include/ec_commands.h
  util/ectool.cc
  zephyr/test/drivers/button/src/main.c
Labels: common

Mensa: Fix the AC state follows gpio ec_ac_present_odl
  zephyr/program/calypso/mensa/CMakeLists.txt
  zephyr/program/calypso/mensa/project.conf
  zephyr/program/calypso/mensa/src/extpower_custom.c
Labels: none

battery: Add new battery GFL
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/ganfeng,gfl.yaml
Labels: none

Revert "ec: Define host command for delayed power button press"
  common/power_button.c
  include/ec_commands.h
  util/ectool.cc
  zephyr/test/drivers/button/src/main.c
Labels: common

common: Fix rollback mechanism behavior when rollback regions are erased
  common/rollback.c
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
  zephyr/test/rollback/src/main.c
Labels: common

common: Protect rollback regions from flash console and host commands
  common/flash.c
  zephyr/test/drivers/flash/rollback.dts
  zephyr/test/drivers/flash/src/flash.c
  zephyr/test/drivers/testcase.yaml
Labels: common

fwk: Add comment to label lotus/tulip fans
  zephyr/program/framework/lotus/fan.dtsi
Labels: none

tarkin/phasma: Compatible with various pdc vendors via ssfc.
  zephyr/program/skywalker/tarkin/CMakeLists.txt
  zephyr/program/skywalker/tarkin/cbi.dtsi
  zephyr/program/skywalker/tarkin/project.conf
  zephyr/program/skywalker/tarkin/project.overlay
  zephyr/program/skywalker/tarkin/src/usbc_runtime.c
Labels: none

Mensa: Add battery devicetree to mensa
  zephyr/program/calypso/CMakeLists.txt
  zephyr/program/calypso/mensa/battery.dtsi
  zephyr/program/calypso/mensa/project.overlay
  zephyr/program/calypso/program.conf
  zephyr/program/calypso/src/battery.c
Labels: none
