Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

pdc: tps6699x: Call DR swap tasks after updating DR swap policy
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: tps6699x: Map SET_UOR commands from OS to CMD_SET_DRS
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/test/pdc/src/tps6699x/tps6699x.c
Labels: none

test: run_device_tests: Disable failing tests for helipilot Zephyr on Renode
  test/run_device_tests.py
Labels: none

util/renode/firmware_builder: Enable helipilot Zephyr testing
  util/renode/firmware_builder.py
Labels: none

battery: Allow PLATFORM_EC_BATT_FULL_CHIPSET_OFF_INPUT_LIMIT_MV w/ PDC
  common/battery.c
  zephyr/Kconfig.battery
Labels: common

lapis: Reduce USB-PD voltage to 9V when battery full and AP off
  zephyr/program/fatcat/lapis/project.conf
Labels: none

led: add reset to "enable auto" cases
  zephyr/shim/src/led_driver/led.c
  zephyr/test/drivers/led_driver/src/led_custom.c
  zephyr/test/drivers/led_driver/src/led_sequence.c
Labels: none

zephyr: system: add BBRAM based on retained memory support
  zephyr/Kconfig.system
  zephyr/shim/include/bbram.h
  zephyr/shim/include/retained_mem_bbram.h
  zephyr/shim/src/CMakeLists.txt
  zephyr/shim/src/retained_mem_bbram.c
  zephyr/shim/src/system.c
  zephyr/test/system_shim/boards/native_sim.overlay
  zephyr/test/system_shim/retained_mem_bbram.overlay
  zephyr/test/system_shim/src/suite.c
  zephyr/test/system_shim/src/test_system.c
  zephyr/test/system_shim/testcase.yaml
Labels: none

fpmcu: Use one rollback version for all FPMCUs
  zephyr/program/fpmcu/bloonchipper/prj.conf
  zephyr/program/fpmcu/helipilot/prj.conf
  zephyr/program/fpmcu/prj.conf
Labels: none

fpsensor: add FP ASCP host commands definition
  include/ec_cmd_api.h
  include/ec_commands.h
Labels: none

util: Add script to upload Renode test results to ResultDB
  util/run_device_tests_to_resultdb.py
  util/run_device_tests_to_resultdb.py.vpython3
Labels: none

util: run_device_tests_to_resultdb: Add bug component
  util/run_device_tests_to_resultdb.py
Labels: none

fpmcu: Detect accidental rollback version changes in build time
  zephyr/program/fpmcu/CMakeLists.txt
Labels: none

test: run_device_tests: Add support for host interface-specific tests
  test/run_device_tests.py
Labels: none

test: run_device_tests: Filter host interface-specific tests
  test/run_device_tests.py
Labels: none

Ojal: Add initial fan temperature values for on device sensors
  zephyr/program/ocelot/ojal/fan.dtsi
Labels: none

Grogu: Enable I2C NACK retry
  zephyr/program/skywalker/grogu/project.conf
Labels: none

ruby: Fix sensor locate and naming.
  zephyr/program/fatcat/ruby/thermal.dtsi
Labels: none

test: run_device_tests: Remove fp_transport skip from USB-based boards
  test/run_device_tests.py
Labels: none

mchp: Fix QSPI driver
  zephyr/boards/google/mec172x/mec172x_mec172x_nsz_mec1723.dts
  zephyr/boards/google/mec172x/mec172x_mec172x_nsz_mec1727.dts
  zephyr/drivers/cros_flash/cros_flash_xec.c
  zephyr/drivers/cros_system/cros_system_xec.c
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_m1723/mtlrvp_flash.dts
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_m1723/prj.conf
  zephyr/shim/chip/mchp/Kconfig.xec
  zephyr/shim/chip/mchp/system_download_from_flash.c
Labels: none

test: hwtest: ftrapv: Use ztest_post_fatal_error_hook instead of multistep test
  test/run_device_tests.py
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/src/ftrapv.c
Labels: none

emul: rts54xx: Fix build error in notification logging
  zephyr/emul/emul_realtek_rts54xx.c
Labels: none

test: hwtest: abort: Use ztest_post_fatal_error_hook instead of multistep test
  test/run_device_tests.py
  zephyr/program/fpmcu/testcase.yaml
  zephyr/test/hwtest/src/abort.c
Labels: none

test: hwtest: exception: Use ztest_post_fatal_error_hook instead of multistep test
  test/run_device_tests.py
  zephyr/test/hwtest/Kconfig
  zephyr/test/hwtest/src/exception.cc
Labels: none

test: hwtest: ftrapv: Remove obsolete TODO comment in ftrapv test
  zephyr/test/hwtest/src/ftrapv.c
Labels: none

juchi: init zephyr EC files
  zephyr/program/brox/BUILD.py
  zephyr/program/brox/CMakeLists.txt
  zephyr/program/brox/Kconfig
  zephyr/program/brox/juchi/CMakeLists.txt
  zephyr/program/brox/juchi/cbi.dtsi
  zephyr/program/brox/juchi/fan.dtsi
  zephyr/program/brox/juchi/gpio.dtsi
  zephyr/program/brox/juchi/keyboard.dtsi
  zephyr/program/brox/juchi/keyboard_set2.dtsi
  zephyr/program/brox/juchi/led_pins.dtsi
  zephyr/program/brox/juchi/led_policy.dtsi
  zephyr/program/brox/juchi/motionsense.dtsi
  zephyr/program/brox/juchi/project.conf
  zephyr/program/brox/juchi/project.overlay
  zephyr/program/brox/juchi/src/board.c
  zephyr/program/brox/juchi/src/keyboard.c
  zephyr/program/brox/juchi/src/keyboard_customization.c
  zephyr/program/brox/juchi/src/thermal.c
  zephyr/program/brox/juchi/src/touch_panel.c
  zephyr/program/brox/juchi/temp_sensors.dtsi
  zephyr/test/brox/CMakeLists.txt
  zephyr/test/brox/Kconfig
  zephyr/test/brox/boards/juchi/fan.dtsi
  zephyr/test/brox/boards/juchi/keyboard.dtsi
  zephyr/test/brox/boards/juchi/sensor.dtsi
  zephyr/test/brox/boards/juchi/touch.dtsi
  zephyr/test/brox/testcase.yaml
  zephyr/test/brox/tests/juchi/CMakeLists.txt
  zephyr/test/brox/tests/juchi/src/fan.c
  zephyr/test/brox/tests/juchi/src/keyboard.c
  zephyr/test/brox/tests/juchi/src/sensor.c
  zephyr/test/brox/tests/juchi/src/touch_panel.c
Labels: none

skywalker: follow new keyboard parameter setting for jaina
  zephyr/program/skywalker/jaina/project.overlay
Labels: none

vader: Add dynamic sensor count config
  zephyr/program/skywalker/vader/project.conf
  zephyr/program/skywalker/vader/src/sensor.c
Labels: none

skywalker: set battery "charging_max_c" for jaina
  zephyr/program/skywalker/jaina/project.overlay
Labels: none

zephyr: fpmcu: move setting PM config to per project files
  zephyr/program/fpmcu/bloonchipper/prj.conf
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/program/fpmcu/helipilot/prj.conf
  zephyr/program/fpmcu/prj.conf
Labels: none

Build uut with nix flakes
  flake.lock
  flake.nix
Labels: repo

util/uut: Drain buffer before syncing
  util/uut/opr.cc
Labels: none

util/uut: Add more logs
  util/uut/opr.cc
Labels: none

zephyr: fpmcu: et171: enable PM only for RW
  zephyr/program/fpmcu/Kconfig
  zephyr/program/fpmcu/et171/prj.conf
Labels: none

common: uart: Use local variable for write counter in console read
  common/uart_buffering.c
Labels: common

test: hwtest: Use uintptr_t for address comparisons
  zephyr/test/hwtest/src/abort.c
  zephyr/test/hwtest/src/exception.cc
  zephyr/test/hwtest/src/ftrapv.c
Labels: none

PPM: Relax is_invalid_ack for CI
  zephyr/subsys/ucsi/ppm_common.c
  zephyr/subsys/ucsi/ppm_driver.c
  zephyr/test/pdc/src/generic/ppm_driver.c
  zephyr/test/pdc/src/generic/ppm_state_machine.c
Labels: none

test: hwtest: Remove redundant comments before zassert_unreachable()
  zephyr/test/hwtest/src/abort.c
  zephyr/test/hwtest/src/ftrapv.c
  zephyr/test/hwtest/src/null_pointer.c
  zephyr/test/hwtest/src/panic.c
  zephyr/test/hwtest/src/panic_data.c
  zephyr/test/hwtest/src/ram_lock.c
Labels: none

renode: Remove deprecated gwendolin.resc symlink
  util/renode/gwendolin.resc
Labels: none

fpmcu: Remove deprecated gwendolin project
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/helipilot/gwendolin.dts
  zephyr/program/fpmcu/helipilot/gwendolin/dev_key.pem
  zephyr/program/fpmcu/helipilot/gwendolin/rwsig.dtsi
Labels: none
