Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

TEMPORARY: Don't build ectool
  .github/workflows/zephyr-build.yml
Labels: workflow

cortex-m: clobber r7 for clang
  core/cortex-m/panic.c
Labels: none

chinchou: disable event log for PD3.1 test
  zephyr/program/corsola/chinchou/project.overlay
Labels: none

skywalker: remove usb mux
  zephyr/program/skywalker/npcx_usbc.dtsi
Labels: none

driver: accel: Remove superfluous test
  driver/accel_bma4xx.c
  driver/accel_lis2ds.c
  driver/accel_lis2dw12.c
Labels: none

driver: bma4xx: Remove atomic around last_irq_timestamp
  driver/accel_bma4xx.c
Labels: none

nokris: Disable shell commands to save space
  zephyr/program/nissa/nokris/project.conf
Labels: none

ectool: Add subcommand for EC_CMD_GET_PD_PORT_CAPS (usbpdportcaps)
  util/ectool.cc
Labels: none

trulo: Fix RAM size
  zephyr/program/trulo/trulo-ish/prj.conf
Labels: none

ectool: Add a helper function for getting number of USB-C ports
  util/ectool.cc
Labels: none

zephyr/test: add checks for host command response size
  zephyr/test/ap_power/src/ap_pwrseq.c
  zephyr/test/drivers/cbi_flash/src/cbi_flash.c
  zephyr/test/drivers/common/src/utils.c
  zephyr/test/drivers/common_cbi/src/test_common_cbi.c
  zephyr/test/drivers/default/src/integration/usbc/usb_pd_rev3.c
  zephyr/test/drivers/fan/src/fan.c
  zephyr/test/drivers/flash/src/flash.c
  zephyr/test/drivers/host_cmd/src/battery_v2.c
  zephyr/test/drivers/host_cmd/src/get_panic_info.c
  zephyr/test/drivers/host_cmd/src/host_command.c
  zephyr/test/drivers/host_cmd_read_memmap/src/read_memmap.c
  zephyr/test/drivers/host_command_memory_dump/src/host_command_memory_dump.c
  zephyr/test/drivers/panic_log/src/panic_log.c
  zephyr/test/drivers/power_host_sleep/src/test_power_host_sleep.c
  zephyr/test/keyboard_factory_test/src/main.c
  zephyr/test/pdc/src/generic/pdc_trace_msg.c
  zephyr/test/system_common/src/build_info.c
  zephyr/test/system_common/src/get_boot_time.c
  zephyr/test/vivaldi_kbd/src/main.c
Labels: none

subsys/pd_controller add pdc trace host command response size
  zephyr/subsys/pd_controller/pdc_trace_msg.c
Labels: none

commom: motion_sense: Remove superfluous test
  common/motion_sense.c
Labels: common

quartz: Add LED behaviour
  zephyr/program/bluey/quartz/CMakeLists.txt
  zephyr/program/bluey/quartz/gpios.dtsi
  zephyr/program/bluey/quartz/project.conf
  zephyr/program/bluey/quartz/src/led.c
Labels: none

kaladin: Enable DSP comms service for lid switch
  zephyr/program/trulo/kaladin/project.conf
Labels: none

yoda: Remove bringup configs
  zephyr/program/skywalker/yoda/project.conf
Labels: none

zephyr: fingerprint: Separate the image reading logic from elan_raw_capture()
  zephyr/drivers/fingerprint/fingerprint_elan80series_pal.c
Labels: none

Revert "power/qcom_exp: Boot system if AC present and battery is low"
  power/qcom_exp.c
Labels: none

ocelot-rvp: Enable tablet mode
  zephyr/program/ocelot/ocelotrvp-ite/generated.dtsi
  zephyr/program/ocelot/ocelotrvp-mchp/gpio.dtsi
  zephyr/program/ocelot/ocelotrvp-npcx/generated.dtsi
  zephyr/program/ocelot/rvp_interrupts.dtsi
  zephyr/program/ocelot/rvp_program.conf
Labels: none

lapis: Add fn and capslock key function
  zephyr/program/fatcat/lapis/keyboard.dtsi
Labels: none

matsu: Update thermal config
  zephyr/program/ocelot/matsu/gpios.dtsi
  zephyr/program/ocelot/matsu/project.overlay
  zephyr/program/ocelot/matsu/temp_sensors.dtsi
Labels: none

matsu: Update gpio configurations
  zephyr/program/ocelot/matsu/gpios.dtsi
  zephyr/program/ocelot/matsu/power_signals.dtsi
Labels: none

ruby: Configure KSO02 to active low
  zephyr/program/fatcat/ruby/gpios.dtsi
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

moonstone: Initial support fan control by EC
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/moonstone/fan.dtsi
  zephyr/program/fatcat/moonstone/gpios.dtsi
  zephyr/program/fatcat/moonstone/project.conf
  zephyr/program/fatcat/moonstone/project.overlay
  zephyr/program/fatcat/moonstone/src/thermal.c
Labels: none

dts/cros: Update UFSC standard schema
  zephyr/include/cros/cbi_ufsc_std_schema.dtsi
Labels: none

drivers/board_id: Improve error handling
  zephyr/drivers/board_id/board_id_intel_rvp.c
Labels: none

drivers/board_id: Trigger on S5 exit, not entry
  zephyr/drivers/board_id/board_id_intel_rvp.c
Labels: none

drivers/board_id: Add board ID "ready" callback
  zephyr/drivers/board_id/board_id_intel_rvp.c
  zephyr/dts/bindings/intel/intel,rvp-board-id.yaml
  zephyr/include/drivers/rvp_board_id.h
Labels: none

util/flash_fp_mcu: Choose default firmware directory based on OS
  util/flash_fp_mcu
Labels: none

Add EC_FEATURE_CHARGER_HYBRID_POWER_BOOST to ectool
  util/ectool.cc
Labels: none

tarkin/phasma: Limit input charge current
  zephyr/program/skywalker/tarkin/CMakeLists.txt
  zephyr/program/skywalker/tarkin/src/charger.c
Labels: none

kaladin: modify ac prochot setting
  zephyr/program/trulo/kaladin/src/charger.c
Labels: none

Rauru: Allocate PID 0x5082 and update navi_vif PID_SOP field
  zephyr/program/rauru/navi/navi_vif.xml
  zephyr/program/rauru/program.conf
Labels: none

padme: Add keyboard mask
  zephyr/program/skywalker/padme/project.overlay
Labels: none

tcpci: Avoid redundant alert read
  driver/tcpm/anx7447.c
  driver/tcpm/nct38xx.c
  driver/tcpm/rt1718s.c
  driver/tcpm/tcpci.c
  include/driver/tcpm/tcpci.h
  zephyr/test/drivers/rt1718s/src/tcpc.c
Labels: none

bluey: Move board_chipset_pre_init to battery.c
  zephyr/program/bluey/src/battery.c
  zephyr/program/bluey/src/chipset.c
Labels: none

battery: Add mechanism to restrict 'battery' console command
  common/battery.c
  include/battery.h
  zephyr/Kconfig.battery
  zephyr/shim/include/config_chip.h
Labels: common

bluey: Restrict 'battery' console command to G3 state
  zephyr/program/bluey/program.conf
  zephyr/program/bluey/src/battery.c
Labels: none

battery: Add new battery L25D2PK6
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/sunwoda,l25d2pk6.yaml
Labels: none

battery: Add new battery L25N2PK6
  zephyr/dts/bindings/battery/atl,l25n2pk6.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
Labels: none
