Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

zephyr: test: fingerprint: Add image data offset to drivers
  zephyr/test/fingerprint/drivers/egis630/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/egis630/src/egis630.c
  zephyr/test/fingerprint/drivers/egis660/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/egis660/src/egis660.c
  zephyr/test/fingerprint/drivers/elan80series/boards/elan80sg.dtsi
  zephyr/test/fingerprint/drivers/elan80series/src/elan80series.c
  zephyr/test/fingerprint/drivers/fpc1025/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/fpc1025/src/fpc1025.c
  zephyr/test/fingerprint/drivers/fpc1145/boards/native_sim.overlay
  zephyr/test/fingerprint/drivers/fpc1145/src/fpc1145.c
Labels: none

zephyr: test: fingerprint: Add image data offset to fingerprint simulator
  zephyr/test/fingerprint/task/boards/native_sim.overlay
  zephyr/test/fingerprint/task/src/fpsensor_frame_size.cc
  zephyr/test/fingerprint/task/src/fpsensor_shim.cc
Labels: none

zephyr: test: remove extra leading space
  zephyr/test/fingerprint/drivers/egis630/boards/native_sim.overlay
Labels: none

obiwan: Increase battery type init deferred retry count
  zephyr/program/skywalker/obiwan/project.conf
Labels: none

padme: Add padme_rts5439s_vb_vif.xml
  zephyr/program/skywalker/padme/padme_rts5439s_vb_vif.xml
Labels: none

fingerprint: egis660: Adding microsecond latency support
  zephyr/drivers/fingerprint/fingerprint_egis660_pal.c
  zephyr/drivers/fingerprint/fingerprint_egis660_pal.h
  zephyr/test/fingerprint/drivers/egis660/src/egis660.c
  zephyr/test/fingerprint/drivers/egis660/src/egis660_pal_test_helpers.c
  zephyr/test/fingerprint/drivers/egis660/src/egis660_pal_test_helpers.h
Labels: none

sapphire: Add vif for usb compliance
  zephyr/program/tanjiro/sapphire/sapphire_vif.xml
Labels: none

PRESUBMIT: Skip check_symlinks on FPMCU checkouts
  PRESUBMIT.cfg
Labels: repo

ruby: Remove unnecessary charger.c settings
  zephyr/program/fatcat/ruby/src/charger.c
Labels: none

Exclude emul headers also
  zephyr/Makefile.cq
Labels: none

lapis: temporarily disable battery full voltage limit
  zephyr/program/fatcat/lapis/project.conf
Labels: none

fwk: lilac: Modify 75W battery PL setting
  zephyr/program/framework/azalea/src/cpu_power.c
Labels: none

fwk: lilac: define the 75W battery discharge current limit
  zephyr/program/framework/azalea/src/cpu_power.c
Labels: none

driver: add new ALS CM36781 driver code
  driver/als_cm36781.c
  driver/als_cm36781.h
  driver/build.mk
  include/config.h
  include/ec_commands.h
  util/ectool.cc
  zephyr/CMakeLists.txt
  zephyr/Kconfig.sensor_devices
  zephyr/dts/bindings/motionsense/driver/cm36781.yaml
  zephyr/dts/bindings/motionsense/driver/cros-ec,cm36781.yaml
  zephyr/dts/bindings/motionsense/drvdata/cros-ec,drvdata-cm36781.yaml
  zephyr/scripts/cme.py
  zephyr/shim/include/config_chip.h
  zephyr/shim/src/motionsense_driver/cm36781-drvinfo.inc
  zephyr/shim/src/motionsense_driver/drvdata-accelgyro.h
  zephyr/shim/src/motionsense_driver/sensor_drv_list.inc
Labels: none

Zephyr: Add config KEYBOARD_MULTIPLE
  zephyr/Kconfig.keyboard
  zephyr/shim/include/config_chip.h
Labels: none

Jaina: Add multiple keyboard for JP
  zephyr/program/skywalker/jaina/CMakeLists.txt
  zephyr/program/skywalker/jaina/cbi.dtsi
  zephyr/program/skywalker/jaina/include/keyboard_customization.h
  zephyr/program/skywalker/jaina/project.conf
  zephyr/program/skywalker/jaina/src/keyboard_customization.c
Labels: none

Nissa: Initial Zephyr EC image for Dirkson
  zephyr/program/nissa/BUILD.py
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/Kconfig
  zephyr/program/nissa/dirkson/generated.dtsi
  zephyr/program/nissa/dirkson/include/board.h
  zephyr/program/nissa/dirkson/overlay.dtsi
  zephyr/program/nissa/dirkson/power_signals.dtsi
  zephyr/program/nissa/dirkson/project.conf
  zephyr/program/nissa/dirkson/project.overlay
  zephyr/program/nissa/dirkson/pwm_leds.dtsi
  zephyr/program/nissa/dirkson/src/barrel_jack.c
  zephyr/program/nissa/dirkson/src/hdmi.c
  zephyr/program/nissa/dirkson/src/led.c
  zephyr/program/nissa/dirkson/src/thermal.c
  zephyr/program/nissa/dirkson/src/usbc.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/Kconfig
  zephyr/test/nissa/boards/dirkson.dts
  zephyr/test/nissa/include/dirkson.h
  zephyr/test/nissa/src/dirkson.c
  zephyr/test/nissa/testcase.yaml
Labels: none

zephyr: fingerprint: Fix helipilot offset value
  zephyr/program/fpmcu/helipilot/helipilot.dts
Labels: none

util: renode: firmware_builder: Update Renode
  util/renode/firmware_builder.py
Labels: none

power/qcom_exp: Enable charging on shutdown if ac attached
  power/qcom_exp.c
Labels: none

test: Split flash_physical test into RO and RW configurations
  test/run_device_tests.py
Labels: none

cros_system: Use node labels for RTK watchdog
  zephyr/drivers/cros_system/cros_system_rtk.c
Labels: none

moonstone: Enable touch enable control by EC
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/moonstone/gpios.dtsi
  zephyr/program/fatcat/moonstone/src/touch_panel.c
Labels: none

fpsensor: add SDCP data location for Egis et171
  zephyr/program/fpmcu/et171/common.dtsi
  zephyr/program/fpmcu/et171/soc.dtsi
Labels: none

fpsensor: enable FP ASCP support on Egis et171
  zephyr/program/fpmcu/et171/ascp.dtsi
  zephyr/program/fpmcu/et171/common.dtsi
Labels: none

test: Enable flash physical on helipilot and bloonchipper zephyr renode
  test/run_device_tests.py
Labels: none

zephyr: cros_flash_npcx: Refactor WEL polling into a helper function
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

zephyr: npcx: flash: Rename npcx flash helper functions for clarity
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

drivers: flash: npcx: rename wait_period to include units
  zephyr/drivers/cros_flash/cros_flash_npcx.c
Labels: none

zephyr: Move ADSP I2C port switching to a subsystem module
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/program.conf
  zephyr/subsys/CMakeLists.txt
  zephyr/subsys/Kconfig
  zephyr/subsys/adsp_comms/CMakeLists.txt
  zephyr/subsys/adsp_comms/Kconfig
  zephyr/subsys/adsp_comms/adsp_i2c_mode.c
Labels: none

zephyr: adsp_comms: Implement scalable callback infrastructure
  zephyr/include/adsp_comms.h
  zephyr/linker/iterables-rom.ld
  zephyr/subsys/adsp_comms/Kconfig
  zephyr/subsys/adsp_comms/adsp_i2c_mode.c
Labels: none

zephyr: adsp_comms: Define feature and register enums
  zephyr/include/adsp_comms.h
Labels: none

zephyr: bluey: Register ADSP power state callback in baseboard
  zephyr/program/bluey/src/chipset.c
Labels: none

pdc: remove unused PDO storage
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

pdc: Don't set cap mismatch if max voltage overridden
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

fwk: sakura: increase SCI event trigger time to 1ms
  zephyr/program/framework/sakura/project.conf
Labels: none

common/system: Fix type mismatch in cbi_get_board_version call
  common/system.c
Labels: common

RTS5915: Modify WP process for tool flow
  zephyr/drivers/cros_flash/cros_flash_rtk.c
Labels: none

cros_system: Migrate device instantiation to devicetree
  zephyr/drivers/cros_system/cros_system_em32.c
  zephyr/drivers/cros_system/cros_system_et171.c
  zephyr/drivers/cros_system/cros_system_ft90.c
  zephyr/drivers/cros_system/cros_system_it8xxx2.c
  zephyr/drivers/cros_system/cros_system_native_posix.c
  zephyr/drivers/cros_system/cros_system_npcx.c
  zephyr/drivers/cros_system/cros_system_rtk.c
  zephyr/drivers/cros_system/cros_system_stm32.c
  zephyr/drivers/cros_system/cros_system_xec.c
  zephyr/dts/bindings/cros_system/cros-ec,cros-system.yaml
  zephyr/dts/board-overlays/native_sim.dts
  zephyr/dts/it8xxx2_emul.dts
  zephyr/dts/mchp_emul.dts
  zephyr/dts/npcx_emul.dts
  zephyr/include/cros/egis/et171.dtsi
  zephyr/include/cros/ft/ft.dtsi
  zephyr/include/cros/ite/it8xxx2.dtsi
  zephyr/include/cros/microchip/mec172x.dtsi
  zephyr/include/cros/nuvoton/npcx_cros.dtsi
  zephyr/include/cros/realtek/realtek.dtsi
  zephyr/include/cros/st/stm32.dtsi
  zephyr/program/fpmcu/em32f967/niedzica.dts
  zephyr/test/rex/boards/board_power.dtsi
Labels: none

host_command: Support panic_data larger than one message
  common/panic_output.c
  include/ec_commands.h
  include/panic_defs.h
  util/ectool.cc
  zephyr/test/drivers/host_cmd/src/get_panic_info.c
Labels: common

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
