Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

emul_realtek_rts54xx: Add newline
  zephyr/emul/emul_realtek_rts54xx.c
Labels: none

emul_realtek_rts54xx: Add missing include
  zephyr/emul/emul_realtek_rts54xx.h
Labels: none

util: Enable compare build with the unnested fingerprint repos
  util/compare_build.sh
Labels: none

Xol: Modify battery code
  board/xol/battery.c
Labels: none

jubilant: Increase PD max power 65w setting
  zephyr/program/brox/jubilant/project.conf
Labels: none

pdc: Allow GET_PCH_DATA_STATUS while unattached
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

pdc: Don't generate duplicate disconnect events
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

test: pdc: add connectionless command test
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

firmware_builder: Preserve gcc build artifacts
  firmware_builder.py
Labels: repo

zephyr/ec: Remove reference to private/zephyr/program
  zephyr/zmake/zmake/modules.py
Labels: none

pdc: Fix public API timeouts
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

veluza: correct motionsense location
  zephyr/program/corsola/veluza/project.overlay
Labels: none

prochot: add a voltage comparator based prochot driver
  zephyr/drivers/CMakeLists.txt
  zephyr/drivers/Kconfig
  zephyr/drivers/prochot_vcmp/CMakeLists.txt
  zephyr/drivers/prochot_vcmp/Kconfig
  zephyr/drivers/prochot_vcmp/prochot_vcmp.c
  zephyr/dts/bindings/misc/cros-ec,prochot-vcmp.yaml
Labels: none

test: prochot_vcmp: add tests for prochot_vcmp
  zephyr/drivers/prochot_vcmp/prochot_vcmp.c
  zephyr/test/prochot_vcmp/CMakeLists.txt
  zephyr/test/prochot_vcmp/Kconfig
  zephyr/test/prochot_vcmp/boards/native_sim.overlay
  zephyr/test/prochot_vcmp/dts/bindings/test-sensor.yaml
  zephyr/test/prochot_vcmp/include/chipset.h
  zephyr/test/prochot_vcmp/include/test_vcmp_sensor.h
  zephyr/test/prochot_vcmp/prj.conf
  zephyr/test/prochot_vcmp/src/main.c
  zephyr/test/prochot_vcmp/testcase.yaml
Labels: none

brox: enable PROCHOT detection
  zephyr/dts/bindings/adc/named-adc-channels.yaml
  zephyr/program/brox/adc.dtsi
  zephyr/program/brox/brox.dtsi
  zephyr/program/brox/generated.dtsi
Labels: none

docs/fingerprint: Update docs for Dragonclaw v4
  docs/fingerprint/fingerprint-debugging.md
  docs/fingerprint/fingerprint-dev-for-partners.md
  docs/images/dragonclaw_v4.jpg
  docs/images/dragonclaw_v4_with_20_pin_swd.jpg
Labels: none

jubilant: init Bat Config
  zephyr/program/brox/jubilant/project.overlay
Labels: none

nova: Update thermal configuration and fan table
  board/nova/sensors.c
Labels: none

veluza: LED behavior v2 implement
  zephyr/program/corsola/veluza/project.overlay
  zephyr/program/corsola/veluza/pwm_leds.dtsi
  zephyr/program/corsola/veluza/src/led.c
Labels: none

rwsig: allow build without CONFIG_MAPPED_STORAGE
  common/rwsig.c
  common/vboot/vb21_lib.c
Labels: common

Reapply: usb_update: add more test code
  common/rwsig.c
  zephyr/test/usb_updater/boards/native_sim.overlay
  zephyr/test/usb_updater/include/fakes.h
  zephyr/test/usb_updater/prj.conf
  zephyr/test/usb_updater/src/fakes.c
  zephyr/test/usb_updater/src/update_fw_test.c
  zephyr/test/usb_updater/src/usb_update_test.c
  zephyr/test/usb_updater/src/vendor_command_test.c
Labels: common

navi: Modify gpio/i2c/adc pin for navi
  zephyr/program/rauru/navi/project.overlay
Labels: none

quackingstick: Break the sleep call to prevent a watchdog reset
  board/quackingstick/board.c
Labels: none

emul_tps6699x: Fix misspelling
  zephyr/emul/emul_tps6699x.c
Labels: none

emul_tps6699x: Remove excess logging
  zephyr/emul/emul_tps6699x.c
Labels: none

emul_tps6699x: Acount for length byte in messages
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
Labels: none

tps6699x: Handle failure to start UCSI task
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

emul_tps6699x: Implement UCSI Connector Reset
  zephyr/emul/emul_tps6699x.c
  zephyr/emul/emul_tps6699x_private.h
  zephyr/include/emul/emul_tps6699x.h
Labels: none

Xol: Remove CONFIG_USB_PD_FRS_PPC config
  board/xol/board.h
Labels: none

chip: npcx: update for SPI clock setting
  chip/npcx/spi.c
Labels: none

baseboard: helipilot: Update SPI device setting
  baseboard/helipilot/base_board_rw.c
Labels: baseboard

rauru: update generated.dtsi
  zephyr/program/rauru/generated.dtsi
  zephyr/program/rauru/overlay.dtsi
Labels: none

Zephyr: Handle RO/RW accordingly for detachable base
  zephyr/subsys/usb_dc/CMakeLists.txt
  zephyr/subsys/usb_dc/usb_hid_kb_dummy.c
  zephyr/subsys/usb_dc/usb_hid_tp_dummy.c
Labels: none

baseboard/mtscp-rv32i: Fix mt8195 SCP DRAM size
  baseboard/mtscp-rv32i/baseboard.h
Labels: baseboard

geralt: add base detect test
  zephyr/program/geralt/src/base_detect.c
  zephyr/test/geralt/CMakeLists.txt
  zephyr/test/geralt/common.dtsi
  zephyr/test/geralt/prj.conf
  zephyr/test/geralt/src/base_detect.c
Labels: none

usb_dc: support google fake class
  zephyr/subsys/usb_dc/CMakeLists.txt
  zephyr/subsys/usb_dc/Kconfig
  zephyr/subsys/usb_dc/usb_google_fake.c
Labels: none

spikyrock: remove hid class-related Kconfig options
  zephyr/program/roach/spikyrock/project.conf
Labels: none

run_device_tests: Increase timeout for STM32 RTC Zephyr counter test
  test/run_device_tests.py
Labels: none

wugtrio: calling base_update() directly in base_force_state()
  zephyr/program/corsola/wugtrio/src/base_detect.c
Labels: none

navi: Add C0 dp_in_hpd control
  zephyr/program/rauru/navi/project.overlay
  zephyr/program/rauru/navi/src/dp_alt_mode.c
Labels: none
