Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

anakin: Change thermal strategy
  zephyr/program/skywalker/anakin/src/thermal.c
Labels: none

ocicat: Remove unnecessary I2C configuration.
  zephyr/program/ocelot/ocicat/generated.dtsi
Labels: none

power/qcom_exp: Ensure switchcap is in init state
  include/power/qcom.h
  power/qcom_exp.c
Labels: none

bluey: Implement switchcap reset check
  zephyr/program/bluey/src/switchcap.c
Labels: none

power/qcom_exp: Use system_reset_switchcap_power in chipset init
  power/qcom_exp.c
Labels: none

quartz: Stop fan when powered on by AC insertion
  zephyr/program/bluey/quartz/CMakeLists.txt
  zephyr/program/bluey/quartz/project.conf
  zephyr/program/bluey/quartz/src/fan.c
Labels: none

Rauru: To refine VBUS detection during TD4.6.3
  common/usb_common.c
  common/usbc_ppc.c
  zephyr/program/rauru/src/usbc.c
  zephyr/test/rauru/CMakeLists.txt
  zephyr/test/rauru/Kconfig
  zephyr/test/rauru/common.dtsi
  zephyr/test/rauru/include/test_state.h
  zephyr/test/rauru/prj.conf
  zephyr/test/rauru/src/main.c
  zephyr/test/rauru/src/usbc_test.c
  zephyr/test/rauru/testcase.yaml
Labels: common

bluey: Cache static battery information during initialization
  zephyr/program/bluey/src/battery.c
Labels: none

vader: Correct cbi config and PDC config
  zephyr/program/skywalker/vader/cbi.dtsi
  zephyr/program/skywalker/vader/project.overlay
Labels: none

led: Refactor set_color to improve readability
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
Labels: none

Default to no libs in HOST_LDFLAGS
  Makefile.toolchain
  util/build.mk
Labels: repo

TCPMv2: Increase PD_DRP_SW_TOGGLE_LIMIT to maintain tDRP timing
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
Labels: common

Grogu: Modify PDC setting depend on FW config.
  zephyr/program/skywalker/grogu/CMakeLists.txt
  zephyr/program/skywalker/grogu/cbi.dtsi
  zephyr/program/skywalker/grogu/project.conf
  zephyr/program/skywalker/grogu/project.overlay
  zephyr/program/skywalker/grogu/src/usbc.c
Labels: none

zephyr: chip: add support for Elan EM32F967 chip
  zephyr/Kconfig.flash
  zephyr/app/ec/chip/arm/elan/Kconfig.elan
  zephyr/include/cros/elan/em32f967.dtsi
  zephyr/shim/chip/CMakeLists.txt
  zephyr/shim/chip/elan/CMakeLists.txt
  zephyr/shim/chip/elan/clock.c
  zephyr/shim/chip/elan/include/flash_chip.h
Labels: none

dooku: enable CONFIG_PLATFORM_EC_BATTERY_REVIVE_DISCONNECT
  zephyr/program/skywalker/dooku/project.conf
Labels: none

sapphire: Limit keyboard charging when host battery is below 10%
  zephyr/program/tanjiro/sapphire/src/base_detect.c
Labels: none

keyboard_8042_sharedlib: define SCANCODE_INSERT and SCANCODE_SCREENLOCK
  include/keyboard_8042_sharedlib.h
Labels: none

boards: set the full_name property
  zephyr/boards/google/it8xxx2/board.yml
  zephyr/boards/google/mec172x/board.yml
  zephyr/boards/google/npcx7/board.yml
  zephyr/boards/google/npcx9/board.yml
  zephyr/boards/google/realtek/board.yml
  zephyr/boards/nuvoton/npcx_evb/board.yml
Labels: none

led: Extract advance_led_pattern helper
  zephyr/shim/src/led_driver/led.c
Labels: none

led: Add cycle-count support for LED patterns
  zephyr/dts/bindings/leds/cros-ec,led-policy.yaml
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/led_driver/CMakeLists.txt
  zephyr/test/drivers/led_driver/led_policy_sequence.dts
  zephyr/test/drivers/led_driver/src/led_sequence.c
  zephyr/test/drivers/led_driver/src/stubs.c
  zephyr/test/drivers/testcase.yaml
Labels: none

fwk: main: fix auto als powerbtn led behavior
  zephyr/program/framework/include/hid_device.h
Labels: none

fwk: lilac: Update to thermal table V1B_241118
  zephyr/program/framework/azalea/fan.dtsi
  zephyr/program/framework/azalea/overlay.dtsi
Labels: none

fwk/lilac: Remove leading dash in firmware hash
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: remove charge-state condition in standalone mode LED behavior
  zephyr/program/framework/marigold/led_policy.dtsi
Labels: none

fwk: perform the typec error recovery after AMD Crossbar is ready
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: lilac: Set the S0ix enter/exit flags correctly
  zephyr/program/framework/azalea/src/power_sequence.c
Labels: none

fwk: UCSI: UCSI CCI uses wrong index, causing driver failure
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: don't resend the ucsi command if not enable the notification
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk/lilac: Bump to 1.04
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: bump to 1.07
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: Don't release from this branch
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 2.03
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 3.03 Compatible with EVT, DVT1, DVT2, MP.
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: main: add auto brightness fpled and keyboard backlight
  zephyr/program/framework/include/hid_device.h
Labels: none

fwk: refactor UCSI port and PD port map
  zephyr/program/framework/src/ucsi_port_13_16.c
Labels: none

fwk: lilac: Build with same zephyr ref as tulip
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 2.04
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: modified the PD code to support one PD chip
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk/lilac: bump to 2.01
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 2.05
  .github/workflows/zephyr-build.yml
Labels: workflow

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
