Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: lotus: bump to v4.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

ap_pwrseq: Control sleep flag when AP entry and exit S0
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_sm_handler.c
Labels: none

ruby: Modify ec_soc_int_odl to open drain
  zephyr/program/fatcat/ruby/gpios.dtsi
  zephyr/program/fatcat/ruby/overlay.dtsi
Labels: none

zephyr: cros_system: add et171 driver
  zephyr/drivers/cros_system/CMakeLists.txt
  zephyr/drivers/cros_system/Kconfig
  zephyr/drivers/cros_system/cros_system_et171.c
Labels: none

ectool: Fix frame size calculation for non-byte-aligned BPP
  util/ectool.cc
Labels: none

zephyr: support jedec,spi-nor for RISC-V
  zephyr/shim/include/config_chip.h
Labels: none

battery: Add new battery L25B4PK5
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/byd,l25b4pk5.yaml
Labels: none

kodkod: Initial Zephyr EC image
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/CMakeLists.txt
  zephyr/program/ocelot/Kconfig
  zephyr/program/ocelot/kodkod/CMakeLists.txt
  zephyr/program/ocelot/kodkod/adc.dtsi
  zephyr/program/ocelot/kodkod/battery.dtsi
  zephyr/program/ocelot/kodkod/fan.dtsi
  zephyr/program/ocelot/kodkod/gpio.dtsi
  zephyr/program/ocelot/kodkod/i2c.dtsi
  zephyr/program/ocelot/kodkod/keyboard.dtsi
  zephyr/program/ocelot/kodkod/led_pins.dtsi
  zephyr/program/ocelot/kodkod/led_policy.dtsi
  zephyr/program/ocelot/kodkod/power_signals.dtsi
  zephyr/program/ocelot/kodkod/project.conf
  zephyr/program/ocelot/kodkod/project.overlay
  zephyr/program/ocelot/kodkod/src/board_power.c
  zephyr/program/ocelot/kodkod/src/keyboard_customization.c
  zephyr/program/ocelot/kodkod/usba.dtsi
  zephyr/program/ocelot/kodkod/usbc.dtsi
Labels: none

tarkin/phasma: Change keyboard backlight pwm frequency
  zephyr/program/skywalker/tarkin/project.overlay
Labels: none

tarkin/phasma: Optimize the touchpanel power-up sequence during boot
  zephyr/program/skywalker/tarkin/src/board_touchpanel.c
Labels: none

shim: add HOOK_TICK config
  zephyr/Kconfig
  zephyr/shim/src/hooks.c
Labels: none

system: add a new host command to enter bootloader
  common/system.c
  include/ec_cmd_api.h
  include/ec_commands.h
  include/system.h
  zephyr/Kconfig.system
  zephyr/test/drivers/host_cmd/CMakeLists.txt
  zephyr/test/drivers/host_cmd/src/enter_bootloader.c
  zephyr/test/drivers/testcase.yaml
Labels: common

kconfig: replace deprecated Kconfig with UART_NATIVE_PTY_0_ON_STDINOUT
  zephyr/README.md
  zephyr/program/dev/prj.conf
  zephyr/test/amd/prj.conf
  zephyr/test/ap_power/prj.conf
  zephyr/test/console/console_output.conf
  zephyr/test/drivers/prj.conf
  zephyr/test/fingerprint/algorithm/api/prj.conf
  zephyr/test/fingerprint/drivers/egis630/prj.conf
  zephyr/test/fingerprint/drivers/fpc1025/prj.conf
  zephyr/test/fingerprint/drivers/fpc1145/prj.conf
  zephyr/test/fingerprint/task/prj.conf
  zephyr/test/geralt/prj.conf
  zephyr/test/hostcmd_console/prj.conf
  zephyr/test/krabby/prj.conf
  zephyr/test/mtk_power/prj.conf
  zephyr/test/pdc/prj.conf
  zephyr/test/qcom_power/prj.conf
  zephyr/test/rex/boards/rex/prj.conf
  zephyr/test/throttle_ap/prj.conf
Labels: none

kaladin: Enable DSP comms service for lid angle
  zephyr/program/trulo/kaladin/project.conf
Labels: none

battery: Add new battery L25N4PK5
  zephyr/dts/bindings/battery/atl,l25n4pk5.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
Labels: none

Quartz: Changing BL_OFF_ODL to OD and INIT_LOW
  zephyr/program/bluey/quartz/gpios.dtsi
Labels: none

ocelot-npcx: modify PCH PWR OK gpio declaration
  zephyr/program/ocelot/ocelotrvp-npcx/power_signals.dtsi
Labels: none

extra: Remove extra/pdc/pdc_fwup.py (script has moved)
  extra/pdc/pdc_fwup.py
Labels: none

lapis: add missing gpio
  zephyr/program/fatcat/lapis/gpios.dtsi
Labels: none

sapphire: Modify WLC power control
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: none

power/mt8186: allow boot on AC insert from hibernate
  power/mt8186.c
  zephyr/test/krabby/src/power_seq.c
Labels: none

keyboard_8042: add override code functionality
  common/keyboard_8042.c
  include/keyboard_protocol.h
  test/kb_8042.c
Labels: common

keyboard_8042: add fn key support
  common/keyboard_8042.c
  common/keyboard_8042_fn.c
  zephyr/CMakeLists.txt
  zephyr/Kconfig.keyboard
  zephyr/dts/bindings/input/cros-ec,fn-keys.yaml
  zephyr/include/dt-bindings/kbd.h
Labels: common

keyboard_8042_fn: process Fn key if no other function keys are pressed
  common/keyboard_8042_fn.c
Labels: common

tests: add tests for keyboard_fn
  zephyr/test/keyboard_fn/CMakeLists.txt
  zephyr/test/keyboard_fn/boards/native_sim.overlay
  zephyr/test/keyboard_fn/prj.conf
  zephyr/test/keyboard_fn/src/main.c
  zephyr/test/keyboard_fn/testcase.yaml
Labels: none

docs: keyboard: add a fn configuration example
  docs/zephyr/zephyr_keyboard.md
Labels: none

ponyta360: add 65W adapter
  zephyr/program/corsola/ponyta/project.conf
Labels: none

tanjiro: change gpio init state
  zephyr/program/tanjiro/generated.dtsi
Labels: none

fwk: fix power on AC attach requiring OS boot to take effect
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

power/qcom_exp: Update warm reset flow
  power/qcom_exp.c
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/program/bluey/bluey/gpios.dtsi
  zephyr/program/bluey/quartz/gpios.dtsi
  zephyr/program/bluey/quenbi/gpios.dtsi
Labels: none

util/build.mk: Remove unncecessary linker dependencies from stm32mon
  util/build.mk
Labels: none

util/build.mk: Build static version of stm32mon
  util/build.mk
Labels: none

ap_pwrseq: handle PCH PWR OK during force shutdown
  zephyr/program/ocelot/src/rvp_board_power.c
Labels: none

zephyr: console: Add config to share H2RAM gap for console buffer
  zephyr/Kconfig.console
  zephyr/shim/src/console_buffer.c
Labels: none

fwk: dogwood: bump to v3.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

util/build.mk: Put each host util on its own line
  util/build.mk
Labels: none

kaladin: initial vif
  zephyr/program/trulo/kaladin/kaladin_vif.xml
Labels: none

pdc:test: add no_3a_port test in src_policy
  include/usb_pd.h
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/prj.conf
  zephyr/test/pdc/src/pdc_policy/src_policy_3a_port.c
  zephyr/test/pdc/src/pdc_policy/src_policy_common.c
  zephyr/test/pdc/src/pdc_policy/src_policy_common.h
  zephyr/test/pdc/src/pdc_policy/src_policy_no_3a_port.c
  zephyr/test/pdc/testcase.yaml
Labels: none

pdc: add an new INIT_SET_SRC_PDOS state
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

Pujjoga: Supports higher system clock frequency of 40MHz
  zephyr/program/nissa/pujjoga/project.conf
  zephyr/program/nissa/pujjoga/project.overlay
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
