Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

Add #line to usbc_config.c
  zephyr/program/rex/src/usbc_config.c
Labels: none

test: Support buccaneer power utilization testing
  test/run_device_tests.py
Labels: none

pdc: ti: Fix incorrect interrupt reading
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

Revert "Reland: "common: Enable SRAM MPU protection on helipilot""
  baseboard/helipilot/build.mk
  common/main.c
  core/cortex-m/include/mpu.h
  core/cortex-m/mpu.c
  test/build.mk
  test/run_device_tests.py
  test/sram_mpu_protection.c
  test/sram_mpu_protection.tasklist
Labels: common, baseboard

rauru: Enable lid accelerometer interrupt
  zephyr/program/rauru/rauru/project.overlay
Labels: none

rauru: Fix sensor matrices
  zephyr/program/rauru/rauru/project.overlay
Labels: none

rauru: Enable tablet mode switch
  zephyr/program/rauru/rauru/project.conf
Labels: none

rauru: Limit sensor speed
  zephyr/program/rauru/rauru/project.conf
Labels: none

pdc_tps6699x: Clear interrupts in suspend state
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

awasuki: Delay powerbtn init timeout to 2s
  board/awasuki/board.h
Labels: none

Veluza: fix led cannot be controlled by ectool in low battery mode
  zephyr/program/corsola/veluza/src/led.c
Labels: none

zephyr: npcx: change the default memory configuration of npcx9m7fb
  zephyr/app/ec/chip/arm/nuvoton_npcx/Kconfig.npcx9
  zephyr/boards/google/npcx9/npcx9_npcx9m7fb.dts
Labels: none

pujjoga: Add schedule_deferred_pd_interrupt in nct38xx_init
  zephyr/program/nissa/pujjoga/src/usbc.c
Labels: none

Kconfig.defaults: enable I2C_ALLOW_NO_STOP_TRANSACTIONS by default
  zephyr/Kconfig.defaults
Labels: none

test/run_device_tests.py: Pass correct arguments to fp_sensor_sel
  test/run_device_tests.py
Labels: none

test/run_device_tests.py: Work around hang on exit
  test/run_device_tests.py
Labels: none

test/run_device_tests.py: Add ability to skip tests on a platform
  test/run_device_tests.py
Labels: none

brya: reduce USB_PD_INT_STORM_MAX
  baseboard/brya/baseboard.h
Labels: baseboard

kanix: Initial Zephyr EC image
  bazel/all_targets.generated.bzl
  zephyr/program/rex/BUILD.py
  zephyr/program/rex/CMakeLists.txt
  zephyr/program/rex/Kconfig
  zephyr/program/rex/kanix/CMakeLists.txt
  zephyr/program/rex/kanix/battery.dtsi
  zephyr/program/rex/kanix/cbi.dtsi
  zephyr/program/rex/kanix/i2c.dtsi
  zephyr/program/rex/kanix/include/usb_mux_config.h
  zephyr/program/rex/kanix/keyboard.dtsi
  zephyr/program/rex/kanix/led_pins.dtsi
  zephyr/program/rex/kanix/led_policy.dtsi
  zephyr/program/rex/kanix/motionsense.dtsi
  zephyr/program/rex/kanix/project.conf
  zephyr/program/rex/kanix/project.overlay
  zephyr/program/rex/kanix/src/charger.c
  zephyr/program/rex/kanix/src/i2c_policy.c
  zephyr/program/rex/kanix/src/keyboard.c
  zephyr/program/rex/kanix/src/touch_panel.c
  zephyr/program/rex/kanix/src/usb_mux_config.c
  zephyr/program/rex/kanix/src/usbc_config.c
  zephyr/program/rex/kanix/temp_sensors.dtsi
  zephyr/test/rex/CMakeLists.txt
  zephyr/test/rex/Kconfig
  zephyr/test/rex/boards/kanix/chargers.dtsi
  zephyr/test/rex/boards/kanix/kanix.dtsi
  zephyr/test/rex/boards/kanix/touch.dtsi
  zephyr/test/rex/boards/kanix/usbc.dtsi
  zephyr/test/rex/testcase.yaml
  zephyr/test/rex/tests/kanix/CMakeLists.txt
  zephyr/test/rex/tests/kanix/src/charger.c
  zephyr/test/rex/tests/kanix/src/i2c_policy.c
  zephyr/test/rex/tests/kanix/src/keyboard.c
  zephyr/test/rex/tests/kanix/src/touch_panel.c
  zephyr/test/rex/tests/kanix/src/usb_config.c
Labels: none

zmake: uprade vpython spec to 3.11
  zephyr/zmake/.vpython3
  zephyr/zmake/zmake/output_packers.py
Labels: none

zmake: update README.md
  zephyr/zmake/README.md
Labels: none

ptlrvp: Gpio Pin Indication to Soc for CSE early RO RW jump
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/src/board_power.c
Labels: none

ptlrvp_npcx: Configuration of cse_early_rec_sw signal
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/include/board.h
Labels: none

test/run_device_tests.py: Remove multiple flash attempts
  test/run_device_tests.py
Labels: none

pdc_power_mgmt: Test get_pid/vid/product_type
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

Run ECOS tests with gcc, not clang
  zephyr/Makefile.cq
Labels: none

host_sleep: add mutex to protect sleep_transition_timeout
  power/host_sleep.c
Labels: none

driver/fingerprint/elan: Fixed crash when no sensor connected
  driver/fingerprint/elan/elan_private.c
Labels: none

test: expand the variance of buccaneer fp sensor
  test/run_device_tests.py
Labels: none

test/pdc/ppm: Add holistic TEST_SUITE_PPM
  zephyr/test/pdc/CMakeLists.txt
  zephyr/test/pdc/Kconfig
  zephyr/test/pdc/src/generic/ppm.c
  zephyr/test/pdc/testcase.yaml
Labels: none

test/fpsensor_crypto.cc: Use heap instead of stack for large buffer
  test/fpsensor_crypto.cc
  zephyr/test/hwtest/src/fpsensor_crypto.cc
Labels: none

ec: Fix coverage builds
  Makefile.toolchain
Labels: repo

zephyr: cros_shi: npcx: npcx9m7fb: workaround CS detection
  zephyr/drivers/cros_shi/Kconfig
  zephyr/drivers/cros_shi/cros_shi_npcx.c
Labels: none

pdc_power_mgmt: Send read power level when SNK
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

common/fpsensor: Remove unused headers in fpsensor_debug.cc
  common/fpsensor/fpsensor_debug.cc
Labels: common

fpsensor: Declare fpmatch as a restricted console command
  common/fpsensor/fpsensor_debug.cc
  test/restricted_console.c
Labels: common

Revert "Run ECOS tests with gcc, not clang"
  zephyr/Makefile.cq
Labels: none

ptlrvp: Enable Lid switch
  zephyr/program/intelrvp/ptlrvp/interrupts.dtsi
  zephyr/program/intelrvp/ptlrvp/program.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/gpio.dtsi
  zephyr/program/intelrvp/ptlrvp/ptlrvp_npcx/gpio.dtsi
Labels: none

ptlrvp: Add LED policy
  zephyr/program/intelrvp/ptlrvp/led_pins.dtsi
  zephyr/program/intelrvp/ptlrvp/led_policy.dtsi
Labels: none

trulo: add cbi support
  zephyr/program/trulo/cbi.dtsi
  zephyr/program/trulo/program.conf
  zephyr/program/trulo/trulo/project.overlay
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
