Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fwk: ucsi: modified the condition to avoid the wrong pointer
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: do not process the ucsi if no active pd chip
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: don't resend the ucsi command if not enable the notification
  zephyr/program/framework/src/ucsi.c
Labels: none

volteer: Enable panic log in place of system safe mode
  baseboard/volteer/baseboard.h
  board/delbin/board.h
Labels: baseboard

fwk: sakura: enable the PD EPR mode
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/sakura/project.conf
  zephyr/program/framework/sakura/src/cpu_power.c
Labels: none

fwk: cypd use charger_discharge_on_ac
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: bump to v0.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

matsu_it82000: Create a matsu variant for IT82000
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/matsu/it82000.overlay
Labels: none

battery: add new battery atc,atc
  zephyr/dts/bindings/battery/atc,atc.yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/vendor-prefixes.txt
Labels: none

mt8186: disable WDT
  zephyr/program/skywalker/interrupts.dtsi
  zephyr/program/skywalker/src/hooks.c
Labels: none

kodama: reduce bitbang failrate
  board/kodama/board.h
Labels: none

led: Refactor led_pins_node_t to use a generic pointer
  zephyr/shim/src/led_driver/led.h
  zephyr/shim/src/led_driver/led_gpio.c
  zephyr/shim/src/led_driver/led_pwm.c
  zephyr/test/drivers/led_driver/src/led.c
Labels: none

zephyr: risc-v: make ARCH_IRQ_VECTOR_TABLE_ALIGN constant
  zephyr/app/ec/chip/riscv/riscv-ite/Kconfig.it8xxx2
  zephyr/app/ec/chip/riscv/riscv-ite/Kconfig.ite
Labels: none

fpsensor: Use early return for fp_acquire_image failure
  common/fpsensor/fpsensor.cc
Labels: common

fpsensor: Fix signed/unsigned comparison in FpFrameSizeCache
  common/fpsensor/fpsensor_frame_size.cc
Labels: common

Revert "Ambassador: Enable EC-based watchdog"
  board/ambassador/board.h
  board/genesis/board.h
  board/moonbuggy/board.h
  board/scout/board.h
Labels: none

led: Align validation script with led_pins label
  zephyr/scripts/led_policy.py
Labels: none

fingerprint: Correct FPC sensor frame size in DTS files
  zephyr/program/fpmcu/bloonchipper/bloonchipper.dts
  zephyr/program/fpmcu/helipilot/helipilot.dts
Labels: none

ruby-ish: Add ISH target for ruby
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/ruby-ish/gpio.dtsi
  zephyr/program/fatcat/ruby-ish/i2c.dtsi
  zephyr/program/fatcat/ruby-ish/ish.dtsi
  zephyr/program/fatcat/ruby-ish/motionsense.dtsi
  zephyr/program/fatcat/ruby-ish/project.conf
  zephyr/program/fatcat/ruby-ish/project.overlay
Labels: none

uldrino: Add condition for board version
  zephyr/program/trulo/uldrenite/src/mp2964_update.c
Labels: none

lapis: Correct CSE early recovery switch configuration
  zephyr/program/fatcat/lapis/gpios.dtsi
Labels: none

power/qcom_exp: Ignore transient AC_PRESENT toggle during switchcap toggle
  power/qcom_exp.c
Labels: none

fwk: tulip: resume from suspend can enter epr mode
  zephyr/program/framework/src/cypd_ccg8.c
Labels: none

fwk: tulip: bump to v3.0.4
  .github/workflows/zephyr-build.yml
Labels: workflow

usbpd: Call pd_dpm_request for data role swap host cmd on TCPMv2
  common/usb_pd_host_cmd_common.c
Labels: common

test: vivaldi_kbd: add missing codes
  zephyr/test/vivaldi_kbd/src/main.c
Labels: none

skyrim: Enable Panic Log in place of System Safe Mode
  zephyr/program/skyrim/program.conf
Labels: none

anakin: Limit input charge current
  zephyr/program/skywalker/anakin/CMakeLists.txt
  zephyr/program/skywalker/anakin/src/charger.c
Labels: none

skywalker: Initial zephyr config for dooku
  zephyr/program/skywalker/BUILD.py
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/Kconfig
  zephyr/program/skywalker/dooku/CMakeLists.txt
  zephyr/program/skywalker/dooku/cbi.dtsi
  zephyr/program/skywalker/dooku/include/keyboard_customization.h
  zephyr/program/skywalker/dooku/led_pins.dtsi
  zephyr/program/skywalker/dooku/led_policy.dtsi
  zephyr/program/skywalker/dooku/motionsense.dtsi
  zephyr/program/skywalker/dooku/project.conf
  zephyr/program/skywalker/dooku/project.overlay
  zephyr/program/skywalker/dooku/src/charger.c
  zephyr/program/skywalker/dooku/src/keyboard.c
  zephyr/program/skywalker/dooku/src/sensor.c
  zephyr/program/skywalker/dooku/src/thermal.c
  zephyr/program/skywalker/dooku/src/touch_panel.c
Labels: none

Dooku: remove unused USBC device tree
  zephyr/program/skywalker/dooku/project.conf
  zephyr/program/skywalker/dooku/project.overlay
Labels: none

Dooku: update battery, keyboard and temp sensor setting
  zephyr/program/skywalker/dooku/project.overlay
  zephyr/program/skywalker/dooku/src/keyboard.c
Labels: none

Dooku: remove motionsense and tablet function
  zephyr/program/skywalker/dooku/CMakeLists.txt
  zephyr/program/skywalker/dooku/motionsense.dtsi
  zephyr/program/skywalker/dooku/project.conf
  zephyr/program/skywalker/dooku/project.overlay
  zephyr/program/skywalker/dooku/src/sensor.c
Labels: none

Dooku: Update LED behavior
  zephyr/program/skywalker/dooku/CMakeLists.txt
  zephyr/program/skywalker/dooku/led_pins.dtsi
  zephyr/program/skywalker/dooku/led_policy.dtsi
  zephyr/program/skywalker/dooku/project.conf
  zephyr/program/skywalker/dooku/project.overlay
  zephyr/program/skywalker/dooku/src/led.c
Labels: none

Dooku: Implement power signal en_pwr_s3 control
  zephyr/program/skywalker/dooku/project.overlay
Labels: none

Dooku: Add keyboard backlight control
  zephyr/program/skywalker/dooku/cbi.dtsi
  zephyr/program/skywalker/dooku/project.overlay
  zephyr/program/skywalker/dooku/src/keyboard.c
Labels: none

tanjiro: Add hibernate mode setting
  zephyr/program/tanjiro/CMakeLists.txt
  zephyr/program/tanjiro/overlay.dtsi
  zephyr/program/tanjiro/src/hibernate.c
Labels: none

sapphire: enable nfc ctn730 function
  zephyr/program/tanjiro/sapphire/CMakeLists.txt
  zephyr/program/tanjiro/sapphire/project.conf
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: none

ocelot: Enable the button EC console command
  zephyr/program/ocelot/matsu/project.conf
  zephyr/program/ocelot/program.conf
Labels: none

pdc: tps6699x: Add support for GET_CURRENT_CAM
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_pdc.h
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/tps6699x/tps6699x.c
Labels: none

Add EC_FEATURE_CHARGER_HYBRID_POWER_BOOST
  common/ec_features.c
  include/ec_commands.h
Labels: common

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
