Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

cme: make components without compatibles output error
  zephyr/dts/bindings/usbc/mux/analogix,usbc-mux-anx7447.yaml
  zephyr/dts/bindings/usbc/mux/cros-ec,usbc-mux-virtual.yaml
  zephyr/dts/bindings/usbc/ppc/aoz,aoz1380.yaml
  zephyr/scripts/cme.py
Labels: none

driver/fingerprint/egis: remove unused fp_sensor_lock/fp_sensor_unlock
  driver/fingerprint/egis/egis_private.c
Labels: none

nds32: Handle debug exception (DEX) mode
  core/nds32/cpu.h
  core/nds32/task.c
Labels: none

boten/bookem: disable debug features to improve stability
  board/boten/board.h
Labels: none

Require BUILD.py changes to use full CQ
  util/cq-excludes/check.go
Labels: none

hylia: add heuristics before trying power swap
  zephyr/program/rauru/src/hooks.c
Labels: none

zephyr: cmake: clang: Add workaround for missing _GNU_SOURCE
  zephyr/cmake/compiler/clang/compiler_flags.cmake
Labels: none

pdc: Rename TI FW update console command to `pdc fwup_ti`
  zephyr/subsys/pd_controller/pdc_console.c
Labels: none

zephyr: cmake: clang: Add workaround for incorrect C++ header search path
  zephyr/cmake/compiler/clang/compiler_flags.cmake
Labels: none

pdc: rts54xx: fix notifying of busy status for the first time
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

test/run_device_tests: increase bloonchipper reboot time
  test/run_device_tests.py
Labels: none

driver/fingerprint/egis: remove unused debug callback definition
  driver/fingerprint/egis/platform/inc/plat_log.h
Labels: none

kinmen: Initial Zephyr EC image
  zephyr/program/fatcat/BUILD.py
  zephyr/program/fatcat/CMakeLists.txt
  zephyr/program/fatcat/Kconfig
  zephyr/program/fatcat/kinmen/adc.dtsi
  zephyr/program/fatcat/kinmen/binman.dtsi
  zephyr/program/fatcat/kinmen/console.dtsi
  zephyr/program/fatcat/kinmen/fan.dtsi
  zephyr/program/fatcat/kinmen/gpios.dtsi
  zephyr/program/fatcat/kinmen/i2c.dtsi
  zephyr/program/fatcat/kinmen/include/board.h
  zephyr/program/fatcat/kinmen/interrupts.dtsi
  zephyr/program/fatcat/kinmen/power_signals.dtsi
  zephyr/program/fatcat/kinmen/project.conf
  zephyr/program/fatcat/kinmen/project.overlay
  zephyr/program/fatcat/kinmen/pwm.dtsi
  zephyr/program/fatcat/kinmen/src/board_power.c
  zephyr/program/fatcat/kinmen/src/hibernate.c
  zephyr/program/fatcat/kinmen/usb_typec.dtsi
Labels: none

intelrvp: delete mtlrvpp_pd project
  util/flash_ec
  zephyr/program/intelrvp/BUILD.py
  zephyr/program/intelrvp/Kconfig
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_pd/gpio.dts
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_pd/pd_i2c.dts
  zephyr/program/intelrvp/mtlrvp/mtlrvpp_pd/prj.conf
Labels: none

pdc: ti: Implement pdc_get_sbu_mux_mode() / pdc_set_sbu_mux_mode()
  zephyr/drivers/usbc/pdc_tps6699x.c
  zephyr/drivers/usbc/tps6699x_cmd.c
  zephyr/drivers/usbc/tps6699x_cmd.h
  zephyr/drivers/usbc/tps6699x_reg.h
  zephyr/emul/emul_tps6699x.c
  zephyr/include/emul/emul_tps6699x.h
  zephyr/test/pdc/src/generic/pdc_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

ptlrvp: fatcat: Enable PDC-driven CCD
  zephyr/program/intelrvp/ptlrvp/pd.conf
Labels: none

trulo-ti: VIF Updates
  zephyr/program/trulo/trulo-ti/trulo-ti_vif.xml
Labels: none

skywalker: fix GPIO54 pinctrl
  zephyr/program/skywalker/npcx_default_gpio_pinctrl.dtsi
  zephyr/program/skywalker/skywalker/project.overlay
Labels: none

banshee: Increase OCP threshold to 5.5A
  board/banshee/board.h
Labels: none

extra: Add Python script for console-based RTK PDC FW update
  extra/pdc/pdc_fwup.py
Labels: none

francka: remove the fan enable_gpio
  zephyr/program/fatcat/francka/thermal.dtsi
Labels: none

ccg8: remove driver
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/Kconfig
  zephyr/drivers/usbc/pdc_ccg8.c
  zephyr/dts/bindings/usbc/pd/infineon,ccg8.yaml
Labels: none

pdc: rts5453: Move some constants and utility functions into header
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/drivers/usbc/pdc_rts54xx.h
Labels: none

coreboot-sdk: Provide mechanism for staging riscv64 architecture
  util/coreboot_sdk.py
Labels: none

mchp: Remove bbram access for SW sync
  zephyr/shim/chip/mchp/system_external_storage.c
Labels: none

felino: wait the PWR_ALL_SYS_PWRGD in board s3_run
  zephyr/program/fatcat/felino/src/board_power.c
Labels: none

kanix: Update fan table
  zephyr/program/rex/kanix/project.overlay
  zephyr/test/rex/boards/kanix/kanix.dtsi
  zephyr/test/rex/tests/kanix/src/fan.c
Labels: none

chip/npcx: Clear pending watchdog warning interrupt before enable
  chip/npcx/watchdog.c
Labels: none

pdc: rts5453: Add console-based PDC FW update mechanism
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/Kconfig
  zephyr/drivers/usbc/pdc_rts54xx_fwup.c
Labels: none

ec_commands: Reorder fp_image_frame_params members for alignment
  include/ec_commands.h
Labels: none

charge_manager: Make sure charge_manager_refresh runs to completion
  common/charge_manager.c
Labels: common

ptlrvp: Change LED policy
  zephyr/program/intelrvp/ptlrvp/led_policy.dtsi
Labels: none

config: Resolve name conflict with Zephyr
  baseboard/intelrvp/adlrvp.h
  baseboard/kukui/battery_smart.c
  board/adlrvpp_mchp1727/board.c
  board/banshee/board.h
  board/bellis/board.h
  board/burnet/board.h
  board/cerise/board.h
  board/damu/board.h
  board/drawcia/board.h
  board/fennel/board.h
  board/jacuzzi/board.h
  board/kappa/board.h
  board/kodama/board.h
  board/makomo/board.h
  board/munna/board.h
  board/stern/board.h
  board/willow/board.h
  board/xol/board.h
  common/build.mk
  common/i2c_controller.c
  common/i2c_controller_cros_ec.c
  common/main.c
  include/config.h
  include/i2c.h
  include/i2c_bitbang.h
  test/test_config.h
  util/config_allowed.txt
Labels: common, baseboard

ptlrvp_mchp: Enable HW accelerator SHA engine
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.conf
  zephyr/program/intelrvp/ptlrvp/ptlrvp_mchp/project.overlay
Labels: none

ish: Enable CBI get host command
  common/cbi.c
  common/cbi_common.c
  zephyr/drivers/dsp_comms/client/remote_cbi.c
Labels: common

ap_power: Convert AP events to bitmask
  zephyr/include/ap_power/ap_power.h
  zephyr/subsys/ap_pwrseq/ap_events.c
Labels: none

npcx_monitor: Skip the hash check for the llvm toolchain
  zephyr/shim/chip/npcx/npcx_monitor/check_hash.cmake
Labels: none

zephyr/coreboot-sdk: Configure CMAKE variables for riscv64 arch
  zephyr/cmake/toolchain/coreboot-sdk/target.cmake
Labels: none

brox-tokenized: Enable EC console-based PDC FW updater
  zephyr/program/brox/brox-tokenized/project.conf
Labels: none

zephyr: mchp: Switch kconfig
  zephyr/boards/google/mec172x/mec172x_mec172x_nsz_mec1727_defconfig
Labels: none
