Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

sapphire: Enable stylus AC S5 charge function
  zephyr/program/tanjiro/sapphire/project.conf
Labels: none

zephyr: chip: add support for Focaltech FT9001 chip
  zephyr/Kconfig
  zephyr/Kconfig.flash
  zephyr/app/ec/chip/arm/focaltech/Kconfig.focaltech
  zephyr/include/cros/ft/ft.dtsi
  zephyr/shim/chip/CMakeLists.txt
  zephyr/shim/chip/ft90/CMakeLists.txt
  zephyr/shim/chip/ft90/Kconfig.ft90
  zephyr/shim/chip/ft90/clock.c
  zephyr/shim/chip/ft90/enter_bootloader.c
  zephyr/shim/chip/ft90/include/flash_chip.h
Labels: none

Revert "Grogu: Modify SRC PDO setting"
  zephyr/program/skywalker/grogu/cbi.dtsi
  zephyr/program/skywalker/grogu/project.conf
  zephyr/program/skywalker/grogu/src/usbc.c
Labels: none

fwk: kblight: do not enable backlight when the system is in S5 state
  common/keyboard_backlight.c
Labels: common

lapis: Disable sleep function
  zephyr/program/fatcat/lapis/src/board.c
Labels: none

quenbi: Update fan parameters based on datasheet
  zephyr/program/bluey/quenbi/fan.dtsi
Labels: none

watchdog: Add host command to query watchdog info
  include/ec_commands.h
  util/ectool.cc
  zephyr/Kconfig.watchdog
  zephyr/shim/src/watchdog.c
  zephyr/test/drivers/default/prj.conf
  zephyr/test/drivers/default/src/watchdog.c
Labels: none

ec: Update fingerprint release script for ec-legacy
  util/renode/firmware_builder.py
  util/update_release_branch.py
Labels: none

redrix: increase the watchdog period to 2.7s
  board/redrix/board.h
Labels: none

fwk: cypd: wait for all PD chips to initialize before status update
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: stop communication if reading PD device mode fail
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: cypd: HPI command cannot be issued when the PD chip is in the boot mode
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: bump to v1.0.2
  .github/workflows/zephyr-build.yml
Labels: workflow

intelrvp: Move common code to the program dir
  baseboard/intelrvp/README.md
  baseboard/intelrvp/adlrvp.c
  baseboard/intelrvp/adlrvp.h
  baseboard/intelrvp/adlrvp_battery.c
  baseboard/intelrvp/adlrvp_ioex_gpio.inc
  baseboard/intelrvp/baseboard.c
  baseboard/intelrvp/baseboard.h
  baseboard/intelrvp/build.mk
  baseboard/intelrvp/ite_ec.c
  baseboard/intelrvp/ite_ec.h
  baseboard/intelrvp/led.c
  baseboard/intelrvp/led_states.c
  baseboard/intelrvp/led_states.h
  baseboard/intelrvp/mchp_ec.c
  baseboard/intelrvp/mchp_ec.h
  baseboard/intelrvp/npcx_ec.c
  baseboard/intelrvp/npcx_ec.h
  zephyr/program/intelrvp/CMakeLists.txt
  zephyr/program/intelrvp/src/chg_usb_pd.c
  zephyr/program/intelrvp/src/chg_usb_pd_mecc_1_0.c
  zephyr/program/intelrvp/src/usb_pd_policy_mecc_1_0.c
Labels: baseboard

battery: Capture and print manufacture date
  common/battery.c
  common/battery_info.c
  common/mock/battery_mock.c
  include/battery.h
Labels: common

battery: Update BATTERY_GET_STATIC host command
  common/battery_info.c
  include/ec_commands.h
Labels: common

Brya: Fix PD3 Discover Identity VDO count for non-TBT response
  baseboard/brya/usb_pd_policy.c
Labels: baseboard

pujjolo: Support alt led control
  zephyr/program/trulo/pujjolo/CMakeLists.txt
  zephyr/program/trulo/pujjolo/led_policy.dtsi
  zephyr/program/trulo/pujjolo/src/led.c
Labels: none

zephyr: fpmcu: add niedzica project
  zephyr/cmake/toolchain/llvm/target.cmake
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/CMakeLists.txt
  zephyr/program/fpmcu/Kconfig
  zephyr/program/fpmcu/em32f967/CMakeLists.txt
  zephyr/program/fpmcu/em32f967/dev_key.pem
  zephyr/program/fpmcu/em32f967/gpio.dtsi
  zephyr/program/fpmcu/em32f967/niedzica.dts
  zephyr/program/fpmcu/em32f967/prj.conf
  zephyr/program/fpmcu/em32f967/rwsig.dtsi
  zephyr/program/fpmcu/em32f967/soc.dtsi
  zephyr/program/fpmcu/em32f967/src/platform.c
  zephyr/zmake/zmake/modules.py
Labels: none

pdc: Add `pdc dump` console command
  zephyr/subsys/pd_controller/pdc_console.c
  zephyr/test/pdc/src/generic/pdc_console.c
  zephyr/test/pdc/testcase.yaml
Labels: none

matsu: Updated i2c data-hold-time
  zephyr/program/ocelot/matsu/i2c.dtsi
Labels: none

led: Move auto-control check for efficiency
  zephyr/shim/src/led_driver/led.c
Labels: none

led: Refactor pattern update logic
  zephyr/shim/src/led_driver/led.c
Labels: none

ec: Switch away from using bazel in Make
  Makefile
  util/coreboot_sdk.py
Labels: repo

ec_commands: Add guard around include
  include/ec_commands.h
Labels: none

obiwan: Set CONFIG_PDC_POWER_MGMT_SRC_PDO_PEAK_OCP_110
  zephyr/program/skywalker/obiwan/project.conf
Labels: none

led: add color magenta to the led and ectool
  include/ec_commands.h
  util/ectool.cc
  zephyr/include/drivers/led.h
  zephyr/program/intelrvp/adlrvp/adlrvp_npcx/pwm_leds.dts
  zephyr/program/nissa/craask/pwm_leds.dtsi
  zephyr/program/nissa/joxer/pwm_leds.dtsi
  zephyr/program/nissa/nereid/pwm_leds.dtsi
  zephyr/program/nissa/nivviks/pwm_leds.dtsi
  zephyr/program/nissa/nokris/pwm_leds.dtsi
  zephyr/program/nissa/riven/pwm_leds.dtsi
  zephyr/program/nissa/sundance/pwm_leds.dtsi
  zephyr/shim/src/pwm_led.c
Labels: none

zephyr: Add shared driver for CSE early recovery GPIO
  zephyr/drivers/CMakeLists.txt
  zephyr/drivers/Kconfig
  zephyr/drivers/cse_early_rec/CMakeLists.txt
  zephyr/drivers/cse_early_rec/Kconfig
  zephyr/drivers/cse_early_rec/cse_early_rec.c
  zephyr/dts/bindings/cse_early_rec/cros-ec,cse-early-rec.yaml
Labels: none

zephyr: test: Add tests for CSE early recovery GPIO driver
  zephyr/test/ap_power/Kconfig
  zephyr/test/ap_power/boards/native_sim.overlay
  zephyr/test/ap_power/src/ap_pwrseq.c
  zephyr/test/ap_power/testcase.yaml
Labels: none

battery: add cutoff retry mechanism
  common/battery.c
  include/config.h
  zephyr/Kconfig.battery
  zephyr/shim/include/config_chip.h
Labels: common

ocicat: Update GPIO and remove the unused pin
  zephyr/program/ocelot/ocicat/generated.dtsi
Labels: none

led: Support runtime-assigned custom LED patterns
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/led_driver/CMakeLists.txt
  zephyr/test/drivers/led_driver/led_policy_sequence.dts
  zephyr/test/drivers/led_driver/src/led_custom.c
  zephyr/test/drivers/testcase.yaml
Labels: none

led: Add preemption and thread safety to custom patterns
  zephyr/shim/src/led_driver/led.c
  zephyr/test/drivers/led_driver/led_policy_sequence.dts
  zephyr/test/drivers/led_driver/src/led_custom.c
Labels: none

moonstone: Set EC_ISH_INT_ODL to open drain
  zephyr/program/fatcat/moonstone/gpios.dtsi
  zephyr/program/fatcat/moonstone/i2c.dtsi
Labels: none

moonstone: Decouple interrupts.dtsi from kinmen
  zephyr/program/fatcat/moonstone/interrupts.dtsi
  zephyr/program/fatcat/moonstone/project.overlay
Labels: none

moonstone: Add support for GMR sensor and tablet mode
  zephyr/program/fatcat/moonstone/gpios.dtsi
  zephyr/program/fatcat/moonstone/interrupts.dtsi
  zephyr/program/fatcat/moonstone/project.conf
Labels: none

dsp_comms: Add support UFSC fetching
  zephyr/drivers/dsp_comms/client/dsp_client.c
  zephyr/drivers/dsp_comms/proto/ec_dsp.options
  zephyr/drivers/dsp_comms/proto/ec_dsp.proto
  zephyr/drivers/dsp_comms/service/dsp_service.cc
  zephyr/drivers/dsp_comms/test_comms.cc
Labels: none

moonstone-ish: Import UFSC.
  zephyr/program/fatcat/moonstone-ish/project.overlay
Labels: none

moonstone-ish: Enable tablet mode
  zephyr/program/fatcat/moonstone-ish/project.conf
Labels: none

yoda: Fw_config bit28 to divide clamshell/convertible
  zephyr/program/skywalker/yoda/cbi.dtsi
  zephyr/program/skywalker/yoda/src/sensor.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
