Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

zephyr: fingerprint: adjust ELANI80SA heap and template size for spoof library
  zephyr/drivers/fingerprint/Kconfig.elan
  zephyr/subsys/fingerprint/alg/Kconfig
Labels: none

kyogre: Reduce flash usage
  zephyr/program/corsola/kyogre/project.conf
Labels: none

padme: Modify typec temperature policy
  zephyr/program/skywalker/padme/src/thermal.c
Labels: none

padme: add i2c remote port
  zephyr/program/skywalker/padme/project.overlay
Labels: none

tanjiro: Enable EC button command
  zephyr/program/tanjiro/program.conf
Labels: none

quartz: Remove unused I2C devicetree entries
  zephyr/program/bluey/quartz/i2c.dtsi
Labels: none

ec: Fix broken symlinks
  util/check_zephyr_project_config.py.vpython3
  util/kconfig_check.py.vpython3
  util/kconfig_check_unittest.py.vpython3
Labels: none

matsu: Update gpio configurations
  zephyr/program/ocelot/matsu/gpios.dtsi
Labels: none

Add makefiles to full cq run
  util/cq-excludes/README.md
  util/cq-excludes/check.go
  util/cq-excludes/check_test.go
Labels: none

Fix coverage exclusions for zephyrproject
  zephyr/Makefile.cq
Labels: none

Add preupload check for broken symlinks
  PRESUBMIT.cfg
  util/check_symlinks.py
  util/check_symlinks.py.vpython3
Labels: repo

Deleting um_ppm
  extra/um_ppm/.gitignore
  extra/um_ppm/Makefile
  extra/um_ppm/README.md
  extra/um_ppm/include/pd_driver.h
  extra/um_ppm/include/platform.h
  extra/um_ppm/include/ppm.h
  extra/um_ppm/include/smbus.h
  extra/um_ppm/main.c
  extra/um_ppm/platform_usermode.c
  extra/um_ppm/ppm_common.c
  extra/um_ppm/ppm_common.h
  extra/um_ppm/rts5453.c
  extra/um_ppm/rts5453.h
  extra/um_ppm/rts5453_usermode.c
  extra/um_ppm/smbus_usermode.c
  extra/um_ppm/smbus_usermode.h
  extra/um_ppm/test/Makefile
  extra/um_ppm/test/opm_tests.cc
  extra/um_ppm/test/ppm_tests.cc
  extra/um_ppm/test/run_remote_unit_tests.sh
  extra/um_ppm/um_ppm_chardev.c
  extra/um_ppm/um_ppm_chardev.h
Labels: none

Delete additional legacy tests
  test/build.mk
  test/tablet_broken_sensor.c
  test/tablet_broken_sensor.tasklist
  test/tablet_no_sensor.c
  test/tablet_no_sensor.tasklist
  test/test_config.h
  test/uart.cc
  test/uart.tasklist
  test/usb_common.tasklist
  test/usb_pd.c
  test/usb_pd.tasklist
  test/usb_pd_giveback.tasklist
  test/usb_pd_int.c
  test/usb_pd_int.mocklist
  test/usb_pd_int.tasklist
  test/usb_pd_rev30.tasklist
  test/utils.c
  test/utils.tasklist
  test/utils_str.c
  test/utils_str.tasklist
  util/migrated_files.sh
Labels: none

zephyr: Add nanopb
  zephyr/program/bluey/BUILD.py
  zephyr/program/fatcat/BUILD.py
  zephyr/program/tanjiro/BUILD.py
Labels: none

Omit ec-private tests
  test/build.mk
  test/test_config.h
Labels: none

ec: Update source for dropped ec-legacy
  zephyr/Makefile.cq
  zephyr/firmware_builder.py
Labels: none

tests/virtual_battery: clear BATT_FLAG_LEVEL_CRITICAL in cleanup
  zephyr/test/drivers/default/src/virtual_battery.c
Labels: none

vader: Add LID_ANGLE support
  zephyr/program/skywalker/vader/project.conf
Labels: none

zephyr: Change write_protect_is_asserted to return bool instead of int
  zephyr/drivers/cros_flash/cros_flash_npcx.c
  zephyr/drivers/cros_flash/cros_flash_rtk.c
  zephyr/drivers/cros_flash/cros_flash_xec.c
  zephyr/program/fpmcu/em32f967/src/platform.c
  zephyr/program/fpmcu/et171/src/platform.c
  zephyr/shim/include/zephyr_write_protect.h
  zephyr/test/drivers/write_protection_custom/src/write_protection_custom.c
Labels: none

cutoff: Add battery cutoff retry
  zephyr/program/skywalker/anakin/project.conf
  zephyr/program/skywalker/padme/project.conf
  zephyr/program/skywalker/tarkin/project.conf
Labels: none

dooku: Add temp_5v in temp sensors device tree
  zephyr/program/skywalker/dooku/project.overlay
Labels: none

charger: Add set_acok_ref API
  common/charge_manager.c
  common/charger.c
  driver/charger/isl9241.c
  include/charge_manager.h
  include/charger.h
  zephyr/Kconfig.charger
  zephyr/test/drivers/isl9241/src/isl9241.c
  zephyr/test/drivers/testcase.yaml
Labels: common

pdc: set the charger ACOK reference
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

lapis: Enable CHARGER_SET_ACOKREF
  zephyr/program/fatcat/lapis/project.conf
Labels: none

isl9241: Enable/Disable ADC around setting ACOKREF
  driver/charger/isl9241.c
Labels: none

ec_commands: Fix lightbar_program_ex alignment
  include/ec_commands.h
Labels: none

teliks: Add a new battery support
  zephyr/program/nissa/teliks/overlay.dtsi
Labels: none

zephyr: Remove dangling file
  zephyr/hayato_get_cfg.sh
Labels: none

battery: Define EC_CMD_BATTERY_GET_DYNAMIC v1
  include/ec_cmd_api.h
  include/ec_commands.h
Labels: none

battery: Switch to ec_response_battery_dynamic_info_v1
  common/battery_info.c
  common/virtual_battery.c
  include/battery.h
  zephyr/test/drivers/default/src/virtual_battery.c
  zephyr/test/drivers/host_cmd/src/battery_info.c
Labels: common

battery: Enable BATTERY_GET_DYNAMIC v1
  common/battery_info.c
  zephyr/test/drivers/host_cmd/src/battery_info.c
Labels: common

Move base32 to zephyr
  zephyr/test/base32/CMakeLists.txt
  zephyr/test/base32/src/base32.c
Labels: none

ec: Add copybot to OWNERS files
  common/fpsensor/OWNERS
  include/fpsensor/OWNERS
  test/OWNERS
  util/OWNERS
Labels: common

ocelotrvp-npcx: Enable config for retimer update
  zephyr/program/ocelot/ocelotrvp-npcx/project.conf
Labels: none

fwk:charger: add RAA489000 Buck Phase Threshold Offset register define
  driver/charger/isl923x.h
Labels: none

fwk: sakura: modify charger buck phase threshold offset register
  zephyr/program/framework/sakura/src/charger.c
Labels: none

fwk: sakura: bump to v1.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

twister: Update jsonschema wheel version
  util/twister_launcher.py
Labels: none

zephyr: flush panic data before reboot
  zephyr/shim/src/panic.c
Labels: none

cbi: Implement CBI console command for setting UFSC
  common/cbi.c
Labels: common
