Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

kinmen: VIF updates
  zephyr/program/fatcat/kinmen/kinmen_vif.xml
Labels: none

pujjolo: Disable CONFIG_PLATFORM_EC_DEBUG_ASSERT
  zephyr/program/trulo/pujjolo/project.conf
Labels: none

smart_battery: Update battery presence check
  driver/battery/smart.c
Labels: none

emul_i2c_common: Add an option to autoclear failures
  zephyr/emul/emul_common_i2c.c
  zephyr/emul/emul_isl923x.c
  zephyr/include/emul/emul_common_i2c.h
Labels: none

test: Add smart battery present detect by I2C test
  zephyr/test/drivers/CMakeLists.txt
  zephyr/test/drivers/Kconfig
  zephyr/test/drivers/smart_battery/CMakeLists.txt
  zephyr/test/drivers/smart_battery/src/battery_present.c
  zephyr/test/drivers/testcase.yaml
Labels: none

pdc: Don't resend battery status info if there are no changes
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
Labels: none

fwk: sakura: delete the unused-pins node
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: pd: return 0 voltage when no active charge port
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: modified the UCSI port swap logic to avoid EC crash
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: split the 4 usbc ports configuration to a new file
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/src/usbc.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/usbc_4port_config.c
Labels: none

fwk: modified the PD code to support one PD chip
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/program.conf
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: ucsi: workaround: do not bypass the invalid UCSI data to host
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: refactor the write tunnel function
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: support ucsi version 2.0
  zephyr/program/framework/include/customized_shared_memory.h
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: support CCGx UCSI1.x and UCSI2.x message out offset
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: ucsi: don't swap the ucsi port if the port is invalid
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: let connector remap port not to overwrite the other memory location
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: modified the UCSI code to support one PD chip
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: move the duplicate perform_error_recovery() function to be a common feature.
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: perform the usbc error recovery with a task event
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: add cypd power state definition
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: fix wrong ucsi logic for one pd chip
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: refactor UCSI port and PD port map
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/ucsi_port_13_16.c
Labels: none

fwk: don't call the battery and charger function in PD code if no support
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: lilac: Set the S0ix enter/exit flags correctly
  zephyr/program/framework/azalea/src/power_sequence.c
Labels: none

fwk: lilac:bump to v3.05
  .github/workflows/zephyr-build.yml
Labels: workflow

ponyta360: modify the thermal policy
  zephyr/program/corsola/ponyta/src/thermal.c
Labels: none

Grogu: Add grogu battery configurations
  zephyr/program/skywalker/grogu/project.overlay
Labels: none

tarkin: Add vif
  zephyr/program/skywalker/tarkin/tarkin_vif.xml
Labels: none

uldrino: Update MP2964 firmware
  zephyr/program/trulo/uldrenite/src/mp2964_update.c
Labels: none

Include artifacts for elf files
  zephyr/firmware_builder.py
Labels: none

test: pdc: Reliably cover pdc_ack_cc_ci()'s busy return path
  zephyr/test/pdc/src/generic/pdc_api.c
Labels: none

config: Enable PPM console commands by default
  zephyr/program/ocelot/rvp_program.conf
  zephyr/subsys/ucsi/Kconfig
  zephyr/test/pdc/testcase.yaml
Labels: none

ppm: add a subcommand to send SET_USB
  zephyr/subsys/ucsi/ppm_console.c
  zephyr/test/pdc/src/generic/ppm_console.c
Labels: none

dts: cbi: Add standard and OEM UFSC schema templates
  zephyr/include/cros/cbi_ufsc_oem_schema.dtsi
  zephyr/include/cros/cbi_ufsc_std_schema.dtsi
Labels: none

battery: allow status to be neither charging nor discharging
  common/battery_info.c
  common/charge_state.c
  include/battery.h
Labels: common

lapis: Use CONFIG_AP_PWRSEQ_DRIVER for power sequence
  zephyr/program/fatcat/lapis/power_signals.dtsi
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/lapis/src/board_power.c
Labels: none

extpower: Refactor host event update into a new function
  common/extpower_common.c
  include/extpower.h
Labels: common

bluey: Call proper function to update AC host event at startup
  zephyr/program/bluey/src/chipset.c
Labels: none

ruby: Remove unnecessary config for bq25720
  zephyr/program/fatcat/ruby/project.conf
Labels: none
