Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: cypd: replace cypd_write_reg_with_respond() for PDO selection
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: sakura: modify the 3A/1.5A logic to pass the TBT certification
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

extpower: Update AC host event status on chipset startup
  common/extpower_common.c
  zephyr/test/charger/charge/CMakeLists.txt
  zephyr/test/charger/charge/src/charge_acokref.c
  zephyr/test/charger/charge/src/charge_state.c
  zephyr/test/charger/charge/src/extpower.c
  zephyr/test/kingler/src/fakes.c
  zephyr/test/krabby/src/fake.c
  zephyr/test/nissa/Kconfig
  zephyr/test/nissa/src/stubs.c
  zephyr/test/nissa/testcase.yaml
  zephyr/test/rex/tests/kanix/src/charger.c
  zephyr/test/rex/tests/karis/src/charger.c
  zephyr/test/rex/tests/program/src/battery_present.c
  zephyr/test/rex/tests/rex/src/fakes.c
  zephyr/test/rex/tests/screebo/src/usb_config.c
  zephyr/test/vboot_efs2/src/main.c
Labels: common

Update extpower unit test to verify AC notification
  zephyr/test/extpower/src/extpower.c
Labels: none

Revert "fatcat: Update AC host event status on chipset startup"
  zephyr/program/fatcat/felino/src/board_power.c
  zephyr/program/fatcat/francka/src/board_power.c
  zephyr/program/fatcat/kinmen/src/board_power.c
  zephyr/program/fatcat/lapis/src/board_power.c
  zephyr/program/fatcat/moonstone/src/board_power.c
  zephyr/program/fatcat/ruby/src/board_power.c
Labels: none

Revert "intelrvp/ptlrvp: Update AC host event status on chipset startup"
  zephyr/program/intelrvp/ptlrvp/src/board_power.c
Labels: none

bluey: remove redundant AC host event update on chipset startup
  zephyr/program/bluey/src/chipset.c
Labels: none

extpower: Make extpower_update_host_events private
  common/extpower_common.c
  common/extpower_gpio.c
  include/extpower.h
Labels: common

mensa: Add PSL device tree node
  zephyr/program/mensa/mensa/project.overlay
  zephyr/program/mensa/psl.dtsi
Labels: none

mensa: Add GPIO table
  zephyr/program/mensa/mensa/gpios.dtsi
  zephyr/program/mensa/mensa/project.overlay
Labels: none

mensa: add ADC device tree entries
  zephyr/program/mensa/adc.dtsi
  zephyr/program/mensa/mensa/project.overlay
  zephyr/program/mensa/program.conf
Labels: none

mensa: Add i2c device tree node
  zephyr/program/mensa/mensa/i2c.dtsi
  zephyr/program/mensa/mensa/project.overlay
Labels: none

mensa: Add common interrupt nodes for mensa
  zephyr/program/mensa/mensa/interrupts.dtsi
  zephyr/program/mensa/mensa/project.overlay
Labels: none

ruby: Add Scarlatti keys and fn key shortcuts
  zephyr/include/dt-bindings/kbd.h
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

test: initial skywalker test
  zephyr/test/skywalker/CMakeLists.txt
  zephyr/test/skywalker/Kconfig
  zephyr/test/skywalker/common.dtsi
  zephyr/test/skywalker/include/test_state.h
  zephyr/test/skywalker/prj.conf
  zephyr/test/skywalker/src/main.c
  zephyr/test/skywalker/src/test_skywalker.c
  zephyr/test/skywalker/testcase.yaml
Labels: none

fwk: main: Remove old branch names from gh actions
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: sakura: bump to v2.0.0
  .github/workflows/zephyr-build.yml
Labels: workflow

TCPMV2: Move Discover Identity response handling to common TCPMv2 code
  common/usbc/build.mk
  include/config.h
Labels: common

zephyr: fingerprint: add ft98xx sensor driver
  zephyr/drivers/fingerprint/CMakeLists.txt
  zephyr/drivers/fingerprint/Kconfig
  zephyr/drivers/fingerprint/Kconfig.ft
  zephyr/drivers/fingerprint/fingerprint_ft98xx.c
  zephyr/drivers/fingerprint/fingerprint_ft98xx.h
  zephyr/drivers/fingerprint/fingerprint_ft98xx_pal.c
  zephyr/drivers/fingerprint/fingerprint_ft98xx_pal.h
  zephyr/drivers/fingerprint/fingerprint_ft98xx_private.h
  zephyr/dts/bindings/fingerprint/focaltech,ft98xx.yaml
Labels: none

ponyta: modified to distinguish chargers via SSFC
  zephyr/dts/bindings/cbi/cros-ec,cbi-ssfc.yaml
  zephyr/program/corsola/ponyta/cbi.dtsi
  zephyr/program/corsola/ponyta/src/alt_charger.c
Labels: none

fpsensor: clear FP capture types
  common/fpsensor/fpsensor.cc
Labels: common

mensa: enable standard functions
  zephyr/program/mensa/program.conf
Labels: none

mensa: Enable AP host commands
  zephyr/program/mensa/common.dtsi
  zephyr/program/mensa/mensa/project.overlay
  zephyr/program/mensa/program.conf
Labels: none

mensa: Enable RTC
  zephyr/program/mensa/common.dtsi
  zephyr/program/mensa/program.conf
Labels: none

mensa: Enable power sequence for QC_EXP
  zephyr/program/mensa/CMakeLists.txt
  zephyr/program/mensa/mensa/interrupts.dtsi
  zephyr/program/mensa/program.conf
  zephyr/program/mensa/src/passthru_signal.c
  zephyr/program/mensa/src/switchcap.c
Labels: none

fpsensor: introduce fp_info_v3
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_debug.cc
  common/fpsensor/fpsensor_frame_size.cc
  common/mock/fpsensor_mock.c
  driver/fingerprint/egis/egis_private.c
  driver/fingerprint/elan/elan_private.c
  driver/fingerprint/fpc/bep/fpc_private.c
  driver/fingerprint/fpc/libfp/fpc_private.c
  include/ec_cmd_api.h
  include/ec_commands.h
  include/fpsensor/fpsensor.h
  util/ectool_usb/ec_commands.py
  util/ectool_usb/ectool.py
  zephyr/shim/src/fpsensor.c
  zephyr/test/fingerprint/task/CMakeLists.txt
  zephyr/test/fingerprint/task/Kconfig
  zephyr/test/fingerprint/task/src/fpsensor_debug.cc
  zephyr/test/fingerprint/task/src/fpsensor_enroll.cc
  zephyr/test/fingerprint/task/src/fpsensor_fp_info.cc
  zephyr/test/fingerprint/task/src/fpsensor_init.cc
  zephyr/test/fingerprint/task/src/fpsensor_match.cc
  zephyr/test/fingerprint/task/src/fpsensor_shim.cc
  zephyr/test/fingerprint/task/src/fpsensor_template.cc
  zephyr/test/fingerprint/task/testcase.yaml
Labels: common

Enable USB-C RTK RTS54xx PDC FW update support
  zephyr/program/skywalker/r2d2/project.conf
Labels: none

power: qcom_exp: Restrict heartbeat RTC logic to its Kconfig
  power/qcom_exp.c
Labels: none

pchg: simplify pchg_update_state logic
  common/peripheral_charger.c
Labels: common

zephyr: dsp_comms: Fix parallel build race condition
  zephyr/drivers/dsp_comms/client/CMakeLists.txt
  zephyr/drivers/dsp_comms/service/CMakeLists.txt
Labels: none

lapis: Add fn key shortcuts
  zephyr/program/fatcat/lapis/keyboard.dtsi
Labels: none

moonstone: Add Scarlatti keys and fn key shortcuts
  zephyr/program/fatcat/moonstone/keyboard.dtsi
Labels: none

zephyr: break circular dependency in pw_log tokenized handler
  zephyr/Kconfig.console
  zephyr/shim/src/pw_log_zephyr_tokenized.cc
Labels: none

Revert "common: host_command: Reject overlapping commands with EC_RES_BUSY"
  common/host_command_task.c
  test/host_command.c
  zephyr/test/drivers/host_cmd/CMakeLists.txt
  zephyr/test/drivers/host_cmd/src/host_command_processing.c
Labels: common

bluey: implement board battery compensation
  zephyr/program/bluey/src/battery.c
Labels: none

battery_info: update dynamic battery poll logic to use shared context
  common/battery_info.c
Labels: common

subsys: usbd_service: add a function to check if device is suspended
  zephyr/include/subsys/usbd_service.h
  zephyr/subsys/usbd_service/usbd_init.c
Labels: none

host_event: fix return type of host_is_event_set
  common/host_event_commands.c
  include/host_command.h
Labels: common

zephyr: Fix Pigweed parallel build race with generated headers
  zephyr/CMakeLists.txt
Labels: none

Build host tools with c++23
  Makefile.rules
  Makefile.toolchain
Labels: repo
