Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

fpsensor: Align frame logic and validation with current_capture_type
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_debug.cc
Labels: common

fpsensor: Fully clear capture mode and type bits after acquisition
  common/fpsensor/fpsensor.cc
Labels: common

fpsensor: Pass capture type to get_image_frame_params for testability
  common/fpsensor/fpsensor_debug.cc
Labels: common

test: Only test locked scenario for fpdownload
  test/fpsensor_debug.cc
Labels: none

zephyr: test: Add tests for get_image_frame_params
  zephyr/test/fingerprint/task/src/fpsensor_debug.cc
Labels: none

test: Test the get_image_frame_params utility function
  test/fpsensor_debug.cc
Labels: none

fpsensor: Remove redundant current_frame_size
  common/fpsensor/fpsensor.cc
  common/fpsensor/fpsensor_state.cc
  include/fpsensor/fpsensor_state.h
Labels: common

ruby: Add retimer config
  zephyr/program/fatcat/ruby/project.conf
  zephyr/program/fatcat/ruby/usbc.dtsi
Labels: none

ruby: Add UFSC config
  zephyr/program/fatcat/ruby/project.overlay
  zephyr/program/fatcat/ruby/ruby_ec_ufsc.dtsi
Labels: none

utils: add ectool for USB
  util/ectool_usb/ectool.py
Labels: none

anakin: add processing for non-PD adapters.
  zephyr/program/skywalker/anakin/src/charger.c
Labels: none

anakin: reduce pdc log
  zephyr/program/skywalker/anakin/project.conf
Labels: none

zephyr: fingerprint: add read-mode choice for ELAN 80-series sensors
  zephyr/drivers/fingerprint/Kconfig.elan
  zephyr/drivers/fingerprint/fingerprint_elan80series_pal.c
Labels: none

Dooku: let bl_en_od follow edp_bl_en_3v3 status from AP
  zephyr/program/skywalker/dooku/src/touch_panel.c
Labels: none

flash: fix size of RO flash region
  include/flash.h
Labels: none

pdc: Add support for PD power button
  zephyr/drivers/usbc/pdc_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.c
  zephyr/emul/emul_realtek_rts54xx.h
  zephyr/include/drivers/pdc.h
  zephyr/include/emul/emul_pdc.h
  zephyr/include/usbc/pdc_power_mgmt.h
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/include/mock_pdc_power_mgmt.h
  zephyr/test/pdc/src/generic/pdc_null_api.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
  zephyr/test/pdc/src/mock_pdc_power_mgmt.c
  zephyr/test/pdc/src/pdc_policy/src_policy_3a_port.c
  zephyr/test/pdc/src/rts54xx/rts54xx.c
Labels: none

zephyr: chip: add support for Egis ET171 SOC
  zephyr/Kconfig
  zephyr/Kconfig.flash
  zephyr/Kconfig.system
  zephyr/app/ec/chip/riscv/riscv-egis/Kconfig.et171
  zephyr/include/cros/egis/et171.dtsi
  zephyr/shim/chip/CMakeLists.txt
  zephyr/shim/chip/egis/CMakeLists.txt
  zephyr/shim/chip/egis/Kconfig.egis
  zephyr/shim/chip/egis/clock.c
  zephyr/shim/chip/egis/enter_bootloader.c
  zephyr/shim/chip/egis/include/flash_chip.h
  zephyr/shim/chip/egis/include/soc.h
  zephyr/shim/chip/egis/mpu.c
  zephyr/shim/chip/egis/system.c
Labels: none

quenbi: add an initial keyboard configuration
  zephyr/program/bluey/quenbi/include/keyboard_customization.h
  zephyr/program/bluey/quenbi/keyboard.dtsi
  zephyr/program/bluey/quenbi/project.overlay
Labels: none

ruby: Modify the BQ25720 charger register settings to support a 4S1P battery
  zephyr/program/fatcat/ruby/CMakeLists.txt
  zephyr/program/fatcat/ruby/src/charger.c
Labels: none

ocelotrvp-ite: Make EC ISH interrupt pin an output
  zephyr/program/ocelot/ocelotrvp-ite/generated.dtsi
Labels: none

ocelotrvp-ite: Make PROCHOT pin an open-drain output
  zephyr/program/ocelot/ocelotrvp-ite/generated.dtsi
Labels: none

ocelotrvp-npcx: Remove EC_PCH_SYS_PWROK GPIO
  zephyr/program/ocelot/ocelotrvp-npcx/generated.dtsi
Labels: none

ocelotrvp: Add power LED policy
  zephyr/program/ocelot/rvp_leds.dtsi
Labels: none

zephyr/program/fatcat: Reduce log level to ERROR
  zephyr/program/fatcat/program.conf
Labels: none

quenbi: remove TODO comment for SPI interrupt pin.
  zephyr/program/bluey/quenbi/gpios.dtsi
Labels: none

power/qcom_exp: Remove TODO for PMIC powered-on
  power/qcom_exp.c
Labels: none

host_event: Add EC_HOST_EVENT_AC_CONNECTED to LPC host event mask
  common/host_event_commands.c
Labels: common

padme: Add padme_vif.xml
  zephyr/program/skywalker/padme/padme_vif.xml
Labels: none

tarkin/phasma: add processing for non-PD adapters.
  zephyr/program/skywalker/tarkin/src/charger.c
Labels: none

tanjiro: Modify svdm_get_hpd_gpio method
  zephyr/program/tanjiro/src/dp_alt_mode.c
Labels: none

tcpm/it8xxx2: support tune RC filter
  baseboard/asurada/baseboard.c
  baseboard/cherry/baseboard.c
  driver/tcpm/it83xx_pd.h
  driver/tcpm/it8xxx2.c
  zephyr/program/corsola/src/ite_usbc.c
  zephyr/program/geralt/src/usbc_config.c
  zephyr/program/nissa/pujjoniru/src/usbc.c
  zephyr/program/nissa/telith/src/usbc.c
Labels: baseboard

keyboard_8042_fn: do not emit codes for non mapped keys
  common/keyboard_8042_fn.c
  zephyr/test/keyboard_fn/src/main.c
Labels: common

ocelot-ish: Enable DSP comms based sensor support
  zephyr/program/ocelot/BUILD.py
  zephyr/program/ocelot/dsp_comms.conf
  zephyr/program/ocelot/ocelot-ish/interrupts.dtsi
  zephyr/program/ocelot/ocelot-ish/motionsense.conf
  zephyr/program/ocelot/ocelot-ish/ocelotrvp-ish/gpio.dtsi
  zephyr/program/ocelot/ocelot-ish/ocelotrvp-ish/project.overlay
  zephyr/program/ocelot/ocelot-ish/prj.conf
Labels: none

dsp_client: Fix mutex contention issue with cbi read
  zephyr/drivers/dsp_comms/client/dsp_client.c
  zephyr/drivers/dsp_comms/client/include/cros/dsp/client.h
Labels: none

ruby: Fix the T8 of vivaldi-codes
  zephyr/program/fatcat/ruby/keyboard.dtsi
Labels: none

util/flash_ec: ec firmware image validation support
  util/flash_ec
Labels: none

extpower: Update host events on init to prevent async state
  common/extpower_gpio.c
Labels: common

padme: system lock for FAFT
  zephyr/program/skywalker/padme/project.conf
Labels: none

bluey: Remove redundant AC host event update on chipset startup
  zephyr/program/bluey/src/chipset.c
Labels: none

lapis: Change top row T2 key to VIVALDI_TK_HOME
  zephyr/program/fatcat/lapis/keyboard.dtsi
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
