Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

marigold: execute the error recovery during the system power on
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

magolor: add SMBUS PEC support and set NACK retry
  board/magolor/board.h
Labels: none

marigold: Bump to 3.01
  .github/workflows/zephyr-build.yml
Labels: workflow

lotso: Update the temp sensor configs
  zephyr/program/brox/lotso/temp_sensors.dtsi
Labels: none

pujjoga: Modify motionsense matrix
  zephyr/program/nissa/pujjoga/motionsense.dtsi
Labels: none

sundance: modify motionsense metrix
  zephyr/program/nissa/sundance/motionsense.dtsi
Labels: none

ciri: Make battery LED as alias LED of SYSRQ and HW_REINIT
  zephyr/program/geralt/ciri/led.dtsi
Labels: none

squirtle: Modify battery detection mechanism
  zephyr/program/corsola/squirtle/src/board.c
Labels: none

zephyr: remove PLATFORM_EC_ALLOW_UNALIGNED_ACCESS config
  util/config_allowed.txt
  zephyr/Kconfig
  zephyr/shim/include/config_chip.h
Labels: none

zephyr: fpmcu: allow unaligned access
  zephyr/program/fpmcu/prj.conf
Labels: none

drivers: boot_keys: delay init until detection is completed
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/test/boot_keys/src/main.c
Labels: none

drivers: boot_keys: run the boot key check after lpc_init_mask()
  zephyr/drivers/boot_keys/boot_keys.c
  zephyr/test/boot_keys/src/main.c
Labels: none

sundance: modify motionsense matrix
  zephyr/program/nissa/sundance/motionsense.dtsi
Labels: none

katsu: Add battery protection policy
  baseboard/kukui/battery_bq27541.c
  board/katsu/board.h
Labels: baseboard

orisa: Disable PD Data path & Intel Altmode task
  zephyr/program/nissa/orisa/overlay.dtsi
  zephyr/program/nissa/orisa/project.conf
Labels: none

Zephyr: Add new battery yaml
  zephyr/dts/bindings/battery/battery-smart.yaml
  zephyr/dts/bindings/battery/smp,l23m4pg4.yaml
  zephyr/dts/bindings/battery/sunwoda,l23d4pg4.yaml
  zephyr/program/rauru/navi/project.overlay
Labels: none

zephyr: test: update multistep framework
  zephyr/test/hwtest/include/multistep_test.h
Labels: none

ec: Add #line to charge_manager.c
  common/charge_manager.c
Labels: common

pdc: test: Remove redundant wait for idle
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

shim: Do not doubly define fatal error handler
  zephyr/shim/src/panic.c
Labels: none

tests: input_keyboard: move include to the top of the board
  zephyr/test/input_keyboard/src/main.c
Labels: none

Add #line to gpio.c
  zephyr/shim/src/gpio.c
Labels: none

lotso: Add second source for motion sensors
  zephyr/program/brox/lotso/CMakeLists.txt
  zephyr/program/brox/lotso/alt_motionsense.dtsi
  zephyr/program/brox/lotso/cbi.dtsi
  zephyr/program/brox/lotso/project.conf
  zephyr/program/brox/lotso/project.overlay
  zephyr/program/brox/lotso/src/board.c
  zephyr/shim/src/cbi/cros_cbi_ssfc.c
  zephyr/test/brox/Kconfig
  zephyr/test/brox/boards/lotso.overlay
  zephyr/test/brox/testcase.yaml
  zephyr/test/brox/tests/lotso/CMakeLists.txt
  zephyr/test/brox/tests/lotso/src/alt_sensor.c
Labels: none

domika: Initial Zephyr EC image
  bazel/all_targets.generated.bzl
  zephyr/program/nissa/BUILD.py
  zephyr/program/nissa/CMakeLists.txt
  zephyr/program/nissa/Kconfig
  zephyr/program/nissa/domika/cbi.dtsi
  zephyr/program/nissa/domika/domika_vif.xml
  zephyr/program/nissa/domika/fan.dtsi
  zephyr/program/nissa/domika/gpio.dtsi
  zephyr/program/nissa/domika/keyboard.dtsi
  zephyr/program/nissa/domika/motionsense.dtsi
  zephyr/program/nissa/domika/overlay.dtsi
  zephyr/program/nissa/domika/power_signals.dtsi
  zephyr/program/nissa/domika/project.conf
  zephyr/program/nissa/domika/project.overlay
  zephyr/program/nissa/domika/pwm_leds.dtsi
  zephyr/program/nissa/domika/src/board.c
  zephyr/program/nissa/domika/src/charger.c
  zephyr/program/nissa/domika/src/fan.c
  zephyr/program/nissa/domika/src/keyboard.c
  zephyr/program/nissa/domika/src/led.c
  zephyr/program/nissa/domika/src/thermal.c
  zephyr/program/nissa/domika/src/usbc.c
  zephyr/test/nissa/CMakeLists.txt
  zephyr/test/nissa/Kconfig
  zephyr/test/nissa/boards/domika.dts
  zephyr/test/nissa/include/domika.h
  zephyr/test/nissa/src/domika.c
  zephyr/test/nissa/testcase.yaml
Labels: none

pdc: ti: adjust interrupt mask
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

pdc: ti: Update TI PDC FW binary
  zephyr/drivers/usbc/tps6699x_19.8.0.bin
  zephyr/drivers/usbc/tps6699x_19.9.0.bin
  zephyr/drivers/usbc/tps6699x_19.9.0.json
  zephyr/drivers/usbc/tps6699x_fwup.c
Labels: none

pdc: ti: fix set_uor and set_pdr
  zephyr/drivers/usbc/pdc_tps6699x.c
Labels: none

voltorb: Add battery SIMPLO AP23A7L
  zephyr/program/corsola/voltorb/project.overlay
Labels: none

Revert "Reland "usb_update: add more test code""
  common/rwsig.c
  zephyr/test/usb_updater/CMakeLists.txt
  zephyr/test/usb_updater/boards/native_sim.overlay
  zephyr/test/usb_updater/include/fakes.h
  zephyr/test/usb_updater/prj.conf
  zephyr/test/usb_updater/src/fakes.c
  zephyr/test/usb_updater/src/main.c
  zephyr/test/usb_updater/src/update_fw_test.c
  zephyr/test/usb_updater/src/usb_update_test.c
  zephyr/test/usb_updater/src/vendor_command_test.c
Labels: common

PPM: Stop checking CBI during init
  zephyr/subsys/ucsi/ppm_driver.c
Labels: none

dochi: add SMBUS PEC support and set NACK retry
  board/dochi/board.h
Labels: none

test: run_device_tests: skip ram_lock on bloonchipper and dartmonkey
  test/run_device_tests.py
Labels: none

bujia: Update fan real rpm
  board/bujia/fans.c
Labels: none

bujia: Update the fan table version 1
  board/bujia/board.h
  board/bujia/build.mk
  board/bujia/thermal.c
Labels: none

bujia: Set rpm deviation to 1%
  board/bujia/board.h
Labels: none

bujia: Update thermal high/halt point version 1
  board/bujia/sensors.c
Labels: none

pujjoga: Change refresh key position.
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

squirtle: Add battery COSMX AP23ABL
  zephyr/program/corsola/squirtle/project.overlay
Labels: none

karis: Add new battery
  zephyr/program/rex/karis/battery.dtsi
Labels: none

riven: fix keyboard configuration
  zephyr/program/nissa/riven/keyboard.dtsi
Labels: none
