Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: modified the PD code to support one PD chip
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/program.conf
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: allow fan in S0ix
  common/fan.c
Labels: common

fwk: create the desktop program configuration for desktop project
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/desktop_program.conf
Labels: none

fwk: dogwood: initial the dogwood EC
  .github/workflows/zephyr-build.yml
  zephyr/dts/bindings/gpio/gpio-enum-name.yaml
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/README.md
  zephyr/program/framework/dogwood/adc.dtsi
  zephyr/program/framework/dogwood/bbram.dtsi
  zephyr/program/framework/dogwood/fan.dtsi
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/i2c.dtsi
  zephyr/program/framework/dogwood/interrupts.dtsi
  zephyr/program/framework/dogwood/led_pins.dtsi
  zephyr/program/framework/dogwood/led_policy.dtsi
  zephyr/program/framework/dogwood/power_signal.dtsi
  zephyr/program/framework/dogwood/project.conf
  zephyr/program/framework/dogwood/project.overlay
  zephyr/program/framework/dogwood/src/cpu_power.c
  zephyr/program/framework/dogwood/src/power_sequence.c
  zephyr/program/framework/dogwood/src/project_diagnostics.c
  zephyr/program/framework/dogwood/src/usbc.c
  zephyr/program/framework/dogwood/thermal.dtsi
  zephyr/program/framework/dogwood/usbc.dtsi
Labels: workflow

fwk: dogwood: workaround: enable npcx PSL function to keep GPIO85 always high
  zephyr/program/framework/dogwood/gpio.dtsi
Labels: none

fwk: dogwood: bump to v0.06
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: perform the typec error recovery after AMD Crossbar is ready
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: dogwood: change the GPIO pin for DVT build
  zephyr/program/framework/dogwood/gpio.dtsi
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: read INA236 bus voltage to check the 12VB_APU
  zephyr/program/framework/dogwood/src/power_sequence.c
Labels: none

fwk: dogwood: bump to v0.07
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk: lilac: config PLATFORM_SIMPLE_VERSION_SHIFT_IDX to 12
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: update SB-RMI VRM_VDD_* parameter
  zephyr/program/framework/include/amd_cpu_power_interface.h
  zephyr/program/framework/src/cpu_power/amd_cpu_power_interface.c
Labels: none

fwk: dogwood: update SoC VRM_* current limit
  zephyr/program/framework/dogwood/src/cpu_power.c
Labels: none

fwk: dogwood: support 3rd fan
  zephyr/program/framework/dogwood/fan.dtsi
  zephyr/program/framework/dogwood/project.conf
Labels: none

fwk: sunflower: modify PLx ROP setting to 15W
  zephyr/program/framework/sunflower/src/cpu_power.c
Labels: none

Revert "fwk: sunflower: workaround: shutdown the system before EC reboot"
  common/system.c
Labels: common

fwk: implement standalone mode LED behavior
  zephyr/program/framework/azalea/led_policy.dtsi
  zephyr/program/framework/lotus/led_policy.dtsi
  zephyr/program/framework/marigold/led_policy.dtsi
Labels: none

fwk: add the new properties for standalone mode
  zephyr/dts/bindings/leds/cros-ec,fwk-led-policy.yaml
  zephyr/program/framework/azalea/led_policy.dtsi
  zephyr/program/framework/lotus/led_policy.dtsi
  zephyr/program/framework/marigold/led_policy.dtsi
  zephyr/program/framework/src/led.c
Labels: none

fwk: lilac: Update to thermal table V1B_241118
  zephyr/program/framework/azalea/fan.dtsi
  zephyr/program/framework/azalea/overlay.dtsi
Labels: none

fwk/lilac: Revert charger debounce back to 1ms Nov 20
  zephyr/program/framework/azalea/src/charger.c
Labels: none

fwk: dogwood: follow AMD specification to update the VDDCR_VDD_EDC value
  zephyr/program/framework/dogwood/src/cpu_power.c
Labels: none

fwk: dogwood: bump to v0.0.8
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Bump to 1.04
  .github/workflows/zephyr-build.yml
Labels: workflow

fwk/lilac: Remove leading dash in firmware hash
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: create the Kconfig to select the framework's product family
  zephyr/program/framework/Kconfig
  zephyr/program/framework/lotus/project.conf
Labels: none

fwk: azalea: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_13
  zephyr/program/framework/azalea/project.conf
Labels: none

fwk: lotus: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_16
  zephyr/program/framework/lotus/project.conf
Labels: none

fwk: marigold: select CONFIG_PLATFORM_EC_FRAMEWORK_LAPTOP_13
  zephyr/program/framework/marigold/project.conf
Labels: none

fwk: add the new product's family "laptop 12-inch"
  zephyr/program/framework/Kconfig
Labels: none

fwk: add the new product's family "mini-PC"
  zephyr/program/framework/Kconfig
Labels: none

fwk: main: implement PD alert power button feature
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: store the ac_boot status in the EC ROM
  zephyr/program/framework/src/board_function.c
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: Check PB debounce time when PB pressed in hibernate
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: azalea: remove charge-state condition in standalone mode LED behavior
  zephyr/program/framework/azalea/led_policy.dtsi
Labels: none

fwk: marigold: remove charge-state condition in standalone mode LED behavior
  zephyr/program/framework/marigold/led_policy.dtsi
Labels: none

fwk: lotus: remove charge-state condition in standalone mode LED behavior
  zephyr/program/framework/lotus/led_policy.dtsi
Labels: none

fwk: sunflower: Add power button delay 0.5s to prevent accidental presses
  zephyr/program/framework/sunflower/project.conf
Labels: none

fwk: Check PB debounce time when PB pressed in hibernate
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: add the new properties for standalone mode
  zephyr/dts/bindings/leds/cros-ec,fwk-led-policy.yaml
  zephyr/program/framework/azalea/led_policy.dtsi
  zephyr/program/framework/lotus/led_policy.dtsi
  zephyr/program/framework/marigold/led_policy.dtsi
  zephyr/program/framework/src/led.c
Labels: none

fwk: sunflower: implement standalone mode LED behavior
  zephyr/program/framework/sunflower/led_policy.dtsi
Labels: none
