Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

fwk: allow fan in S0ix
  common/fan.c
Labels: common

fwk: create new led id to support second power led
  include/ec_commands.h
  zephyr/dts/bindings/leds/cros-ec,gpio-led-pins.yaml
  zephyr/dts/bindings/leds/cros-ec,led-policy.yaml
  zephyr/dts/bindings/leds/cros-ec,pwm-led-pins.yaml
Labels: none

fwk: include ALS code by CONFIG_PLATFORM_EC_DEDICATED_ALS
  zephyr/program/framework/CMakeLists.txt
Labels: none

fwk: build the hid_device.c once enable CONFIG_PLATFORM_EC_HID
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: move EC_CMD_FP_LED_LEVEL_CONTROL into framework/led.c
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: move function set_ap_reboot_delay() in common
  zephyr/program/framework/azalea/src/power_sequence.c
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/lotus/src/power_sequence.c
  zephyr/program/framework/marigold/src/power_sequence.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: don't call the extpwoer() function in power_button_x86.c if no support
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: don't call the undefine gpio in the HC EC_CMD_FLASH_NOTIFIED
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: add a new pd chip state "CCG_STATE_NO_POWER"
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: don't call the battery and charger function in PD code if no support
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: perform the usbc error recovery with a task event
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: move the duplicate perform_error_recovery() function to be a common feature.
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: modified the PD code to support one PD chip
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/program.conf
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: modified the UCSI code to support one PD chip
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: add cypd power state definition
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: split the 4 usbc ports configuration to a new file
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/src/usbc.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/usbc_4port_config.c
Labels: none

fwk: add fn key mappings for number row
  board/hx20/keyboard_customization.c
  board/hx20/keyboard_customization.h
  board/hx30/keyboard_customization.c
  board/hx30/keyboard_customization.h
Labels: hx20, hx30

fwk: add the function cypd_update_chips_state() in header file
  zephyr/program/framework/include/cypress_pd_common.h
Labels: none

fwk: fix wrong ucsi logic for one pd chip
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: refactor the cypd ccd mode control
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/src/usbc.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: add a new pd chip state "CCG_STATE_NO_POWER"
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: build the hid_device.c once enable CONFIG_PLATFORM_EC_HID
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: fix wrong ucsi logic for one pd chip
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: move function set_ap_reboot_delay() in common
  zephyr/program/framework/azalea/src/power_sequence.c
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/lotus/src/power_sequence.c
  zephyr/program/framework/marigold/src/power_sequence.c
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: refactor the cypd ccd mode control
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/src/usbc.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: don't call the undefine gpio in the HC EC_CMD_FLASH_NOTIFIED
  zephyr/program/framework/src/board_host_command.c
Labels: none

fwk: don't call the battery and charger function in PD code if no support
  zephyr/program/framework/Kconfig
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: move EC_CMD_FP_LED_LEVEL_CONTROL into framework/led.c
  zephyr/program/framework/src/board_host_command.c
  zephyr/program/framework/src/led.c
Labels: none

fwk: add cypd power state definition
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: move the duplicate perform_error_recovery() function to be a common feature.
  zephyr/program/framework/Kconfig
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/project.conf
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: include ALS code by CONFIG_PLATFORM_EC_DEDICATED_ALS
  zephyr/program/framework/CMakeLists.txt
Labels: none

fwk: modified the UCSI code to support one PD chip
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/ucsi.c
Labels: none

fwk: split the 4 usbc ports configuration to a new file
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/marigold/src/usbc.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/usbc_4port_config.c
Labels: none

fwk: perform the usbc error recovery with a task event
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypd_ccg6.c
  zephyr/program/framework/src/cypd_ccg8.c
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: don't call the extpwoer() function in power_button_x86.c if no support
  zephyr/program/framework/src/power_button_x86.c
Labels: none

fwk: implement the battery extender feature
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/CMakeLists.txt
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common

fwk: set charger control mode after disable battery sustainer
  include/charge_state.h
  zephyr/program/framework/src/battery_extender.c
Labels: none

fwk: add the function cypd_update_chips_state() in header file
  zephyr/program/framework/include/cypress_pd_common.h
Labels: none

fwk: create new led id to support second power led
  include/ec_commands.h
  zephyr/dts/bindings/leds/cros-ec,gpio-led-pins.yaml
  zephyr/dts/bindings/leds/cros-ec,led-policy.yaml
  zephyr/dts/bindings/leds/cros-ec,pwm-led-pins.yaml
Labels: none

fwk: move battery extender to use common
  common/charge_state.c
  include/charge_state.h
  zephyr/program/framework/include/board_host_command.h
  zephyr/program/framework/src/battery_extender.c
Labels: common
