Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

zephyr: export reset_policy_patterns
  zephyr/include/drivers/led.h
  zephyr/shim/src/led_driver/led.c
Labels: none

lapis: Change power on power to 55W
  zephyr/program/fatcat/lapis/project.conf
Labels: none

fwk: ps2mouse: handle pending interrupt to prevent cursor lag
  zephyr/program/framework/src/ps2mouse.c
Labels: none

moonstone: Add power good pin for temp sensors
  zephyr/program/fatcat/moonstone/temp_sensors.dtsi
Labels: none

hwtest/watchdog: Check for PANIC_SW_WATCHDOG
  zephyr/test/hwtest/src/watchdog.cc
Labels: none

zephyr: Rename EGIG630 macros to EGIS630 in Zephyr DTS files
  zephyr/program/fpmcu/et171/sanok.dts
  zephyr/test/fingerprint/drivers/egis630/boards/native_sim.overlay
Labels: none

fan: Guard S0ix power state check with CONFIG_POWER_S0IX
  common/fan.c
Labels: common

zephyr: Enable pdc_shim.c for PDC power management builds
  zephyr/shim/src/CMakeLists.txt
Labels: none

yoda: Init tablet mode before gmr_tablet_switch_init
  zephyr/program/skywalker/yoda/src/sensor.c
Labels: none

fwk: fix PD charge ceiling ignoring controller when not source
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: Fix cypress error recovery never sent to port 1+
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

ucsi: Increase thread stack size
  zephyr/subsys/ucsi/Kconfig
Labels: none

pdc: Increase thread stack size
  zephyr/subsys/pd_controller/Kconfig
Labels: none

@tbejos has signed the CLA from Pull Request #79
  vendor/framework/signatures/version1/clamembers.json
Labels: none

pdc: Update sink PDOs based on runtime policy
  zephyr/shim/src/pdc_shim.c
  zephyr/subsys/pd_controller/pdc_power_mgmt.c
  zephyr/test/pdc/src/generic/pdc_power_mgmt_api.c
Labels: none

platform/ec/include: Change PD3_T_SENDER_RESPONSE from 29ms to 28ms
  include/usb_pd.h
Labels: none

Revert "TCPMv2: Handle tSenderResponse override consistently"
  include/config.h
  include/usb_pd.h
  zephyr/Kconfig.pd
  zephyr/program/nissa/pujjoga/project.conf
  zephyr/shim/include/config_chip.h
Labels: none

ectool: Add support for rollback info v1
  util/ectool.cc
Labels: none

TCPMv2: Enable AutoDischargeDisconnect in Attached.SRC during PR_Swap
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
Labels: common

fpsensor: add FP ASCP commands to ectool_usb
  util/ectool_usb/ec_commands.py
  util/ectool_usb/ectool.py
Labels: none

Revert "Pujjoga: To Override PD3_T_SENDER_RESPONSE to 28ms"
  include/config.h
  include/usb_pd.h
  zephyr/Kconfig.pd
  zephyr/program/nissa/pujjoga/project.conf
  zephyr/shim/include/config_chip.h
Labels: none

Revert "lapis: temporarily disable battery full voltage limit"
  zephyr/program/fatcat/lapis/project.conf
Labels: none

agents: Link root AGENTS.md to .agents/AGENTS.md
  AGENTS.md
Labels: repo

Add help text for build host utilities
  Makefile.rules
Labels: repo

rtkupdate: cleanup command output
  util/rtkupdate.cc
Labels: none

fwk: turn off Caps Lock LED when lid is closed
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

mensa: add initial nuvoton board
  zephyr/program/mensa/BUILD.py
  zephyr/program/mensa/CMakeLists.txt
  zephyr/program/mensa/Kconfig
  zephyr/program/mensa/mensa/CMakeLists.txt
  zephyr/program/mensa/mensa/project.conf
  zephyr/program/mensa/mensa/project.overlay
  zephyr/program/mensa/mensa_stub.dtsi
  zephyr/program/mensa/program.conf
Labels: none

mensa: Set CBI-in-flash parameters
  zephyr/program/mensa/mensa/project.overlay
  zephyr/program/mensa/program.conf
Labels: none

mensa: Enable bringup config
  zephyr/program/mensa/program.conf
Labels: none

skywalker:Initial zephyr config for r2d2
  zephyr/program/skywalker/BUILD.py
  zephyr/program/skywalker/CMakeLists.txt
  zephyr/program/skywalker/Kconfig
  zephyr/program/skywalker/r2d2/CMakeLists.txt
  zephyr/program/skywalker/r2d2/include/keyboard_customization.h
  zephyr/program/skywalker/r2d2/led_pins.dtsi
  zephyr/program/skywalker/r2d2/led_policy.dtsi
  zephyr/program/skywalker/r2d2/motionsense.dtsi
  zephyr/program/skywalker/r2d2/project.conf
  zephyr/program/skywalker/r2d2/project.overlay
  zephyr/program/skywalker/r2d2/src/dp_alt_mode.c
  zephyr/program/skywalker/r2d2/src/pen_charge.c
  zephyr/program/skywalker/r2d2/temp_sensor.dtsi
Labels: none

fwk: sakura: officially reserve the top 4096b of flash for SPI_FLAGS
  zephyr/program/framework/BUILD.py
  zephyr/program/framework/sakura/project.overlay
Labels: none

fwk: Add EC_CMD_CHECK_DECK_STATE support to laptop 13
  zephyr/program/framework/src/input_module_13.c
Labels: none

fwk: marigold/sakura: Sync module_pwr_en name with schematic
  zephyr/program/framework/marigold/gpio.dtsi
  zephyr/program/framework/marigold/src/power_sequence.c
  zephyr/program/framework/sakura/project.overlay
  zephyr/program/framework/sakura/src/power_sequence.c
Labels: none

ponyta: add alt charger
  zephyr/program/corsola/ponyta/CMakeLists.txt
  zephyr/program/corsola/ponyta/cbi.dtsi
  zephyr/program/corsola/ponyta/project.conf
  zephyr/program/corsola/ponyta/project.overlay
  zephyr/program/corsola/ponyta/src/alt_charger.c
Labels: none

utils: add FP_FRAME support in ectool_usb
  util/ectool_usb/command.py
  util/ectool_usb/communication.py
  util/ectool_usb/ec_commands.py
  util/ectool_usb/ectool.py
Labels: none

fwk: Fix copilot typo
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: Fix ACPI_DRIVER_READY check for BIOS hotkeys
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: keyboard_13 remove memmap magic number
  zephyr/program/framework/src/keyboard_customization_13.c
Labels: none

fwk: sakura: re-map the correct type-c port for 3A/1.5A selection
  zephyr/program/framework/include/ucsi.h
  zephyr/program/framework/sakura/src/ucsi_port.c
  zephyr/program/framework/src/cypress_pd_common.c
  zephyr/program/framework/src/ucsi.c
  zephyr/program/framework/src/ucsi_port_13.c
  zephyr/program/framework/src/ucsi_port_16.c
Labels: none

fwk: cypd: add a function to wait for and return PD response
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
