Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*

skyrim: Decrease max motion sensor rate to 100Hz
  zephyr/program/skyrim/program.conf
Labels: none

lapis: Configure the SPI peripheral
  zephyr/program/fatcat/lapis/project.overlay
  zephyr/program/fatcat/lapis/spi.dtsi
Labels: none

TCPMv2: Record Tx timestamp more accurately
  chip/stm32/ucpd-stm32gx.c
  common/usb_pd_protocol.c
  common/usbc/usb_prl_sm.c
  common/usbc/usb_tc_drp_acc_trysrc_sm.c
  driver/tcpm/anx74xx.c
  driver/tcpm/fusb302.c
  driver/tcpm/it83xx.c
  driver/tcpm/it8xxx2.c
  driver/tcpm/ite_pd_intc.c
  driver/tcpm/stub.c
  driver/tcpm/tcpci.c
  include/usb_pd.h
  test/usb_prl.c
  zephyr/test/skyrim/tests/baseboard/src/usbc_config.c
Labels: common

zephyr: test: Disable "fault valid" after handling fault
  zephyr/test/hwtest/src/null_pointer.c
Labels: none

fwk: sunflower: re-apply fan duty before fan check to avoid false
  zephyr/program/framework/sunflower/src/project_diagnostics.c
Labels: none

fwk: ISL9241: update current limit when bypass success
  driver/charger/isl9241.c
Labels: none

fwk: cypd: add functions to get previous port and port supply watt
  zephyr/program/framework/include/cypress_pd_common.h
  zephyr/program/framework/src/cypress_pd_common.c
Labels: none

fwk: lotus: Rigorous confirmation of the high current settings is needed.
  zephyr/program/framework/lotus/src/charger.c
Labels: none

fwk: lotus: modify power limit table 251208
  zephyr/program/framework/lotus/src/pmf.c
Labels: none

fwk: 16-inch: re-apply fan duty before fan check to avoid false
  zephyr/program/framework/lotus/src/project_diagnostics.c
Labels: none

fwk: lotus: bump to v4.0.3
  .github/workflows/zephyr-build.yml
Labels: workflow

ocicat: correct Keyboard configuration for ocicat
  zephyr/program/ocelot/CMakeLists.txt
  zephyr/program/ocelot/ocicat/generated.dtsi
  zephyr/program/ocelot/ocicat/include/keyboard_customization.h
  zephyr/program/ocelot/ocicat/keyboard.dtsi
  zephyr/program/ocelot/ocicat/project.conf
  zephyr/program/ocelot/ocicat/project.overlay
  zephyr/program/ocelot/ocicat/src/board.c
  zephyr/program/ocelot/ocicat/src/keyboard_customization.c
Labels: none

power/qcom: Ensure correct power-on reason on AC wake from hibernate
  include/power/qcom.h
  power/qcom_exp.c
  zephyr/Kconfig.powerseq
Labels: none

charge_manager: Disable sink path when forcing sink current to 0
  common/charge_manager.c
Labels: common

padme: Adjust touchpad logical/physical size
  zephyr/program/skywalker/padme/project.overlay
Labels: none

xol_vif: Make PD spec revision consistent
  board/xol/xol_vif.xml
Labels: none

zephyr: fpmcu: add sanok fpmcu project
  zephyr/program/fpmcu/BUILD.py
  zephyr/program/fpmcu/CMakeLists.txt
  zephyr/program/fpmcu/Kconfig
  zephyr/program/fpmcu/et171/CMakeLists.txt
  zephyr/program/fpmcu/et171/Kconfig
  zephyr/program/fpmcu/et171/common.dtsi
  zephyr/program/fpmcu/et171/dev_key.pem
  zephyr/program/fpmcu/et171/flash_header.bin
  zephyr/program/fpmcu/et171/gpio.dtsi
  zephyr/program/fpmcu/et171/prj.conf
  zephyr/program/fpmcu/et171/rwsig.dtsi
  zephyr/program/fpmcu/et171/sanok.conf
  zephyr/program/fpmcu/et171/sanok.dts
  zephyr/program/fpmcu/et171/soc.dtsi
  zephyr/program/fpmcu/et171/src/flash_qspi.c
  zephyr/program/fpmcu/et171/src/platform.c
Labels: none

Navi: Disable smart discharge to fast forced-discharge.
  zephyr/program/rauru/navi/project.conf
Labels: none

Pujjoga: Disable smart discharge to fast forced-discharge.
  zephyr/program/nissa/pujjoga/project.conf
Labels: none

ocicat: import the UFSC field
  zephyr/program/ocelot/ocicat/cbi.dtsi
  zephyr/program/ocelot/ocicat/ocicat_ec_ufsc.dtsi
  zephyr/program/ocelot/ocicat/project.overlay
  zephyr/program/ocelot/ocicat/src/board.c
  zephyr/program/ocelot/ocicat/src/fan.c
Labels: none

sapphire: Temporarily disable stylus hall sensor detection
  zephyr/program/tanjiro/sapphire/project.overlay
  zephyr/program/tanjiro/sapphire/src/pen_control.c
Labels: none

TCPMv2: Disable frs when reset flags
  common/usbc/usb_pe_drp_sm.c
  zephyr/test/drivers/usbc_frs/src/main.c
Labels: common

Disable NEWLIB_LIBC_USE_POSIX_LIMITS_H in llvm
  zephyr/cmake/toolchain/llvm/Kconfig.defconfig
  zephyr/program/fpmcu/prj.conf
Labels: none

fingerprint: fpc1025: Assert real image size consistency
  zephyr/drivers/fingerprint/fingerprint_fpc1025.c
Labels: none

driver/fingerprint/fpc: Use distinct parameters for raw/real images
  driver/fingerprint/fpc/bep/fpc_private.c
Labels: none

dts: Specify frame size based on image capture type
  zephyr/program/fpmcu/bloonchipper/bloonchipper.dts
  zephyr/program/fpmcu/helipilot/helipilot.dts
Labels: none

zephyr: test: Update FPC1025 sim overlay frame sizes
  zephyr/test/fingerprint/drivers/fpc1025/boards/native_sim.overlay
Labels: none

zephyr: test: Use correct frame sizes in native_sim overlay
  zephyr/test/fingerprint/task/boards/native_sim.overlay
  zephyr/test/fingerprint/task/src/fpsensor_capture.cc
Labels: none

padme: Add typec temperature policy
  zephyr/program/skywalker/padme/src/thermal.c
Labels: none

zmake: Add nested hal/lib to module search path
  zephyr/zmake/zmake/modules.py
Labels: none

Input: Adjust FocalTech logical/physical size
  zephyr/program/roach/eirtae/project.overlay
Labels: none

padme: Enable ADC reference voltage full-scale
  zephyr/program/skywalker/padme/project.conf
Labels: none

padme: Add wireless charger policy
  zephyr/program/skywalker/padme/src/board.c
Labels: none

cros_system: Implement ELAN EM32 cros_system driver
  zephyr/drivers/cros_system/CMakeLists.txt
  zephyr/drivers/cros_system/Kconfig
  zephyr/drivers/cros_system/cros_system_em32.c
Labels: none

charger/isl9241: Scale max current values
  driver/charger/isl9241.c
Labels: none

lapis: Decrease charger frequency to reduce power consumption
  zephyr/program/fatcat/lapis/CMakeLists.txt
  zephyr/program/fatcat/lapis/project.conf
  zephyr/program/fatcat/lapis/src/charger.c
Labels: none

bluey: Implement I2C mode switching for the ADSP bus
  zephyr/program/bluey/CMakeLists.txt
  zephyr/program/bluey/program.conf
  zephyr/program/bluey/src/adsp_i2c_mode.c
Labels: none

lapis: Change PD max power to 65W
  zephyr/program/fatcat/lapis/project.conf
Labels: none

kodkod: modify the PD max setting
  zephyr/program/ocelot/kodkod/project.conf
Labels: none

redrix: Configure VSYS_TH2 to 6.6V
  board/redrix/board.h
Labels: none
