Repository FrameworkComputer/EmbeddedController, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, hx20, hx30, mchp, common, baseboard, workflow, project

veluza: Add CONFIG_VARIANT_CORSOLA_DB_DETECTION config
  zephyr/program/corsola/veluza/cbi.dtsi
  zephyr/program/corsola/veluza/project.conf
  zephyr/program/corsola/veluza/project.overlay
Labels: none

keyboard: Add support for an "Accessibility" key
  common/keyboard_vivaldi.c
  include/ec_commands.h
  include/keyboard_8042_sharedlib.h
  util/ectool.cc
  zephyr/drivers/vivaldi_kbd/vivaldi_kbd.c
  zephyr/include/dt-bindings/vivaldi_kbd.h
Labels: common

keyboard: Add support for a "Do Not Disturb" key
  common/keyboard_vivaldi.c
  include/ec_commands.h
  include/keyboard_8042_sharedlib.h
  util/ectool.cc
  zephyr/drivers/vivaldi_kbd/vivaldi_kbd.c
  zephyr/include/dt-bindings/vivaldi_kbd.h
Labels: common

zephyr: tests: improve readability of migrated tests
  util/migrated_files.sh
Labels: none

sundance: Implement the LED code match SPEC
  zephyr/program/nissa/sundance/src/led.c
Labels: none

rauru: enable HDMI HPD interrupts
  zephyr/program/rauru/src/hdmi.c
Labels: none

baseboard/mtscp-rv32i: MT8188 SCP DRAM sizes optimization
  baseboard/mtscp-rv32i/baseboard.h
Labels: baseboard

pujjoga: Fix LED test condition
  zephyr/test/nissa/src/pujjoga.c
Labels: none

test: Remove C linkage around included headers
  test/aes.cc
  test/benchmark.cc
  test/boringssl_crypto.cc
  test/exception.cc
  test/fpsensor_auth_commands.cc
  test/fpsensor_crypto.cc
  test/fpsensor_crypto_with_mock.cc
  test/fpsensor_utils.cc
  test/libcxx.cc
  test/rng_benchmark.cc
  test/scoped_fast_cpu.cc
  test/std_vector.cc
  test/timer.cc
  test/uart.cc
  test/unaligned_access.cc
  test/unaligned_access_benchmark.cc
Labels: none

test: Remove C linkage on run_test definitions
  test/boringssl_crypto.cc
  test/exception.cc
  test/fpsensor_auth_commands.cc
  test/fpsensor_auth_crypto_stateful.cc
  test/fpsensor_auth_crypto_stateless.cc
  test/fpsensor_hw.cc
  test/fpsensor_state.cc
  test/global_initialization.cc
  test/libcxx.cc
  test/scoped_fast_cpu.cc
  test/std_vector.cc
Labels: none

test: Remove C linkage on rollback_get_secret definitions
  test/fpsensor_auth_crypto_stateless.cc
  test/fpsensor_crypto.cc
  test/fpsensor_utils.cc
Labels: none

chip/stm32: Proper UART initialization on STM32L5
  chip/stm32/uart.c
Labels: none

fpsensor: Remove C linkage around included headers
  include/fpsensor/fpsensor_auth_commands.h
  include/fpsensor/fpsensor_auth_crypto.h
  include/fpsensor/fpsensor_crypto.h
  include/fpsensor/fpsensor_template_state.h
Labels: none

fpsensor: Add C linkage in fpsensor_detect.h
  include/fpsensor/fpsensor_detect.h
  include/fpsensor/fpsensor_types.h
Labels: none

fpsensor: Add missing function comments
  include/fpsensor/fpsensor_crypto.h
Labels: none

fpsensor: Remove unused function declaration
  include/fpsensor/fpsensor_crypto.h
Labels: none

fpsensor: Remove unused constants
  include/fpsensor/fpsensor_crypto.h
Labels: none

PD-FAFT: Properly format TC State string from PD-FAFT
  common/usbc/usb_pd_console.c
Labels: common

chip/stm32: Disable UART while changing baud
  chip/stm32/usart.c
Labels: none

chip/stm32: Configurable UART clock source for STM32L5
  chip/stm32/registers-stm32l4.h
  chip/stm32/registers-stm32l5.h
  chip/stm32/uart.c
  chip/stm32/usart-stm32l5.c
Labels: none

xol: Update T11 to Accessibility key
  board/xol/board.c
Labels: none

Xol: Update mp2964 register
  board/xol/board.c
Labels: none

board/hyperdebug: Fix bug in JTAG pin reassignment
  board/hyperdebug/cmsis-dap.c
Labels: none

servo_micro: Enable variable I2C bus speeds
  board/servo_micro/board.c
  board/servo_micro/board.h
Labels: none

deku: Reduce image size
  zephyr/program/ovis/deku/project.conf
Labels: none

bobba: Reduce image size
  board/bobba/board.h
Labels: none

uldren: Reduce image size
  zephyr/program/nissa/uldren/project.conf
Labels: none

RTS54XX: Fix setting CCI connector_change
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

battery: remove duplicated AC on/off message
  common/battery.c
Labels: common

RTS54XX: Cache connector status
  zephyr/drivers/usbc/CMakeLists.txt
  zephyr/drivers/usbc/pdc_rts54xx.c
Labels: none

boot_key: fix boot key removal logic
  common/keyboard_scan.c
Labels: common

greenbayupoc: Modify keyboard backlight pwm setting
  zephyr/program/brox/greenbayupoc/keyboard.dtsi
  zephyr/program/brox/greenbayupoc/project.overlay
  zephyr/program/brox/greenbayupoc/pwm.dtsi
Labels: none

roach: remove the incorrect gpio pin setting
  zephyr/program/roach/gpio.dtsi
Labels: none

zephyr: Provide SLP_S0 DEBUG feature.
  include/ec_cmd_api.h
  include/ec_commands.h
  util/ectool.cc
  zephyr/subsys/ap_pwrseq/Kconfig
  zephyr/subsys/ap_pwrseq/x86_non_dsx_common_pwrseq_host_sleep.c
Labels: none

Skitty: Update battery file
  zephyr/dts/bindings/battery/dynapack,coslight_po02037xl.yaml
  zephyr/dts/bindings/battery/dynapack,highpower_po02037xl.yaml
Labels: none

sundance: enable motion sense function
  zephyr/program/nissa/sundance/motionsense.dtsi
  zephyr/program/nissa/sundance/overlay.dtsi
  zephyr/program/nissa/sundance/project.conf
  zephyr/program/nissa/sundance/src/form_factor.c
Labels: none

roach: increase stack size
  zephyr/program/roach/program.conf
Labels: none

update_fw: implement 32 bit checksum in the updater protocol
  common/update_fw.c
  include/update_fw.h
  zephyr/test/usb_updater/src/usb_update_test.c
Labels: common

marigold: workaround: increase the PD init delay time to 415ms
  zephyr/program/framework/marigold/project.conf
Labels: none

Kconfig.defaults: enable EMUL with I2C automatically on native sim/posix
  zephyr/Kconfig.defaults
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- changed-files:
  - any-glob-to-any-file:
    - ./*

hx20:
- changed-files:
  - any-glob-to-any-file:
    - board/hx20/*
    - board/hx20/**/*

hx30:
- changed-files:
  - any-glob-to-any-file:
    - board/hx30/*
    - board/hx30/**/*

board-mistake:
- changed-files:
  - any-glob-to-any-file:
    - board/**/*
  - all-globs-to-all-files: ['!board/hx20/*', '!board/hx30/*']

mchp:
- changed-files:
  - any-glob-to-any-file:
    - chip/mchp/**/*

chip-mistake:
- changed-files:
  - any-glob-to-any-file:
    - chip/**/*
  - all-globs-to-all-files: '!chip/mchp/*'

common:
- changed-files:
  - any-glob-to-any-file:
    - common/*
    - common/**/*

baseboard:
- changed-files:
  - any-glob-to-any-file:
    - baseboard/*
    - baseboard/**/*

workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

project:
- changed-files:
  - any-glob-to-any-file:
    - .vscode/*
